<%= simple_form_for(@rdigital_comment, as: :digital_comment,method: :post, url: send_respond_digital_comment_path(@digital_comment)) do |f| %>
  <%=render 'shared/errors', errors: @rdigital_comment.errors, model: Digital::Comment%>
  <%=f.hidden_field :digital_comment_id, value: @digital_comment.id%>
  <%=f.hidden_field :digital_topic_id, value: @digital_comment.digital_topic_id %>

  <div class="row">
    <div class="col-sm-12">
      <%=f.label :body,t("digital_manage.topics.comments.body_field"), class: "form-label"%>
      <%=f.text_area :body, class: "form-control  ckeditor", rows:"10"  %>
      <span style="font-style: italic;font-size: 1.5rem;"><%=t("digital_manage.topics.comments.advertance")%></span>
    </div>
    <div class="col-sm-12" style="margin-top: 2.6rem">
      <%=f.button :button,type: 'submit', class: "btn btn-success" do%>
        <%="<i class='fa fa-save'></i> #{t("digital_manage.topics.comments.response_title")}".html_safe%>
      <%end%>
    </div>
  </div>
<%end%>
