<%= simple_form_for(@digital_comment, as: :digital_comment,method: method, url: url) do |f| %>
  <%=render 'shared/errors', errors: @digital_comment.errors, model: Digital::Comment%>
  <%=f.hidden_field :digital_topic_id, value: f.object.digital_topic_id || params[:digital_topic_id]%>

  <div class="row">
    <div class="col-sm-12">
      <%=f.label :body, t("digital_manage.topics.comments.body_field"), class: "form-label"%>
      <%=f.text_area :body, class: "form-control  ckeditor", rows:"10"  %>
      <span style="font-style: italic;font-size: 1.5rem;"><%=t("digital_manage.topics.comments.advertance")%></span>
    </div>
    <div class="col-sm-12" style="margin-top: 2.6rem">
      <%=f.button :button,type: 'submit', class: "btn btn-success" do%>
        <%="<i class='fa fa-save'></i> #{method.to_s == "post" ? t("digital_manage.topics.comments.new_form") : t("digital_manage.topics.comments.edit_form")} #{t("digital_manage.topics.comments.title")}".html_safe%>
      <%end%>
    </div>
  </div>
<%end%>
