<dl class="dl-horizontal">
  <dt><%= Digital::Comment.human_attribute_name(:id) %>:</dt>
  <dd><%= @digital_comment.id %></dd>
  <dt><%= Digital::Comment.human_attribute_name(:body) %>:</dt>
  <dd><%= Nokogiri::HTML(@digital_comment.body).text if !@digital_comment.body.blank? %></dd>
  <dt><%= Digital::Comment.human_attribute_name(:active) %>:</dt>
  <dd><%= t("humanize.#{@digital_comment.active}") %></dd>
  <dt><%= Digital::Comment.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@digital_comment.created_at) %></dd>
</dl>