<%= main_title(t("action.show", model: Digital::Comment.model_name.human)) %>

<%=render "show"%>

<% unless request.xhr? %>
<%= link_to( t('action.back'),digital_topics_path, class: 'btn btn-default') %>
<% end %>