<tr id="<%= dom_id(degree) %>" >

  <% Degree.main_columns.each do |attr_name| %>
  <td><%= show_attr(degree, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(degree, path: "administration_catalogue_degree_path") %>
    <%= link_to_edit(degree, path: "edit_administration_catalogue_degree_path") %>
<% if degree.try(:archived?) %>
    <%= link_to_recover(degree, path: "recover_administration_catalogue_degree_path") %>
<% else %>
    <%= link_to_destroy(degree, path: "administration_catalogue_degree_path") %>
<% end %>
  </td>
</tr>
