<div class="well">
  <%= simple_form_for(@degree, as: :degree,method: method, url: path) do |f| %>

    <div class="form-inputs">
      <%= f.association :degree_type %>
      <%= f.input :name %>
      <%= f.input :active %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>