<dl class="dl-horizontal">

  <dt><%= Degree.human_attribute_name(:id) %>:</dt>
  <dd><%= @degree.id %></dd>
  <dt><%= Degree.human_attribute_name(:name) %>:</dt>
  <dd><%= @degree.name %></dd>
  <dt><%= Degree.human_attribute_name(:active) %>:</dt>
  <dd><%= t("humanize.#{@degree.active}") %></dd>
  <dt><%= Degree.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@degree.created_at) %></dd>

</dl>