<%= main_title(t("action.edit", model: Degree.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :put, path: administration_catalogue_degree_path(@degree) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_degrees_path, class: 'btn btn-default') %>