<%= main_title(t("action.show", model: Degree.model_name.human)) %>

<%= render "show"%>
<% unless request.xhr? %>
<%= link_to( t('action.back'),administration_catalogue_degrees_path, class: 'btn btn-default') %>
<% end %>