<div class="nested-fields">
    <div id="<%=dom_id(f.object)%>" class="row well col-md-12">
        <div class="row"  >
            <%= f.input :id, as: :hidden%>
            <%= f.association :trait, input_html: { onchange: "showComments(this.id);" }, wrapper_html: { class: 'col-md-6' } %>
            <%#= hidden_field_tag "others", t('others') %>
            <%= f.input :trait_other, wrapper_html: { hidden: true, class: 'col-md-6' }  %>
            <%= link_to_remove_association build_icon('trash-o', text: "#{Volun::Assessment.model_name.human}"), f, class: 'remove_nested_fields pull-right' %>
        </div>
    </div>
</div>