<%= form_for @volunteer, url: process_assign_turn_volunteer_path, method: :post do |f| %>
    <div class="row">
    <dl class="dl-horizontal col-sm-12">
      <dt><%= label_tag :day, t('meeting.day') %></dt>
      <dd><%= select_tag :day, options_for_select(Volun::Availability.days_i18n_alt.map {|k, v| k}), include_blank: true, class: 'form-control' %></dd>
    </dl>
  </div>
  <div class="row">
    <dl class="dl-horizontal col-sm-12">
      <dt><%= label_tag :turn, t('meeting.turn') %></dt>
      <dd><%= select_tag :turn, options_for_select(ShiftDefinition.all.map { |s| [s.name, s.id] }), include_blank: true, class: 'form-control' %></dd>
    </dl>
  </div>
  <%= hidden_field_tag :project_id, @project_id%>
  <%= hidden_field_tag :asociated, @asociated%>
  <div class="row">
    <div class="col-md-12 col-12 text-right">
      <%= f.submit t('action.assign_turn'), class: 'btn btn-success' %>
    </div>
  </div>
<% end %>