<div  class="nested-fields row well col-md-12">
    <div class="row" id="<%=dom_id(f.object)%>">
    <%= f.association :project, collection: @volunteer.projects, wrapper_html: { class: 'col-md-4' } %>
    <%= f.association :trait, input_html: { onchange: "showComments(this.id);" }, wrapper_html: { class: 'col-md-4' } %>
    <%= hidden_field_tag "others", t('others') %>
    <%= f.input :trait_other, wrapper_html: { hidden: true, class: 'col-md-4' }  %>
    <%= link_to_remove_association build_icon('trash-o', text: "#{Volun::AssessmentsProject.model_name.human}"),f, class: 'remove_nested_fields pull-right' %>
    </div>
</div>