<div class="nested-fields">
    <div id="<%=dom_id(f.object)%>" class="row well-no-border col-md-12">
        <div class="row" >
            <%= f.input :id, as: :hidden%>
            <%= f.input :day, wrapper_html: { class: 'col-md-4' } %>
            <%= f.input :start_hour, input_html: { class: 'm-width70', data: { mask: '99:99'} }, wrapper_html: { class: 'col-md-4' } %>
            <%= f.input :end_hour, input_html: { class: 'm-width70', data: { mask: '99:99'} }, wrapper_html: { class: 'col-md-4' } %>
            <%= link_to_remove_association build_icon('trash-o', text: "#{Volun::Availability.model_name.human}"),f, class: 'remove_nested_fields pull-right' %>
        </div>
    </div>
</div>