<%= simple_nested_form_for @project_vol, url: process_create_meeting_volunteer_path, method: :post do |f| %>
    <%= f.input :id,as: :hidden, label: false, input_html: {value: f.object.id}%>
    <%= f.input :asociated,as: :hidden, label: false, input_html: {value: @asociated}%>
    <%= f.input :pt_extendable_id,as: :hidden, label: false, input_html: {value: @pt_extendable_id}%>

    <table class="index-table" id="volunteers">
        <thead>
            <tr>
                <td>
                    <h4><%=t("action.meetings")%></h4>
                </td>
                <td>
                    <h4><%=t("meeting.confirm")%></h4>
                </td>
                <td>
                    <h4><%=t("meeting.asist")%></h4>
                </td>
            </tr>
        </thead>
        <tbody>
                <%= f.fields_for :volun_proy_meetings, f.object.volun_proy_meetings do |m| %>
                    <tr>
                        <td><%= t('meeting.info', date: m.object.meeting.date, place: m.object.meeting.place, hour: m.object.meeting.hour, type: m.object.meeting.try(:type_meeting).try(:name))%></td>
                        <td><%= m.input :confirm,as: :select,collection: [[t("humanize.true") , true],[t("humanize.false") , false]],:selected => m.object.confirm, label: false, include_blank: true, class: 'form-control' %></td>
                        <td><%= m.input :asist,as: :select,collection:[[t("humanize.true") , true],[t("humanize.false") , false]],:selected => m.object.asist,label: false, include_blank: true, class: 'form-control' %></td>
                    </tr>
                <% end %>
        </tbody>
    </table>
    <div class="col-md-12 col-12 text-right">
      <%= f.submit t('action.save_meeting'), class: 'btn btn-success', id: "buttom_new" %>
    </div>
<%end%>