<div id="<%=dom_id(f.object)%>" class="nested-fields row well-no-border col-md-12">
    <div class="row">
        <%= f.association :degree_type, wrapper_html: { class: 'col-md-6' },
                                input_html: { onchange: 'filterDegree(this.id);' }%>
        <div class='col-md-6'>
            <%= label_tag Degree.human_attribute_name(:name), nil, class: 'col-sm-5 control-label select required' %>
            <div class='col-sm-7'>
                <%= f.select :name, Degree.filter_by_degree_type_id(f.object.degree_type_id),
                                    {}, { class: 'form-control' } %>
            </div>
        </div>
        <%=link_to_remove_association build_icon('trash-o', text: "#{Degree.model_name.human}"),f, class: 'remove_nested_fields pull-right' %>
    </div>
</div>