<div class="row">
  <div class="col">
    <h2><%= t('search_filter')%></h2>
  </div>
</div>
<div class="panel_custom row well">
    <div class="row">
      <%= text_field_tag :search_id, params["search_id"], placeholder: "Id", class: 'form-control col-md-1', style: 'width: 60px;'%>
      <%= text_field_tag :enter_text, params['enter_text'] ,placeholder: t('volunteer_filter.input_text'), class: 'form-control col-md-5',  style: 'width: 220px; margin:0px 4px;'%>
      <%= text_field_tag :search_nif, params['search_nif'] ,placeholder: "NIF", class: 'form-control col-md-5',  style: 'width: 125px; margin:0px 4px;'%>
      <%= text_field_tag :search_name, params['search_name'] ,placeholder: t('volunteer_filter.name'), class: 'form-control col-md-5',  style: 'width: 125px; margin:0px 4px;'%>
      <%= text_field_tag :search_last_name, params['search_last_name'] ,placeholder: "#{t('volunteer_filter.last_name')}1", class: 'form-control col-md-5',  style: 'width: 125px; margin:0px 4px;'%>
      <%= text_field_tag :search_last_name_alt, params['search_last_name_alt'] ,placeholder: "#{t('volunteer_filter.last_name')}2", class: 'form-control col-md-5',  style: 'width: 125px; margin:0px 4px;'%>
      <%= text_field_tag :search_email, params['search_email'] ,placeholder: t('volunteer_filter.email'), class: 'form-control col-md-5',  style: 'width: 180px; margin:0px 4px;'%>
      <%= text_field_tag :search_phone, params['search_phone'] ,placeholder: t('volunteer_filter.phone'), class: 'form-control col-md-5',  style: 'width: 125px; margin:0px 4px;'%>
    </div>
  <label class="warningNumber" id="warning_id"><%=t('warningNumber')%></label>
  <div class="row">
      <%= select_tag :search_status, options_for_select({ t('all')=>:all, t('active') => :active, t('inactive') => :inactive }, "all"), include_blank: t('project_filter.field_select_state'),
        class:     'form-control col-md-6',
        id:        'search_status-select',
        style:     'width:100px; margin-top: 15px;' %>
      <div class="pull-right" style="margin-top: 20px;">
        <div class="col-md-12 ">
          <button type="button" name="button" class="btn btn-primary" id="buttonCleanDerivatieVolunteer"><%= t('reset_search') %></button>
          <button type="button" name="button" id="buttonSearchDerivatieVolunteer" class="btn btn-success"  class="btn btn-default"><%=t 'search'%></button>
        </div>
      </div> 
  </div>
</div>
<script>
function push_enter(event) {
    search_enter(event, search_js_derivatie_volunteers);
}


    //$(document).on('keypress', push_enter);

    $('#buttonSearchDerivatieVolunteer').on('click', function() {
        search_js_derivatie_volunteers();
    });

    $('#buttonCleanDerivatieVolunteer').on('click', function() {
               $(location).attr('href', "<%=derivatie_project_volunteers_path(project: @project, pt_extendable_id: params[:pt_extendable_id], :"q[:projects_id_eq]"=>params[:"q[:projects_id_eq]"])%>");

    });

    $('pages-select').on('change', function() {
        search_js_derivatie_volunteers();
    });

    $('#enter_text').on('keyup', function() {
        correct_string($('#enter_text'));
    });

    $('#search_nif').on('keyup', function() {
        correct_string($('#search_nif'));
    });

    $('#search_name').on('keyup', function() {
        correct_string($('#search_name'));
    });

    $('#search_last_name').on('keyup', function() {
        correct_string($('#search_last_name'));
    });

    $('#search_movil').on('keyup', function() {
        is_number($('#search_movil'),$('#warning_phone'),'buttonSearchDerivatieVolunteer');
    });   

    $('#search_last_name_alt').on('keyup', function() {
        correct_string($('#search_last_name_alt'));
    });

    $('#search_email').on('keyup', function() {
      correct_string($('#search_email'));
  });

    $('#search_id').on('keyup', function() {
        is_number($('#search_id'), $('#warning_id'), 'buttonSearchDerivatieVolunteer');
    });

    $('#search_start_date').on('change', function() {
        valida_date_until($('#search_end_date'),$('#search_start_date'),$('#warningLabelFecha'),$('#warningLabelFechaFormat'),$('#warningLabelFechaFormat2'),'buttonSearchDerivatieVolunteer');
    });

    $('#search_end_date').on('change', function() {
        valida_date_until($('#search_end_date'),$('#search_start_date'),$('#warningLabelFecha'),$('#warningLabelFechaFormat'),$('#warningLabelFechaFormat2'),'buttonSearchDerivatieVolunteer');
    });

    $('#search_start_age').on('keyup', function() {
        valida_number_until($('#search_end_age'),$('#search_start_age'),$('#warningLabelEdad'),'buttonSearchDerivatieVolunteer');
        is_number($('#search_start_age'),$('#warning_age'),'buttonSearchDerivatieVolunteer');
    });

    $('#search_end_age').on('keyup', function() {
        valida_number_until($('#search_end_age'),$('#search_start_age'),$('#warningLabelEdad'),'buttonSearchDerivatieVolunteer');
        is_number($('#search_end_age'),$('#warning_age'),'buttonSearchDerivatieVolunteer');
    });


    $('#search_postal_code').on('keyup', function() {
        is_number($('#search_postal_code'),$('#warning_postal_code'),'buttonSearchDerivatieVolunteer');
    });

    $('#search_project_link_start_date').on('change', function() {
        valida_date_until($('#search_project_link_end_date'), $('#search_project_link_start_date'), $('#warningLabelFechaLink'), $('warningLabelFechaLinkFormat'), $('warningLabelFechaLinkFormat2'), 'buttonSearchDerivatieVolunteer');
    });

    $('#search_project_link_end_date').on('change', function() {
        valida_date_until($('#search_project_link_end_date'), $('#search_project_link_start_date'), $('#warningLabelFechaLink'), $('warningLabelFechaLinkFormat'), $('warningwarningLabelFechaLinkFormat2LabelFechaFormat2'), 'buttonSearchDerivatieVolunteer');
    });
</script>