<% associated = @project.blank? ? true : !ProjectsVolunteer.find_by(volunteer_id: derivatie_fields.try(:volunteer).try(:id),project_id: @project.id).blank? %>
<tr class="vol-results" id="<%= dom_id(derivatie_fields) %>"  style="<%="background-color:#28ae13" if derivatie_fields.try(:volunteer).try(:tester) == true && !associated %> <%="background-color:#b9d6f2" if !associated%>">
  <% Volunteer.main_columns(false).each do |attr_name| %>
        <td><%= show_attr(derivatie_fields, attr_name) %></td>
  <%end%>
  <td><%= Volun::Tracking.where(volunteer_id: derivatie_fields.try(:volunteer).id, project_id: @project.id, comments: "Derivación a un proyecto").last.try(:created_at).try {|x| x.to_date} %></td>
  <td><%= derivatie_fields.description_turn %></td>
  <td><%= derivatie_fields.description_confirm.html_safe %></td>
  <td><%= derivatie_fields.description_asist.html_safe %></td>
  <td class="index_table-actions">
      <%= link_to_show(derivatie_fields.try(:volunteer),path_params: {project_id: @project.id}) %> 
      <% unless derivatie_fields.try(:volunteer).active.to_s=="false"%> 
        <%= link_to_edit(derivatie_fields.try(:volunteer),path_params: {project: @project.id, from_project: 1}) %> 
      <%else%> 
        <%= link_to_edit_unsubscribe_derivatie(derivatie_fields.try(:volunteer),path_params: {project: @project.id, from_project: 1}) %> 
      <%end%> 
      <%= link_to_trackings(derivatie_fields.try(:volunteer), "volun", @project.id) %> 
      <% if can?(:destroy, Volunteer) && associated %> 
        <% if !ProjectsVolunteer.where(:volunteer_id => derivatie_fields.try(:volunteer).id, :project_id => @project.id).first.try(:active) %> 
          <%= link_to_recover_project(derivatie_fields.try(:volunteer),@project_name,path_params: {project_id: @project.id,alta: true,from_project: 1,orden: 1, message: 'messages.active_volunteer_project'}) %> 
        <% else %> 
          <%= link_to_destroy_volunteer_project(derivatie_fields.try(:volunteer),@project_name,path_params: {project_id: @project.id,from_project: 1, orden: 0,message: 'messages.inactive_volunteer_project'}) %> 
        <% end %> 
      <%end%>
      <% if can? :edit, Volunteer%>
        <%= link_to_unlink_volunteer_project(derivatie_fields.try(:volunteer),@project_name,path_params: {project_id: @project.id,from_project: 1,message: 'messages.unlink_volunteer_project'}) if associated%>  
      <%end%> 
      <%= link_to_create_meeting(derivatie_fields.try(:volunteer),path_params: {project_id: @project.id, pt_extendable_id: params[:pt_extendable_id]}) if ProjectsVolunteer.where(:volunteer_id => derivatie_fields.try(:volunteer).id, :project_id => @project.id).first.try(:active) && associated %>
      <%= link_to_assign_turn(derivatie_fields.try(:volunteer),path_params: {project_id: @project.id, pt_extendable_id: params[:pt_extendable_id]}) if ProjectsVolunteer.where(:volunteer_id => derivatie_fields.try(:volunteer).id, :project_id => @project.id).first.try(:active) && associated %>
      <%= link_to_associate_derivatie(derivatie_fields.try(:volunteer),@project_name, path_params: {project_id: @project.id, pt_extendable_id: params[:pt_extendable_id],from_project: 1,orden: 1, message: 'messages.active_volunteer_project'}) if ProjectsVolunteer.where(:volunteer_id => derivatie_fields.try(:volunteer).id, :project_id => @project.id).first.try(:active) && associated%> 
  </td>
</tr>