<div class="row">
    <div class="col">
        <h2><%= t('search_filter')%></h2>
    </div>
</div>
<div class="panel_custom row well">
  <fieldset class="col" style="border: 1px solid #e3e3e3 !important; padding:10px 30px;">
    <legend class="form-legend" style="width: auto; font-size: 14px; font-weight: bold"><%=t('volunteer_data')%></legend>
    <div class="row">
      <%=hidden_field_tag :project_id, params[:project_id]%>
      <%=hidden_field_tag :asociated, params[:asociated]%>
      <%=hidden_field_tag :pt_extendable_id, params[:pt_extendable_id]%>
      <%= text_field_tag :search_id, params["search_id"], placeholder: "Id", class: 'form-control col-md-1', style: 'width: 100px;'%>
      <div class="col-md-5" style= 'width: 220px; margin:0px 4px;'>
        <div class="row">
          <%= text_field_tag :enter_text, params['enter_text'] ,placeholder: t('volunteer_filter.input_text'), class: 'form-control col' %>
          <div class="tooltip col">
            <%=fa_icon "question-circle" ,class: "fa-1x"%>
            <span class="tooltiptext"><%=Volunteer.tooltip_volunteer%></span>
          </div>
        </div>
      </div>
      <%= text_field_tag :search_nif, params['search_nif'] ,placeholder: "NIF", class: 'form-control col-md-5',  style: 'width: 125px; margin:0px 4px;'%>
      <%= text_field_tag :search_name, params['search_name'] ,placeholder: t('volunteer_filter.name'), class: 'form-control col-md-5',  style: 'width: 125px; margin:0px 4px;'%>
      <%= text_field_tag :search_last_name, params['search_last_name'] ,placeholder: "#{t('volunteer_filter.last_name')}1", class: 'form-control col-md-5',  style: 'width: 125px; margin:0px 4px;'%>
      <%= text_field_tag :search_last_name_alt, params['search_last_name_alt'] ,placeholder: "#{t('volunteer_filter.last_name')}2", class: 'form-control col-md-5',  style: 'width: 125px; margin:0px 4px;'%>
      <%= text_field_tag :search_movil, params['search_movil'] ,placeholder: t('volunteer_filter.movil'), class: 'form-control col-md-5',  style: 'width: 125px; margin:0px 4px;'%>
    </div>
    <div class="row">
      <label class="warningFilter" id="warning_id"><%=t('warningNumber')%></label>
      <label class="warningFilter" id="warning_phone"><%=t('warningNumber')%></label>
    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col-sm-2"></div>
      <%= content_tag :label, t('desde'), class: 'col-sm-2  control-label', style: "width: 18rem" %>
      <%= content_tag :label, t('hasta'), class: 'col-sm-2  control-label', style: "width: 18rem" %>
      <div class="col-sm-1"></div>
      <%= content_tag :label, t('desde'), class: 'col-sm-2  control-label', style: 'width: 75px;' %>
      <%= content_tag :label, t('hasta'), class: 'col-sm-2  control-label', style: 'width: 75px; margin: 0px 25px;' %>
      <div class="col-xs-3">
        <div class="row">
          <%= check_box_tag :search_tester, true, !params[:search_tester].blank? %>
          <label><%=t('volunteer_filter.search_tester')%></label>
        </div>
        <div class="row">
          <%= check_box_tag :search_no_tester, true,  !params[:search_no_tester].blank?%>
          <label><%=t('volunteer_filter.search_no_tester')%></label>
        </div>
      </div>
    </div>
    <div class="row">
      <%= content_tag :label, t('fecha_nacimiento'), class: 'col-sm-2 control-label', style: "margin-top: 7px;" %>
      <%= simple_form_for(:search) do |f|%>
      <div class="col-sm-2" style="width: 18rem">
        <%= f.input :start_date,as: :string, label: false, input_html:  {type: "date", value: params[:search_start_date]} %>

      </div>
      <div class="col-sm-2" style="width:18rem">
        <%= f.input :end_date, as: :string, label:false,  input_html:  {type: "date", value: params[:search_end_date]}%>

      </div>
      <%end%>
      <%= content_tag :label, t('edad'), class: 'col-sm-1  control-label', style: 'margin-top:7px;' %>
      <div class="col-sm-2" style="width: 75px;">
        <%= text_field_tag :search_start_age, params[:search_start_age], placeholder: t('volunteer_filter.years'), class: 'form-control col-md-2', style: 'width: 75px;'%>
      </div>
      <div class="col-sm-2" style="width: 75px;">
        <%= text_field_tag :search_end_age, params[:search_end_age], placeholder: t('volunteer_filter.years'), class: 'form-control col-md-2', style: 'width: 75px; margin: 0px 25px;' %>
      </div>
    </div>
    <div class="row" style="margin-top: 10px">
      <label class="warningFilter" id="warningLabelFecha"><%=t('warning_label_fecha')%></label>
      <label class="warningFilter" id="warningLabelFechaFormat"><%=t('warning_label_fecha_desde_format')%></label>
      <label class="warningFilter" id="warningLabelFechaFormat2"><%=t('warning_label_fecha_hasta_format')%></label>
      <label class="warningFilter" id="warning_age"><%=t('warningNumber')%></label>
      <label class="warningFilter" id="warningLabelEdad"><%=t('warning_label_edad')%></label>
    </div>
  </fieldset>
  <fieldset class="col-md-3" style="border: 1px solid #e3e3e3 !important; padding:10px 30px; margin-top: 10px;">
    <legend class="form-legend" style="width: auto; font-size: 14px; font-weight: bold"><%=t('localizacion_voluntario')%></legend>
    <div class="row">   
      <%= content_tag :label, t('district'), class: 'col control-label' %>
    </div>
    <div class="row">
      <%= select_tag :search_district, options_for_select(@hash_distritos||{},params['search_district'].blank? ? "" : params['search_district'].split(',')),
          class: 'form-control col', 
          style: 'height: 130px;',
          multiple: true,
          id:'search_district-select' %>
    </div>
    <div class="row" style="margin-top: 10px">
      <%= text_field_tag :search_postal_code, params['search_postal_code'] ,placeholder: t('volunteer_filter.postal_code'), class: 'form-control col-md-6',style: 'width: 150px; margin-right: 10px;'%>
    </div>
    <div class="row">
      <label class="warningFilter" id="warning_postal_code"><%=t('warningNumber')%></label>
    </div>
    <div class="row" style="margin-top: 10px">
      <%= select_tag :search_location, options_for_select({"Madrid" => "280", "Fuera de Madrid" => "-280", "Todas" => ""},params['search_location']), 
          include_blank: t('volunteer_filter.town'),
          class: 'form-control col-md-6', 
          style: 'width: 150px;',
          id:'search_location-select' %>
    </div>
    <div class="row" style="margin-top: 10px">   
      <%= content_tag :label, t('incluence_district'), class: 'col control-label' %>
    </div>
    <div class="row">
      <%= select_tag :search_incluence_district, options_for_select(@hash_distritos||{},params['search_incluence_district'].blank? ? "" : params['search_incluence_district'].split(',')),
          class: 'form-control col', 
          style: 'height: 130px;',
          multiple: true,
          id:'search_incluence_district-select' %>
    </div>
  </fieldset>
  <fieldset class="col-md-9" style="border: 1px solid #e3e3e3 !important; padding:10px 30px; margin-top: 10px;">
    <legend class="form-legend" style="width: auto; font-size: 14px; font-weight: bold"><%=t('otros_filtros')%></legend>
    <div class="row">
      <%= content_tag :label, t('available_day'), class: 'col-md-3 control-label' %>
      <%= content_tag :label, t('volunteer_filter.collective'), class: 'col-md-3 control-label' %>
      <%= content_tag :label, t('volunteer_filter.area'), class: 'col-md-3 control-label' %>
      <%= content_tag :label, t('volunteer_filter.types'), class: 'col-md-3 control-label' %>
    </div>
    <div class="row">
      <div class="col-md-3">
      <%= select_tag :search_availabilities_day, options_for_select(Volun::Availability.days_i18n_alt,params['search_availabilities_day'].blank? ? "" : params['search_availabilities_day'].split(',')),
          multiple: true,
          style: 'width: 100%', 
          id:'search_availabilities_day-select' %>
      </div>
      <div class="col-md-3">
      <%= select_tag :search_collective, options_for_select(@colectivos_proyecto||{},params['search_collective'].blank? ? "" : params['search_collective'].split(',')),
          multiple: true,
          style: 'width: 100%',
          id:'search_collective-select' %>
      </div>
      <div class="col-md-3">
      <%= select_tag :search_area, options_for_select(@ambitos_proyecto||{},params['search_area'].blank? ? "" : params['search_area'].split(',')),
          multiple: true,
          style: 'width: 100%',
          id:'search_area-select' %>
      </div>
      <div class="col-md-3">
      <%= select_tag :search_type, options_for_select(@hash_tipos||{},params['search_type'].blank? ? "" : params['search_type'].split(',') ),
          multiple: true,
          style: 'width: 100%',
          id:'search_type-select' %>
      </div>
    </div>
    <div class="row" style="margin-top: 10px">
      <%= content_tag :label, t('volunteer_filter.volun_profile'), class: 'col-md-3 control-label' %>
      <%= content_tag :label, t('volunteer_filter.info_source'), class: 'col-md-6 control-label' %>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= select_tag :search_volun_profile, options_for_select(@volun_profiles_names || {},params['search_volun_profile'].blank? ? "" : params['search_volun_profile'].split(',')),
            multiple: true,
            style: 'width: 100%', 
            id:'search_volun_profile-select' %>
      </div>
      <div class="col-md-6">
        <%= select_tag :search_info_source, options_for_select(@info_sources||{},params['search_info_source'].blank? ? "" : params['search_info_source'].split(',')),
            multiple: true,
            style: 'width: 100%',
            id:'search_info_source-select' %>
      </div>
    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-xs-2">
                <%=check_box_tag("search_accompany_volunteer","search_accompany_volunteer",!params['search_accompany_volunteer'].blank?)%>
              </div>
              <label class='col-xs-10'><%=t('accompany')%></label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-xs-2">
                <%=check_box_tag("search_without_auth","search_without_auth",!params['search_without_auth'].blank?)%>
              </div>
              <label class='col-xs-10'><%=t('not_autorized')%></label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-xs-2">
                <%=check_box_tag("new_availability","new_availability",!params['new_availability'].blank?)%>
              </div>
              <label class='col-xs-10'><%=t('new_availability')%></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-xs-2">
                <%=check_box_tag("no_asign","no_asign",!params['no_asign'].blank?)%>
              </div>
              <label class='col-xs-10'><%=t('no_asign')%></label>  
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-xs-2">
                <%=check_box_tag("ec","ec",!params["ec"].blank?)%>
              </div>
              <label class='col-xs-10'><%=t('ec')%></label>  
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 10px">
    <% if @project.blank? %>
      <div class="col-sm-6"></div>
      <%= content_tag :label, t('desde'), class: 'col-sm-2  control-label', style: 'width: 18rem' %>
      <%= content_tag :label, t('hasta'), class: 'col-sm-2  control-label', style: 'width: 18rem;' %>
    <%end%>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= select_tag :search_status, options_for_select({t('all') => :all, t('active') => :active, t('inactive') => :inactive},params[:search_status]),
            include_blank: t('status'),
            class: 'form-control', 
            style: 'width: 150px;', 
            id:'search_status-select' %>
      </div>
      
      <% if @project.blank? %>
      <%= content_tag :label, t('vinculados_project'), class: 'col-sm-3 control-label', style: "margin-top: 7px;" %>
      <%= simple_form_for(:search) do |f|%>
      <div class="col-sm-2" style="width: 18rem">
        <%= f.input :project_link_start_date,as: :string, label: false, input_html:  {type: "date", value: params.permit!['search_project_link_start_date']} %>
      </div>
      <div class="col-sm-2" style="width: 18rem; ">
        <%= f.input :project_link_end_date, as: :string, label:false,  input_html:  {type: "date", value: params.permit!['search_project_link_end_date']}%>
      </div>
      <%end%>
      <%end%>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= select_tag :search_next_point, options_for_select(@hash_next_points||{}),
          class: 'form-control col-md-2',
          include_blank: t('next_point'),
          style: 'width: 300px;',
          id:'search_next_point-select' %>
      </div>      
    </div>
    <div class="row" style="margin-top: 10px">
    <% if @project.blank? %>
      <label class="warningFilter" id="warningLabelFechaLink"><%=t('warning_label_fecha')%></label>
      <label class="warningFilter" id="warningLabelFechaLinkFormat"><%=t('warning_label_fecha_desde_format')%></label>
      <label class="warningFilter" id="warningLabelFechaLinkFormat2"><%=t('warning_label_fecha_hasta_format')%></label>
    <%end%>
    </div>
  </fieldset>
  <div class="row pull-right" style="margin-top: 20px;">
    <div class="col-md-12 ">
      <button type="button" name="button" class="btn btn-primary" id="buttonCleanVolunteer"><%= t('reset_search') %></button>
      <button type="button" name="button" id="buttonSearchVolunteer" class="btn btn-success" class="btn btn-default"><%=t 'search'%></button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= link_to_new(model_class) if @project.blank?%>
    <%= link_to_massive_email(model_class) if @project.blank?%>
    <%= button_to_unlink(@project, ActionController::Parameters.new({path_params: params.permit!}).permit!) if !@project.blank? && !@project.origin_id.blank? && @volunteers.count>0%>
    <%= link_to t('action.meetings'), meetings_path(project_id: @project.id, pt_extendable_id: params[:pt_extendable_id], asociated: params[:asociated]), style: "padding: 10px 10px;", class:  'btn btn-primary' if !@project.blank? %>
    <%= link_to t('action.send_massive_sms'), send_massive_sms_volunteers_path(), class: "btn btn-primary", style: "padding: 1rem" if @project.blank? %>
  </div>
</div>
<script>

function push_enter(event) {
    search_enter(event, search_js_volunteers);
}


    ////$(document).on('keypress', push_enter);

    $('#buttonSearchVolunteer').on('click', function() {
        search_js_volunteers();
    });

    $('#buttonCleanVolunteer').on('click', function() {
      <%if @project.blank?%>
         $(location).attr('href', "<%=volunteers_url%>");
      <%else%>
       $(location).attr('href', "<%=project_volunteers_path(project: @project, asociated: true, pt_extendable_id: params[:pt_extendable_id], :"q[:projects_id_eq]"=>params[:"q[:projects_id_eq]"])%>");
      <%end%>
    });

    $('#pages-select').on('change', function() {
        search_js_volunteers();
    });

    $('#enter_text').on('keyup', function() {
        correct_string($('#enter_text'));
    });

    $('#search_nif').on('keyup', function() {
        correct_string($('#search_nif'));
    });

    $('#search_name').on('keyup', function() {
        correct_string($('#search_name'));
    });

    $('#search_last_name').on('keyup', function() {
        correct_string($('#search_last_name'));
    });

    
    $('#search_comments').on('keyup', function() {
      correct_string($('#search_comments'));
  });

    
    $('#search_movil').on('keyup', function() {
        is_number($('#search_movil'),$('#warning_phone'),'buttonSearchVolunteer');
    });   

    $('#search_last_name_alt').on('keyup', function() {
        correct_string($('#search_last_name_alt'));
    });

    $('#search_id').on('keyup', function() {
        is_number($('#search_id'), $('#warning_id'), 'buttonSearchVolunteer');
    });

    $('#search_start_date').on('change', function() {
        valida_date_until($('#search_end_date'),$('#search_start_date'),$('#warningLabelFecha'),$('#warningLabelFechaFormat'),$('#warningLabelFechaFormat2'),'buttonSearchVolunteer');
    });

    $('#search_end_date').on('change', function() {
        valida_date_until($('#search_end_date'),$('#search_start_date'),$('#warningLabelFecha'),$('#warningLabelFechaFormat'),$('#warningLabelFechaFormat2'),'buttonSearchVolunteer');
    });

    // $('#search_start_age').on('keyup', function() {
    //     valida_number_until($('#search_end_age'),$('#search_start_age'),$('#warningLabelEdad'),'buttonSearchVolunteer');
    //     is_number($('#search_start_age'),$('#warning_age'),'buttonSearchVolunteer');
    // });

    // $('#search_end_age').on('keyup', function() {
    //     valida_number_until($('#search_end_age'),$('#search_start_age'),$('#warningLabelEdad'),'buttonSearchVolunteer');
    //     is_number($('#search_end_age'),$('#warning_age'),'buttonSearchVolunteer');
    // });


    $('#search_postal_code').on('keyup', function() {
        is_number($('#search_postal_code'),$('#warning_postal_code'),'buttonSearchVolunteer');
    });

    $('#search_project_link_start_date').on('change', function() {
        valida_date_until($('#search_project_link_end_date'), $('#search_project_link_start_date'), $('#warningLabelFechaLink'), $('warningLabelFechaLinkFormat'), $('warningLabelFechaLinkFormat2'), 'buttonSearchVolunteer');
    });

    $('#search_project_link_end_date').on('change', function() {
        valida_date_until($('#search_project_link_end_date'), $('#search_project_link_start_date'), $('#warningLabelFechaLink'), $('warningLabelFechaLinkFormat'), $('warningwarningLabelFechaLinkFormat2LabelFechaFormat2'), 'buttonSearchVolunteer');
    });
</script>