<%#=javascript_include_tag Ckeditor.cdn_url, 'data-turbolinks-track': 'reload'%>

<div class="well-form">
  <%= simple_nested_form_for(@volunteer, default_form_options) do |f| %>
      <%= show_simple_base_errors(f) %>
      <% if @other_error %>
        <div class="'has-error alert alert-danger alert-dismissable'">
          <button name="button" type="button" class="close" data-dismiss="alert">×</button>
          <%= @other_error %>
        </div>
      <% end%>
      <%= hidden_field_tag :rt_volunteer_subscribe_id, params[:rt_volunteer_subscribe_id] %>
      <%= hidden_field_tag :rt_volunteer_amendment_id, params[:rt_volunteer_amendment_id] %>
      
      <div class="form-inputs">
         <div class="form-actions-vol row"> 
          <% if @volunteer.persisted?  && f.object.review? %>
              <input type="hidden" value="<%= t('messages.confirm_revised_all_volunteer') %>" id="reviseAllMsg" />
              <input type="hidden" value="<%= t('messages.confirm_revised_volunteer') %>" id="reviseMsg" />
          <% end %>
          <% if params[:from_project].to_i==1 %> 
            <%= hidden_field :project,'', :value =>params[:project]%> 
            <%= hidden_field :from_project,'', :value =>params[:from_project]%>
          <%end%>
           <div class="col-md-6"> 
            <%= f.button :submit, class: 'btn btn-success js-confirmable', id: 'submit' %> 
            <%= link_to build_icon('repeat', text: t('messages.undo_changes')), '', class: 'undo js-reloadable' %> 
          </div> 
          <% if @volunteer.persisted?  %>
            <div class="col-md-6 "> 
              <%= button_to_trackings(@volunteer, "volun",nil,path_params: {project_id_assoc: params[:project],rt_volunteer_amendment_id: params[:rt_volunteer_amendment_id],q: {"view_list_#{@volunteer.class.model_name.singular}_id_eq": @volunteer},update_volun: true,from_project: params[:from_project],project: params[:project],derivaty_project: params[:derivaty_project]}) %> 
            </div>     
          <%end%>  
        </div> 
      </div>       
      <%= render partial: "volunteers/partials_form/commun_data", locals: {f: f } %>
      <%= render partial: "volunteers/partials_form/address", locals: {f: f } %>
      <%= render partial: "volunteers/partials_form/info_source", locals: {f: f } %>
      <%= render partial: "volunteers/partials_form/degree", locals: {f: f } %>
      <%= render partial: "volunteers/partials_form/known_language", locals: {f: f } %>
      <%= render partial: "volunteers/partials_form/availability", locals: {f: f } %>
      <%= render partial: "volunteers/partials_form/assessment", locals: {f: f } %>
      <%= render partial: "volunteers/partials_form/special_checks", locals: {f: f } %>
      <%= render partial: "volunteers/partials_form/skill", locals: {f: f } %>
      <%= render partial: "volunteers/partials_form/area", locals: {f: f } %>
      <%= render partial: "volunteers/partials_form/collective", locals: {f: f } %>
      <%= render partial: "volunteers/partials_form/volun_profile", locals: {f: f } %>
      <%= render partial: "volunteers/partials_form/influence_district", locals: {f: f } %>

        <div class="row">
          <% if @volunteer.persisted? && f.object.projects.uniq.any? %>
              <div class="well col-md-12">
                <%= content_tag :h3, t('associated_projects'), class: 'form-subtitle' %>
                <div class="with-scroll-bar">
                   <% f.object.projects_associated.uniq.each do |project| %>
                      <div class="col-sm-3">
                      <span class="checkbox " style="margin:10px">
                        <%= check_box_tag "volunteer_project_ids_#{project.id}",project.id, @volunteer.get_active_project(project.id),name: "volunteer[project_ids][]",style: "margin:0px", disabled: (if project.active
                          false
                          else
                          true
                          end) %>
                        <%= f.label project.name,style: "margin-left:25px; padding:0px", for:"project_ids_#{project.id}" %>
                      </span>
                      </div>
                   <%end%>
                </div>
                <table class="index-table">
                  <thead>
                  <tr>
                    <th><%= Project.human_attribute_name(:name) %></th>
                    <th><%= Project.human_attribute_name(:description) %></th>
                    <th><%= t('actions') %></th>
                  </tr>
                  </thead>
                  <tbody>
                  <% f.object.projects_associated.uniq.each do |project| %>
                      <tr style="<%="color: #B6B6B6;" unless project.active%>">
                        <td><%= project.name %></td>
                        <td><%= Nokogiri::HTML(project.description.to_s).text %></td>
                        <td>
                          <% if project.active %>
                          <%= link_to_show(project.pt_extendable || project) %>
                          <%= link_to_trackings(f.object, "volun", project,path_params: {q: {"view_list_#{f.object.class.model_name.singular}_id_eq": f.object}, project_id_assoc: project,update_volun: true, no_project: true}) %>
                          <% if can? :destroy, Volunteer%> 
                            <% unless ProjectsVolunteer.where(:volunteer_id => @volunteer.id, :project_id => project.id).first.try :active %> 
                              <%= link_to_recover_project(@volunteer,project.name,path_params: {project_id: project.id,from_project: 1,orden: 1,alta: true, message: 'messages.active_volunteer_project',update_volun: true}) %> 
                            <% else %> 
                              <%= link_to_destroy_volunteer_project(@volunteer,project.name,path_params: {project_id: project.id,from_project: 1, orden: 0,message: 'messages.inactive_volunteer_project',update_volun: true}) %> 
                            <% end %> 
                          <%end%> 
                          <%end%>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <div class="well col-md-12">
                <%= content_tag :h3, t('derivated_volunteer'), class: 'form-subtitle' %>
                <div class="with-scroll-bar">
                   <% f.object.projects_derivaties.uniq.each do |project| %>
                      <div class="col-sm-3">
                      <span class="checkbox " style="margin:10px">
                        <%= check_box_tag "volunteer_project_ids_#{project.id}",project.id, @volunteer.get_active_project(project.id),name: "volunteer[project_ids][]",style: "margin:0px", disabled: (if project.active
                          false
                          else
                          true
                          end) %>
                        <%= f.label project.name,style: "margin-left:25px; padding:0px", for:"project_ids_#{project.id}" %>
                      </span>
                      </div>
                   <%end%>
                </div>
                <table class="index-table">
                  <thead>
                  <tr>
                    <th><%= Project.human_attribute_name(:name) %></th>
                    <th><%= Project.human_attribute_name(:description) %></th>
                    <th><%= t('actions') %></th>
                  </tr>
                  </thead>
                  <tbody>
                  <% f.object.projects_derivaties.uniq.each do |project| %>
                      <tr style="<%="color: #B6B6B6;" unless project.active%>">
                        <td><%= project.name %></td>
                        <td><%= Nokogiri::HTML(project.description.to_s).text %></td>
                        <td>
                          <% if project.active %>
                          <%= link_to_show(project.pt_extendable || project) %>
                          <%= link_to_trackings(f.object, "volun", project,path_params: {q: {"view_list_#{f.object.class.model_name.singular}_id_eq": f.object}, project_id_assoc: project,update_volun: true, no_project: true}) %>
                          <% if can? :destroy, Volunteer%> 
                            <% unless ProjectsVolunteer.where(:volunteer_id => @volunteer.id, :project_id => project.id).first.try :active %> 
                              <%= link_to_recover_project(@volunteer,project.name,path_params: {project_id: project.id,from_project: 1,orden: 1,alta: true, message: 'messages.active_volunteer_project',update_volun: true}) %> 
                            <% else %> 
                              <%= link_to_destroy_volunteer_project(@volunteer,project.name,path_params: {project_id: project.id,from_project: 1, orden: 0,message: 'messages.inactive_volunteer_project',update_volun: true}) %> 
                            <% end %> 
                          <%end%> 
                          <%end%>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
          <% end %>
          <div class="well col-md-12">
            <%= content_tag :h3, t('derivated_volunteer'), class: 'form-subtitle' %>

            <%= render 'search' %>
            <div id="recarga-formulario" style="margin-top: 5px;">
              <%= f.association :projects, collection: @projects, :label_method => lambda { |project| "#{project.subtype_proyect == "subproyect" ? project.try(:order_generic)  : project.try(:id)}.  "+"  #{project.try(:name)}" }, as: :select, label: false, input_html: { class: 'wide-select col-md-12' } %>             
            </div>
          </div>
        </div>

        <% if !f.object.new_record? && f.object.projects_asign.count>0%>
          <div class="row well">
            <%= content_tag :h3, Volun::AssessmentsProject.model_name.human(count: 2), class: 'form-subtitle' %>
            <%= f.simple_fields_for :assessments_projects do |f_assessments_projects|  %>
                <%= render "assessments_project_fields", f: f_assessments_projects%>
            <% end %>
            <p><%= link_to_add_association icon_new(text: "#{Volun::AssessmentsProject.model_name.human}"),f, :assessments_projects, class: 'add_nested_fields btn' %></p>
          </div>
        <%end%>
        <%= render partial: 'links/documents', locals: { f: f } %>

        <div class="form-inputs">
          <div class="form-actions">
            <% if @volunteer.persisted? %>
                <input type="hidden" value="<%= t('messages.confirm_revised_all_volunteer') %>" id="reviseAllMsg" />
                <input type="hidden" value="<%= t('messages.confirm_revised_volunteer') %>" id="reviseMsg" />
            <% end %>
            <%= f.button :submit, class: 'btn btn-success js-confirmable', id: 'submit' %>
            <%= link_to build_icon('repeat', text: t('messages.undo_changes')), '', class: 'undo js-reloadable' %>
          </div>
        </div>

        <% if !params[:recover].blank? %>
        <input type="hidden" value="<%= t('messages.confirm_recover_volunteer') %>" id="recoverMsg" />
        <input type="hidden" value="<%=  params[:recover]%>" id="recoverNIF" />

        <script> 
          var c=confirm($('#recoverMsg').val());
          if(c) window.location.href= "/volun/volunteers/"+$('#recoverNIF').val()+"/edit?nifd=true&rt_volunteer_subscribe_id="+$('#rt_volunteer_subscribe_id').val()
          else window.location.href= "/volun/volunteers/"
        </script>
      <% end %>
      <% if @volunteer.persisted? && f.object.review? %>
          <script>
            var reviseAllMsg = $("#reviseAllMsg").val();
            var reviseMsg = $("#reviseMsg").val();
            var confirm_submit = function () {
              $('.js-confirmable').closest('form').submit(function() {
                if ($("#err_add_val").length > 0 && $("#err_oth_val").length > 0) {
                  if ($("#rev_add").is(':checked') && $("#rev_oth").is(':checked')) {
                    var c = confirm(reviseAllMsg);
                    $("#review").val(0);
                    return c;
                  } else {
                    var c = confirm(reviseMsg);
                    return c;
                  }
                } else {
                  if ($("#err_add_val").length > 0 || $("#err_oth_val").length > 0) {
                    if ($("#rev_add").is(':checked') || $("#rev_oth").is(':checked')) {
                      var c = confirm(reviseAllMsg);
                      $("#review").val(0);
                      return c;
                    } else {
                      var c = confirm(reviseMsg);
                      return c;
                    }
                  }
                }
              });
            };
          </script>
      <% end %>
  <% end %>
</div>
<script>
  $('#SubmitButtonTrack').on('click', function() {
        $('#volunteer').attr("disabled", false);
        $('#manager').attr("disabled", false);
      });

    $('#buttonSearch').on('click', function() {
        search_generic([['search_id',$('#search_id'),'i'],['search',$('#search'),'s']],'#recarga-formulario')
    });

    $('#buttonClean').on('click', function() {
        search_clear([$('#search_id'),$('#search')],'#recarga-formulario')
    });

    $('#search').on('keyup', function() {
        correct_string($("#search"));
    });
</script>
