
<%= render partial: "shared/count", locals: {model_class: MassiveSmsHistoric,count: @massive_sms_historics.count} %>

<table class="index-table">
  <thead>
    <tr>
    <% MassiveSmsHistoric.main_columns.each do |column| %>
      <th><%= MassiveSmsHistoric.human_attribute_name(column) %></th>
    <% end -%>

      <th class="actions index_table-actions">
        <%= t('actions') %>
      </th>
    </tr>
  </thead>
  
  <tbody>
    <%= render(partial: "massive_sms_historic", collection: @massive_sms_historics)%>
  </tbody>
</table>
<%= render partial: "shared/pagination", locals: {collection: @massive_sms_historics} %>

