 <div class="nested-fields">
    <div id="<%=dom_id(f.object)%>" class="row well-no-border col-md-12">
        <div class="row"  >
            <%= f.input :id, as: :hidden%>
            <%= f.association :language, wrapper_html: { class: 'col-md-6' } %>
            <%= f.association :language_level, wrapper_html: { class: 'col-md-6' } %>
            <%= link_to_remove_association build_icon('trash-o', text: "#{Volun::KnownLanguage.model_name.human}"),f, class: 'remove_nested_fields pull-right' %>
        </div>
    </div>
</div>