<tr id="<%= dom_id(massive_sms_historic) %>" >
    <% massive_sms_historic.main_attributes.each do |attr_name| %>
        <td><%= show_attr(massive_sms_historic, attr_name) %></td>
    <% end %>
    <td class="index_table-actions">
        <%= link_to_show(massive_sms_historic,  {remote: false}) %>
    </td>
</tr>