<div class="row">
    <% if @volunteer.persisted? && f.object.derivaties_volunteers.uniq.any? %>
        <div class="well col-md-12">
        <%= content_tag :h3, t('derivated_volunteer'), class: 'form-subtitle' %>
        <div class="with-scroll-bar">
            <% f.object.derivaties_volunteers.uniq.each do |derivatiy| %>
                <div class="col-sm-3">
                <span class="checkbox " style="margin:10px">
                <%= check_box_tag "derivaties_volunteer_ids_#{derivatiy.project.id}",derivatiy.project.id, derivatiy.active,name: "volunteer[derivaties_volunteer_ids][]",style: "margin:0px", disabled: (if derivatiy.project.active
                    false
                    else
                    true
                    end) %>
                <%= f.label derivatiy.project.name,style: "margin-left:25px; padding:0px", for:"derivaties_volunteer_ids_#{derivatiy.project.id}" %>
                </span>
                </div>
            <%end%>
        </div>
        <table class="table">
            <thead>
            <tr>
            <th><%= Project.human_attribute_name(:name) %></th>
            <th><%= Project.human_attribute_name(:description) %></th>
            <th><%= t('actions') %></th>
            </tr>
            </thead>
            <tbody>
            <% f.object.derivaties_volunteers.uniq.each do |derivatiy| %>
                <tr style="<%="color: #B6B6B6;" unless derivatiy.project.active%>">
                <td><%= derivatiy.project.name %></td>
                <td><%= derivatiy.project.description %></td>
                <td>
                    <% if derivatiy.project.active %>
                        <%= link_to_show(derivatiy.project.pt_extendable || derivatiy.project) %>
                        <%= link_to_trackings(f.object, "volun", derivatiy.project,path_params: {q: {"#{f.object.class.model_name.singular}_id_eq": f.object}, project_id_assoc: derivatiy.project,update_volun: true, no_project: true}) %>
                        <% if can? :destroy, Volunteer%> 
                            <% unless derivatiy.try :active %> 
                                <%= link_to_recover_project_derivaty(@volunteer,derivatiy.project.name,path_params: {volunteer_id: @volunteer,project_id: derivatiy.project.id,from_project: 1,orden: 1, message: 'messages.active_volunteer_project',update_volun: true}) %> 
                            <% else %> 
                                <%= link_to_destroy_project_derivaty(@volunteer,derivatiy.project.name,path_params: {volunteer_id: @volunteer,project_id: derivatiy.project.id,from_project: 1, orden: 0,message: 'messages.inactive_volunteer_project',update_volun: true}) %> 
                            <% end %> 
                        <%end%> 
                    <%end%>
                </td>
                </tr>
            <% end %>
            </tbody>
        </table>
        </div>
    <% end %>
    <div class="well col-md-12">
    <%= content_tag :h3, t('not_derivated_volunteers'), class: 'form-subtitle' %>
    <%= render 'search_derivaties' %>
    <div id="recarga-formulario-derivados" style="margin-top: 5px;">
        <% if @volunteer.persisted? && f.object.derivaties_volunteers.any? %>
            <%= f.association :derivaties_volunteers, collection: @projects_derivates,selected: nil, :label_method => lambda { |project|"#{project.id}.  "+"  #{project.name}" }, as: :select, label: false, input_html: { class: 'wide-select col-md-12' } %>
        <% else %>
            <%= f.association :derivaties_volunteers, collection: @projects_derivates,selected: nil, :label_method => lambda { |project|"#{project.id}.  "+"  #{project.name}" }, as: :select, label: false, input_html: { class: 'wide-select col-md-12' } %>
        <% end %>
    </div>
    </div>  
</div>