<% if params[:rt_volunteer_amendment_id].blank?%>
  <%if !params[:derivaty_project].blank?%>
    <%= link_to( t('action.back'), project_derivaties_volunteers_path(project_id: params[:derivaty_project]), class: 'btn btn-default', style: 'margin: 1rem') %>
  <% elsif params[:project].blank? || !params[:no_project].blank?%>
    <%= link_to( t('action.back'),volunteers_path, class: 'btn btn-default', style: 'margin: 1rem') %>
  <%else%>
    <%= link_to( t('action.back'), project_volunteers_path(params.permit![:project]||{},q:{projects_id_eq: params[:project] },pt_extendable_id: Project.find(params.permit![:project]).pt_extendable_id, asociated: :true), class: 'btn btn-default', style: 'margin: 1rem') %>
  <%end%>
<%else%>
    <%= link_to( t('action.back'),process_request_form_rt_volunteer_amendment_path(params.permit![:rt_volunteer_amendment_id]), class: 'btn btn-default', style: 'margin: 1rem') %>
<%end%>

