 
    
    <%= text_field_tag :search_id, params[:search_id], maxlength: Volunteer.number_max_length_id+3, placeholder: "ID", class: 'form-control col-md-5', style: 'width: 10rem; margin:0px 2px;'%>
    <%= text_field_tag :search, params[:seach_texto], maxlength: Volunteer.number_max_length_name ,placeholder: "Nombre del proyecto", class: 'form-control col-md-5',  style: 'width: 200px; margin:0px 2px;'%>
    <%= button_tag t('action.find'),:id => "buttonSearch", :type => "button", :class => 'btn btn-success '%>
    <%= button_tag t('action.clear_find'), :type => "button",id: "buttonClean", :class => 'btn btn-success '%>
   
