    <%= text_field_tag :search_id_derivaties, params[:search_id], maxlength: Volunteer.number_max_length_id, placeholder: "ID", class: 'form-control col-md-5', style: 'width: 50px; margin:0px 2px;', onchange: "is_number($(this),$(warning_id_derivaties),'buttonSearch')"%>
    <%= text_field_tag :search_derivaties, params[:seach_texto], maxlength: Volunteer.number_max_length_name ,placeholder: "Nombre del proyecto", class: 'form-control col-md-5',  style: 'width: 200px; margin:0px 2px;', onchange: 'correct_string($(this))'%>
    <%= button_tag t('action.find'),:id => "buttonSearch", :type => "button", :onclick => "search_project([['search_id',$('#search_id_derivaties'),'i'],['search',$('#search_derivaties'),'s']],'#recarga-formulario-derivados')", :class => 'btn btn-success '%>
    <%= button_tag t('action.clear_find'), :type => "button", :onclick => "search_clear([$('#search_id_derivaties'),$('#search_derivaties')],'#recarga-formulario-derivados')", :class => 'btn btn-success '%>
    <label class="warningNumber" id="warning_id_derivaties"><%=t('warningNumber')%></label>