<%= hidden_field_tag :id_volunteer, @volunteer.id %>
<div class="row" style="width: 500px">
    <div class="col-sm-12">
        <div class="row">
            <%= content_tag :label_reason, "#{t('show_unsubscribe.unsubscribe_date')}*",class: 'col-sm-6 control-label'%>

             <%= simple_form_for(:search) do |f|%>
                <div class="col-sm-6" style="padding: 0px; margin: 0px;" id="date">
                 <%= f.input :fecha_baja,as: :string, label: false,  input_html: {type: "date",value: params[:search_fecha_baja].blank? ? "" : params[:search_fecha_baja].strftime('%Y-%m-%d'),style: "width: 100px; margin:0px; padding:0px;", onkeyup: "valida_date_popup($(this),'accept_unsubs')", class: "datepicker hasDatepicker"}%>
                </div>
            <%end%>
        </div>
        <div class="row">
            <%= content_tag :label_reason, "#{t('show_unsubscribe.reason')}*",class: 'col-sm-6 control-label'%>
            <%= select_tag :search_reason, options_for_select(@hash_reason||{}), include_blank: "",
                  class: 'form-control col-md-6', 
                  style: 'width: 200px; margin:3px 2px;', 
                  id:'search_reason-select' %>
        </div>
        <div class="row">
            <%= content_tag :label_commentes, t('show_unsubscribe.comments'),class: 'col-sm-6 control-label'%>
            <%= text_area_tag :search_comments, '' ,placeholder: "#{t('show_unsubscribe.field_comments')}", class: 'form-control col-md-6',  style: 'width: 200px; margin:3px 2px;', onkeyup: "correct_string($(this))"%>
        </div>
    </div>
</div>
