
<div class="row">
	<div class="col-md-12 pull left">
		<dl class="dl-horizontal">
			<dt><%= Volunteer.human_attribute_name(:name) %>:</dt>
			<dd><%= @volunteer.name %></dd>
			<dt><%= Volunteer.human_attribute_name(:last_name) %>:</dt>
			<dd><%= @volunteer.last_name %></dd>
            <dt><%= t('cell_phone') %>:</dt>
			<dd class="phone"><%= @sms_number %></dd>
        </dl>
		<div class="form-group">
  		<label for="comment"><%= t('sms_name') %></label>
			<%= form_for @volunteer, url: send_sms_path, method: :get do |f| %>
				<%= text_area_tag "message", nil, class: "sms-message form-control",id: 'text_sms', row: "5" %>
				<%= hidden_field_tag "volunteer", @volunteer.id %>
				<%= f.submit t('send_sms'), class: 'btn btn-success', id: 'btn-send'%>
			<% end %>
		</div>
	</div>
</div>