<div class="row">
	<div class="col-md-6">
		<dl class="dl-horizontal">
			<dt><%= Volunteer.human_attribute_name(:id) %>:</dt>
			<dd><%= @volunteer.id.to_i %></dd>
			<dt><%= Volunteer.human_attribute_name(:id_autonum) %>:</dt>
			<dd><%= @volunteer.id_autonum.to_i %></dd>
			<dt><%= Address.human_attribute_name(:district)%>:</dt>
			<dd><%= @volunteer.try(:address).try(:district)%></dd>
			<dt><%= Volunteer.human_attribute_name(:name) %>:</dt>
			<dd><%= @volunteer.name %></dd>
			<dt><%= Volunteer.human_attribute_name(:last_name) %>:</dt>
			<dd><%= @volunteer.last_name %></dd>
			<dt><%= Volunteer.human_attribute_name(:last_name_alt) %>:</dt>
			<dd><%= @volunteer.last_name_alt %></dd>
			<dt><%= Volunteer.human_attribute_name(:id_number) %>:</dt>
			<dd><%= @volunteer.id_number %></dd>
			<dt><%= Volunteer.human_attribute_name(:notes) %>:</dt>
			<dd><%= @volunteer.notes.blank? ? "" : Nokogiri::HTML(@volunteer.notes).text %></dd>
			<dt><%= Volunteer.human_attribute_name(:accompany_volunteer) %>:</dt>
			<dd><%= t("humanize.#{@volunteer.accompany_volunteer}") %></dd>
			<dt><%= Volunteer.human_attribute_name(:gender_convert) %>:</dt>
			<dd><%= @volunteer.gender_convert %></dd>
			<dt><%= Volunteer.human_attribute_name(:birth_date) %>:</dt>
			<dd><%= show_simple_date(@volunteer.birth_date) %></dd>
			<dt><%= label_tag 'age', t('age') %>:</dt>
			<dd><%= @volunteer.age %></dd>
			<dt><%= Volunteer.human_attribute_name(:is_adult) %>:</dt>
			<dd><%= t("humanize.#{@volunteer.is_adult}") if !@volunteer.is_adult.blank? %></dd>
			<dt><%= Volunteer.human_attribute_name(:nationality_id) %>:</dt>
			<dd><%= @volunteer.nationality %></dd>
			<dt><%= Volunteer.human_attribute_name(:phone_number) %>:</dt>
			<dd><%= @volunteer.phone_number %></dd>
			<dt><%= Volunteer.human_attribute_name(:phone_number_alt) %>:</dt>
			<dd><%= @volunteer.phone_number_alt %></dd>
			<dt><%= Volunteer.human_attribute_name(:email) %>:</dt>
			<dd><%= @volunteer.email %></dd>
			<dt><%= Volunteer.human_attribute_name(:address_id) %>:</dt>
			<dd><%= @volunteer.address %></dd>
			<dt><%= Volunteer.human_attribute_name(:status_id) %>:</dt>
			<dd><%= @volunteer.status %></dd>
			<dt><%= Volunteer.human_attribute_name(:employment_status_id) %>:</dt>
			<dd><%= @volunteer.employment_status %></dd>
			<dt><%= Volunteer.human_attribute_name(:vocne) %>:</dt>
			<dd><%= t("humanize.#{@volunteer.vocne}") %></dd>
			<dt><%= Volunteer.human_attribute_name(:available) %>:</dt>
			<dd><%= t("humanize.#{@volunteer.available}") %></dd>
			<dt><%= Volunteer.human_attribute_name(:availability_date) %>:</dt>
			<dd><%= show_simple_date(@volunteer.availability_date) %></dd>
		</dl>
	</div>
	<div class="col-md-6">
		<dl class="dl-horizontal">
			<dt><%= Volunteer.human_attribute_name(:academic_level_id) %>:</dt>
			<dd><%= @volunteer.academic_level %></dd>
			<dt><%= Volunteer.human_attribute_name(:subscribe_date) %>:</dt>
			<dd><%= show_simple_date(@volunteer.try(:subscribe_date)) if !@volunteer.try(:subscribe_date).blank? %></dd>
			<dt><%= Volunteer.human_attribute_name(:unsubscribe_date) %>:</dt>
			<dd><%= show_simple_date(@volunteer.unsubscribe_date) if !@volunteer.try(:unsubscribe_date).blank?  %></dd>
			<dt><%= Volunteer.human_attribute_name(:unsubscribe_reason_id) %>:</dt>
			<dd><%= @volunteer.try(:unsubscribe_reason).blank? ? "" : Nokogiri::HTML(@volunteer.unsubscribe_reason.to_s).text %></dd>
			<dt><%= Volunteer.human_attribute_name(:comments) %>:</dt>
			<dd><%= @volunteer.comments.blank? ? "" : Nokogiri::HTML(@volunteer.comments).text %></dd>
			<dt><%= Volunteer.human_attribute_name(:expectations) %>:</dt>
			<dd><%= @volunteer.expectations.blank? ? "" : Nokogiri::HTML(@volunteer.expectations).text %></dd>
			<dt><%= Volunteer.human_attribute_name(:agreement) %>:</dt>
			<dd><%= t("humanize.#{@volunteer.agreement}") %></dd>
			<dt><%= Volunteer.human_attribute_name(:agreement_date) %>:</dt>
			<dd><%= show_simple_date(@volunteer.agreement_date) %></dd>
			<dt><%= Volunteer.human_attribute_name(:search_authorization) %>:</dt>
			<dd><%= t("humanize.#{@volunteer.search_authorization}") %></dd>
			<dt><%= Volunteer.human_attribute_name(:has_driving_license) %>:</dt>
			<dd><%= t("humanize.#{@volunteer.has_driving_license}") %></dd>
			<dt><%= Volunteer.human_attribute_name(:manager_id) %>:</dt>
			<dd><%= @volunteer.manager %></dd>
			<dt><%= Volunteer.human_attribute_name(:info_source_id) %>:</dt>
			<dd><%= @volunteer.info_source %></dd>
			<dt><%= Volunteer.human_attribute_name(:other_academic_info) %>:</dt>
			<dd><%= @volunteer.other_academic_info.blank? ? "" : Nokogiri::HTML(@volunteer.other_academic_info).text %></dd>
			<dt><%= Volunteer.human_attribute_name(:profession_id) %>:</dt>
			<dd><%= @volunteer.profession %></dd>
			<dt><%= Volunteer.human_attribute_name(:skills) %>:</dt>
			<dd><%= @volunteer.skills.map(&:name).to_sentence %></dd>
			<dt><%= Volunteer.human_attribute_name(:updated_at) %>:</dt>
			<dd><%= show_simple_date(@volunteer.updated_at) %></dd>
			<dt><%= Volunteer.human_attribute_name(:created_at) %>:</dt>
			<dd><%= show_simple_date(@volunteer.created_at) %></dd>
			<% unless params[:project_id].blank? %>
				<dt><%= Volunteer.human_attribute_name(:project_comments) %>:</dt>
				<dd><%= @volunteer.project_comments(params.permit![:project_id]).blank? ? "" : Nokogiri::HTML(@volunteer.project_comments(params.permit![:project_id])).text  %></dd>
			<%end%>
		</dl>
	</div>
</div>