
<%= hidden_field_tag :volunteer_id, @volunteer.id %>
<%= hidden_field_tag :project_id, @project.id %>
<%= hidden_field_tag :orden, @orden %>
<%= hidden_field_tag :derivatie, @derivatie%>
<% unless @update.blank? %>
    <%= hidden_field_tag :update,true  %>
<%else%>
    <%= hidden_field_tag :update,false  %>
<%end%>

<div class="row" style="width: 500px">
    <div class="col-sm-12">
        <div class="row">
            <%= content_tag :label_commentes, t('show_unsubscribe.comments'),class: 'col-sm-6 control-label'%>
            <%= text_area_tag :search_comments, '' ,placeholder: "#{t('show_unsubscribe.field_comments')}", class: 'form-control col-md-6',  style: 'width: 200px; margin:3px 2px;'%>
        </div>
    </div>
</div>