<div class="row"> 
  <div class="col-md-12">
    <% if @project.blank?%>
      <%= model_title(model_class) %>
    <% else %>
      <h1 class="page-header"><%= t('volunteer_project_view') %></h1>
    <% end %>
  </div>
  <% if !@project.blank? %>
    <div class="col-md-12">
      <h2 class="form-subtitle">
        <%= @project.subtype_proyect.blank? || @project.subtype_proyect == "matriz" ? @project.id : @project.pt_order_compact %> - <%= @project.name %>
      </h2>
    </div>
  <% end %>   
</div>
