<%= hidden_field_tag :volunteer, @volunteer.id %>
<%= hidden_field_tag :type, 'Volunteer' %>
<div class="row" style="width: 500px">
    <div class="col-sm-12">
        <%= form_for @volunteer, url: update_password_volunteer_path(@volunteer), method: :get do |f| %>
        	<% if @phone_number.blank? && @volunteer.email.blank?%>
        		<h3>No es posible realizar esta acción. <br> Introduzca un teléfono o email antes de realizar esta acción</h3>
        	<%else%>
        		<input type="button" value= 'Generar password' id="generatePasswordButton" onclick='validateToGeneratePassword()'  style="margin:5px;">
            	<p id="message" class= "form-control"></p>
                <%= hidden_field_tag "sender", Rails.application.secrets.default_email_sender, placeholder: t('send_mail.sender'), class: 'col-md-8' %>
                <%= hidden_field_tag "cadena_aleatoria", "" %>
                <%= hidden_field_tag "volunteer", @volunteer.id %>
                <%= hidden_field_tag "id", @volunteer.id %>
                <br>
        		<% if !@phone_number.blank? && !@volunteer.email.blank?%>
            		<label style="margin-right: 5px;">Email: </label><%= @volunteer.email%>
                    <br>
                    <label style="margin-right: 5px;">Teléfono móvil: </label><%= @phone_number %></p>
                    <br>
                    <%= hidden_field_tag "phone_number_int", @phone_number %>
                    
                    <%= hidden_field_tag "email_int", @volunteer.email %>
                    <%= check_box_tag 'send_mail', 'send_mail', true %>
                    <label style='font-weight: normal;'>
                        <%= t('change_password.send_mail') %>
                    </label>
                    <%= check_box_tag 'send_sms', 'send_sms', true %>

                    <label style='font-weight: normal;'>
                        <%= t('change_password.send_sms') %>
                    </label>
        		<% elsif @volunteer.email.blank?  %>
                    <%= hidden_field_tag "send_mail", 'false' %>
                    <%= hidden_field_tag "send_sms", 'true' %>
                    <%= hidden_field_tag "email_int", '' %>
                    <%= hidden_field_tag "msg_seg", t('regenerate_pass') %>
                    <%= hidden_field_tag "phone_number_int", @phone_number %>
        			<label style="margin-right: 5px;">Teléfono móvil: </label><%= @phone_number %>
                    <br>
        		<% elsif !@volunteer.email.blank?%>
                    <%= hidden_field_tag "send_mail", 'true' %>
                    <%= hidden_field_tag "send_sms", 'false' %>
                    <%= hidden_field_tag "phone_number_int", '' %>
                    <%= hidden_field_tag "msg_seg", t('regenerate_pass') %>
                    <%= hidden_field_tag "email_int", @volunteer.email %>
        			<label style="margin-right: 5px;">Email: </label><%= @volunteer.email %>
                    <br>
                <% else %>
                    <h3>No es posible realizar esta acción. <br> Introduzca un teléfono o email antes de realizar esta acción</h3>
        		<% end %>
        	<% end %>
    	<% end %>
    </div>
</div>