<% associated = @project.blank? ? true : !ProjectsVolunteer.find_by(volunteer_id: volunteer.id,project_id: @project.id).blank? %>
<tr class="vol-results" id="<%= dom_id(volunteer) %>"  style="<%="background-color:#28ae13" if volunteer.tester == true %> <%="background-color:#b9d6f2" if !associated%>">
  
  <% Volunteer.main_columns(@project.blank?).each do |attr_name| %>
      <td>
        <% if attr_name.to_s=="email" && volunteer.active.to_s=="false"%>
          <span style="color: red;"><%= t('unsubscribe')%></span>   
        <% elsif attr_name.to_s == "notice_available_column"%> 
          <%=image_tag("phone.png",title: Volunteer.human_attribute_name(:tooltip), size:"25x25", style: "display: block; margin: auto;") if volunteer.notice_available_column %>
        <% elsif attr_name.to_s == "not_autorized"%> 
          <%= image_tag("senal_peligro.png", size:"30x30", style: "display: block; margin: auto;") if volunteer.not_autorized%>  
        <%else%>
          <%= show_attr(volunteer, attr_name) %>
        <%end%>
      </td>
  <% end %>    
  <%if !@project.blank? %>
    <td><%= Volun::Tracking.where(volunteer_id: volunteer.id, project_id: @project.id, comments: "Alta en un proyecto").last.try(:created_at).try {|x| x.to_date} %></td>
    <td><%= ProjectsVolunteer.find_by(volunteer_id: volunteer.id,project_id: @project.id).try(:description_turn).try{|n| n.html_safe} %></td>
    <td><%= ProjectsVolunteer.find_by(volunteer_id: volunteer.id,project_id: @project.id).try(:description_confirm).try{|n| n.html_safe} %></td>
    <td><%= ProjectsVolunteer.find_by(volunteer_id: volunteer.id,project_id: @project.id).try(:description_asist).try{|n| n.html_safe} %></td>
  <%end%>
  </td>
  <td class="index_table-actions">
    <% if !@project.blank? %> 
      <%= link_to_show(volunteer,path: "volunteer_path",path_params: {project_id: @project.id}) %> 
      <% unless volunteer.active.to_s=="false"%> 
        <%= link_to_edit(volunteer, path: "edit_volunteer_path",path_params: {project: @project.id, from_project: 1}) %> 
      <%else%> 
        <%= link_to_edit_unsubscribe(volunteer, path: "edit_volunteer_path",path_params: {project: @project.id, from_project: 1}) %> 
      <%end%> 
      <%= link_to_trackings(volunteer, "volun", @project.id) %> 
      <% if (can?(:destroy, Volunteer)) && associated %> 
        <% unless ProjectsVolunteer.where(:volunteer_id => volunteer.id, :project_id => @project.id).first.try :active %> 
          <%= link_to_recover_project(volunteer,@project.name, path: "show_project_volunteer_volunteer_path",path_params: {project_id: @project.id,alta: true,from_project: 1,orden: 1, message: 'messages.active_volunteer_project'}) %> 
        <% else %> 
          <%= link_to_destroy_volunteer_project(volunteer,@project.name,path: "show_project_volunteer_volunteer_path", path_params: {project_id: @project.id,from_project: 1, orden: 0,message: 'messages.inactive_volunteer_project'}) %> 
        <% end %> 
      <%end%>
      <% if can?(:edit, Volunteer) && associated%>
        <%= link_to_unlink_volunteer_project(volunteer,@project.name,path: "unlink_project_volunteer_project_volunteer_path",path_params: { project_id: @project.id, from_project: 1,message: 'messages.unlink_volunteer_project'}) %>  
      <%end%> 
      <%= link_to_create_meeting(volunteer,path: "create_meeting_volunteer_path",path_params: {project_id: @project.id, pt_extendable_id: params[:pt_extendable_id],asociated: true}) if ProjectsVolunteer.where(:volunteer_id => volunteer.id, :project_id => @project.id).first.try :active %>
      <%= link_to_assign_turn(volunteer,path: "assign_turn_volunteer_path", path_params:{asociated: true, project_id: @project.id}) if ProjectsVolunteer.where(:volunteer_id => volunteer.id, :project_id => @project.id).first.try :active%>
    <% else %> 
      <%= link_to_show(volunteer, path: "volunteer_path") %> 
      <% unless volunteer.active.to_s=="false"%> 
        <%= link_to_edit(volunteer, path: "edit_volunteer_path") %> 
      <%else%> 
        <%= link_to_edit_unsubscribe(volunteer, path: "edit_volunteer_path") %> 
      <%end%> 
      <%= link_to_trackings(volunteer, "volun") %> 
      <%= link_to_sms(volunteer) %> 
      <%= link_to_mail(volunteer) if cast_as_boolean Setting['send_email'] %> 
      <% if can? :destroy, Volunteer%> 
        <% if volunteer.try(:archived?) %> 
          <%= link_to_recover(volunteer, path: "recover_volunteer_path") %> 
        <% else %> 
          <%= link_to_destroy_volunteer(volunteer) %> 
        <% end %> 
      <%end%>
      <%= link_to derivatie_projects_volunteer_path(volunteer), { class: "grey-color" } do %>
        <i class="fa fa-list-alt" alt="<%=t('derivatie_projects.link')%>" title="<%=t('derivatie_projects.link')%>"  aria-hidden="true"></i>
      <% end %>
    <% end %>
  </td>
</tr>