function redirect_to_url(parametros,url){
    var url_params="";
    for(i=0;i<parametros.length;i++){
        var conversion="";
        switch(parametros[i][2]){
            case 'i': //Conversión a numérico
                if (parametros[i][1].val()) {
                    conversion=parametros[i][1].val().replace(/[ ]/g,"").trim();
                }
                break;
            case 'b': //Dato simple
                conversion=parametros[i][1];
                break;
            case 's': //Conversión a texto
                if (parametros[i][1].val()) {
                    conversion=parametros[i][1].val().replace(/[\'%();]/g,"").trim();
                }
                break;
            case 'check': //Obtención de valor booleano
                if (parametros[i][1].val()) {
                    conversion=parametros[i][1].prop('checked');
                }
                break;
        }
        
        var conca="";
        if(url_params!="") conca="&";
        url_params=url_params+conca+parametros[i][0]+"="+conversion;
    }
    var union="?";
    $('#recarga-flash').load(url+union+encodeURI(url_params) +" #recarga-flash");
     $('#recarga-filtros').load(url+union+encodeURI(url_params) +" #recarga-filtros");
}

function confirmed(result, id_volun, id_project) {
    if (result) {
        redirect_to_url([["volun_id",id_volun,"b"]
            ,["project_id",id_project,"b"]
            ,["controller","volunteers","b"]],"post_associate_derivatie");
    }
}




swal({width: 600, 
title: '<%= t('messages.are_you_sure_associate_volunteer',volunteer: "#{@volunteer.try(:name)} #{@volunteer.try(:last_name)} #{@volunteer.try(:last_name_alt)}",project: @project.try(:name)) %>',
html: '',
showCancelButton:  true,
confirmButtonText: 'Sí',
cancelButtonText:  'Cancelar'}).then(result => confirmed(result, <%=@volunteer.id%>, <%=@project.id%>));