<% if !@derivatie_projects.blank? %>
  <div class="search-index index-panel row well">
    <div class="col-md-12">
      <div class="col-md-6" style="margin-top:6px;">
        <%= t("derivatie_projects.count", volunteer: @volunteer.try(:full_name), count: @derivatie_projects.count) %>
      </div>
      <div class="col-md-6 pull-right">
        <div class="col-md-4 pull-right" >
          <%= link_to t('action.download_csv'), derivatie_projects_volunteer_path({format: "csv"}.merge!(params.permit!)), class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
  <table class="index-table" id="volunteers">
      <thead>
        <tr>
          <th class="col-md-2"><%= t("derivatie_projects.list.project_id") %></th>
          <th class="col-md-2"><%= t("derivatie_projects.list.project_name") %></th>
          <th class="col-md-2"><%= t("derivatie_projects.list.project_type") %></th>
          <th class="col-md-2"><%= t("derivatie_projects.list.execution_start_date") %></th>
          <th class="col-md-2"><%= t("derivatie_projects.list.execution_end_date") %></th>
          <th class="col-md-2"><%= t("derivatie_projects.list.link") %></th>
        </tr>
      </thead>
      <tbody>
          <% @derivatie_projects.each do |dp| %>
              <tr>
                  <td><%= dp.project_id %></td>
                  <td><%= dp.project.try(:name) %></td>
                  <td><%= t("derivatie_projects.list.subtype_pt.#{dp.project.subtype_pt}") if !dp.project.subtype_pt.blank? %></td>
                  <td><%= dp.project.execution_start_date.try{strftime("%d/%m/%Y")} %></td>
                  <td><%= dp.project.execution_end_date.try{strftime("%d/%m/%Y")} %></td>
                  <td><%= dp.volunteer_type.to_s == "DERIVATIE" ? "No" : "Si" %></td>
              </tr>
          <% end %>
      </tbody>
  </table>
<% else %>
  <div class="search-index index-panel row well">
    <div class="col-md-12">
      <div class="col-md-6" style="margin-top:6px;">
        <%= t("derivatie_projects.blank", volunteer: @volunteer.try(:full_name)) %>
      </div>
    </div>
  </div>
<% end %>
<%= render 'return_button' %>