<% model_class = Volunteer %>

<div class="row"> 
  <div class="col">
    <h1 class="page-header"><%= t('volunteer_derivatie_view') %></h1>
  </div>
  <% if !@project.blank? %>
    <div class="col-md-12">
      <h2 class="form-subtitle">
        <%= @project.subtype_proyect.blank? || @project.subtype_proyect == "matriz" ? @project.id : @project.pt_order_compact %> - <%= @project.name %>
      </h2>
    </div>
  <% end %>  
</div>

<%= render(partial: 'derivatie_filter_search') %>

<div class="row">
  <div class="col">    
    <%= button_to_unlink(@project) if !@project.blank? && !@project.origin_id.blank? && @projectv.count>0%>
    <%= link_to t('action.meetings'), meetings_path(project_id: @project.id, derivaties: true),
     path_params: {pt_extendable_id: params[:pt_extendable_id]}, class: "btn btn-primary", style: "margin: 10px; padding: 10px 10px;"%>
  </div>
</div>

<div id="recarga-filtros">
  <div class="well panel_custom row ">
    <div class="col-md-6" style="margin-top:6px;">
      <p><%= model_class.model_name.human(count: 2) %> <%= t('volunteer_filter.find')%>: <%= @projectv.count %></p>
    </div>
    <div class="col-md-6 text-right">
      <%= link_to t('action.download_csv'), 
          derivatie_project_volunteers_path(ActionController::Parameters.new({format: "csv", isSearch: true}.merge!(params.permit!)).permit!), 
          class: "btn btn-success" %>
    </div>
  </div>

  <fieldset class="row">
  <legend>Leyenda:</legend>
  <ul class="col-sm-3">
    <li style="background-color:#28ae13; color: white;list-style: none">Voluntario tester</li>
    <li style="background-color:#b9d6f2; color: black;list-style: none">Voluntario de subproyecto</li>
  </ul>
  </fieldset>
  
  <div class="row">
    <div class="col">
      <table class="index-table" id="volunteers">
        <thead>
          <tr>
            <% model_class.main_columns(false).each do |column| -%>
              <th><%= sort_link(@search_q, column, model_class.human_attribute_name(column))%></th>
            <% end %>
           
            <% ProjectsVolunteer.main_columns.each do |column| %>
              <th><%=ProjectsVolunteer.human_attribute_name(column)%></th>
            <% end %>
            <% VolunProyMeeting.main_columns.each do |column|%>
                <th><%= VolunProyMeeting.human_attribute_name(column)%></th>
            <% end %>
            <th class="actions index_table-actions">
              <%= t('actions') %>
            </th>
          </tr>
        </thead>
        <tbody>
          <%= render(partial: 'derivatie_fields', collection: @projectv, path_params: {project_id: @project.id, pt_extendable_id: params[:pt_extendable_id]})%>
        </tbody>
      </table>

      <div class="row">
        <%= render partial: "shared/pagination", locals: {collection: @projectv, urlchange: "search_js_derivatie_volunteers()"} %>
      </div>
      
      <div class="row">
        <%=link_to_return_edit(@project.pt_extendable||@project)%>
      </div>
    </div>
  </div>
</div>
