<%= main_title(t("action.edit", model: Volunteer.model_name.human)) %>
<div class="row">
  <div class="col-md-11">
    <p><strong><%= Volunteer.model_name.human  %>: </strong><%= @volunteer.try(:id_autonum) %></p>
  </div>
  <div class="col-md-1" style="margin-bottom: 10px">
    <%= render 'return_button' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>
<%= render 'return_button' %>

