
<%= render partial: "title", locals: {model_class: @model_class} %>
<%= render partial: 'filter_search', locals: {model_class: @model_class} %>
<div id="recarga-filtros">
  <%= render partial: "shared/count", locals: {collection: @volunteers, model_class: @model_class, count: @volunteers.count, csv_enable: true, url: volunteers_path({format: "csv"}.merge!(params.permit!)) } %>
  <fieldset class="row">
  <legend>Leyenda:</legend>
  <ul class="col-sm-3">
    <li style="background-color:#28ae13; color: white;list-style: none">Voluntario tester</li>
    <%if !@project.blank?%>
    <li style="background-color:#b9d6f2; color: black;list-style: none">Voluntario de subproyecto</li>
    <%end%>
  </ul>
  </fieldset>
  <table class="index-table" id="volunteers">
    <thead>
      <tr>
        <% @model_class.main_columns(@project.blank?).each do |column| %>
          <th class="col-md-1"><%= sort_link(@search_q, column, @model_class.human_attribute_name(column)) %></th>
        <% end %>
        <% if !@project.blank? %>
          <% ProjectsVolunteer.main_columns.each do |column| -%>
            <th><%= ProjectsVolunteer.human_attribute_name(column)%></th>
          <% end %>
          <% VolunProyMeeting.main_columns.each do |column|%>
              <th><%= VolunProyMeeting.human_attribute_name(column)%></th>
          <% end %>
        <%end%>
        <th class="actions index_table-actions">
          <%= t('actions') %>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render(partial: 'volunteer', collection: @volunteers)%>
    </tbody>
  </table>
  <%= render partial: 'shared/pagination', locals: {collection: @volunteers, urlchange: "search_js_volunteers()"} %>
  <% if !@project.blank? %>
    <%=link_to_return_edit(@project.pt_extendable||@project)%>
  <% end %>
</div>

