<%= main_title(t("action.massive_email")) %>


<div class="row">
    <ul class="nav nav-tabs">
        <li class="<%= "active" if !params[:new_email].blank? || params[:historic].blank? %>">
            <a data-toggle="tab" id="tab_new_email" href="#new_email" ><%=t('massive_email.tab_new_email')%></a>
        </li>
        <li class="<%= "active" if params[:historic] %>">
            <a data-toggle="tab" id="tab_historic" href="#historic"><%=t('massive_email.tab_historic')%></a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="new_email" class="tab-pane <%= "active" if !params[:new_email].blank? || params[:historic].blank? %>">
            <%= render partial: "volunteers/partials_massive_email/new_email" %>
        </div>
        <div id="historic" class="tab-pane <%= "active" if params[:historic] %>">
            <%= render partial: "volunteers/partials_massive_email/historic" %>
        </div>
    </div>
</div>



