<%= main_title(t("action.new", model: Volunteer.model_name.human)) %>
<div style="margin-bottom: 10px">
<% if params[:rt_volunteer_subscribe_id].blank?%>
<%= link_to( t('action.back'),volunteers_path, class: 'btn btn-default') %>
<%else%>
<%= link_to( t('action.back'),process_request_form_rt_volunteer_subscribe_path(params.permit![:rt_volunteer_subscribe_id]), class: 'btn btn-default') %>
<%end%>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>
<% if params[:rt_volunteer_subscribe_id].blank?%>
<%= link_to( t('action.back'),volunteers_path, class: 'btn btn-default') %>
<%else%>
<%= link_to( t('action.back'),process_request_form_rt_volunteer_subscribe_path(params.permit![:rt_volunteer_subscribe_id]), class: 'btn btn-default') %>
<%end%>
