
<script type="text/javascript">



    function generarPassword(longitud) {
        var myMessage = '';
        var cadena = '';
        cadena = generarCadenaAleatoria(longitud);

        myMessage = 'Utilice su número de teléfono móvil (' + $('#mobile_phone').val()  + ')\n';
        myMessage = myMessage + ' o su dirección de correo electrónico (' + $('#email').val()  + ')\n';
        myMessage = myMessage + ' para identificarse en la plataforma de la comunidad virtual. ' + '\n';
        myMessage = myMessage + 'Esta es su contraseña: ' + cadena;
        $('#message').val(myMessage);
        $('#cadena_aleatoria').val(cadena);

    }

    function generarCadenaAleatoria(longitud) {
        var strCaracteresPermitidos = 'a,b,c,d,e,f,g,h,i,j,k,m,n,p,q,r,s,t,u,v,w,x,y,z,1,2,3,4,5,6,7,8,9';
        var strArrayCaracteres = new Array(strCaracteresPermitidos.length);
        strArrayCaracteres = strCaracteresPermitidos.split(',');
        var tmpstr = "";
        do {
            var randIndice = parseInt(Math.random() * strArrayCaracteres.length);
            tmpstr = tmpstr + strArrayCaracteres[randIndice];
        } while (tmpstr.length < longitud);
        return tmpstr;
    }

</script>

<%= main_title(t('change_password.title')) %>


<div class="row well-no-border">
  <div class="col-md-12">
    <div class="row">
      <dl class="dl-horizontal pull-left">
        <dt><%= Volunteer.human_attribute_name(:name) %>: </dt>
        <dd><%= @volunteer.name %></dd>
        <dt><%= Volunteer.human_attribute_name(:last_name) %>: </dt>
        <dd><%= @volunteer.last_name %></dd>
        <dt><%= Volunteer.human_attribute_name(:last_name_alt) %>: </dt>
        <dd><%= @volunteer.last_name_alt %></dd>
      </dl>
    </div>
    <div class="form-group">
      <%= form_for @volunteer, url: volunteers_update_password_path, method: :get do |f| %>
          <div class="row">
            <%= label_tag 'mobile_phone_tag', t('change_password.mobile_phone'), class: 'col-md-4' %>
            
            <%= text_field_tag "mobile_phone", @volunteer.phone_number_alt, placeholder: t('change_password.mobile_phone'),onkeyup: "validation_telefono($(this),$('#phone_number'))" , class: 'col-md-8', readonly: true %>
            <div class="form-group col-md-7 text-right">
              <label  id="phone_number" style="display: none; color: #a94442;"><%=t('validations.phone')%></label>
            </div>
          </div>
          <div class="row">
            <%= label_tag 'email', t('change_password.email'), class: 'col-md-4' %>
            <%= text_field_tag "email", @volunteer.email, placeholder: t('change_password.email'), class: 'col-md-8',onkeyup: "validation_email($(this),$('#email_err'))", readonly: true%>
            <div class="form-group col-md-7 text-right">
              <label  id="email_err" style="display: none; color: #a94442;"><%=t('validations.email')%></label>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-md-12">
              <% if (@volunteer.phone_number_alt.blank? && @volunteer.email.blank?) %>
                
                <div class="row">
                  <div class="col-md-4"></div>
                  <%= button_tag t('action.new_message'), :type => 'button', :onclick => "generarPassword(8);", disabled: true ,class: "col-md-3"%>
                    <%= label_tag 'no_data', t('no_data_find'),class: "col-md-5"%>
                </div>
                <div class="col-md-12" style="margin-top: 20px;">
                  <%= label_tag 'message', t('send_mail.message'), class: 'col-md-2' %>
                  <%= text_area_tag "message", nil, class: "sms-message form-control", row: "5", readonly: true%>
                  <%= hidden_field_tag "sender", Rails.application.secrets.default_email_sender, placeholder: t('send_mail.sender'), class: 'col-md-8' %>
                    <%= check_box_tag('send_mail', value = "1", checked = true, disabled: true) %>
                    <label style='font-weight: normal;'>
                      <%= t('change_password.send_mail') %>
                    </label>

                    <%= check_box_tag('send_sms', value = "1", checked = false, disabled: true) %>
                    <label style='font-weight: normal;'>
                      <%= t('change_password.send_sms') %>
                    </label>
                  <%= hidden_field_tag "cadena_aleatoria", "" %>
                  <%= hidden_field_tag "volunteer", @volunteer.id %>
                  <%= f.submit t('change_password.send_button'), class: 'btn btn-success', id: 'btn-send' , disabled: true%>
                </div>

              <% else %>

                <div class="row">
                  <div class="col-md-4"></div>
                  <%= button_tag t('action.new_message'), :type => 'button', :onclick => "generarPassword(8); is_empty($('#message'),'btn-send');" ,class: "col-md-3"%>
                  <div class="col-md-4"></div>
                </div>
                <div class="col-md-12" style="margin-top: 20px;">
                  <%= label_tag 'message', t('send_mail.message'), class: 'col-md-2' %>
                  <%= text_area_tag "message", nil, class: "sms-message form-control",  row: "5", readonly: true%>
                  <%= hidden_field_tag "sender", Rails.application.secrets.default_email_sender, placeholder: t('send_mail.sender'), class: 'col-md-8' %>
                    <%= check_box_tag('send_mail', value = "1", checked = true) %>
                    <label style='font-weight: normal;'>
                      <%= t('change_password.send_mail') %>
                    </label>

                    <%= check_box_tag('send_sms', value = "1", checked = false) %>
                    <label style='font-weight: normal;'>
                      <%= t('change_password.send_sms') %>
                    </label>
                  <%= hidden_field_tag "cadena_aleatoria", "" %>
                  <%= hidden_field_tag "volunteer", @volunteer.id %>
                  <%= f.submit t('change_password.send_button'), class: 'btn btn-success', id: 'btn-send', disabled: true%>
                </div>
              <% end %>
            </div>
            
          </div>
      <% end %>
    </div>
  </div>
</div>

<% unless request.xhr? %>
    <%= link_to( t('action.back'),edit_volunteer_path(@volunteer), class: 'btn btn-default') %>
<% end %>
