function validar_email(sender,recipent,message, buttonToDisable) {
    var regex = (/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/);
    var remitente = document.getElementById(sender).value;
    var destinatario =document.getElementById(recipent).value;
    var msg = document.getElementById(message).value;
    var remit_valid = regex.test(remitente);
    var destin_valid = regex.test(destinatario);
    var message_valid = msg.length != 0;

  if (remit_valid && destin_valid && message_valid){
    document.getElementById(buttonToDisable).disabled = false;
  }else{
    document.getElementById(buttonToDisable).disabled = true;
  }
    
}

$(function() { 
   

    $('#sender').on('keyup', function() {
        validar_email('sender','recipent','text_mail','btn-send');
    });

    $('#recipent').on('keyup', function() {
        validar_email('sender','recipent','text_mail','btn-send');
    });

    $('#text_mail').on('keyup', function() {
        validar_email('sender','recipent','text_mail','btn-send');
    });

     $('#subject').on('keyup', function() {
        validar_email('sender','recipent','text_mail','btn-send');
    });

    

});

swal({width: 600, 
title: '<%=  main_title(t('send_mail.title')) %>',
html: '<%= j (render 'show_mail') %>'});