function redirect_to_url(parametros,url){
    var url_params="";
    for(i=0;i<parametros.length;i++){
        var conversion="";
        switch(parametros[i][2]){
            case 'i': //Conversión a numérico
                if (parametros[i][1].val()) {
                    conversion=parametros[i][1].val().replace(/[ ]/g,"").trim();
                }
                break;
            case 'b': //Dato simple
                conversion=parametros[i][1];
                break;
            case 's': //Conversión a texto
                if (parametros[i][1].val()) {
                    conversion=parametros[i][1].val().replace(/[\'%();]/g,"").trim();
                }
                break;
            case 'check': //Obtención de valor booleano
                if (parametros[i][1].val()) {
                    conversion=parametros[i][1].prop('checked');
                }
                break;
        }
        
        var conca="";
        if(url_params!="") conca="&";
        url_params=url_params+conca+parametros[i][0]+"="+conversion;
    }
    var union="?";
    $('#recarga-flash').load(url+union+encodeURI(url_params) + " #recarga-flash" );
}

function confirmedUnsubscribe(result) {
    if (result) {

        var url="";
        var aux_update = $('#update').val();
        if(""+aux_update!="true") url="/projects/"+$('#project_id').val()+"/volunteers/"+$('#volunteer_id').val()+"/";
          
        
          redirect_to_url([
           ["project_id",$('#project_id'),"i"]
          ,["search_comments",$('#search_comments'),"s"]
          ,["update_volun",$('#update'),"b"]
          ,["orden",$('#orden'),"i"]
          ,["id",$('#volunteer_id'),"i"]
          ,["controller","volunteers","b"]],url+"set_project_volunteer");

         window.location.reload(true);
    }
}

function confirmedRemove( result) {
    if (result) {
        swal({width: '70%', 
        title: '<%= main_title(t(params.permit![:message], volunteer: "#{@volunteer.name} #{@volunteer.last_name} #{@volunteer.last_name_alt}", project: @project.name)) %>',
        html: '<%= j (render 'show_project_volunteer') %>',
        showCancelButton:  true,
        confirmButtonText: '<%=t('show_unsubscribe.button_confirm')%>',
        cancelButtonText:  '<%= t('show_unsubscribe.button_cancel') %>'}).then(result => confirmedUnsubscribe(result));
    }
}


 swal({
        title:             '<%= @alta ? t('messages.are_you_sure_project_volunteer',volunteer: "#{@volunteer.name} #{@volunteer.last_name} #{@volunteer.last_name_alt}",project: @project.name) : t('messages.are_you_sure_unproject_volunteer',volunteer: "#{@volunteer.name} #{@volunteer.last_name} #{@volunteer.last_name_alt}",project: @project.name)%>',
        text:              '',
        showCancelButton:  true,
        confirmButtonText: 'Sí',
        cancelButtonText:  'Cancelar',
    }).then(result => confirmedRemove( result));

