<%= main_title(t("action.show", model: Volunteer.model_name.human)) %>

<%=render "show"%>

<% unless request.xhr? %>
<%= link_to( t('action.back'),volunteers_path, class: 'btn btn-default') %>
<%= button_to_edit(@volunteer) %>
<% end %>