function is_empty(element,buttonToDisable){
    
    <%# if(element.val().length == 0){
        $('#'+buttonToDisable).prop("disabled", true);
    }else{
        $('#'+buttonToDisable).prop("disabled", false);
    } %>
}


$(function() { 
   

    <%# $('#text_sms').on('keyup', function() {
        is_empty($('#text_sms'),'btn-send');
    }); %>

    

});

swal({width: 600, 
title: '<%=  main_title(t('sms_service')) %>',
html: '<%= j (render 'show_sms') %>'});