function redirect_to_url(parametros,url){
    var url_params="";
    for(i=0;i<parametros.length;i++){
        var conversion="";
        switch(parametros[i][2]){
            case 'i': //Conversión a numérico
                if (parametros[i][1].val()) {
                    conversion=parametros[i][1].val().replace(/[ ]/g,"").trim();
                }
                break;
            case 'b': //Dato simple
                conversion=parametros[i][1];
                break;
            case 's': //Conversión a texto
                if (parametros[i][1].val()) {
                    conversion=parametros[i][1].val().replace(/[\'%();]/g,"").trim();
                }
                break;
            case 'check': //Obtención de valor booleano
                if (parametros[i][1].val()) {
                    conversion=parametros[i][1].prop('checked');
                }
                break;
        }
        
        var conca="";
        if(url_params!="") conca="&";
        url_params=url_params+conca+parametros[i][0]+"="+conversion;
    }
    var union="?";
    $('#recarga-flash').load(url+union+encodeURI(url_params) +" #recarga-flash");
     $('#recarga-filtros').load(url+union+encodeURI(url_params) +" #recarga-filtros");
}

function confirmed(result) {
    if (result) {
        

            
        if($('#search_reason-select option:selected').val()!=""&&$('#fecha_baja').val()!=""){
            

            redirect_to_url([["search_reason",$('#search_reason-select option:selected'),"s"]
            ,["search_comments",$('#search_comments'),"s"]
            ,["search_fecha_baja",$('#search_fecha_baja'),"s"]
            ,["volunteer",$('#id_volunteer'),"i"]
            ,["controller","volunteers","b"]],"accept_unsubscribe");
            
        } else {
            deleted(result, false);
        }
    }
}
  
function printPDF(data_end,reason, id_volunteer) {    
    <%# if($('#search_reason-select option:selected').val()!=""&&$('#fecha_baja').val()!=""){         %>
        window.open("/volunteers/"+id_volunteer+".pdf?data_end="+encodeURI(data_end)+"&reason="+encodeURI(reason),'_blank');
        return true;
    <%# }  else {
        return false;
    }   %>
}


function deleted(result, validado) {
    if (result) {       
        var id_volunteer = $('#id_volunteer').val();
        var data_end = $('#search_fecha_baja').val();
        var reason = $('#search_reason-select option:selected').val();
        
        swal({width: 600, 
        title: '<%= main_title(t('messages.unsubscribe_volunteer', name: @volunteer.name, last_name: @volunteer.last_name))  %>',
        html: '<%= j (render 'show_unsubscribe') %>',
        showDenyButton: true,
        showCancelButton:  true,       
        confirmButtonText: 'Guardar',
        denyButtonText: 'Imprimir',
        cancelButtonText:  'Cancelar'}).then(result1 => {
            id_volunteer = $('#id_volunteer').val();
            data_end = $('#search_fecha_baja').val();
            reason = $('#search_reason-select option:selected').val();
            console.log(id_volunteer)
            console.log(data_end)
            console.log(reason)
            if (result1) {
                confirmed(result1);
                swal({width: 600, 
                    title: '<%= main_title(t('messages.unsubscribe_volunteer', name: @volunteer.name, last_name: @volunteer.last_name))  %>',
                    html: '¿Imprimir el documento de baja?',
                    showDenyButton: true,
                    showCancelButton:  true,       
                    confirmButtonText: 'Imprimir',
                    denyButtonText: 'Imprimir',
                    cancelButtonText:  'Continuar'}).then(result2 => {
                        
                        if (result2) {
                            printPDF(data_end,reason,id_volunteer);
                        }
                    });
            }
        });

        if (!validado) {
            if($('#search_reason-select option:selected').val()=="") $('#search_reason-select').css('border', '1px solid red');
            if($('#search_fecha_baja').val()=="") $('#search_fecha_baja').css('border', '1px solid red');            
        }
    }
}




  
swal({width: 600, 
title: '<%= t('messages.confirm_destroy_volunteer', name: @volunteer.name, last_name: @volunteer.last_name) %>',
html: '',
showCancelButton:  true,
confirmButtonText: 'Sí',
cancelButtonText:  'Cancelar'}).then(result => deleted(result, false));