function redirect_to_url(parametros,url){
    var url_params="";
    for(i=0;i<parametros.length;i++){
        var conversion="";
        switch(parametros[i][2]){
            case 'i': //Conversión a numérico
                if (parametros[i][1].val()) {
                    conversion=parametros[i][1].val().replace(/[ ]/g,"").trim();
                }
                break;
            case 'b': //Dato simple
                conversion=parametros[i][1];
                break;
            case 's': //Conversión a texto
                if (parametros[i][1].val()) {
                    conversion=parametros[i][1].val().replace(/[\'%();]/g,"").trim();
                }
                break;
            case 'check': //Obtención de valor booleano
                if (parametros[i][1].val()) {
                    conversion=parametros[i][1].prop('checked');
                }
                break;
        }
        
        var conca="";
        if(url_params!="") conca="&";
        url_params=url_params+conca+parametros[i][0]+"="+conversion;
    }
    var union="?";
    $('#recarga-flash').load(url+union+encodeURI(url_params) + " #recarga-flash" );
}


function generateRandomPassword(longitud) {
    var strCaracteresPermitidos = 'a,b,c,d,e,f,g,h,i,j,k,m,n,p,q,r,s,t,u,v,w,x,y,z,1,2,3,4,5,6,7,8,9';
    var strArrayCaracteres = new Array(strCaracteresPermitidos.length);
    strArrayCaracteres = strCaracteresPermitidos.split(',');
    var tmpstr = "";
    do {
        var randIndice = parseInt(Math.random() * strArrayCaracteres.length);
        tmpstr = tmpstr + strArrayCaracteres[randIndice];
    } while (tmpstr.length < longitud);
    return tmpstr;
}

function generatePassword(longitud) {
    var myMessage = '';
    var cadena = '';
    var cadPhone = "";
    var cadMail = "";

    cadena = generateRandomPassword(longitud);
    message.value = cadena;
    return message;
}

 function validateToGeneratePassword(longitud) {
        
        var pass= generatePassword(8).value;
        $('#cadena_aleatoria').val(pass)
        $('#message').html(pass);
    }
    function validateCheck(check){
        val_mail = $("#send_mail").prop('checked');
        val_sms = $("#send_sms").prop('checked');

        switch (check){
            case 'sms':
                if(!val_mail && !val_sms){
                    $("#send_mail").prop("checked", true);
                }
            break;
            case 'mail':
                if(!val_mail && !val_sms){ 
                    $("#send_sms").prop("checked", true);
                }
            break;
        }
    }

function confirmedPassword(result) {
    if (result) {
          if($('#phone_number_int').val()!="" && $('#email_int').val() !=""){
            redirect_to_url([
              ["send_sms",$('#send_sms'),"check"]
              ,["send_mail",$('#send_mail'),"check"]
              ,["volunteer",$('#volunteer'),"i"]
              ,["phone_number",$('#phone_number_int'),"s"]
              ,["cadena_aleatoria",$('#cadena_aleatoria'),"s"]
              ,["email",$('#email_int'),"s"]
              ,["controller","volunteers","b"]
              ],"/volunteers/" + $('#volunteer').val() + "/update_password");
          }else{
            redirect_to_url([
              ["send_sms",$('#send_sms'),"s"]
              ,["send_mail",$('#send_mail'),"s"]
              ,["volunteer",$('#volunteer'),"i"]
              ,["phone_number",$('#phone_number_int'),"s"]
              ,["cadena_aleatoria",$('#cadena_aleatoria'),"s"]
              ,["email",$('#email_int'),"s"]
              ,["controller","volunteers","b"]
              ],"/volunteers/" + $('#volunteer').val() + "/update_password");
          }        
    }
}



swal({width: 600, 
title: '<%=  main_title(t('messages.password_new_ent', name: @volunteer.name)) %>',
html: '<%= j (render 'volun_password') %>',
showCancelButton:  true,
confirmButtonText: 'Guardar',
cancelButtonText:  'Cancelar'}).then(result => confirmedPassword(result));


$(document).ready(function() {    
   
    $('#generatePasswordButton').on('click', function() {
        validateToGeneratePassword(8);
    });

    $('#send_mail').on('click', function() {
        validateCheck('mail');
    });

    $('#send_sms').on('click', function() {
        validateCheck('sms');
    });
});