<script type="text/javascript">

    function validateToGeneratePassword(longitud) {
        var myMessage = '';
        var cadena = '';
        var genPassword = true;

        element_send_mail = document.getElementById("send_mail");
        element_send_sms = document.getElementById("send_sms");
        var msg= document.getElementById('message');
        var pass = generatePassword(8).value.toUpperCase();
        msg.innerHTML = pass;
        $('#cadena_aleatoria').val(pass)

        /*SI NO HAY CONTRASEÑA NO PERMITE ENVIAR EL MENSAJE*/
        if(pass!=''){
            document.getElementById("button_ok").disabled = false;
        }
    }

    function validateCheck(check){
        val_mail = $("#send_mail").prop('checked');
        val_sms = $("#send_sms").prop('checked');

        switch (check){
            case 'sms':
                if(!val_mail && !val_sms){ 
                }
            break;
            case 'mail':
                if(!val_mail && !val_sms){ 
                    $("#send_sms").prop("checked", true);
                }
            break;
        }
    }
</script>

<%= main_title(t('messages.password_new_ent', name: @volunteer.name)) %>
<%=render "volun_password"%>
