<%= content_tag(:div, id: dom_id(asset), class: "gal-item", data: { url: image_path(asset.url_content) }) do %>
  <%= link_to "X", "/ckeditor/pictures/#{asset.id}?format=json",
          remote: true,
          method: :delete,
          title: I18n.t('ckeditor.buttons.delete'),
          data: { confirm: t('ckeditor.confirm_delete') },
          class: "fileupload-cancel gal-del",
          style: "background: red;
            border: 0.01rem solid grey;
            text-align: center;
            padding: 0.1rem;
            border-radius: 0.3rem;
            color: white;
            text-decoration: none;" %>

  <div class="fileupload-file gal-inner-holder" style="border-radius: 0.3rem;">
    <div class="img"><%= image_tag(asset.url_thumb, title: asset.filename) %></div>
    <div class="img-data">
      <div class="img-name"><%= asset.filename %></div>
      <div class="time-size">
        <div class="time"><%= asset.format_created_at %></div>
        <div class="fileupload-size size"><%= number_to_human_size(asset.size) if asset.size %></div>
      </div>
    </div>
  </div>
<% end %>
