<tr id="<%= dom_id(moderate_status) %>" >
  <% ModerateStatus.main_columns.each do |attr_name| %>
    <td><%= show_attr(moderate_status, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(moderate_status, path: "administration_catalogue_moderate_status_path") %>
    <%= link_to_edit(moderate_status, path: "edit_administration_catalogue_moderate_status_path") %>
    <% if moderate_status.try(:archived?) %>
        <%= link_to_recover(moderate_status, path: "recover_administration_catalogue_moderate_status_path") %>
    <% else %>
        <%= link_to_destroy(moderate_status, path: "administration_catalogue_moderate_status_path") %>
    <% end %>
  </td>
</tr>
