<dl class="dl-horizontal">
  <dt><%= ModerateStatus.human_attribute_name(:id) %>:</dt>
  <dd><%= @moderate_status.id %></dd>
  <dt><%= ModerateStatus.human_attribute_name(:title) %>:</dt>
  <dd><%= @moderate_status.title %></dd>
  <dt><%= ModerateStatus.human_attribute_name(:code) %>:</dt>
  <dd><%= @moderate_status.code %></dd>
  <dt><%= ModerateStatus.human_attribute_name(:active) %>:</dt>
  <dd><%= t("humanize.#{@moderate_status.active}") %></dd>
  <dt><%= ModerateStatus.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@moderate_status.created_at) %></dd>
</dl>