<%= main_title(t("action.edit", model: ModerateStatus.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :put, path: administration_catalogue_moderate_status_path(@moderate_status) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_moderate_statuses_path, class: 'btn btn-default') %>