
<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: "search", locals: {collection: @moderate_statuses, model_class: @model_class} %>
<%= render partial: "common/generic_table", locals: {search: @search_q,collection: @moderate_statuses, model_class: @model_class, partial: 'moderate_status' } %>
<%= render partial: "shared/pagination", locals: {collection: @moderate_statuses, urlchange: "search_js_moderate_status();" } %>
<%=render partial: "common/button_back", locals: {path: maintenance_path, method: :get}%>