<%= main_title(t("action.show", model: ModerateStatus.model_name.human)) %>

<%=render "show"%>

<% unless request.xhr? %>
<%= link_to( t('action.back'),administration_catalogue_moderate_statuses_path, class: 'btn btn-default') %>
<% end %>