<div class="well">
  <%= simple_form_for(@virtual_community_component_type, as: :virtual_community_component_type,method: method, url: path) do |f| %>

    <div class="form-inputs">
      <%= f.input :title %>
      <%= f.input :code %>
      <%= f.input :active %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>