<dl class="dl-horizontal">
  <dt><%= ::VirtualCommunity::ComponentType.human_attribute_name(:id) %>:</dt>
  <dd><%= @virtual_community_component_type.id %></dd>
  <dt><%= ::VirtualCommunity::ComponentType.human_attribute_name(:title) %>:</dt>
  <dd><%= @virtual_community_component_type.title %></dd>
  <dt><%= ::VirtualCommunity::ComponentType.human_attribute_name(:code) %>:</dt>
  <dd><%= @virtual_community_component_type.code %></dd>
  <dt><%= ::VirtualCommunity::ComponentType.human_attribute_name(:active) %>:</dt>
  <dd><%= t("humanize.#{@virtual_community_component_type.active}") %></dd>
  <dt><%= ::VirtualCommunity::ComponentType.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@virtual_community_component_type.created_at) %></dd>
</dl>