<tr id="<%= dom_id(virtual_community_component_type) %>" >
  <% ::VirtualCommunity::ComponentType.main_columns.each do |attr_name| %>
    <td><%= show_attr(virtual_community_component_type, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(virtual_community_component_type, path: "administration_catalogue_virtual_community_component_type_path") %>
    <%= link_to_edit(virtual_community_component_type, path: "edit_administration_catalogue_virtual_community_component_type_path") %>
    <% if virtual_community_component_type.try(:archived?) %>
        <%= link_to_recover(virtual_community_component_type, path: "recover_administration_catalogue_virtual_community_component_type_path") %>
    <% else %>
        <%= link_to_destroy(virtual_community_component_type, path: "administration_catalogue_virtual_community_component_type_path") %>
    <% end %>
  </td>
</tr>
