<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: "search", locals: {collection: @virtual_community_component_types, model_class: @model_class} %>
<%= render partial: "common/generic_table", locals: {search: @search_q,collection: @virtual_community_component_types, model_class: @model_class, partial: 'virtual_community_component_type' } %>
<%= render partial: "shared/pagination", locals: {collection: @virtual_community_component_types, urlchange: "search_js_component_type();" } %>
<%=render partial: "common/button_back", locals: {path: maintenance_path, method: :get}%>
