<%= main_title(t("action.show", model: ::VirtualCommunity::ComponentType.model_name.human)) %>

<%=render "show"%>

<% unless request.xhr? %>
<%= link_to( t('action.back'),administration_catalogue_virtual_community_component_types_path, class: 'btn btn-default') %>
<% end %>