<div class="jumbotron scale">
    <div class="row">
        <div class="col-md-12">
            <h1><%= t('order_projects') %></h1>
        </div>
    </div>
    <p><%= t('administration_title_text_order') %></p>
    <br/>
    <br/>
</div>
<div>
    <%= form_tag( administration_order_projects_update_path, method: "post") do %>
    <div class="row">
        <div class="col-md-6" style="margin-bottom: 50px">
            <%= submit_tag t('order_projects_attributes.button'), class: "btn btn-primary" %>
        </div>
    </div>
    <div id="recarga" class="row">
        <table class="index-table">
            <thead>
            <tr>
            <% @main_table.each do |column| -%>
                <th><%= t("order_projects_attributes.#{column}") %></th>
            <% end %>
            </tr>
            </thead>
            <tbody>
            <% @projects.each do |project| %>
                <tr>
                    <td><%=project.id%></td>
                    <td><%=project.to_s%></td>
                    <td><%=project.execution_start_date%></td>
                    <td><%=project.execution_end_date%></td>
                    <td><%=project.project_type_compact%></td>
                    <td><%=number_field_tag "projects[#{project.id}]", project.order%></td>
                </tr>
            <%end%>
            </tbody>
        </table>
    </div>
    <%end%>
</div>
<div class="col-md-12">
    <div class="col-md-1">
        <%= button_to(t('action.back'), administration_path, method: :get)%>
    </div>
</div>

