<tr id="<%= dom_id(language) %>" >

  <% Language.main_columns.each do |attr_name| %>
    <td><%= show_attr(language, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(language, path: "administration_catalogue_language_path") %>
    <%= link_to_edit(language, path: "edit_administration_catalogue_language_path") %>
<% if language.try(:archived?) %>
    <%= link_to_recover(language, path: "language_administration_catalogue_language_path") %>
<% else %>
    <%= link_to_destroy(language, path: "administration_catalogue_language_path") %>
<% end %>
  </td>
</tr>
