<div class="well">
  <%= simple_form_for(@setting, as: :setting,method: method, url: path) do |f| %>
  <%= content_tag :div, t('setting.form.note'), class: 'well-no-border' %>
  <div class="form-inputs">
      <%= f.input :key %>
      <% if f.object.value.in? %w(true false)%>
        <div class="form-group string required">
          <div class="col-sm-5">
            <div class="pull-right">
              <%= label_tag Setting.human_attribute_name(:value) %>
            </div>
          </div>
          <div class="col-sm-7">
            <%= check_box_tag 'active_value', 'active_value', cast_as_boolean(f.object.value) %>
          </div>
        </div>
        <%= f.input :value, as: :hidden, input_html: { id: 'js-boolean' } %>
      <% elsif f.object.key.in? %W(VolunBackend.mail_footer) %>
        <%= f.text_area :value, :class =>"ckeditor" %>
      <% else %>
        <%= f.input :value %>
      <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
</div>

<script>
    $("#active_value").click(function() {
        $("#js-boolean").val($("#active_value").is(':checked'));
    });
</script>