<div class="row">
  <div class="col-md-12">
    <h2><%= t('search_filter')%></h2>
  </div>
</div>


<div class="index-panel row well">  
  <div class="col-md-12">
    <div class="row">
      <%= content_tag :label, t('settings_filter.data'), class: 'col-sm-9 control-label' %>
    </div>
    <div class="row">
        <%= text_field_tag :search_key, params["search_key"] ,placeholder: t('settings_filter.key'), class: 'form-control col-md-4',  style: 'width: 151px; margin:0px 2px;'%>
        <%= text_field_tag :search_value, params["search_value"] ,placeholder: t('settings_filter.value'), class: 'form-control col-md-4',  style: 'width: 151px; margin:0px 2px;'%>
    </div>
  </div>
  
  <div class="col-sm-12 text-right" style="margin: 20px 0px 0px 0px;">
    <button type="button" name="button" class="btn btn-primary btn-default" id="buttonCleanSetting"><%= t('reset_search') %></button>
    <button type="button" name="button" class="btn btn-success" id="buttonSearchSetting" 
        class="btn btn-default"><%= t('search') %></button>
  </div>
</div>  

<div class="row">
  <div class="col">
    <%= content_tag(:div, link_to_new(model_class, path: "new_administration_setting_path"), class: 'pull-left') %>
  </div>
</div>
<script>
    function push_enter(event){
    search_enter(event, search_js_setting);
}

    //$(document).on('keypress', push_enter);

    $('#buttonSearchSetting').on('click', function() {
        search_js_setting();
    });

    $('#buttonCleanSetting').on('click', function() {
         $(location).attr('href', "<%=administration_settings_url%>");
    });

    $('#pages-select').on('change', function() {
        search_js_resource();
    });
    
    $('#search_key').on('keyup', function() {
        correct_string($('#search_key'));
    });
    
    $('#search_value').on('keyup', function() {
        correct_string($('#search_value'));
    });
    
</script>