<tr id="<%= dom_id(setting) %>" >

  <% Setting.main_columns.each do |attr_name| %>
  <td><%= show_attr(setting, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(setting, path: "administration_setting_path") %>
    <%= link_to_edit(setting, path: "edit_administration_setting_path") %>
<% if setting.try(:archived?) %>
    <%= link_to_recover(setting, path: "recover_administration_setting_path") %>
<% else %>
    <%= link_to_destroy(setting, path: "administration_setting_path") %>
<% end %>
  </td>
</tr>
