
<dl class="dl-horizontal">

  <dt><%= Setting.human_attribute_name(:id) %>:</dt>
  <dd><%= @setting.id %></dd>
  <dt><%= Setting.human_attribute_name(:key) %>:</dt>
  <dd><%= @setting.key %></dd>
  <dt><%= Setting.human_attribute_name(:value) %>:</dt>
  <dd><%= @setting.value %></dd>
  <dt><%= Setting.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@setting.created_at) %></dd>

</dl>