<%= main_title(t("action.edit", model: Setting.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :put, path: administration_setting_path(@setting) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_settings_path, class: 'btn btn-default') %>