
<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: "search", locals: {search: @settings,model_class: @model_class} %>
<div id="recarga-filtros">
  <%= render partial: "shared/count", locals: {count: @settings.count, model_class: @model_class } %>
  <%= render partial: "common/generic_table", locals: {search: @search_q,collection: @settings, model_class: @model_class, partial: 'setting' } %>
  <%= render partial: "shared/pagination", locals: {collection: @settings, urlchange: "search_js_setting()"} %>
</div>
<div class="col-md-12">
  <div class="col-md-1">
    <%= button_to(t('action.back'), administration_path, method: :get)%>
  </div>
</div>