<%= main_title(t("action.new_fem", model: Setting.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :post, path: administration_settings_path %>
  </div>
</div>

<%= link_to( t('action.back'),administration_settings_path, class: 'btn btn-default') %>
