<tr id="<%= dom_id(next_point) %>" >

  <% NextPoint.main_columns.each do |attr_name| %>
    <td><%= show_attr(next_point, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(next_point, path: "administration_catalogue_next_point_path") %>
    <%= link_to_edit(next_point, path: "edit_administration_catalogue_next_point_path") %>
    <% if next_point.try(:archived?) %>
      <%= link_to_recover(next_point, path: "recover_administration_catalogue_next_point_path") %>
    <% else %>
      <%= link_to_destroy(next_point, path: "administration_catalogue_next_point_path") %>
    <% end %>
  </td>
</tr>
