
<dl class="dl-horizontal">

  <dt><%= NextPoint.human_attribute_name(:id) %>:</dt>
  <dd><%= @next_point.id %></dd>
  <dt><%= NextPoint.human_attribute_name(:name) %>:</dt>
  <dd><%= @next_point.name %></dd>
  <dt><%= NextPoint.human_attribute_name(:description) %>:</dt>
  <dd><%= @next_point.description %></dd>
  <dt><%= NextPoint.human_attribute_name(:active) %>:</dt>
  <dd><%= t("humanize.#{@next_point.active}") %></dd>
  <dt><%= NextPoint.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@next_point.created_at) %></dd>

</dl>