<%= main_title(t("action.edit", model: NextPoint.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :put, path: administration_catalogue_next_point_path(@next_point) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_next_points_path, class: 'btn btn-default') %>