
<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: "search", locals: {collection: @next_points, model_class: @model_class} %>
<%= render partial: "common/generic_table", locals: {search: @search_q,collection: @next_points, model_class: @model_class, partial: 'next_point' } %>
<%= render partial: "shared/pagination", locals: {collection: @next_points, urlchange: "search_js_next_points()"} %>
<%=render partial: "common/button_back", locals: {path: maintenance_path, method: :get}%>