<%= main_title(t("action.show", model: NextPoint.model_name.human)) %>

<%=render "show"%>
<% unless request.xhr? %>
<%= link_to( t('action.back'),administration_catalogue_next_points_path, class: 'btn btn-default') %>
<% end %>