<tr id="<%= dom_id(digital_moderate) %>" >
  <% Digital::Manage.main_columns.each do |attr_name| %>
    <td><%= attr_name.to_s=="body" && !show_attr(digital_moderate, attr_name).blank? ? Nokogiri::HTML(show_attr(digital_moderate, attr_name)).text  : attr_name.to_s=="title" && digital_moderate.class.name=="Digital::Comment" ? "" : show_attr(digital_moderate, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(digital_moderate, path: "digital_#{digital_moderate.class.name.to_s=="Digital::Comment" ? "comment" : "topic"}_path") %>
    <%= link_to_edit(digital_moderate, path: "digital_edit_moderate_path", path_params: {moderate_type: params[:type],type: (digital_moderate.class.name.to_s=="Digital::Comment" ? "comment" : "topic") }) %>
    <%= link_to  "<i class='fa fa-check-circle'></i>".html_safe,digital_accept_moderate_path(id: digital_moderate,type: (digital_moderate.class.name.to_s=="Digital::Comment" ? "comment" : "topic"),moderate_type: params[:type]), title: t("digital_manage.moderate.accept_button"), alt: t("digital_manage.moderate.accept_button"), style: "color: #1B703D", data: {confirm_swal: t("digital_manage.moderate.accept_confirm"), turbolinks: false} if ["pending","reject"].include?(params[:type]) %>
    <%= link_to  "<i class='fa fa-times-circle'></i>".html_safe,digital_reject_moderate_path(id: digital_moderate,type: (digital_moderate.class.name.to_s=="Digital::Comment" ? "comment" : "topic"),moderate_type: params[:type]), title: t("digital_manage.moderate.reject_button"), alt: t("digital_manage.moderate.reject_button"), style: "color: red", data: {confirm_swal: t("digital_manage.moderate.reject_confirm"), turbolinks: false} if ["pending","accept","edit"].include?(params[:type]) %>
  </td>
</tr>