<%= simple_form_for(@element, as: :digital_topic,method: method, url: path) do |f| %>
<%=render 'shared/errors', errors: @element.errors, model: Digital::Topic%>
  <div class="form-inputs row">
    <div class="col-md-6">
      <%= f.input :title %>
    </div>
  </div>
  <div class="form-inputs row">
    <div class="col-md-12">
      <%=f.label :body%>
      <%= f.text_area :body , class: "ckeditor" %>
    </div>
  </div>  
  <div class="form-actions row">
    <div class="col-md-12">
      <%= f.button :submit, class: "btn btn-success" %>
    </div>
  </div>
<% end %>