<div class="container-fluid">
  <%=form_tag(digital_moderate_path, method: "get")  do %>
    <div class="row">
      <div class="col-md-12">
        <h2><%= t('search_filter')%></h2>
      </div>
    </div>
    <%= hidden_field_tag :type, params[:type]%>
    <div class="index-panel row well">        
      <div class="col-md-3">
        <%= label_tag :search_text, t("digital_manage.moderate.search_text_title")%>
        <div class="tooltip col"><%=fa_icon "question-circle" ,class: "fa-1x"%><span class="tooltiptext"><%=t("digital_manage.moderate.tooltip")%></span></div>    
        <%= text_field_tag :search_text,params[:search_text], class: 'form-control'%>
      </div>
      <div class="col-md-3">
        <%= label_tag :search_moderate, t("digital_manage.moderate.search_text_moderate")%>
        <%= select_tag :search_moderate, options_for_select({ t("digital_manage.moderate.search_mod_topics") => "topics", t("digital_manage.moderate.search_mod_comments") => "comments" } ||{},params["search_moderate"]), include_blank: t('all'),class: 'form-control' %>
      </div>
      <div class="col-md-3">
        <%= label_tag :search_project,  t("digital_manage.moderate.search_text_project")%>
        <%= select_tag :search_project, options_for_select(@projects_permited||{},params["search_project"]), include_blank: t('all'),class: 'form-control' %>
      </div>
      <div class="col-md-3" style="text-align: right;">
        <%=link_to "#{fa_icon "eraser" ,class: "fa-1x"} #{ t("digital_manage.moderate.clean_button")}".html_safe, digital_moderate_path(type: params[:type]), class: "btn btn-primary", style: "margin-top: 2rem;"  %>
        <%=button_tag type: "submit",  class: "btn btn-success ", style: "margin-top: 2rem;" do  %>
          <%="#{fa_icon "search" ,class: "fa-1x"} #{ t("digital_manage.moderate.search_button")}".html_safe%>
        <%end%>
      </div>
    </div>      
      <%= render partial: "shared/count_all", locals: {count: @list_moderates.count , csv_enable: true, url: digital_moderate_path({format: "csv"}.merge!(params.permit!)) } %>
  <%end%>
</div>