<%= main_title("Editar moderación") %>

<div class="row well">
  <div class="col-md-12">
    <% if params[:type] == "topic"%>
      <%= render 'form_topic', method: :put, path: digital_update_moderate_path(id: params[:id], type: params[:type]) %>
    <%elsif params[:type] == "comment"%>
      <%= render 'form_comment', method: :put, path: digital_update_moderate_path(id: params[:id], type: params[:type]) %>
    <%end%>
  </div>
</div>

<%=render partial: "common/button_back", locals: {path: digital_moderate_path(type: params[:moderate_type]), method: :get}%>
