<div class="jumbotron scale">
  <h1><%=t("digital_manage.title")%></h1>

  <div class="panel-list row" style="margin-top: 5rem">
    <div class="col-md-6">
       <% if can? :topic, Digital::Manage %>
        <div class="panel panel-info" onclick="window.location='<%= digital_topics_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title"><%=t("digital_manage.title_debate")%></h3>
          </div>
          <div class="panel-body"><%=t("digital_manage.description_debate")%></div>
        </div>
      <% end %>
      <% if can? :moderate, Digital::Manage %>
        <div class="panel panel-info" onclick="window.location='<%= digital_moderate_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title"><%=t("digital_manage.title_moderate")%></h3>
          </div>
          <div class="panel-body"><%=t("digital_manage.description_moderate")%></div>
        </div>
      <% end %>      
    </div>
    <div class="col-md-6">
      <% if can? :faq, Digital::Manage %>
        <div class="panel panel-info" onclick="window.location='<%= digital_faqs_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title"><%=t("digital_manage.title_faq")%></h3>
          </div>
          <div class="panel-body"><%=t("digital_manage.description_faq")%></div>
        </div>
      <% end %>
    </div>
  </div>
</div>