<div class="row">
  <div class="col-md-12">   
    <%= content_tag :h1, t("digital_manage.moderate.title"), class: "page-header" %>
  </div>
</div>
<div class="row">
    <ul class="nav nav-tabs">
      <%["pending","edit", "accept", "reject"].each do |code|%>
        <li class="<%= "active" if params[:type].blank? && code =="pending"  || params[:type]==code %>">
          <%=link_to t("digital_manage.moderate.#{code}"),digital_moderate_path(type: code)%>            
        </li>
      <%end%>      
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">
        <%= render partial: "search", locals: {collection: @list_moderates} %>
        <%= render partial: "common/generic_table", locals: {search: @search_q,collection: @list_moderates, model_class: Digital::Manage, partial: 'digital_moderate' } %>
        <%= render partial: "shared/pagination", locals: {collection: @list_moderates } %>
      </div>
    </div>
</div>
<%=render partial: "common/button_back", locals: {path: digital_manage_path, method: :get}%>