<div class="well">
  <%= simple_form_for(@meeting, default_form_options) do |f| %>
  <%=hidden_field_tag :derivaties, params[:derivaties]%>
  <div class="form-inputs">
          <%= f.hidden_field :project_id, :value => params[:project_id] || f.object.project_id %>
          <%= hidden_field_tag :asociated, params[:asociated]%>
          <%= hidden_field_tag :pt_extendable_id,params[:pt_extendable_id]%>
          <%= f.input :name, placeholder: "Nombre de la reunión"%>
          <%= f.input :date, as: :string, input_html: {type: "date", value: f.object.date.blank? ? "" : f.object.date.strftime('%Y-%m-%d')} %>
          <div class="form-group string optional">
            <div class="col-sm-5 control-label string optional">
              <%=f.label :hour%>
            </div>
            <div class="col-sm-7">
              <%= f.time_field :hour, :value =>f.object.hour%>
            </div>
          </div>
          <%= f.association :type_meeting %>
          <%= f.input :place, placeholder: "Lugar de reunion" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
</div>