<tr id="<%= dom_id(meeting) %>" >

    <% meeting.main_attributes.each do |attr_name| %>
        <td><%= show_attr(meeting, attr_name) %></td>
    <% end %>

    <td class="index_table-actions">
        <%= link_to_show(meeting) %>
        <%= link_to_edit(meeting, path_params: {project_id: @project_id, derivaties: @derivaties, pt_extendable_id: params[:pt_extendable_id], asociated: params[:asociated]}) %>
        <%= link_to_csv(meeting)%>
    </td>
</tr>