<dl class="dl-horizontal">
  <dt><%= Meeting.human_attribute_name(:id) %>:</dt>
  <dd><%= @meeting.id %></dd>
  <dt><%= Meeting.human_attribute_name(:name) %>:</dt>
  <dd><%= @meeting.name %></dd>
  <dt><%= Meeting.human_attribute_name(:date) %>:</dt>
  <dd><%= @meeting.date %></dd>
  <dt><%= Meeting.human_attribute_name(:hour) %>:</dt>
  <dd><%= @meeting.hour %></dd>
  <dt><%= Meeting.human_attribute_name(:place) %>:</dt>
  <dd><%= @meeting.place %></dd>

</dl>