<% model_class = Meeting %>

<div class="row">
  <div class="col-md-12">
    <%= model_title(model_class) %>
  </div>
</div>
<div class="row">
  <%= content_tag(:div, link_to_new(model_class, path_params: {project_id: @project_id, derivaties:  @derivaties, pt_extendable_id: params[:pt_extendable_id], asociated: params[:asociated]}, fem: true), class: 'col pull-left') %>
</div>
<div id="recarga">
  <%=render partial: "shared/count", locals: {count: @meetings.count, model_class:model_class}%>  
  <table class="index-table">
    <thead>
      <tr>
      <% model_class.main_columns.each do |column| -%>
        <th><%= sort_link(@search_q, column, model_class.human_attribute_name(column)) %></th>
      <% end -%>
        <th class="actions index_table-actions">
          <%= t('actions') %>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render(partial: 'meeting', collection: @meetings)%>
    </tbody>
  </table>
</div>
<%if !@derivaties.blank? %>
  <%= link_to t('action.back'), derivatie_project_volunteers_path(project_id: @project_id, "q[projects_id_eq]":  @project_id), class: 'btn btn-default' %>
<%else%>
  <%= link_to t('action.back'), project_volunteers_path(@project_id ||{},q:{projects_id_eq: @project_id  },pt_extendable_id: params[:pt_extendable_id], asociated: params[:asociated]), class: 'btn btn-default' %>
<%end%>
