<%= main_title(t("action.newa", model: Meeting.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form' %>
  </div>
</div>

<%= link_to( t('action.back'),meetings_path(derivaties: params[:derivaties],pt_extendable_id: params[:pt_extendable_id], asociated: params[:asociated],project_id: params[:project_id] || @meeting.project_id), class: 'btn btn-default') %>