<%= main_title(t("action.show", model: Meeting.model_name.human)) %>

<%=render "show"%>
<% unless request.xhr? %>
<%= link_to( t('action.back'),meetings_path(project_id: params[:project_id]), class: 'btn btn-default') %>
<%= button_to_edit(@meeting) %>
<% end %>