<tr id="<%= dom_id(rt_project_publishing) %>" >  
  <% Rt::ProjectPublishing.main_columns.each do |attr_name| %>
    <td class="<%= rt_project_publishing.req_status if attr_name.to_s=="get_status" %>"><%= show_attr(rt_project_publishing, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">        
    <% if rt_project_publishing.approved? || rt_project_publishing.rejected? %>
        <%= link_to_show(rt_project_publishing, path: "rt_project_publishing_path") %>
        <% if rt_project_publishing.rejected? %>
            <%= link_to_undo_rejection(rt_project_publishing,  path: "undo_rejection_request_form_rt_project_publishing_path") %>
        <% else %>
            <%= link_to_process(rt_project_publishing,  path: "process_request_form_rt_project_publishing_path") %>
        <% end %>
    <% else %>
        <%= link_to_process(rt_project_publishing,  path: "process_request_form_rt_project_publishing_path") %>
    <% end %>
  </td>
</tr>

