<div class="index-panel row well">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-6">
				<label class='vol_filter_label'><%=t('request_data')%></label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4" style="margin-right: 2rem">
				<div class="row">
					<%= text_field_tag :enter_text, params['enter_text'] ,placeholder: t('volunteer_filter.input_text'), class: 'form-control col' %>
					<div class="tooltip col">
						<%=fa_icon "question-circle" ,class: "fa-1x"%>
						<span class="tooltiptext"><%=model_class.tooltip%></span>
					</div>
				</div>
			</div>
			<div class="col-md-2">
                <%= select_tag :search_entity, options_for_select(@hash_entities||{}, params["search_entity"]), include_blank: t('entity'),
                class: 'form-control', 
                id:'search_entity-select' %>
			</div>  
			<div id="statuses" class="col-12 col-md-3 text-right" >
				<div class="row">
					<div class="col-12 col-md-3">
						<%= content_tag :label, t('states'), class: 'control-label' %>
					</div>
					<div class="col-12 col-md-9">
						<%= content_tag :ul do %>
							<% RequestForm.statuses.keys.select{|x| x.to_s != "appointed"}.each do |status| %>
								<%= content_tag :li, class: "status-list #{status}" do %>
									<%= label_tag status, RequestForm.statuses_i18n[status], class: 'boolean' %>
									<%= check_box_filter_other_for("search_#{status}",params) %>
								<%end%>
							<% end %>
		              	<% end %>
					</div>	
				</div>  
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<div class="col-12 col-md-3">
					<%= content_tag :label, t('subscribes_date'), class: 'control-label', style: "margin-top: 3rem;" %>
				</div>
				<div class="col-12 col-md-6">
					<%= simple_form_for(:search) do |f|%>
						<div class="row">
							<div class="col-sm-6">
								<%= content_tag :label, t('desde'), class: 'control-label' %>
								<%= f.input :start_date,as: :string, label: false, input_html:  {type: "date", value: params.permit!["search_start_date"]}%>
							</div>
							<div class="col-sm-6">
								<%= content_tag :label, t('hasta'), class: 'control-label'%>
								<%= f.input :end_date, as: :string, label: false, input_html:  {type: "date", value: params.permit!["search_end_date"]}%>
							</div>
						</div>					
					<%end%>	
				</div>
				<div class="row">
					<label id="warningLabelFecha"><%=t('warning_label_fecha')%></label>
					<label id="warningLabelFechaFormat"><%=t('warning_label_fecha_desde_format')%></label>
					<label id="warningLabelFechaFormat2"><%=t('warning_label_fecha_hasta_format')%></label>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 text-right" style= "margin-top: 3rem;">
				<button type="button" name="button" class="btn btn-primary" id="buttonSearchProjectPublishClean" ><%= t('reset_search') %></button>
      			<button type="button" name="button" id="buttonSearchProjectPublish" class="btn btn-success" class="btn btn-default"><%= t('search') %></button>
    		</div>
		</div>
	</div>
</div>
<script>
function push_enter(event){
    search_enter(event,search_js_rt_project_publish);
}

    //$(document).on('keypress', push_enter);
    
    $('#buttonSearchProjectPublish').on('click', function() {
        search_js_rt_project_publish();
    });

    $('#buttonSearchProjectPublishClean').on('click', function() {
      $(location).attr('href', "<%=rt_project_publishings_path%>");
    });

    $('#pages-select').on('change', function() {
        search_js_rt_project_publish();
    });

    $('#enter_text').on('keyup', function() {
        correct_string($('#enter_text'));
    });

   
</script>

 	




 	