<% entity = request.entity %>

<dl class="dl-horizontal">
  <dt><%= Rt::ProjectPublishing.human_attribute_name(:entity_name) %>:</dt> 
  <dd><%= entity.name unless entity.blank? %></dd>
  <dt><%= Entity.human_attribute_name(:phone_number) %>:</dt>
  <dd><%= entity.phone_number unless entity.blank? %></dd>
  <dt><%= Entity.human_attribute_name(:email) %>:</dt>
  <dd><%= entity.email unless entity.blank? %></dd>
  <dt><%= Rt::ProjectPublishing.human_attribute_name(:notes) %>:</dt>
  <dd><%= request.notes %></dd>
  <dt><%= Rt::ProjectPublishing.human_attribute_name(:description) %>:</dt>
  <dd><%= request.description %></dd>
  
  <dt><%= t('activerecord.attributes.volunteer.address_id') %>:</dt>
  <dd><%=request.address%>
  </dd>
</dl>