<%= main_title(t("action.show", model: Rt::ProjectPublishing.model_name.human)) %>

<%=render partial: 'rt/show_full',locals: {ruta: 'rt/project_publishings/show', request: @rt_project_publishing}%>
<% unless request.xhr? %>
    <%= link_to( t('action.back'),rt_project_publishings_path, class: 'btn btn-default') %>
<% end %>