swal({width: "75%", 
title: '<%= main_title(t("action.show", model: Rt::ProjectPublishing.model_name.human)) %>',
html: '<%= j (render partial: 'rt/show_full',locals: {ruta: 'rt/project_publishings/show', request: @rt_project_publishing}) %>'})