<tr id="<%= dom_id(rt_activity_publishing) %>" >
    <% Rt::ActivityPublishing.main_columns.each do |attr_name| %>
        <td class="<%= rt_activity_publishing.req_status if attr_name.to_s=="get_status" %>"><%= show_attr(rt_activity_publishing, attr_name) %></td>
    <% end %>

    <td class="index_table-actions">
      <% if rt_activity_publishing.approved? || rt_activity_publishing.rejected? %>
            <%= link_to_show(rt_activity_publishing,path: "rt_activity_publishing_path") %>
            <% if rt_activity_publishing.rejected? %>
                <%= link_to_undo_rejection(rt_activity_publishing, path: "undo_rejection_request_form_rt_activity_publishing_path") %>
            <% else %>
                <%= link_to_process(rt_activity_publishing, path: "process_request_form_rt_activity_publishing_path") %>
            <% end %>
        <% else %>
            <%= link_to_process(rt_activity_publishing, path: "process_request_form_rt_activity_publishing_path") %>
        <% end %>
    </td>
</tr>
