<% entity =request.entity %>

<dl class="dl-horizontal">
  <dt><%= Rt::ActivityPublishing.human_attribute_name(:name_entity) %>:</dt>
  <dd><%= entity.name unless  entity.blank? %></dd>
  <dt><%= Entity.human_attribute_name(:phone_number) %>:</dt>
  <dd><%= entity.phone_number unless entity.blank? %></dd>
  <dt><%= Entity.human_attribute_name(:email) %>:</dt>
  <dd><%= entity.email unless  entity.blank?%></dd>
  <dt><%= Rt::ActivityPublishing.human_attribute_name(:name) %>:</dt>
  <dd><%=request.name %></dd>
  <dt><%= Rt::ActivityPublishing.human_attribute_name(:description) %>:</dt>
  <dd><%=request.description %></dd>
  <dt><%= Rt::ActivityPublishing.human_attribute_name(:organizer) %>:</dt>
  <dd><%=request.organizer %></dd>  
  <dt><%= Rt::ActivityPublishing.human_attribute_name(:dates_text_free) %>:</dt>
  <dd><%=request.dates_text_free %></dd>
  <dt><%= Rt::ActivityPublishing.human_attribute_name(:hours_text_free) %>:</dt>
  <dd><%=request.hours_text_free %></dd>
  <dt><%= Rt::ActivityPublishing.human_attribute_name(:places_text_free) %>:</dt>
  <dd><%=request.places_text_free %></dd>
</dl>