swal({width: "75%", 
title: '<%= main_title(t("action.show", model: Rt::ActivityPublishing.model_name.human)) %>',
html: '<%= j (render partial: 'rt/show_full',locals: {ruta: 'rt/activity_publishings/show', request: @rt_activity_publishing}) %>'})