<%= main_title(t("action.show", model: Rt::ActivityPublishing.model_name.human)) %>

<%=render partial: "rt/show_full",locals: {ruta: 'rt/activity_publishings/show',request: @rt_activity_publishing}%>
<% unless request.xhr? %>
    <%= link_to( t('action.back'), rt_activity_publishings_path, class: 'btn btn-default') %>
<% end %>