<div class="well">
  <%= simple_form_for(@massive_email_historic, default_form_options) do |f| %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
</div>