<tr id="<%= dom_id(massive_email_historic) %>" >

  <% massive_email_historic.main_attributes.each do |attr_name| %>
  <td><%= show_attr(massive_email_historic, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(massive_email_historic) %>
    <%= link_to_edit(massive_email_historic) %>
<% if massive_email_historic.try(:archived?) %>
    <%= link_to_recover(massive_email_historic) %>
<% else %>
    <%= link_to_destroy(massive_email_historic) %>
<% end %>
  </td>
</tr>
