<%= main_title(t("action.show", model: MassiveEmailHistoric.model_name.human)) %>


<div class="index-panel row well">
  <div class="col-md-12 col-center">
    <h2><strong><%= MassiveEmailHistoric.human_attribute_name(:data_title) %>:</strong> <%= @massive_email_historic.id %></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt><%= MassiveEmailHistoric.human_attribute_name(:manager_name) %>:</dt>
      <dd><%= @massive_email_historic.try(:manager_name)%></dd>
    </dl>
  </div>
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt><%= MassiveEmailHistoric.human_attribute_name(:created_at) %>:</dt>
      <dd><%= show_simple_date(@massive_email_historic.try(:created_at))%></dd>
    </dl>
  </div>
</div>
<div class="index-panel row well">
  <div class="col-md-12 col-center">
    <h2><strong><%= MassiveEmailHistoric.human_attribute_name(:data_log) %></strong></h2>
  </div>
</div>
<div class="row" style="margin: 0px 6px;">
  <div class="col-md-12 col-center" >
    <%=@massive_email_historic.try(:log).try {|x| x.html_safe}%>
  </div>
</div>

<%= link_to( t('action.back'),massive_email_volunteers_path, class: 'btn btn-default') %>