<tr id="<%= dom_id(digital_faq) %>" >
  <% Digital::Faq.main_columns.each do |attr_name| %>
    <td><%= attr_name.to_s=="description" && !show_attr(digital_faq, attr_name).blank? ? Nokogiri::HTML(show_attr(digital_faq, attr_name)).text  : show_attr(digital_faq, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(digital_faq, path: "digital_faq_path") %>
    <%= link_to_edit(digital_faq, path: "edit_digital_faq_path") %>
    <% if digital_faq.try(:archived?) %>
        <%= link_to_recover(digital_faq, path: "recover_digital_faq_path") %>
    <% else %>
        <%= link_to_destroy(digital_faq, path: "digital_faq_path") %>
    <% end %>
  </td>
</tr>
