<%= simple_form_for(@digital_faq, as: :digital_faq,method: method, url: path) do |f| %>
  <div class="form-inputs row">
    <div class="col-md-6">
      <%= f.input :title %>
    </div>
  </div>
  <div class="form-inputs row">
    <div class="col-md-12">
      <%=f.label :description%>
      <%= f.text_area :description , class: "ckeditor" %>
    </div>
  </div>
  <div class="form-inputs row" style="margin-top: 2rem">
    <div class="col-md-6">
      <%= f.association :project,:collection => @projects_permited, input_html: {value: f.object.project_id || params[:project_id]}%>
    </div>
    <div class="col-md-3">
      <%= f.input :active %>
    </div>
     <div class="col-md-3">
      <%= f.input :order %>
    </div>
  </div>

  <div class="form-actions row">
    <div class="col-md-12">
      <%= f.button :submit, class: "btn btn-success" %>
    </div>
  </div>
<% end %>