<div class="container-fluid">
  <%=form_tag(digital_faqs_path, method: "get")  do %>
    <div class="row">
      <div class="col-md-12">
        <h2><%= t('search_filter')%></h2>
      </div>
    </div>
    <div class="index-panel row well"> 
      <div class="col-md-4">
        <%= label_tag :search_project, "Selecciona el proyecto"%>
        <%= select_tag :search_project, options_for_select(@projects_permited||{},params["search_project"]), include_blank: "", class: 'form-control'%>
      </div>
      <div class="col-md-4">
        <%=button_tag type: "submit", class: "btn btn-success ", style: "margin-top: 2rem;" do %>
         <%="#{fa_icon "search" ,class: "fa-1x"} Aplicar proyecto".html_safe%>
         <%end%>
      </div>
    </div>

    <%if !params[:search_project].blank?%>
      <div class="index-panel row well">        
        <div class="col-md-4">
          <%= label_tag :search_text, "Introducir texto"%>
          <div class="tooltip col"><%=fa_icon "question-circle" ,class: "fa-1x"%><span class="tooltiptext"><%=model_class.tooltip%></span></div>    
          <%= text_field_tag :search_text,params[:search_text], class: 'form-control'%>
        </div>
        <div class="col-md-3">
          <%= label_tag :search_status, "Estado de la pregunta"%>
          <%= select_tag :search_status, options_for_select({ t('area_filter.active') => true, t('area_filter.inactive') => false } ||{},params["search_status"]), include_blank: t('all'),class: 'form-control' %>
        </div>
        <div class="col-md-5" style="text-align: right;">
          <%=link_to "#{fa_icon "eraser" ,class: "fa-1x"} Limpiar búsqueda".html_safe, digital_faqs_path(search_project: params[:search_project]), class: "btn btn-primary", style: "margin-top: 2rem;"  %>
          <%=button_tag type: "submit",  class: "btn btn-success ", style: "margin-top: 2rem;" do  %>
            <%="#{fa_icon "search" ,class: "fa-1x"} Buscar".html_safe%>
          <%end%>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= content_tag(:div, link_to_new(model_class, path: "new_digital_faq_path",path_params: {project_id: params[:search_project]}), class: 'pull-left')%>
        </div>
      </div>
      <%= render partial: "shared/count", locals: {count: @faqs.count , model_class:  @model_class, csv_enable: true, url: digital_faqs_path({format: "csv"}.merge!(params.permit!)) } %>
    <%end%>
  <%end%>
</div>