<dl class="dl-horizontal">
  <dt><%= Digital::Faq.human_attribute_name(:id) %>:</dt>
  <dd><%= @digital_faq.id %></dd>
  <dt><%= Digital::Faq.human_attribute_name(:order) %>:</dt>
  <dd><%= @digital_faq.order %></dd>
  <dt><%= Digital::Faq.human_attribute_name(:title) %>:</dt>
  <dd><%= @digital_faq.title %></dd>
  <dt><%= Digital::Faq.human_attribute_name(:description) %>:</dt>
  <dd><%= Nokogiri::HTML(@digital_faq.description).text if !@digital_faq.description.blank? %></dd>
  <dt><%= Digital::Faq.human_attribute_name(:active) %>:</dt>
  <dd><%= t("humanize.#{@digital_faq.active}") %></dd>
  <dt><%= Digital::Faq.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@digital_faq.created_at) %></dd>
</dl>