<%= main_title(t("action.edit", model: Digital::Faq.model_name.human)) %>

<div class="row well">
  <div class="col-md-12">
    <%= render 'form', method: :put, path: digital_faq_path(@digital_faq) %>
  </div>
</div>

<%=render partial: "common/button_back", locals: {path: digital_faqs_path(search_project: @digital_faq.project_id), method: :get}%>
