<%= main_title(t("action.new", model: Digital::Faq.model_name.human)) %>

<div class="row well">
  <div class="col-md-12">
    <%= render 'form', method: :post, path: digital_faqs_path %>
  </div>
</div>

<%=render partial: "common/button_back", locals: {path: digital_faqs_path(search_project: params[:project_id]), method: :get}%>
