<div class="well">
  <%= simple_form_for(@service_question, as: :service_question,method: method, url: path) do |f| %>

    <div class="form-inputs">
      <%= f.input :description %>
      <%= label_tag ServiceQuestion.human_attribute_name(:question_type), nil, class: 'col-sm-5 control-label select required' %>
      <%= f.select :question_type,options_for_select({ t('service_question_filter.boolean') => "boolean", t('service_question_filter.string') => "string" } ||{},f.object.question_type)  %>
      <%= f.input :active %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>