<tr id="<%= dom_id(service_question) %>" >

  <% ServiceQuestion.main_columns.each do |attr_name| %>
    <td><%= show_attr(service_question, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(service_question, path: "administration_catalogue_service_question_path") %>
    <%= link_to_edit(service_question, path: "edit_administration_catalogue_service_question_path") %>
<% if service_question.try(:archived?) %>
    <%= link_to_recover(service_question, path: "recover_administration_catalogue_service_question_path") %>
<% else %>
    <%= link_to_destroy(service_question, path: "administration_catalogue_service_question_path") %>
<% end %>
  </td>
</tr>
