<dl class="dl-horizontal">

  <dt><%= ServiceQuestion.human_attribute_name(:id) %>:</dt>
  <dd><%= @service_question.id %></dd>
  <dt><%= ServiceQuestion.human_attribute_name(:description) %>:</dt>
  <dd><%= @service_question.description %></dd>
  <dt><%= ServiceQuestion.human_attribute_name(:question_type) %>:</dt>
  <dd><%= t("service_question_filter.#{@service_question.question_type}") %></dd>
  <dt><%= ServiceQuestion.human_attribute_name(:active) %>:</dt>
  <dd><%= t("humanize.#{@service_question.active}") %></dd>
  <dt><%= ServiceQuestion.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@service_question.created_at) %></dd>

</dl>