<%= main_title(t("action.edit", model: ServiceQuestion.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :put, path: administration_catalogue_service_question_path(@service_question) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_service_questions_path, class: 'btn btn-default') %>