
<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: "search", locals: {collection: @service_questions, model_class: @model_class} %>
<%= render partial: "common/generic_table", locals: {search: @search_q,collection: @service_questions, model_class: @model_class, partial: 'service_question' } %>
<%= render partial: "shared/pagination", locals: {collection: @service_questions, urlchange: "search_js_service_question()"} %>
<%=render partial: "common/button_back", locals: {path: maintenance_path, method: :get}%>
