<%= main_title(t("action.show", model: ServiceQuestion.model_name.human)) %>

<%=render "show"%>
<% unless request.xhr? %>
<%= link_to( t('action.back'),administration_catalogue_service_questions_path, class: 'btn btn-default') %>
<% end %>