
<%= fields_for (!@citizen_service.blank? ? @citizen_service : CitizenService.new) do |f|  %>
    <div class="row" style="margin-top: 2rem">
        <div class="col-md-6">
            <%= f.label :district_id, class: "col-sm-5 control-label select optional" %>
            <div class="col-sm-7">
                <%= f.select :district_id, options_for_select(@districts, (defined?(address_data[:district_id]) && !address_data[:district_id].blank?) ? address_data[:district_id] : f.object.district_id), {}, { onchange: "ChangeBorought('#{params[:action]}')", class: "form-control select optional"}%>
            </div>
        </div>
        <div id="recarga-borought">
            <div class="col-md-6">
                <%= f.label :borought_id, class: "col-sm-5 control-label select optional" %>
                <div class="col-sm-7">
                    <%= f.select :borought_id, options_for_select(getBoroughts(params.permit![:district_id] || f.object.district_id), (defined?(address_data[:borought_id]) && !address_data[:borought_id].blank?) ? address_data[:borought_id] : f.object.borought_id), {}, { class: "form-control select optional"}%>
                </div>
            </div>
        </div>
        <% if ["edit","update"].include?(params.permit![:action]) %>
            <div class="col-md-6">
                <%= f.label :status, class: "col-sm-5 control-label select optional" %>
                <div class="col-sm-7">
                    <%= f.select :status, options_for_select(@status_selector, f.object.status), {}, { class: "form-control select optional"}%>
                </div>
            </div>
        <% end %>
    </div>
<% end %>