

<div class="row well">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
               <%= f.label :citizen_id, "<abbr title=\"Obligatorio\">*</abbr> Ciudadano".html_safe, class: "col-sm-5 control-label select required" %>
              
                    <%if @citizen_service.try(:id).blank?%>
                    <div class="col-sm-7">
                        <%= f.collection_select :citizen_id, (defined?(citizens) && citizens.present? ? citizens.order(:id) : Citizen.all_active.order(:id)), :id, :select_text, {}, {class: "form-control select required js-example-basic-single" }%>
                    </div>
                    <%elsif  !@citizen_service.citizen.blank?%>
                        <%=@citizen_service.citizen%>
                    <%end%>
            </div>
        </div>

        <div class="row" style="margin-top: 2rem">
            <div class="col-md-6" >                   
                <%=f.input :service_id, collection: @services,as: :select,:include_blank => ""%>                       
            </div>
        </div>
            
        <div class="row" style="margin-top: 1rem">
            <div class="col-md-6">
                <%= f.input :date_request,as: :string, input_html: {type: "date"} %>
            </div>
            <div class="col-md-6">
                <div class="form-group string optional">
                    <div class="col-sm-5 control-label string optional">
                        <%=f.label :hour_request%>
                    </div>
                    <div class="col-sm-7">
                        <%= f.time_field :hour_request, :value =>f.object.hour_request%>
                    </div>
                </div>
            </div>
        </div>
        <div class="citizen_address_content">
            <%= render 'citizen_services/partials_form/address_content', f: f %>
        </div>
        <% if ["edit","update"].include?(params.permit![:action]) && f.object.volunteer_id.blank? %>
            <div class="row" style="margin-top: 1rem">
                <div class="col-md-6">
                    <%= f.input :date_accept_request,as: :string, input_html: {type: "date"} %> 
                </div>
                <div class="col-md-6">
                    <div class="form-group string optional">
                        <div class="col-sm-5 control-label string optional">
                            <%=f.label :hour_accept_request%>
                        </div>
                        <div class="col-sm-7">
                            <%= f.time_field :hour_accept_request, :value =>f.object.hour_accept_request%>
                        </div>
                    </div>
                </div>            
            </div>
        <% end %>
        <div class="row"  style="margin-top: 2rem">
            <div class="col-md-12" style="margin-top: 1rem">
                <%= f.label :place, t('citizen_service_filter.field_place') %>
                <%= f.input :place, as: :text, label: false,input_html: {maxlength: 150, value: f.object.place||t('citizen_services.place_text_optional')} , style:"margin-top:1rem"%>
            </div>
        </div>
        <p class="count-place"></p>
        <div class="row"  style="margin-top: 2rem">
            <div class="col-md-12" style="margin-top: 1rem">
                <%= f.label :additional_data, t('citizen_service_filter.field_indications') %>
                <%= f.input :additional_data, as: :text, label: false, input_html: {maxlength: 150, value: f.object.additional_data}, style:"margin-top:1rem"%>
            </div>
        </div>    
        <p class="count-additional_data"></p>    
    </div>
</div>

<script type="text/javascript"> 

    $(".count-place")[0].innerText = 150 - $("#citizen_service_place").val().length +" caracteres restantes"


    $("#citizen_service_place").keyup(function(){
        let count = 150 - $(this).val().length
        if (count == 1) {
            $(".count-place")[0].innerText = count +" caracter restante"
        } else {
            $(".count-place")[0].innerText = count +" caracteres restantes"
        }
    })

    $(".count-additional_data")[0].innerText = 150 - $("#citizen_service_additional_data").val().length +" caracteres restantes"


    $("#citizen_service_additional_data").keyup(function(){
        let count = 150 - $(this).val().length
        if (count == 1) {
            $(".count-additional_data")[0].innerText = count +" caracter restante"
        } else {
            $(".count-additional_data")[0].innerText = count +" caracteres restantes"
        }
    })
</script>