
<div class="row" style="margin-top: 1rem">
    <%= fields_for (CitizenService.new) do |f| %>
        <div class="form-inputs">
            <div class="col-md-6" >
                <div class="form-group select required citizen_service_citizen row">
                    <%= f.label :citizen_id, "<abbr title=\"Obligatorio\">*</abbr> Ciudadano".html_safe, class: "col-sm-5 control-label select required" %>
              
                    <%if @citizen_service.try(:id).blank?%>
                    <div class="col-sm-7">
                        <%= f.collection_select :citizen_id, (defined?(citizens) && citizens.present? ? citizens.order(:id) : Citizen.all_active.order(:id)), :id, :select_text, {}, {class: "form-control select required js-example-basic-single" }%>
                    </div>
                    <%elsif  !@citizen_service.citizen.blank?%>
                        <%=@citizen_service.citizen%>
                    <%end%>
                </div>
            </div>
            
        </div>
    <% end %>
</div>

<script type="text/javascript">
    // $("#citizen_service_citizen_id").change(function(){
    //     console.log()
    //     search_generic_specific()
    //     $.ajax({
    //         url:"/citizen_services/search_district?citizen_id="+$(this).val()
    //     });
    // });

    // $('#citizen_service_citizen_id').select2();
</script>