
<tr id="<%= dom_id(citizen) %>" style="<%=color_background(citizen)%>">
  <% Citizen.main_columns.each do |attr_name| %>
    <td><%= show_attr(citizen, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_services(citizen, path: "citizen_citizen_services_path") %>
    <%= link_to_show(citizen, path: "citizen_path") %>
    <%= link_to_edit(citizen, path: "edit_citizen_path") %>
    <%= link_to_password_citizen(citizen) %>
    <%= link_to_trackings_citizen(citizen, "citizen", {path_params: {citizen_id: citizen.id }}) %> 
    
    <% if citizen.try(:archived?) %>
      <%= link_to_recover(citizen, path: "recover_citizen_path") %>
    <% else %>
      <%= link_to_destroy(citizen, path: "citizen_path") %>
    <% end %>
  </td>
</tr>
