
<%= hidden_field_tag :citizen, @citizen.id %>
<%= hidden_field_tag :type, 'Citizen' %>
<div class="row" style="width: 500px">
    <div class="col-sm-12">
        <%= form_for @citizen, url: update_password_citizen_path(@citizen), method: :get do |f| %>
        	<% if @phone.blank? && @citizen.email.blank?%>
        		<h3>No es posible realizar esta acción. <br> Introduzca un teléfono o email antes de realizar esta acción</h3>
        	<%else%>
                <meta name="password_text" content="<%=  @pass.to_s %>" />
        		<!--<input id="generatePasswordButton" type="button" value= 'Generar password' style="margin:5px;">-->
            	<p id="message" class= "form-control"></p>
                <%= hidden_field_tag "sender", Rails.application.secrets.default_email_sender, placeholder: t('send_mail.sender'), class: 'col-md-8' %>
                <%= hidden_field_tag "cadena_aleatoria", "" %>
                <%= hidden_field_tag "citizen", @citizen.id %>
                <br>
        		<% if !@phone.blank? && !@citizen.email.blank?%>
            		<label style="margin-right: 5px;">Email: </label><%= @citizen.email%>
                    <br>
                    <label style="margin-right: 5px;">Teléfono móvil: </label><%= @phone %></p>
                    <br>
                    <%= hidden_field_tag "phone_int", @phone %>
                    
                    <%= hidden_field_tag "email_int", @citizen.email %>
                    <%= check_box_tag 'send_mail', 'send_mail', true%>
                    <label style='font-weight: normal;'>
                        <%= t('change_password.send_mail') %>
                    </label>
                    <%= check_box_tag 'send_sms', 'send_sms', true %>

                    <label style='font-weight: normal;'>
                        <%= t('change_password.send_sms') %>
                    </label>
        		<% elsif @citizen.email.blank?  %>
                    <%= hidden_field_tag "send_mail", 'false' %>
                    <%= hidden_field_tag "send_sms", 'true' %>
                    <%= hidden_field_tag "email_int", '' %>
                    <%= hidden_field_tag "msg_seg", t('regenerate_pass') %>
                    <%= hidden_field_tag "phone_int", @phone %>
        			<label style="margin-right: 5px;">Teléfono móvil: </label><%= @phone %>
                    <br>
        		<% elsif !@citizen.email.blank?%>
                    <%= hidden_field_tag "send_mail", 'true' %>
                    <%= hidden_field_tag "send_sms", 'false' %>
                    <%= hidden_field_tag "phone_int", '' %>
                    <%= hidden_field_tag "msg_seg", t('regenerate_pass') %>
                    <%= hidden_field_tag "email_int", @citizen.email %>
        			<label style="margin-right: 5px;">Email: </label><%= @citizen.email %>
                    <br>
                <% else %>
                    <h3>No es posible realizar esta acción. <br> Introduzca un teléfono o email antes de realizar esta acción</h3>
        		<% end %>
        	<% end %>
    	<% end %>
    </div>
</div>



