<div class="well-form">
  <%= simple_nested_form_for(@citizen, default_form_options) do |f| %>
    <%= show_simple_base_errors(f) %>
    <div class="form-inputs">
      <%= render partial: "citizens/partials_form/commun_data", locals: {f: f } %>
    </div>
    <div class="row form-actions" style="margin-left:5px">
      <%= f.button :submit, class: 'btn btn-success js-confirmable', id: 'submit' %>
      <% if !@citizen.id.blank? && !@citizen.document.blank? && !@citizen.document_type.blank?%>
        <%= button_tag  t('citizen_filter.field_update_padron'), id: 'padron_button',value: "padron", type: "submit", class: 'btn btn-primary' %>        
      <%elsif @citizen.document.blank? || @citizen.document_type.blank?%>
        <p>Se necesitan los datos de "Documento" y de "Tipo de documento" para usar Padrón</p>
      <%else%>
        <p>Se necesita crear la instancia para poder cargar datos de Padrón</p>
      <%end%>
    </div>
  <% end %>
</div>  