<div class="row">
  <div class="col-md-12">
    <h2><%= t('search_filter')%></h2>
  </div>
</div>

<div class="index-panel row well">  
  <div class="col-md-12">
    <div class="row">
      <%= content_tag :label, t('citizen_filter.data'), class: 'col-sm-9 control-label' %>
    </div>
    <div class="row" style="margin-top: 10px">
        <%= text_field_tag :search_id, params["search_id"], placeholder: t('citizen_filter.field_id'), class: 'form-control col-md-2', style: 'width: 50px;margin:0px 2px;'%>
        <div class="col-md-2" style= 'width: 191px; margin:0px 2px;'>
          <div class="row">
            <%= text_field_tag :enter_text, params['enter_text'] ,placeholder: t('volunteer_filter.input_text'), class: 'form-control col' %>
            <div class="tooltip col">
              <%=fa_icon "question-circle" ,class: "fa-1x"%>
              <span class="tooltiptext"><%=model_class.tooltip%></span>
            </div>
          </div>
        </div>
        <%= text_field_tag :search_nombre, params["search_nombre"] ,placeholder: t('citizen_filter.field_name'), class: 'form-control col-md-2',  style: 'width: 200px; margin:0px 2px;'%>
        <%= text_field_tag :search_apellido1, params["search_apellido1"] ,placeholder: t('citizen_filter.field_apellido1'), class: 'form-control col-md-3',  style: 'width: 200px; margin:0px 2px;'%>
        <%= text_field_tag :search_apellido2, params["search_apellido2"] ,placeholder: t('citizen_filter.field_apellido2'), class: 'form-control col-md-3',  style: 'width: 200px; margin:0px 2px;'%>
    </div>
     <div class="row" style="margin-top: 10px">
      <label class="warningFilter" id="warning_id"><%=t('warningNumber')%></label>
    </div>

    <div class="row" style="margin-top: 10px">
      <div class="col-sm-2"></div>
      <%= content_tag :label, t('desde'), class: 'col-sm-2  control-label', style: "width: 180px;" %>
      <%= content_tag :label, t('hasta'), class: 'col-sm-2  control-label', style: "width: 180px; margin-left: -70px;" %>
      <div class="col-sm-1"></div>
      <%= content_tag :label, t('desde'), class: 'col-sm-2  control-label', style: 'width: 75px;' %>
      <%= content_tag :label, t('hasta'), class: 'col-sm-2  control-label', style: 'width: 75px; margin: 0px 25px;' %>
    </div>
    <div class="row" style="margin-top: 10px">
      <%= content_tag :label, t('citizen_filter.field_services'), class: 'col-sm-2 control-label', style: "margin-top: 7px;" %>
      <div class="col-sm-2" style="width: 75px;">
          <%= text_field_tag :search_services_start, params["search_services_start"], class: 'form-control', style: 'width: 75px'%>
      </div>
      <div class="col-sm-2" style="width: 75px;">
        <%= text_field_tag :search_services_end, params["search_services_end"], class: 'form-control', style: 'width: 75px; margin:0px 25px;'%>
      </div>
       <%= content_tag :label,  t('citizen_filter.field_services_f'), class: 'col-sm-2 control-label', style: "margin-left: 50px;" %>
      <div class="col-sm-2" style="width: 75px;">
          <%= text_field_tag :search_services_f_start, params["search_services_f_start"], class: 'form-control', style: 'width: 75px'%>
      </div>
      <div class="col-sm-2" style="width: 75px;">
        <%= text_field_tag :search_services_f_end, params["search_services_f_end"], class: 'form-control', style: 'width: 75px; margin:0px 25px;'%>
      </div>
    </div>
    <div class="row" style="margin-top: 10px">
      <label class="warningFilter" id="warning_age"><%=t('warningNumber')%></label>
      <label class="warningFilter" id="warningLabelEdad"><%=t('warning_label_range')%></label>
    </div>

    <div class="row" style="margin-top: 10px">
      <div class="col-sm-2"></div>
      <%= content_tag :label, t('desde'), class: 'col-sm-2  control-label', style: "width: 180px;" %>
      <%= content_tag :label, t('hasta'), class: 'col-sm-2  control-label', style: "width: 180px; margin-left: -70px;" %>
      <div class="col-sm-1"></div>
      <%= content_tag :label, t('desde'), class: 'col-sm-2  control-label', style: 'width: 75px;' %>
      <%= content_tag :label, t('hasta'), class: 'col-sm-2  control-label', style: 'width: 75px; margin: 0px 25px;' %>
    </div>
    <div class="row" style="margin-top: 10px">
      <%= content_tag :label, t('citizen_filter.field_services_a'), class: 'col-sm-2 control-label', style: "margin-top: 7px;" %>
      <div class="col-sm-2" style="width: 75px;">
          <%= text_field_tag :search_services_a_start, params["search_services_a_start"], class: 'form-control', style: 'width: 75px'%>
      </div>
      <div class="col-sm-2" style="width: 75px;">
        <%= text_field_tag :search_services_a_end, params["search_services_a_end"], class: 'form-control', style: 'width: 75px; margin:0px 25px;'%>
      </div>
       <%= content_tag :label,  t('citizen_filter.field_services_p'), class: 'col-sm-2 control-label', style: "margin-left: 50px;" %>
      <div class="col-sm-2" style="width: 75px;">
          <%= text_field_tag :search_services_p_start, params["search_services_p_start"], class: 'form-control', style: 'width: 75px'%>
      </div>
      <div class="col-sm-2" style="width: 75px;">
        <%= text_field_tag :search_services_p_end, params["search_services_p_end"], class: 'form-control', style: 'width: 75px; margin:0px 25px;'%>
      </div>
    </div>
    <div class="row" style="margin-top: 10px">
      <label class="warningFilter" id="warning_age1"><%=t('warningNumber')%></label>
      <label class="warningFilter" id="warningLabelEdad1"><%=t('warning_label_range')%></label>
    </div>

    <div class="row" style="margin-top: 10px">
      <div class="col-sm-2"></div>
      <%= content_tag :label, t('desde'), class: 'col-sm-2  control-label', style: "width: 180px;" %>
      <%= content_tag :label, t('hasta'), class: 'col-sm-2  control-label', style: "width: 180px; margin-left: -70px;" %>
    </div>
    <div class="row" style="margin-top: 10px">
      <%= content_tag :label, t('citizen_filter.field_age'), class: 'col-sm-2 control-label', style: "margin-top: 7px;" %>
      <div class="col-sm-2" style="width: 75px;">
          <%= text_field_tag :search_age_start, params["search_age_start"], class: 'form-control', style: 'width: 75px'%>
      </div>
      <div class="col-sm-2" style="width: 75px;">
        <%= text_field_tag :search_age_end, params["search_age_end"], class: 'form-control', style: 'width: 75px; margin:0px 25px;'%>
      </div>      
    </div>
    <div class="row" style="margin-top: 10px">
      <label class="warningFilter" id="warning_age2"><%=t('warningNumber')%></label>
      <label class="warningFilter" id="warningLabelEdad2"><%=t('warning_label_range')%></label>
    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col-sm-3">
        <%= content_tag :label, t('citizen_filter.field_service_type'), class: 'control-label'%>
        <%= select_tag :search_service_type, options_for_select(@hash_service_type||{},params['search_service_type'].blank? ? "" : params['search_service_type'].split(',')),
          class:     'form-control',
          multiple:  true,
          id:        'search_service_type-select',
          style:     'height:150px; width:300px' %>
      </div>
      <div class="col-sm-2">
        <%= content_tag :label, t('citizen_filter.field_gender'), class: 'control-label' %>
        <%= select_tag :search_gender, options_for_select(@hash_gender_type||{},params['search_gender']),
            class:     'form-control',
            id:        'search_gender-select',
            style:     'width:150px' %>
      </div>
      <div class="col-sm-4">
        <%= content_tag :label, t('citizen_filter.field_other_option'), class: 'control-label' %>
        <%= select_tag :search_other_option, options_for_select(@hash_other_option||{},params['search_other_option']),
            class:     'form-control',
            id:        'search_other_option-select',
            style:     'width:300px' %>
      </div>
      <div class="col-sm-3">
        <%= content_tag :label, t('citizen_filter.field_district'), class: 'control-label' %>
        <%= select_tag :search_district, options_for_select(@hash_districts||{},params['search_district'].blank? ? "" : params['search_district'].split(',')),
            class:     'form-control',
             multiple:  true,
            id:        'search_district-select',
            style:     'height:150px; width:300px' %>
      </div>
    </div>
  </div>
  
  <div class="col-sm-12 text-right" style="margin: 20px 0px 0px 0px;">
    <button  type="button" name="button" class="btn btn-primary" id="buttonCleanCitizen" 
        class="btn btn-default"><%= t('reset_search') %></button>
    <button type="button" name="button" class="btn btn-success" id="buttonSearchCitizen" 
        class="btn btn-default"><%= t('search') %></button>
  </div>
</div> 
<div class="row">
  <div class="col">
    <%= link_to_new(model_class)%> 
    <%= link_to t('action.download_questions'), citizens_path({format: "csv", questions: true}.merge!(params.permit!)), class: "btn btn-primary" %>
    <%= link_to t('action.send_massive_sms'), send_massive_sms_citizens_path(), class: "btn btn-primary" %>
  </div>
</div>
<script>

function push_enter(event){
    search_enter(event,search_js_citizen);
}

$(document).ready(function() {    
    //$(document).on('keypress', push_enter);
    
    $('#buttonSearchCitizen').on('click', function() {
        search_js_citizen();
    });

    $('#buttonCleanCitizen').on('click', function() {
        $(location).attr('href', "<%=citizens_url%>");
    });

    $('#pages-select').on('change', function() {
        search_js_citizen();
    });

    $('#search_id').on('keyup', function() {
        is_number($('#search_id'),  $('warning_id_activity'),'buttonSearchCitizen');
    });

    $('#search_nombre').on('keyup', function() {
        correct_string($('#search_nombre'));
    });

    $('#search_apellido1').on('keyup', function() {
        correct_string($('#search_apellido1'));
    });

    $('#search_apellido2').on('keyup', function() {
        correct_string($('#search_apellido2'));
    });

    $('#search_services_start').on('change', function() {
        valida_date_until($('#search_services_end'), $('this'), $('#warningLabelEdad'),'buttonSearchCitizen');is_number($('this'),$('#warning_age'),'buttonSearchCitizen');
    });

    $('#search_services_end').on('change', function() {
        valida_date_until($('#search_services_start'), $('this'), $('#warningLabelEdad'),'buttonSearchCitizen');is_number($('this'),$('#warning_age'),'buttonSearchCitizen');
    });

    $('#search_services_f_start').on('change', function() {
        valida_date_until($('#search_services_f_end'), $('this'), $('#warningLabelEdad'),'buttonSearchCitizen');is_number($('this'),$('#warning_age'),'buttonSearchCitizen');
    });

    $('#search_services_f_end').on('change', function() {
        valida_date_until($('#search_services_f_start'), $('this'), $('#warningLabelEdad'),'buttonSearchCitizen');is_number($('this'),$('#warning_age'),'buttonSearchCitizen');
    });

    $('#search_services_a_start').on('change', function() {
        valida_date_until($('#search_services_a_end'), $('this'), $('#warningLabelEdad1'),'buttonSearchCitizen');is_number($('this'),$('#warning_age1'),'buttonSearchCitizen');
    });

    $('#search_services_a_end').on('change', function() {
        valida_date_until($('#search_services_a_start'), $('this'), $('#warningLabelEdad1'),'buttonSearchCitizen');is_number($('this'),$('#warning_age1'),'buttonSearchCitizen');
    });

    $('#search_services_p_start').on('change', function() {
        valida_date_until($('#search_services_p_end'), $('this'), $('#warningLabelEdad1'),'buttonSearchCitizen');is_number($('this'),$('#warning_age1'),'buttonSearchCitizen');
    });

    $('#search_services_p_end').on('change', function() {
        valida_date_until($('#search_services_p_start'), $('this'), $('#warningLabelEdad1'),'buttonSearchCitizen');is_number($('this'),$('#warning_age1'),'buttonSearchCitizen');
    });

    $('#search_age_start').on('change', function() {
        valida_date_until($('#search_age_end'), $('this'), $('#warningLabelEdad2'),'buttonSearchCitizen');is_number($('this'),$('#warning_age2'),'buttonSearchCitizen');
    });

    $('#search_age_end').on('change', function() {
        valida_date_until($('#search_age_start'), $('this'), $('#warningLabelEdad2'),'buttonSearchCitizen');is_number($('this'),$('#warning_age2'),'buttonSearchCitizen');
    });
});

</script>