
<dl class="dl-horizontal"> 
  <dt><%= Citizen.human_attribute_name(:id) %>:</dt>
  <dd><%= @citizen.id %></dd>
  <dt><%= Citizen.human_attribute_name(:name) %>:</dt>
  <dd><%= @citizen.name %></dd>
  <dt><%= Citizen.human_attribute_name(:last_name_1) %>:</dt>
  <dd><%= @citizen.last_name_1 %></dd>
  <dt><%= Citizen.human_attribute_name(:last_name_2) %>:</dt>
  <dd><%= @citizen.last_name_2 %></dd>
  <dt><%= Citizen.human_attribute_name(:age) %>:</dt>
  <dd><%= @citizen.age %></dd>
  <dt><%= Citizen.human_attribute_name(:type_services) %>:</dt>
  <dd><%= @citizen.type_services %></dd>
  <dt><%= Citizen.human_attribute_name(:count_services) %>:</dt>
  <dd><%= @citizen.count_services %></dd>
  <dt><%= Citizen.human_attribute_name(:count_services_finish) %>:</dt>
  <dd><%= @citizen.count_services_finish %></dd>
  <dt><%= Citizen.human_attribute_name(:count_services_pending) %>:</dt>
  <dd><%= @citizen.count_services_pending %></dd>
  <dt><%= Citizen.human_attribute_name(:count_services_accept) %>:</dt>
  <dd><%= @citizen.count_services_accept %></dd>
  <dt><%= Citizen.human_attribute_name(:document) %>:</dt>
  <dd><%= @citizen.document %></dd>
  <dt><%= Citizen.human_attribute_name(:document_type) %>:</dt>
  <dd><%= @citizen.document_type.try(:name) %></dd>
  <dt><%= Citizen.human_attribute_name(:country) %>:</dt>
  <dd><%= @citizen.country %></dd>
  <dt><%= Citizen.human_attribute_name(:academic_info) %>:</dt>
  <dd><%= @citizen.academic_info %></dd>
  <dt><%= Citizen.human_attribute_name(:gender) %>:</dt>
  <dd><%= @citizen.gender %></dd>
  <dt><%= Citizen.human_attribute_name(:people_at_home) %>:</dt>
  <dd><%= @citizen.people_at_home %></dd>
  <dt><%= Citizen.human_attribute_name(:email) %>:</dt>
  <dd><%= @citizen.email %></dd>
  <dt><%= Citizen.human_attribute_name(:phone) %>:</dt>
  <dd><%= @citizen.phone %></dd>
  <dt><%= Citizen.human_attribute_name(:start_date) %>:</dt>
  <dd><%= show_simple_date(@citizen.start_date) %></dd>
  <dt><%= Citizen.human_attribute_name(:full_address) %>:</dt>
  <dd><%= @citizen.full_address %></dd>
  <dt><%= Citizen.human_attribute_name(:active) %>:</dt>
  <dd><%= t("humanize.#{@citizen.active}") %></dd>
  <dt><%= Citizen.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@citizen.created_at) %></dd>
  <dt><%= Citizen.human_attribute_name(:average_vote) %></dt>
  <dd><%= @citizen.average_vote.blank? ? t("citizens.no_votes") : @citizen.average_vote %></dd>
</dl>