function redirect_to_url(parametros,url){
    var url_params="";
    for(i=0;i<parametros.length;i++){
        var conversion="";
        switch(parametros[i][2]){
            case 'i': //Conversión a numérico
                conversion=parametros[i][1].val().replace(/[ ]/g,"").trim();
                break;
            case 'b': //Dato simple
                conversion=parametros[i][1];
                break;
            case 's': //Conversión a texto
                conversion=parametros[i][1].val().replace(/[\'%();]/g,"").trim();
                break;
            case 'check': //Obtención de valor booleano
                conversion=parametros[i][1].prop('checked');
                break;
        }
        
        var conca="";
        if(url_params!="") conca="&";
        url_params=url_params+conca+parametros[i][0]+"="+conversion;
    }
    var union="?";
    $('#recarga-flash').load(url+union+encodeURI(url_params) + " #recarga-flash" );
}

function validateToGeneratePassword(pass) {
    var pass = pass.toUpperCase();
    
    $('#message').html(pass);
    $('#cadena_aleatoria').val(pass)

    /*SI NO HAY CONTRASEÑA NO PERMITE ENVIAR EL MENSAJE*/
    
}

function validateCheck(check){
    val_mail = $("#send_mail").prop('checked');
    val_sms = $("#send_sms").prop('checked');

    switch (check){
        case 'sms':
            if(!val_mail && !val_sms){ 
            }
        break;
        case 'mail':
            if(!val_mail && !val_sms){ 
                $("#send_sms").prop("checked", true);
            }
        break;
    }
}

function confirmedPassword(result) {
    if (result) {
        if ($('#type').val() == "Entity"){
          if($('#phone_number_int').val()!="" && $('#email_int').val() !=""){
            redirect_to_url([
              ["send_sms",$('#send_sms'),"check"]
              ,["send_mail",$('#send_mail'),"check"]
              ,["entity",$('#entity'),"i"]
              ,["phone_number",$('#phone_number_int'),"s"]
              ,["cadena_aleatoria",$('#message'),"s"]
              ,["email",$('#email_int'),"s"]
              ,["controller","entities","b"]
              ],"/entities/update_password");
          }else{
            redirect_to_url([
              ["send_sms",$('#send_sms'),"s"]
              ,["send_mail",$('#send_mail'),"s"]
              ,["entity",$('#entity'),"i"]
              ,["phone_number",$('#phone_number_int'),"s"]
              ,["cadena_aleatoria",$('#message'),"s"]
              ,["email",$('#email_int'),"s"]
              ,["controller","entities","b"]
              ],"/entities/update_password");
          }
        }
        if ($('#type').val() == "Volunteer"){
          if($('#phone_number_int').val()!="" && $('#email_int').val() !=""){
            redirect_to_url([
              ["send_sms",$('#send_sms'),"check"]
              ,["send_mail",$('#send_mail'),"check"]
              ,["volunteer",$('#volunteer'),"i"]
              ,["phone_number",$('#phone_number_int'),"s"]
              ,["cadena_aleatoria",$('#cadena_aleatoria'),"s"]
              ,["email",$('#email_int'),"s"]
              ,["controller","volunteers","b"]
              ],"/volunteers/" + $('#volunteer').val() + "/update_password");
          }else{
            redirect_to_url([
              ["send_sms",$('#send_sms'),"s"]
              ,["send_mail",$('#send_mail'),"s"]
              ,["volunteer",$('#volunteer'),"i"]
              ,["phone_number",$('#phone_number_int'),"s"]
              ,["cadena_aleatoria",$('#cadena_aleatoria'),"s"]
              ,["email",$('#email_int'),"s"]
              ,["controller","volunteers","b"]
              ],"/volunteers/" + $('#volunteer').val() + "/update_password");
          }
        }
        if ($('#type').val() == "Citizen"){
          if($('#phone_number_int').val()!="" && $('#email_int').val() !=""){
            redirect_to_url([
              ["send_sms",$('#send_sms'),"check"]
              ,["send_mail",$('#send_mail'),"check"]
              ,["citizen",$('#citizen'),"i"]
              ,["phone",$('#phone_int'),"s"]
              ,["cadena_aleatoria",$('#cadena_aleatoria'),"s"]
              ,["email",$('#email_int'),"s"]
              ,["controller","citizens","b"]
              ],"/citizens/" + $('#citizen').val() + "/update_password");
          }else{
            redirect_to_url([
              ["send_sms",$('#send_sms'),"s"]
              ,["send_mail",$('#send_mail'),"s"]
              ,["citizen",$('#citizen'),"i"]
              ,["phone",$('#phone_int'),"s"]
              ,["cadena_aleatoria",$('#cadena_aleatoria'),"s"]
              ,["email",$('#email_int'),"s"]
              ,["controller","citizens","b"]
              ],"/citizens/" + $('#citizen').val() + "/update_password");
          }
        }
    }
}



swal({width: 600, 
title: '<%= main_title(t('messages.password_new_ent', name: @citizen.name)) %>',
html: '<%= j (render 'citizen_password') %>',
showCancelButton:  true,
confirmButtonText: 'Guardar',
cancelButtonText:  'Cancelar'}).then(result => confirmedPassword(result));

$('#message').html(document.querySelector('meta[name="password_text"]').content.toUpperCase());
$('#cadena_aleatoria').val(document.querySelector('meta[name="password_text"]').content.toUpperCase());
$('#send_mail').on('click', function() {
    validateCheck('mail');
});

$('#send_sms').on('click', function() {
    validateCheck('sms');
});