<%= main_title(t("action.edit", model: Citizen.model_name.human)) %>
<div class="row">
  <div class="col-md-11">
    <p><strong><%= Citizen.model_name.human  %>: </strong><%= @citizen.id %></p>  
  </div>
</div>
<%= render 'return_button' %>
<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>
<%= render 'return_button' %>

