<%= main_title(t("send_massive_sms")) %>
<%= render 'return_button' %>
<ul class="nav nav-tabs">
    <li>
        <a id="tab_new_sms" href="<%=send_massive_sms_citizens_path%>" ><%=t('massive_sms.tab_new_sms')%></a>
    </li>
    <li class="active">
        <a id="tab_historic" href="<%=historic_massive_sms_citizens_path%>"><%=t('massive_sms.tab_historic')%></a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active">
         <%= render partial: "historic" %>
    </div>
</div>

<%= render 'return_button' %>