
<% model_class = Citizen %>
<%= render partial: "common/title", locals: {model_class: model_class} %>
<%= render partial: "search", locals: {collection: @citizens, model_class: model_class} %>
<div id="recarga-filtros">
  <%= render partial: "shared/count", locals: {collection: @citizens, model_class: model_class, count: @unpaginated_citizens.count, csv_enable: true, url: citizens_path({format: "csv"}.merge!(params.permit!)) } %>
  <fieldset class="row">
  <legend>Leyenda:</legend>
  <ul class="col-sm-3">
    <li style="background-color:#C1C1C2;list-style: none">Sin verificar</li>
    <li style="background-color:#28ae13; color: white;list-style: none">Mayor tester</li>
    <li style="background-color:#5482a2; color: white;list-style: none">Mayor GI sin APP móvil</li>
    <li style="background-color:#7F7CA6; color: white;list-style: none">Mayor dado de baja desde la APP móvil</li>
  </ul>
  </fieldset>
  <%= render partial: "common/generic_table", locals: {search: @search_q,collection: @citizens, model_class: model_class, partial: 'citizen' } %>
  <%= render partial: "shared/pagination", locals: {collection: @citizens, urlchange: "search_js_citizen();"} %>
</div>
