<%= main_title(t("send_massive_sms")) %>
<%= render 'return_button' %>
<ul class="nav nav-tabs">
    <li class="active">
        <a id="tab_new_sms" href="<%=send_massive_sms_citizens_path%>" ><%=t('massive_sms.tab_new_sms')%></a>
    </li>
    <li>
        <a id="tab_historic" href="<%=historic_massive_sms_citizens_path%>"><%=t('massive_sms.tab_historic')%></a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active">
        <%= form_tag(post_send_massive_sms_citizens_path, method: "post", :enctype =>"multipart/form-data") do %>
            <div class="index-panel row well">  
                <div class="col-md-12">            
                    <div class="row" style="margin-top: 2rem">
                        <%= content_tag :label, "#{t('massive_sms.content')}*", class: 'col-md-12 control-label' %>
                    </div>
                    <div class="row" style="margin-bottom: 2rem">              
                        <%= text_area_tag :content, 'App Store:
https://apps.apple.com/us/app/madrid-te-acompaña/id1546703092

Google Play Store: 

https://play.google.com/store/apps/details?id=es.madrid.VOLUNMVANDMAYORES',  class: 'col-md-12'%>             
                    </div>
                </div>
            </div>
            <div  style="padding:0.5em">    
                <%= submit_tag t('massive_sms.send'), id: "send_button", class: 'btn  btn-primary',  onclick: "return confirm('#{t('citizens_sms.confirm')}')"%>  
            </div>
        <%end%>
    </div>
</div>

<%= render 'return_button' %>