<script type="text/javascript">

    function validateToGeneratePassword(longitud) {
        var myMessage = '';
        var cadena = '';
        var genPassword = true;

        element_send_mail = document.getElementById("send_mail");
        element_send_sms = document.getElementById("send_sms");
        var msg= document.getElementById('message');
        var pass = generatePassword(8).value.toUpperCase();
        msg.innerHTML = pass;
        $('#cadena_aleatoria').val(pass)

        /*SI NO HAY CONTRASEÑA NO PERMITE ENVIAR EL MENSAJE*/
        if(pass!=''){
            document.getElementById("button_ok").disabled = false;
        }
    }

    function validateCheck(check){
        val_mail = $("#send_mail").prop('checked');
        val_sms = $("#send_sms").prop('checked');

        switch (check){
            case 'sms':
                if(!val_mail && !val_sms){ 
                }
            break;
            case 'mail':
                if(!val_mail && !val_sms){ 
                    $("#send_sms").prop("checked", true);
                }
            break;
        }
    }
</script>

<%= main_title(t('messages.password_new_ent', name: @volunteer.name)) %>
<%= hidden_field_tag :volunteer, @volunteer.id %>
<%= hidden_field_tag :type, 'Volunteer' %>
<div class="row" style="width: 500px">
    <div class="col-sm-12">
        <%= form_for @volunteer, url: update_password_volunteer_path(@volunteer), method: :get do |f| %>
        	<% if @phone_number.blank? && @volunteer.email.blank?%>
        		<h3>No es posible realizar esta acción. <br> Introduzca un teléfono o email antes de realizar esta acción</h3>
        	<%else%>
        		<input type="button" value= 'Generar password' onClick="validateToGeneratePassword(8);" style="margin:5px;">
            	<p id="message" class= "form-control"></p>
                <%= hidden_field_tag "sender", Rails.application.secrets.default_email_sender, placeholder: t('send_mail.sender'), class: 'col-md-8' %>
                <%= hidden_field_tag "cadena_aleatoria", "" %>
                <%= hidden_field_tag "volunteer", @volunteer.id %>
                <br>
        		<% if !@phone_number.blank? && !@volunteer.email.blank?%>
            		<label style="margin-right: 5px;">Email: </label><%= @volunteer.email%>
                    <br>
                    <label style="margin-right: 5px;">Teléfono móvil: </label><%= @phone_number %></p>
                    <br>
                    <%= hidden_field_tag "phone_number_int", @phone_number %>
                    
                    <%= hidden_field_tag "email_int", @volunteer.email %>
                    <%= check_box_tag 'send_mail', 'send_mail', true, onclick: "validateCheck('mail');" %>
                    <label style='font-weight: normal;'>
                        <%= t('change_password.send_mail') %>
                    </label>
                    <%= check_box_tag 'send_sms', 'send_sms', true, onclick: "validateCheck('sms');" %>

                    <label style='font-weight: normal;'>
                        <%= t('change_password.send_sms') %>
                    </label>
        		<% elsif @volunteer.email.blank?  %>
                    <%= hidden_field_tag "send_mail", 'false' %>
                    <%= hidden_field_tag "send_sms", 'true' %>
                    <%= hidden_field_tag "email_int", '' %>
                    <%= hidden_field_tag "msg_seg", t('regenerate_pass') %>
                    <%= hidden_field_tag "phone_number_int", @phone_number %>
        			<label style="margin-right: 5px;">Teléfono móvil: </label><%= @phone_number %>
                    <br>
        		<% elsif !@volunteer.email.blank?%>
                    <%= hidden_field_tag "send_mail", 'true' %>
                    <%= hidden_field_tag "send_sms", 'false' %>
                    <%= hidden_field_tag "phone_number_int", '' %>
                    <%= hidden_field_tag "msg_seg", t('regenerate_pass') %>
                    <%= hidden_field_tag "email_int", @volunteer.email %>
        			<label style="margin-right: 5px;">Email: </label><%= @volunteer.email %>
                    <br>
                <% else %>
                    <h3>No es posible realizar esta acción. <br> Introduzca un teléfono o email antes de realizar esta acción</h3>
        		<% end %>
        	<% end %>
    	<% end %>
		<% unless request.xhr? %>
		    <%= link_to( t('action.back'),edit_volunteer_path(@volunteer), class: 'btn btn-default') %>
		<% end %>
    </div>
</div>
