<tr id="<%= dom_id(coordination) %>" >

  <% Coordination.main_columns.each do |attr_name| %>
  <td><%= show_attr(coordination, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(coordination, path: "administration_catalogue_coordination_path") %>
    <%= link_to_edit(coordination, path: "edit_administration_catalogue_coordination_path") %>
<% if coordination.try(:archived?) %>
    <%= link_to_recover(coordination, path: "recover_administration_catalogue_coordination_path") %>
<% else %>
    <%= link_to_destroy(coordination, path: "administration_catalogue_coordination_path") %>
<% end %>
  </td>
</tr>
