<div class="well">
  <%= simple_form_for(@coordination, as: :coordination,method: method, url: path) do |f| %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :active %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>