<%= main_title(t("action.edit", model: Coordination.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form',method: :put, path: administration_catalogue_coordination_path(@coordination) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_coordinations_path, class: 'btn btn-default') %>