<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: "search", locals: {collection: @coordinations, model_class: @model_class} %>
<%= render partial: "common/generic_table", locals: {search: @search_q,collection: @coordinations, model_class: @model_class, partial: 'coordination' } %>
<%= render partial: "shared/pagination", locals: {collection: @coordinations, urlchange: "search_js_coordinations();"} %>
<%=render partial: "common/button_back", locals: {path: maintenance_path, method: :get}%>