<tr id="<%= dom_id(audit) %>" >

  <% Audit.main_attributes.each do |key,value| %>
    <td><%= audit.audit_attributes[key] %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(audit, {remote: false,  path: "administration_audit_path"}) %>
  </td>
</tr>
