<div class="index-panel row well">
  <div class="col-md-12">
    <div class="row">
      <label class='vol_filter_label col-md-9'><%=t('audit_filter.data')%></label>
    </div>
    <div class="row">
      <div class="col-12">
        <%= text_field_tag :enter_text, params["enter_text"] ,placeholder: t('audit_filter.input_text'), class: 'form-control col-md-3',  style: 'width: 300px; margin:3px 2px;'%>
        <%= select_tag :search_type, options_for_select(Audit.getType || {},params["search_type"]), include_blank: t('audit_filter.type'),
            class: 'form-control col-md-3', 
            style: 'width: 200px; margin:3px 2px;', 
            id:'search_type-select' %>
        <%= text_field_tag :search_manager,params["search_manager"] ,placeholder: t('audit_filter.manager'), class: 'form-control col-md-3',  style: 'width: 170px; margin:3px 2px;'%>
        <%= text_field_tag :search_resource, params["search_resource"] ,placeholder: t('audit_filter.resource'), class: 'form-control col-md-3',  style: 'width: 170px; margin:3px 2px;'%>
        <%= select_tag :search_operation, options_for_select(Audit.getOperation || {},params["search_operation"]), include_blank: t('audit_filter.operation'),
            class: 'form-control col-md-3', 
            style: 'width: 300px; margin:3px 2px;', 
            id:'search_operation-select' %>
      </div>
    </div>
    <div class="row" style="margin-top: 5px;">
      <label class='vol_filter_label col-md-1' style="margin-left: 24rem;width: 18rem"><%=t('audit_filter.start_date')%></label>
      <label class='vol_filter_label col-md-1' style="width: 18rem"><%=t('audit_filter.end_date')%></label>
    </div>
    <div class="row">
      <div class="col-12">
        <label class='vol_filter_label col-md-2' style="margin-top: 10px;"><%=t('audit_filter.date_of')%></label>
        <%= simple_form_for(:search) do |f|%>
          <div class="col-md-1" style="width: 18rem;">
            <%= f.input :start_date,as: :string, label: false, input_html: {type: "date", value: params.permit!["search_start_date"]} %>
          </div>
          <div class="col-md-1" style="width: 18rem;">
            <%= f.input :end_date, as: :string, label:false,  input_html:  {type: "date", value: params.permit!["search_end_date"]}%>
          </div>
        <%end%>
      </div>      
    </div>
    <div class="row">
      <div class="col text-right">
        <label id="warningLabelFecha" class="text-center"><%=t('warning_label_fecha')%></label>
        <label id="warningLabelFechaFormat" class="text-center"><%=t('warning_label_fecha_desde_format')%></label>
        <label id="warningLabelFechaFormat2" class="text-center"><%=t('warning_label_fecha_hasta_format')%></label>
      </div>
    </div>
    <div class="row">
      <div class="col text-right">
        <button type="button" name="button" id="buttonClean"  class="btn btn-primary"><%= t('reset_search') %></button>
        <button type="button" name="button" id="buttonSearch" class="btn btn-success btn-default"><%= t('search') %></button>
      </div>
    </div>
  </div>
</div>
<script>

    function push_enter(event) {
    search_enter(event, search_js_audit);
}

    //$(document).on('keypress', push_enter);

    $('#buttonSearch').on('click', function() {
        search_js_audit();
    });

    $('#buttonClean').on('click', function() {
        $(location).attr('href', "<%=administration_audits_url%>");
    });

    $('pages-select').on('change', function() {
        search_js_audit();
    });

    $('#enter_text').on('keyup', function() {
        correct_string($('#enter_text'));
    });

    $('#search_manager').on('keyup', function() {
        correct_string($('#search_manager'));
    });

    $('#search_resource').on('keyup', function() {
        correct_string($('#search_resource'));
    });

    $('#search_start_date').on('change', function() {
        valida_date_until($('#search_end_date'), $('#search_start_date'), $('#warningLabelFecha'), $('warningLabelFechaFormat'), $('warningLabelFechaFormat2'), 'buttonSearch');
    });

    $('#search_end_date').on('change', function() {
        valida_date_until($('#search_start_date'), $('#search_end_date'), $('#warningLabelFecha'), $('warningLabelFechaFormat'), $('warningLabelFechaFormat2'), 'buttonSearch');
    });


</script>