
<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: "search", locals: {collection: @audits, model_class: @model_class} %>
<div id="recarga-filtros">
  <%= render partial: "shared/count", locals: {collection: @audits, model_class: @model_class, count: @audits.count, csv_enable: true, url: administration_audits_path({format: "csv"}.merge!(params.permit!)) } %>
  <%= render partial: "common/generic_table", locals: {search: @search_q,collection: @audits, model_class: @model_class, partial: 'audit' } %>
  <%= render partial: "shared/pagination", locals: {collection: @audits, urlchange: "search_js_audit()"} %>
</div>
<div class="col-md-12">
  <div class="col-md-1">
    <%= button_to(t('action.back'), administration_path, method: :get)%>
  </div>
</div>