<%= main_title(t("action.show", model: Audit.model_name.human)) %>
<div class="index-panel row well">
  <div class="col-md-12 col-center">
    <h2><strong><%= Audit.human_attribute_name(:data_title) %>:</strong> <%= @audit.id %></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt><%= Audit.human_attribute_name(:user_name) %>:</dt>
      <dd><%= @audit.try(:user).try(:loggable).try(:full_name)%></dd>
      <dt><%= Audit.human_attribute_name(:user_type) %>:</dt>
      <dd><%= @audit.try(:user).blank? ? t('audit.non_register') : t('audit.' + @audit.try(:user).try(:loggable_type))%></dd>
      <dt><%= Audit.human_attribute_name(:resource_id) %>:</dt>
      <dd><%= @audit.try(:resource).try(:description)%></dd>
    </dl>
  </div>
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt><%= Audit.human_attribute_name(:operation) %>:</dt>
      <dd><%= "#{@audit.try(:operation)} de #{@audit.try(:resource).try(:description)}"%></dd>
      <dt><%= Audit.human_attribute_name(:created_at) %>:</dt>
      <dd><%= show_simple_date(@audit.try(:created_at)) %></dd>
    </dl>
  </div>
</div>
<div class="index-panel row well">
  <div class="col-md-12 col-center">
    <h2><strong><%= Audit.human_attribute_name(:block) %></strong></h2>
  </div>
</div>
<div class="row" style="margin: 0px 6px;">
  <div class="col-md-6 col-center" >
    <h3><%= Audit.human_attribute_name(:old_data) %></h3>
  </div>
  <div class="col-md-6 col-center">
    <h3><%= Audit.human_attribute_name(:change_data) %></h3>
  </div>
</div>

<div class="row" style="margin: 6px 6px;">
  <div class="col-md-6 col-center content_header_audit">
    <p><%= @audit.old_data_format %></p>
  </div>
  <div class="col-md-6 col-center content_header_audit">
    <p><%= @audit.new_data_format %></p>
  </div>
</div>
 
</div>
<div class="row">
  <div class="col-md-5">
    <%= link_to( t('action.back'),administration_audits_path, class: 'btn btn-default') unless request.xhr? %>
  </div>
</div>