<div class="row last-row-sub">
  <div class="form-inputs well">
    <%= content_tag :h2, 'Datos específicos del tipo de proyecto', class: 'form-subtitle' %>
    <div class="row">
      <div class="well col-md-6">
        <%= content_tag :h3, t('representative'), class: 'form-subtitle' %>
        <%= f.input :representative_name %>
        <%= f.input :representative_last_name %>
        <%= f.input :representative_last_name_alt %>
        <%= f.input :id_num, input_html: { onkeyup: "validation_dni($(this),$('#id_num'))",class: 'm-width150' } %>
        <label class="col text-center" id="id_num" style="display: none; color: #a94442; width: 100%"><%=t('validations.dni')%></label>
        <label class="col text-center" id="vat_number" style="display: none; color: #a94442; width: 100%"><%=t('validations.cif')%></label>
      </div>
      <div class="well col-md-6">
        <%= content_tag :h3, 'Costes', class: 'form-subtitle' %>
        <%= f.input :cost, as: :string %>
        <%= f.input :requested_amount, as: :string %>
        <%= f.input :subsidized_amount, as: :string %>
      </div>
    </div>
    <div class="row">
      <div class="well col-md-6">
        <%= content_tag :h3, t('volunteers_amount'), class: 'form-subtitle' %>
        <%= f.input :initial_volunteers_num, as: :string, placeholder: '0', input_html: {class: 'm-width150', min: 0, max: 5} %>
      </div>
      <div class="well col-md-6">
        <%= content_tag :h3, t('other_data'), class: 'form-subtitle' %>
        <%= f.input :entity_registry %>
        <%= f.input :has_quality_evaluation %>
        <%= f.association :proposal, input_html: { class: 'm-width300' } %>
      </div>
    </div>
  </div>
</div>