<dl class="dl-horizontal">
  <dt><%= Pt::Subvention.human_attribute_name(:id) %>:</dt>
  <dd><%= pt_subvention.id %></dd>
  <dt><%= Pt::Subvention.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(pt_subvention.created_at) %></dd>
  <hr>
  <dt><%= Pt::Subvention.human_attribute_name(:representative_name) %>:</dt>
  <dd><%= pt_subvention.representative_name %></dd>
  <dt><%= Pt::Subvention.human_attribute_name(:representative_last_name) %>:</dt>
  <dd><%= pt_subvention.representative_last_name %></dd>
  <dt><%= Pt::Subvention.human_attribute_name(:representative_last_name_alt) %>:</dt>
  <dd><%= pt_subvention.representative_last_name_alt %></dd>
  <dt><%= Pt::Subvention.human_attribute_name(:id_num) %>:</dt>
  <dd><%= pt_subvention.id_num %></dd>
  <hr>
  <dt><%= Pt::Subvention.human_attribute_name(:entity_registry) %>:</dt>
  <dd><%= t("humanize.#{pt_subvention.entity_registry}") %></dd>
  <dt><%= Pt::Subvention.human_attribute_name(:initial_volunteers_num) %>:</dt>
  <dd><%= pt_subvention.initial_volunteers_num %></dd>
  <dt><%= Pt::Subvention.human_attribute_name(:has_quality_evaluation) %>:</dt>
  <dd><%= t("humanize.#{pt_subvention.has_quality_evaluation}") %></dd>
  <dt><%= Pt::Subvention.human_attribute_name(:proposal_id) %>:</dt>
  <dd><%= pt_subvention.proposal %></dd>
  <hr>
  <dt><%= Pt::Subvention.human_attribute_name(:requested_amount) %>:</dt>
  <dd><%= pt_subvention.requested_amount %></dd>
  <dt><%= Pt::Subvention.human_attribute_name(:cost) %>:</dt>
  <dd><%= pt_subvention.cost %></dd>
  <dt><%= Pt::Subvention.human_attribute_name(:subsidized_amount) %>:</dt>
  <dd><%= pt_subvention.subsidized_amount %></dd>
  
</dl>
