
<div class="row">
  <div class="col-md-6">
    <h3><%= t('common_fields') %></h3>
    <%= render partial: 'projects/show', locals: { project: @pt_subvention.project } %>
  </div>
  <div class="col-md-6">
    <h3><%= t('specific_fields') %></h3>
    <%= render partial: 'show', locals: { pt_subvention: @pt_subvention } %>
  </div>
</div>