<tr id="<%= dom_id(rt_other) %>" >
  <% Rt::Other.main_columns.each do |attr_name| %>
    <td class="<%= rt_other.req_status if attr_name.to_s=="get_status" %>"><%= show_attr(rt_other, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <% if rt_other.approved? || rt_other.rejected? %>
        <%= link_to_show(rt_other, path: "rt_other_path") %>
        <% if rt_other.rejected? %>
            <%= link_to_undo_rejection(rt_other,  path: "undo_rejection_request_form_rt_other_path") %>
        <% else %>
            <%= link_to_process(rt_other,path: "process_request_form_rt_other_path") %>
        <% end %>
    <% else %>
        <%= link_to_process(rt_other,path: "process_request_form_rt_other_path") %>
    <% end %>
  </td>
  
</tr>
