<% request_form = request.request_form %>
<% entity       = request.entity %>

<dl class="dl-horizontal">
  <dt><%= Rt::ActivityPublishing.human_attribute_name(:name_entity) %>:</dt>
  <dd><%= entity.name unless  entity.blank? %></dd>
  <dt><%= Entity.human_attribute_name(:phone_number) %>:</dt>
  <dd><%= entity.phone_number unless entity.blank? %></dd>
  <dt><%= Entity.human_attribute_name(:email) %>:</dt>
  <dd><%= entity.email unless entity.blank? %></dd>
  <dt><%= Rt::Other.human_attribute_name(:notes) %>:</dt>
  <dd><%= request.notes %></dd>
  <dt><%= RequestForm.human_attribute_name(:comments) %>:</dt>
  <dd><%= request_form.comments %></dd>
</dl>