
<% request_form = @rt_other.request_form %>
<% status       = request_form.status %>
<% entity       = @rt_other.entity %>

<%= main_title(t("action.show", model: Rt::Other.model_name.human)) %>
<div class="row">
  <div class="col-md-6">

    <dl class="dl-horizontal well">
      <dt><%= Rt::ProjectPublishing.human_attribute_name(:entity_name) %>:</dt>
      <dd><%= entity.name unless entity.blank?%></dd> 
      <dt><%= Entity.human_attribute_name(:phone_number) %>:</dt>
      <dd><%= entity.phone_number unless entity.blank?%></dd>
      <dt><%= Entity.human_attribute_name(:email) %>:</dt>
      <dd><%= entity.email unless entity.blank?%></dd>
      <dt><%= RequestForm.human_attribute_name(:reason) %>:</dt>
      <dd><%= request_form.reason %></dd>
      <dt><%= Rt::Other.human_attribute_name(:description) %>:</dt>
      <dd><%= @rt_other.description %></dd>
      <dt><%= Rt::Other.human_attribute_name(:notes) %>:</dt>
      <dd><%= @rt_other.notes %></dd>
      <dt><%= RequestForm.human_attribute_name(:comments) %>:</dt>
      <dd><%= text_area_tag :comments, request_form.comments ,placeholder: t('process_solidarity_chain.input_comment'), class: 'form-control col-md-5',  style: 'width: 100%;height: 15rem; margin:3px 2px;', onchange: "search_generic([ ['input_comments',$('#comments'),'s']],'#envio');"%></dd>
      <dt><%= RequestForm.human_attribute_name(:status) %>:</dt>
      <dd>
        <span class="<%= @request_form.status.kind %>">
          <%= @request_form.status %>
        </span>
      </dd>
    </dl>

  </div>
</div>
<div id="envio">
  <div  class="row">
    <div class="col-md-7">
      <%= link_to( t('action.approve'), pre_approve_request_form_rt_other_path, class: 'btn btn-success',data: { turbolinks: false }) if can?(:approve, Rt::Other)%>
      <%= link_to( t('action.reject'), pre_reject_request_form_rt_other_path, class: 'btn btn-danger',data: { turbolinks: false }) if can?(:reject, Rt::Other)%>
      <%= link_to( t('mark_as_pending'), mark_request_form_as_pending_rt_other_path, class: 'btn btn-default',data: { turbolinks: false }) if can?(:mark_pending, Rt::Other)%>
      <%= link_to( t('continue_as_processing'),mark_request_form_as_processing_rt_other_path, class: 'btn btn-default processing',data: { turbolinks: false }) if can?(:mark_processing, Rt::Other)%>
    </div>
  </div>
</div>


<div class="row" style="margin-top: 30px;">
  <div class="col-md-6">
    <%= link_to( t('action.back'), rt_others_path, class: 'btn btn-default') %>
  </div>
</div>




