<%= main_title(t("action.show", model: Rt::Other.model_name.human)) %>

<%=render partial: 'rt/show_full',locals: {ruta: 'rt/others/show', request: @rt_other}%>
<% unless request.xhr? %>
    <%= link_to( t('action.back'),rt_others_path, class: 'btn btn-default') %>
<% end %>