swal({width: "75%", 
title: '<%= main_title(t("action.show", model: Rt::Other.model_name.human)) %>',
html: '<%= j (render partial: 'rt/show_full',locals: {ruta: 'rt/others/show', request: @rt_other}) %>'})