<tr id="<%= dom_id(gender) %>" >

  <% Gender.main_columns.each do |attr_name| %>
    <td><%= show_attr(gender, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(gender, path: "administration_catalogue_gender_path") %>
    <%= link_to_edit(gender, path: "edit_administration_catalogue_gender_path") %>
<% if gender.try(:archived?) %>
    <%= link_to_recover(gender, path: "recover_administration_catalogue_gender_path") %>
<% else %>
    <%= link_to_destroy(gender, path: "administration_catalogue_gender_path") %>
<% end %>
  </td>
</tr>
