
    <dl class="dl-horizontal">

        <dt><%= Gender.human_attribute_name(:id) %>:</dt>
        <dd><%= @gender.id %></dd>
        <dt><%= Gender.human_attribute_name(:name) %>:</dt>
        <dd><%= @gender.name %></dd>
        <dt><%= Gender.human_attribute_name(:active) %>:</dt>
        <dd><%= t("humanize.#{@gender.active}") %></dd>
        <dt><%= Gender.human_attribute_name(:created_at) %>:</dt>
        <dd><%= show_simple_date(@gender.created_at) %></dd>

    </dl>
