<%= main_title(t("action.edit", model: Gender.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :put, path: administration_catalogue_gender_path(@gender) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_genders_path, class: 'btn btn-default') %>