
<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: "search", locals: {collection: @genders, model_class: @model_class} %>
<%= render partial: "common/generic_table", locals: {search: @search_q,collection: @genders, model_class: @model_class, partial: 'gender' } %>
<%= render partial: "shared/pagination", locals: {collection: @genders, urlchange: "search_js_gender()"} %>
<%=render partial: "common/button_back", locals: {path: maintenance_path, method: :get}%>
