<div class="well">
  <%= simple_form_for(@resource, as: :resource,method: method, url: path) do |f| %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :active %>
    <%= f.input :main if current_user.loggable.super_admin? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
</div>