<tr id="<%= dom_id(resource) %>" >

  <% @model_class.public_send("#{current_user.loggable.role.kind}_columns").each do |attr_name| %>
    <td><%= show_attr(resource, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(resource, path: "administration_resource_path") %>
    <%= link_to_edit(resource, path: "edit_administration_resource_path") %>
<% if resource.try(:archived?) %>
    <%= link_to_recover(resource, path: "recover_administration_resource_path") %>
<% else %>
    <%= link_to_destroy(resource, path: "administration_resource_path") %>
<% end %>
  </td>
</tr>
