<div class="row">
  <div class="col-md-12">
    <h2><%= t('search_filter')%></h2>
  </div>
</div>

<div class="index-panel row well">  
  <div class="col-md-12">
    <div class="row">
      <%= content_tag :label, t('resources_filter.data'), class: 'col-sm-9 control-label' %>
    </div>
    <div class="row">
        <%= text_field_tag :search_description, params["search_description"] ,placeholder: t('resources_filter.description'), class: 'form-control col-md-4',  style: 'width: 151px; margin:0px 2px;'%>
        <div class="col-md-2" style= 'width: 191px; margin:0px 2px;'>
          <div class="row">
            <%= text_field_tag :enter_text, params['enter_text'] ,placeholder: t('volunteer_filter.input_text'), class: 'form-control col' %>
            <div class="tooltip col">
              <%=fa_icon "question-circle" ,class: "fa-1x"%>
              <span class="tooltiptext"><%=model_class.tooltip%></span>
            </div>
          </div>
        </div>
        <%= text_field_tag :search_nombre, params["search_nombre"] ,placeholder: t('resources_filter.field_name'), class: 'form-control col-md-4',  style: 'width: 151px; margin:0px 2px;'%>
        <%= select_tag :search_status, options_for_select({ t('resources_filter.active') => true, t('resources_filter.inactive') => false, t('all')=>'' } ||{},params["search_status"]), include_blank: t('resources_filter.field_select_state'),
                class:     'form-control col-md-6',
                id:        'search_status-select',
                style:     'width:100px; margin:0px 2px;' %>
    </div>
  </div>
  
  <div class="col-sm-12 text-right" style="margin: 20px 0px 0px 0px;">
    <button type="button" name="button" class="btn btn-primary" id="buttonCleanResource"><%= t('reset_search') %></button>
    <button type="button" name="button" class="btn btn-success btn-default" id="buttonSearchResource"><%= t('search') %></button>
  </div>
</div>  

<div class="row">
  <div class="col">
    <%= content_tag(:div, link_to_new(model_class, path: "new_administration_resource_path"), class: 'pull-left') %>
  </div>
</div>
<script>

function push_enter(event){
    search_enter(event, search_js_resource);
}

    //$(document).on('keypress', push_enter);

    $('#buttonSearchResource').on('click', function() {
        search_js_resource();
    });

    $('#buttonCleanResource').on('click', function() {
        $(location).attr('href', "<%=administration_resources_url%>");
    });

    $('#pages-select').on('change', function() {
        search_js_resource();
    });
    
    $('#search_description').on('keyup', function() {
        correct_string($('#search_description'));
    });
    
    $('#enter_text').on('keyup', function() {
        correct_string($('#enter_text'));
    });

    $('#search_nombre').on('keyup', function() {
        correct_string($('#search_nombre'));
    });
    
</script>