<%= main_title(t("action.edit", model: Resource.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :put, path: administration_resource_path(@resource) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_resources_path, class: 'btn btn-default') %>