<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: "search", locals: {search: @search_q,model_class: @model_class} %>
<div id="recarga-filtros">
  <%= render partial: "shared/count", locals: {model_class: @model_class,count: @resources.count} %>
  <%= render partial: "common/generic_table", locals: {search: @search_q,collection: @resources, model_class: @model_class, partial: 'resource' } %>
  <%= render partial: "shared/pagination", locals: {collection: @resources, urlchange: "search_js_resource()"} %>
</div>
<div class="col-md-12">
  <div class="col-md-1">
    <%= button_to(t('action.back'), administration_path, method: :get)%>
  </div>
</div>