<tr id="<%= dom_id(shift_definition) %>" >

  <% ShiftDefinition.main_columns.each do |attr_name| %>
    <td><%= show_attr(shift_definition, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(shift_definition, path: "administration_catalogue_shift_definition_path") %>
    <%= link_to_edit(shift_definition, path: "edit_administration_catalogue_shift_definition_path") %>
<% if shift_definition.try(:archived?) %>
    <%= link_to_recover(shift_definition, path: "recover_administration_catalogue_shift_definition_path") %>
<% else %>
    <%= link_to_destroy(shift_definition, path: "administration_catalogue_shift_definition_path") %>
<% end %>
  </td>
</tr>