
<dl class="dl-horizontal">

  <dt><%= ShiftDefinition.human_attribute_name(:id) %>:</dt>
  <dd><%= @shift_definition.id %></dd>
  <dt><%= ShiftDefinition.human_attribute_name(:name) %>:</dt>
  <dd><%= @shift_definition.name %></dd>
  <dt><%= ShiftDefinition.human_attribute_name(:description) %>:</dt>
  <dd><%= @shift_definition.description %></dd>
  <dt><%= ShiftDefinition.human_attribute_name(:active) %>:</dt>
  <dd><%= t("humanize.#{@shift_definition.active}") %></dd>
  <dt><%= ShiftDefinition.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@shift_definition.created_at) %></dd>

</dl>