<%= main_title(t("action.edit", model: ShiftDefinition.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :put, path: administration_catalogue_shift_definition_path(@shift_definition) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_shift_definitions_path, class: 'btn btn-default') %>