
<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: "search", locals: {search: @shift_definitions,model_class: @model_class} %>
<%= render partial: "common/generic_table", locals: {search: @search_q,collection: @shift_definitions, model_class: @model_class, partial: 'shift_definition' } %>
<%= render partial: "shared/pagination", locals: {collection: @shift_definitions, urlchange: "search_js_shift_definitions()"} %>
<%=render partial: "common/button_back", locals: {path: maintenance_path, method: :get}%>