<%= main_title(t("action.newa", model: ShiftDefinition.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :post, path: administration_catalogue_shift_definitions_path %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_shift_definitions_path, class: 'btn btn-default') %>