<tr id="<%= dom_id(rt_volunteers_demand) %>" >
  <% Rt::VolunteersDemand.main_columns.each do |attr_name| %>
    <td class="<%= rt_volunteers_demand.req_status if attr_name.to_s=="get_status" %>"><%= show_attr(rt_volunteers_demand, attr_name)%></td>
  <% end %>

  <td class="index_table-actions">
    <% if rt_volunteers_demand.approved? || rt_volunteers_demand.rejected? %>
      <%= link_to_show(rt_volunteers_demand, path: "rt_volunteers_demand_path") %>
      <% if rt_volunteers_demand.rejected? %>
          <%= link_to_undo_rejection(rt_volunteers_demand, path: "undo_rejection_request_form_rt_volunteers_demand_path") %>
      <% else %>
          <%= link_to_process(rt_volunteers_demand, path: "process_request_form_rt_volunteers_demand_path") %>
      <% end %>
    <% else %>
      <%= link_to_process(rt_volunteers_demand, path: "process_request_form_rt_volunteers_demand_path") %>
    <% end %>
  </td>
</tr>
