<% request_form = request.request_form %>
<% entity = request.entity %>

<dl class="dl-horizontal">
      <% unless entity.blank? %>
        <dt><%= Entity.human_attribute_name(:phone_number) %>:</dt>
        <dd><%= entity.phone_number %></dd>
        <dt><%= Entity.human_attribute_name(:email) %>:</dt>
        <dd><%= entity.email %></dd>
      <% end %>
      <dt><%= Rt::VolunteersDemand.human_attribute_name(:notes) %>:</dt> 
      <dd><%=request.notes %></dd>
      <dt><%= Rt::VolunteersDemand.human_attribute_name(:description) %>:</dt> 
      <dd><%=request.description %></dd>
      <dt><%= Rt::VolunteersDemand.human_attribute_name(:execution_start_date) %>:</dt> 
      <dd><%=request.execution_start_date %></dd>
      <dt><%= Rt::VolunteersDemand.human_attribute_name(:execution_end_date) %>:</dt> 
      <dd><%=request.execution_end_date %></dd>
      <dt><%= Rt::VolunteersDemand.human_attribute_name(:requested_volunteers_num) %>:</dt> 
      <dd><%=request.requested_volunteers_num %></dd>
      <dt><%= Rt::VolunteersDemand.human_attribute_name(:volunteers_profile) %>:</dt> 
      <dd><%=request.volunteers_profile %></dd>
      <dt><%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_1)%>:</dt> 
      <dd><%=request.volunteer_functions_1 %></dd>
      <dt><%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_2) %>:</dt> 
      <dd><%=request.volunteer_functions_2 %></dd>
      <dt><%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_3) %>:</dt> 
      <dd><%=request.volunteer_functions_3 %></dd>
      <dt><%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_4) %>:</dt> 
      <dd><%=request.volunteer_functions_4 %></dd>
      <dt><%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_5) %>:</dt> 
      <dd><%=request.volunteer_functions_5 %></dd>
      <dt><%= Rt::VolunteersDemand.human_attribute_name(:address) %>:</dt> 
      <dd><%=request.address %></dd>
</dl>