
<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render(partial: 'rt_volunteers_demands_filter', locals: {model_class: @model_class}) %>
<div id="recarga-filtros">
  <%= render partial: "shared/count", locals: {collection: @rt_volunteers_demands, model_class: @model_class, count: @rt_volunteers_demands.count, csv_enable: true, url: rt_volunteers_demands_path({format: "csv"}.merge!(params.permit!)) } %>
  <%= render partial: "common/generic_table", locals: {search: @search_q,collection: @rt_volunteers_demands, model_class: @model_class, partial: 'rt_volunteers_demand' } %>
  <%= render partial: "shared/pagination", locals: {collection: @rt_volunteers_demands, urlchange: "search_js_rt_demand()"} %>
</div>

<div class="col-md-12">
  <div class="col-md-1">
    <%= button_to(t('action.back'), rt_extensions_menu_request_forms_path, method: :get)%>
  </div>
</div>