
<% request_form = @rt_volunteers_demand.request_form %>
<% status       = request_form.status %>
<% entity       = @rt_volunteers_demand.entity %>

<%= main_title(t("action.show", model: Rt::VolunteersDemand.model_name.human)) %>
<div class="row">
  <div class="col-md-7">

    <dl class="dl-horizontal well">
      <% unless entity.blank? %>
        <dt><%= Entity.human_attribute_name(:phone_number) %>:</dt>
        <dd><%= entity.phone_number %></dd>
        <dt><%= Entity.human_attribute_name(:email) %>:</dt>
        <dd><%= entity.email %></dd>
      <% end %>
      <dt><%= Rt::VolunteersDemand.human_attribute_name(:notes) %>:</dt> 
      <dd><%= @rt_volunteers_demand.notes %></dd>
      <dt><%= Rt::VolunteersDemand.human_attribute_name(:description) %>:</dt> 
      <dd><%= @rt_volunteers_demand.description %></dd>
      <dt><%= Rt::VolunteersDemand.human_attribute_name(:execution_start_date) %>:</dt> 
      <dd><%= @rt_volunteers_demand.execution_start_date %></dd>
      <dt><%= Rt::VolunteersDemand.human_attribute_name(:execution_end_date) %>:</dt> 
      <dd><%= @rt_volunteers_demand.execution_end_date %></dd>
      <dt><%= Rt::VolunteersDemand.human_attribute_name(:requested_volunteers_num) %>:</dt> 
      <dd><%= @rt_volunteers_demand.requested_volunteers_num %></dd>
      <dt><%= Rt::VolunteersDemand.human_attribute_name(:volunteers_profile) %>:</dt> 
      <dd><%= @rt_volunteers_demand.volunteers_profile %></dd>
      <dt><%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_1)%>:</dt> 
      <dd><%= @rt_volunteers_demand.volunteer_functions_1 %></dd>
      <dt><%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_2) %>:</dt> 
      <dd><%= @rt_volunteers_demand.volunteer_functions_2 %></dd>
      <dt><%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_3) %>:</dt> 
      <dd><%= @rt_volunteers_demand.volunteer_functions_3 %></dd>
      <dt><%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_4) %>:</dt> 
      <dd><%= @rt_volunteers_demand.volunteer_functions_4 %></dd>
      <dt><%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_5) %>:</dt> 
      <dd><%= @rt_volunteers_demand.volunteer_functions_5 %></dd>
      <dt><%= Rt::VolunteersDemand.human_attribute_name(:address) %>:</dt>
      <dd><%=@rt_volunteers_demand.address%>


      <dt><%= RequestForm.human_attribute_name(:status) %>:</dt>
      <dd>
        <span class="<%= status.kind %>">
          <%= status %>
        </span>
      </dd>
      <dt><%= RequestForm.human_attribute_name(:reason) %>:</dt>
      <dd><%= request_form.reason %></dd>
      <dt><%= RequestForm.human_attribute_name(:comments) %>:</dt>
      <dd><%= text_area_tag :comments, request_form.comments ,placeholder: t('process_solidarity_chain.input_comment'), class: 'form-control col-md-5',  style: 'width: 100%;height: 15rem; margin:3px 2px;', onchange: "search_generic([ ['input_comments',$('#comments'),'s']],'#envio');"%></dd>
    </dl>

  </div>
</div>
<div id="envio">
  <div  class="row">
    <div class="col-md-7">
      <%= link_to( t('action.approve'), pre_approve_request_form_rt_volunteers_demand_path, class: 'btn btn-success',data: { turbolinks: false }) if can?(:approve_request_form, Rt::VolunteersDemand)%>
      <%= link_to( t('action.reject'), pre_reject_request_form_rt_volunteers_demand_path, class: 'btn btn-danger',data: { turbolinks: false }) if can?(:reject, Rt::VolunteersDemand)%>
      <%= link_to( t('mark_as_pending'), mark_request_form_as_pending_rt_volunteers_demand_path, class: 'btn btn-default',data: { turbolinks: false }) if can?(:mark_pending, Rt::VolunteersDemand)%>
      <%= link_to( t('continue_as_processing'),mark_request_form_as_processing_rt_volunteers_demand_path, class: 'btn btn-default processing',data: { turbolinks: false }) if can?(:mark_processing, Rt::VolunteersDemand)%>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 30px;">
  <div class="col-md-6">
    <%= link_to( t('action.back'), rt_volunteers_demands_path, class: 'btn btn-default') %>
  </div>
</div>​