swal({width: "75%", 
title: '<%= main_title(t("action.show", model: Rt::VolunteersDemand.model_name.human)) %>',
html: '<%= j (render partial: 'rt/show_full',locals: {ruta: 'rt/volunteers_demands/show', request: @rt_volunteers_demand}) %>'})