<%= main_title(t("action.show", model: Rt::VolunteersDemand.model_name.human)) %>

<%=render partial: 'rt/show_full',locals: {ruta: 'rt/rvolunteers_demands/show', request: @rt_volunteers_demand}%>
<% unless request.xhr? %>
  <%= link_to( t('action.back'), rt_volunteers_demands_path, class: 'btn btn-default') %>
<% end %>