<div class="well">
  <%= simple_form_for(@tracking_type, as: :tracking_type,method: method, url: path) do |f| %>
    <%= show_simple_base_errors(f) %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :active unless f.object.system? %>
      <%= f.input :tracking_types_type,
                  as: :select, 
                  :collection=>[
                    [Volunteer.model_name.human,"Volunteer"],
                    [Entity.model_name.human, "Entity" ],
                    [Project.model_name.human, "Project" ],
                    [CitizenTracking.model_name.human, "Citizen"],
                    [CitizenServiceTracking.model_name.human, "CitizenService"]] %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>