<dl class="dl-horizontal">

  <dt><%= TrackingType.human_attribute_name(:id) %>:</dt>
  <dd><%= @tracking_type.id %></dd>
  <dt><%= TrackingType.human_attribute_name(:name) %>:</dt>
  <dd><%= @tracking_type.name %></dd>
  <dt><%= TrackingType.human_attribute_name(:active) %>:</dt>
  <dd><%= t("humanize.#{@tracking_type.active}") %></dd>
  <dt><%= TrackingType.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@tracking_type.created_at) %></dd>

</dl>