<tr id="<%= dom_id(tracking_type) %>" >

  <% TrackingType.main_columns.each do |attr_name| %>
  <td>
    <% if attr_name.to_s=="tracking_types_type" && !tracking_type.tracking_types_type.blank?%>
        <%=t(tracking_type.tracking_types_type)%>
    <%else%>
        <%= show_attr(tracking_type, attr_name) %>
    <%end%>
  </td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(tracking_type, path: "administration_catalogue_tracking_type_path") %>
    <%= link_to_edit(tracking_type, path: "edit_administration_catalogue_tracking_type_path") unless (tracking_type.alias_name.to_s == "subscribe" || tracking_type.alias_name.to_s == "unsubscribe" )%>
<% if tracking_type.try(:archived?) %>
    <%= link_to_recover(tracking_type, path: "recover_administration_catalogue_tracking_type_path") %>
<% else %>
    <%= link_to_destroy(tracking_type, path: "administration_catalogue_tracking_type_path") %>
<% end %>
  </td>
</tr>
