<%= main_title(t("action.edit", model: TrackingType.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :put, path: administration_catalogue_tracking_type_path(@tracking_type) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_tracking_types_path, class: 'btn btn-default') %>