
<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: "search", locals: {search: @tracking_types,model_class: @model_class} %>
<%= render partial: "common/generic_table", locals: {search: @search_q,collection: @tracking_types, model_class: @model_class, partial: 'tracking_type' } %>
<%= render partial: "shared/pagination", locals: {collection: @tracking_types, urlchange: "search_js_tracking_types()"} %>
<%=render partial: "common/button_back", locals: {path: maintenance_path, method: :get}%>