<%= main_title(t("action.new", model: TrackingType.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :post, path: administration_catalogue_tracking_types_path %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_tracking_types_path, class: 'btn btn-default') %>
