<tr id="<%= dom_id(skill) %>" >

  <% Skill.main_columns.each do |attr_name| %>
    <td><%= show_attr(skill, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(skill, path: "administration_catalogue_skill_path") %>
    <%= link_to_edit(skill, path: "edit_administration_catalogue_skill_path") %>
<% if skill.try(:archived?) %>
    <%= link_to_recover(skill, path: "recover_administration_catalogue_skill_path") %>
<% else %>
    <%= link_to_destroy(skill, path: "administration_catalogue_skill_path") %>
<% end %>
  </td>
</tr>
