<%= main_title(t("action.edit", model: Skill.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :put, path: administration_catalogue_skill_path(@skill) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_skills_path, class: 'btn btn-default') %>