<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: "search", locals: {search: @skills,model_class: @model_class} %>
<%= render partial: "common/generic_table", locals: {search: @search_q,collection: @skills, model_class: @model_class, partial: 'skill' } %>
<%= render partial: "shared/pagination", locals: {collection: @skills, urlchange: "search_js_skills()"} %>
<%=render partial: "common/button_back", locals: {path: maintenance_path, method: :get}%>
