<tr class="ent-results" id="<%= dom_id(entity) %>" >

  <% Entity.main_columns.each do |attr_name| %>
  <td><%= show_attr(entity, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(entity, path: "entity_path") %>
    <%= link_to_edit(entity, path: "edit_entity_path") %>
    <%= link_to_trackings(entity, "ent") %>
<% if entity.try(:archived?) %>
    <%= link_to_recover(entity, path: "recover_entity_path") %>
<% else %>
    <%= link_to_destroy(entity, path: "entity_path") %>
<% end %>
  </td>
</tr>
