
<%= hidden_field_tag :type, 'Entity' %>
<div class="row" style="width: 500px">
    <div class="col-sm-12">
        <%= form_for @entity, url: update_password_entity_path(@entity), method: :get do |f| %>
        	<% if @phone_number.blank? && @entity.email.blank?%>
        		<h3>No es posible realizar esta acción. <br> Introduzca un teléfono o email antes de realizar esta acción</h3>
        	<%else%>
        		<input type="button" id="generatePasswordButton" value= 'Generar password'  onclick='validateToGeneratePassword()' style="margin:5px;">
            	<p id="message" class= "form-control"></p>

                <%= hidden_field_tag "sender", Rails.application.secrets.default_email_sender, placeholder: t('send_mail.sender'), class: 'col-md-8' %>
                <%= hidden_field_tag "cadena_aleatoria", "" %>
                <meta name="cadena_aleatoria" content="" />
        		<% if !@phone_number.blank? && !@entity.email.blank?%>
            		<label style="margin-right: 5px;">Email: </label><%= @entity.email%>
                    <br>
                    <label style="margin-right: 5px;">Teléfono móvil: </label><%= @phone_number %></p>
                    <br>
                    <%= hidden_field_tag "phone_number_int", @phone_number %>
                    <%= hidden_field_tag "email_int", @entity.email %>
                    <%= check_box_tag 'send_mail', 'send_mail', true%>
                    <label style='font-weight: normal;'>
                        <%= t('change_password.send_mail') %>
                    </label>
                    <%= check_box_tag 'send_sms', 'send_sms', true%>

                    <label style='font-weight: normal;'>
                        <%= t('change_password.send_sms') %>
                    </label>
        		<% elsif @entity.email.blank?  %>
                    <%= hidden_field_tag "send_mail", 'false' %>
                    <%= hidden_field_tag "send_sms", 'true' %>
                    <%= hidden_field_tag "email_int", '' %>
                    <%= hidden_field_tag "phone_number_int", @phone_number %>
        			<label style="margin-right: 5px;">Teléfono móvil: </label><%= @phone_number %>
                    <br>
        		<% elsif !@entity.email.blank?%>
                    <%= hidden_field_tag "send_mail", 'true' %>
                    <%= hidden_field_tag "send_sms", 'false' %>
                    <%= hidden_field_tag "phone_number_int", '' %>
                    <%= hidden_field_tag "email_int", @entity.email %>
        			<label style="margin-right: 5px;">Email: </label><%= @entity.email %>
                    <br>
                <%else%>
                    <h3>No es posible realizar esta acción. <br> Introduzca un teléfono o email antes de realizar esta acción</h3>
        		<% end %>
        	<% end %>
    	<% end %>
    </div>
</div>
<script>
   
    
    $('#generatePasswordButton').on('click', function() {
        validateToGeneratePassword(document.querySelector('meta[name="password_text"]').content);
    });

    $('#send_mail').on('click', function() {
        validateCheck('mail');
    });

    $('#send_sms').on('click', function() {
        validateCheck('sms');
    });

   

</script>
