

<div class="well">
  <%= simple_nested_form_for(@entity, default_form_options) do |f| %>
  <%= render partial: 'entities/form_buttons', locals: { f: f } %>
  <div class="form-inputs">
    <div class="row well">
      <div class="col-md-12">
          <%= params[:id].blank? ? t('generate_password') : link_to_password_ent(@entity) %> 
      </div>
    </div>
    <div class="row well">
      <%= content_tag :h3, t('main_data'), class: 'form-subtitle' %>
      <div class="col-md-6 logo_block">
        <% f.object.errors[:logo].each do |l| %>
          <div style="color: #a94442;font-size:16px"><%= l %></div>
        <% end %>
        <%= f.simple_fields_for :logo, (f.object.logo || f.object.build_logo) do |f_logo|  %>
          <%= render partial: 'links/logo', locals: { f: f_logo } %>
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="row">
          <%= hidden_field_tag "others", t('others') %>
          <%= f.input :other_subscribe_reason, wrapper_html: { hidden: true, class: 'col-md-12 pull-right' }  %>
          <%= f.input :name %>
          <%= f.input :vat_number, input_html: { onkeyup: "validation_cif($(this),$('#vat_number'))",data: { mask: 'w9999999w'}, class: 'col-md-6 vat_num'}%>
          <label class="form-group col text-center" id="vat_number" style="display: none; color: #a94442;"><%=t('validations.cif')%></label>
          <%= f.association :entity_type  %>
          <%= f.association :reason, input_html: { onchange: "showOthersNoNested();" } %>
          <div class="col-md-5 text-right">
            <%= label_tag NoticeType.model_name.human, nil %>
          </div>
          <div class="col-md-7">
            <% if params[:entity_notice_type].present? %>
              <%= select_tag "entity_notice_type", options_for_select(NoticeType.all.order(:description), params[:entity_notice_type]),
                                                    include_blank: true,
                                                    class: 'form-control select ' %>
            <% else %>
              <% if User.find_by(loggable_type: "Entity", loggable_id: f.object.id).nil? %>
                <%= select_tag "entity_notice_type", options_for_select(NoticeType.all.order(:description)),
                                                      include_blank: true,
                                                      class: 'form-control select ' %>
              <% else %>
                <% if User.find_by(loggable_type: "Entity", loggable_id: f.object.id).notice_type_id.nil? %>
                  <%= select_tag "entity_notice_type", options_for_select(NoticeType.all.order(:description)),
                                                      include_blank: true,
                                                      class: 'form-control select ' %>
                <% else %>
                  <%= select_tag "entity_notice_type", options_for_select(NoticeType.all.order(:description), User.find_by(loggable_type: "Entity", loggable_id: f.object.id).notice_type),
                                                        include_blank: true, 
                                                        class: 'form-control select' %>
                <% end %>
              <% end %>
            <% end %>
          </div>           
        </div>
      </div>
      <div class="col-md-12">
        <%= f.label :description %>
        <%= f.text_area :description , class: "ckeditor"  %>
      </div>
    </div>
    <div class="phone row well">
      <%= content_tag :h3, t('contact_data'), class: 'form-subtitle' %>
      <%= f.input :email, wrapper_html: { class: 'col-md-6' }, input_html: {onkeyup: "validation_email($(this),$('#email'))"} %>
      <%= f.input :phone_number, input_html: { onkeyup: "validation_telefono($(this),$('#phone_number'))",data: { mask: '999999999'} }, wrapper_html: { class: 'col-md-3' } %>
      <%= f.input :phone_number_alt, input_html: { onkeyup: "validation_telefono($(this),$('#phone_number_alt'))",data: { mask: '999999999'} }, wrapper_html: { class: 'col-md-3' } %>
      <div class="form-group col-md-6 text-center">
        <label  id="email" style="display: none; color: #a94442;"><%=t('validations.email')%></label>
      </div>
      <div class="form-group col-md-3 text-center">
        <label  id="phone_number" style="display: none; color: #a94442;"><%=t('validations.phone')%></label>
      </div>
      <div class="form-group col-md-3 text-center">
        <label id="phone_number_alt" style="display: none; color: #a94442;"><%=t('validations.phone')%></label>
      </div>  
    </div>
    <div class="row well">
      <%= content_tag :h3, t('representative'), class: 'form-subtitle' %>
      <%= f.input :representative_name, wrapper_html: { class: 'col-md-4' } %>
      <%= f.input :representative_last_name, wrapper_html: { class: 'col-md-4' } %>
      <%= f.input :representative_last_name_alt, wrapper_html: { class: 'col-md-4' } %>
    </div>
    <div class="row well">
      <%= content_tag :h3, t('contact_person'), class: 'form-subtitle' %>
      <%= f.input :contact_name, wrapper_html: { class: 'col-md-4' } %>
      <%= f.input :contact_last_name, wrapper_html: { class: 'col-md-4' } %>
      <%= f.input :contact_last_name_alt, wrapper_html: { class: 'col-md-4' } %>
    </div>
    <div class="row well">
      <%= content_tag :h3, t('other_data'), class: 'form-subtitle' %>
        <div class="row">
        <%= f.input :publish_pictures, wrapper_html: { class: 'col-md-6' } %>
        <%= f.input :annual_survey, wrapper_html: { class: 'col-md-6' } %>
        </div>
      <div class="row">
        <div class="col-md-12">
          <%= f.label :comments %>
          <%= f.text_area :comments , class: "ckeditor"  %>
        </div>
      </div>
    </div>
    <% if f.object.persisted? %>
      <div class="row well">
        <div class="form-group string optional col-md-4">
          <div class="pull-right">
            <%= f.input :active, as: :hidden %>
            <%= check_box_tag 'inactive', 'inactive', !f.object.active, onclick: "changeActive();" %>
            <label style='font-weight: normal;'>
              <%= t('inactivate') %>
            </label>
          </div>
        </div>
        <%= f.input :created_at, as: :string, input_html: {type: "datetime-local", value: f.object.unsubscribed_at.blank? ? "" : f.object.unsubscribed_at.strftime('%Y-%m-%d %H:%M'), disabled: true}, wrapper_html: { class: 'col-md-4' }  %>
        <%= f.input :unsubscribed_at, as: :string, input_html: {type: "date", value: f.object.unsubscribed_at.blank? ? "" : f.object.unsubscribed_at.strftime('%Y-%m-%d'), disabled: true}, wrapper_html: { class: 'col-md-4' }  %>
      </div>
    <% end %>
    <div class="row well">
      <%= content_tag :h3, Address.model_name.human, class: 'form-subtitle' %>
      <%= f.simple_fields_for :address, (f.object.address.presence || f.object.build_address) do |f_address|  %>
          <%= render partial: 'addresses/form_fields', locals: { f: f_address } %>
      <% end %>
    </div>
    <% if f.object.persisted? && f.object.projects.present? %>
      <div class="row well">
        <div>
          <%= content_tag :h3, Project.model_name.human(count: 2), class: 'form-subtitle' %>
        </div>
        <div class="col-md-12 with-scroll-bar">
          <%= f.simple_fields_for :projects,special_form_options do |f_project|  %> 
              <div class="row">
                <% project = f_project.object %>
                <%= f_project.input :name, required: false,label_html: {style: "width: 90px"}, input_html: {style: "width: 470px", readonly: true }, wrapper_html: { class: 'col-md-7' } %> 
                <%= f_project.input :created_at, as: :string,label_html: {style: "width: 90px"}, input_html: { style: "width: 140px", value: show_simple_date(f.object.created_at), readonly: true }, wrapper_html: { class: 'col-md-3' } %> 
                <%= f_project.input :active, wrapper_html: { class: 'col-md-2' } %>

                <div class="col-md-1">
                  <%= link_to_show project.pt_extendable, remote: true %>
                  <%= link_to_edit project.pt_extendable, target: :_new %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= render partial: 'links/documents', locals: { f: f } %>
  </div>

  <%= render partial: 'entities/form_buttons', locals: { f: f } %>
  <% end %>
</div>
