<div class="row" style="margin-left:15px">
    <%= f.button :submit, class: 'btn btn-success js-confirmable', id: 'submit' %>
    <script>
      var confirm_submit = function () {
        $('.js-confirmable').closest('form').submit(function() {
          if ($("#entity_unsubscribed_at").val() != "") {
            $("#entity_unsubscribed_at").prop("disabled", false);
          }
        });
      };
    </script>
    <%= link_to build_icon('repeat', text: t('messages.undo_changes')), '', class: 'undo js-reloadable' %>
</div>