<div class="row">
  <div class="col-md-12">
    <h2><%= t('search_filter')%></h2>
  </div>
</div>

<div class="index-panel row well">  
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <%= content_tag :label, t('entity_filter.data_entity'), class: 'col-sm-9 control-label' %>
      </div>
      <div class="row">

        <div class="col-sm-12">
          <div class="col-md-2" style= 'width: 191px; margin:0px 2px;'>
            <div class="row">
              <%= text_field_tag :enter_text, params['enter_text'] ,placeholder: t('volunteer_filter.input_text'), class: 'form-control col' %>
              <div class="tooltip col">
                <%=fa_icon "question-circle" ,class: "fa-1x"%>
                <span class="tooltiptext"><%=model_class.tooltip%></span>
              </div>
            </div>
          </div>
          <%= text_field_tag :search_nombre,params["search_nombre"],placeholder: t('entity_filter.field_name'), class: 'form-control col-md-4',  style: 'width: 131px; margin:0px 2px;'%>
          <%= text_field_tag :search_cif, params["search_cif"] ,placeholder: t('entity_filter.field_cif'), class: 'form-control col-md-4',  style: 'width: 131px; margin:0px 2px;'%>
          <%= select_tag :search_tipo, options_for_select(@hash_tipos||{}, params["search_tipo"]), include_blank: t('entity_filter.field_type'),
                        class:     'form-control col-md-4',
                        id:        'search_tipo-select',
                        style:     'width:152px; margin:0px 2px;' %>
          <%= select_tag :search_status, options_for_select({ t('active') => :active, t('inactive') => :inactive, t('all')=>:all } ||{},params["search_status"]), include_blank: t('project_filter.field_select_state'),
              class:     'form-control col-md-6',
              id:        'search_status-select',
              style:     'width:100px; margin:0px 2px;' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-right" style="margin: 20px 0px 0px 0px;">
      <button  type="button" name="button" class="btn btn-primary" id="buttonCleanEntity" 
        class="btn btn-default"><%= t('reset_search') %></button>
      <button type="button" name="button" class="btn btn-success" id="buttonSearchEntity" 
        class="btn btn-default"><%= t('search') %></button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
     <%= content_tag(:div, link_to_new(model_class, fem: true), class: '') %>
  </div>
</div>
<script>
function push_enter(event){
    search_enter(event, search_js_entity);
}

$(document).on('turbolinks:load', function(){
    showOthersNoNested();
    changeActive();
  });

  $(function() { 
    //$(document).on('keypress', push_enter);

    $('#buttonSearchEntity').on('click', function() {
        search_js_entity();
    });

    $('#buttonCleanEntity').on('click', function() {
        $(location).attr('href', "<%=entities_url%>");
    });

    $('#pages-select').on('change', function() {
        search_js_entity();
    });

    $('#enter_text').on('keyup', function() {
        correct_string($('#enter_text'));
    });

    $('#search_nombre').on('keyup', function() {
        correct_string($('#search_nombre'));
    });
});
</script>