<%= main_title(t("action.edit", model: Entity.model_name.human)) %>
<div class="row">
  <div class="col-md-11">
    <p><strong><%= Entity.model_name.human  %>: </strong><%= @entity.id %></p>  
  </div>
  <%= render "entities/button_back" %>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>


<%= render "entities/button_back" %>