<% model_class = Entity %>

<%= render partial: "common/title", locals: {model_class: model_class} %>
<%= render partial: "search", locals: {collection: @entities, model_class: model_class} %>
<div id="recarga-filtros">
  <%= render partial: "shared/count", locals: {collection: @entities, model_class: model_class, count: @entities.count, csv_enable: true, url: entities_path({format: "csv", questions: false}.merge!(params.permit!.except(:questions))) } %>
  <%= render partial: "data_table", locals: {collection: @entities, model_class: model_class } %>
  <%= render partial: "shared/pagination", locals: {collection: @entities, urlchange: "search_js_entity()" } %>
</div>

