<%= main_title(t("action.new_fem", model: Entity.model_name.human)) %>

<%= render "entities/button_back" %>

<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>

<%= render "entities/button_back" %>
