
<script type="text/javascript">

    function validateToGeneratePassword(longitud) {
        var myMessage = '';
        var cadena = '';
        var genPassword = true;

        element_send_mail = document.getElementById("send_mail");
        element_send_sms = document.getElementById("send_sms");


        if( element_send_mail.checked ) {
            if (email.value == "") {
                genPassword = false;
                alert("Si ha seleccionado 'Enviar por correo', debe proporcionar una dirección de correo electrónico.");
                return;
            }
        }

        if( element_send_sms.checked ) {
            if (mobile_phone.value == "") {
                genPassword = false;
                alert("Si ha seleccionado 'Enviar por sms', debe proporcionar un número de teléfono móvil.");
            }
        }

        if (genPassword) {
            generatePassword(8);
        }
    }


</script>

<%= main_title(t('change_password.title')) %>


<div class="row well-no-border">
  <div class="col-md-12">
    <div class="row">
      <dl class="dl-horizontal pull-left">
        <dt><%= Entity.human_attribute_name(:name) %>:</dt>
        <dd><%= @entity.name %></dd>
      </dl>
    </div>
    <div class="form-group">
      <%= form_for @entity, url: entities_update_password_path, method: :get do |f| %>
          <div class="row">
            <%= label_tag 'mobile_phone', t('change_password.mobile_phone'), class: 'col-md-4' %>
            <%= text_field_tag "mobile_phone", @entity.phone_number_alt, placeholder: t('change_password.mobile_phone'), class: 'col-md-8' %>
          </div>
          <div class="row">
            <%= label_tag 'email', t('change_password.email'), class: 'col-md-4' %>
            <%= text_field_tag "email", @entity.email, placeholder: t('change_password.email'), class: 'col-md-8' %>
          </div>

          <br>
          <br>
          <div class="row">
            <input type="button" value= 'Generar mensaje' onClick="validateToGeneratePassword(8);">
            <%= label_tag 'message', t('send_mail.message'), class: 'col-md-6' %>
            <%= text_area_tag "message", nil, class: "sms-message form-control", row: "5" %>
            <%= hidden_field_tag "sender", Rails.application.secrets.default_email_sender, placeholder: t('send_mail.sender'), class: 'col-md-8' %>

              <%= check_box_tag('send_mail', value = "1", checked = true) %>
              <label style='font-weight: normal;'>
                <%= t('change_password.send_mail') %>
              </label>

              <%= check_box_tag('send_sms', value = "1", checked = false) %>
              <label style='font-weight: normal;'>
                <%= t('change_password.send_sms') %>
              </label>


            <%= hidden_field_tag "cadena_aleatoria", "" %>
            <%= hidden_field_tag "entity", @entity.id %>
            <%= f.submit t('change_password.send_button'), class: 'btn btn-success', id: 'btn-send' %>

          </div>
      <% end %>
    </div>
  </div>
</div>

<% unless request.xhr? %>
    <%= link_to( t('action.back'),edit_entity_path(@entity), class: 'btn btn-default') %>
<% end %>
