<%= main_title(t("action.show", model: Entity.model_name.human)) %>

<%=render "show"%>
<% unless request.xhr? %>
<%= link_to( t('action.back'),entities_path, class: 'btn btn-default') %>

<%= button_to_edit(@entity) %>
<% end %>