<div class="well well-tracking">
  <%= simple_form_for(@pro_tracking, default_form_options) do |f| %>

  <div class="form-inputs">
          <%= f.association :project, input_html: { disabled: true, id: 'project',  value:  @pro_tracking.project  }, default: @pro_tracking.project %>
          <%= f.input :manager, input_html: { disabled: true, id: 'manager', value: current_user.try(:loggable) } %>
          <%= f.input :manager_id, as: :hidden, input_html: { value: current_user.loggable_id } %>
          <%= f.input :tracked_at, as: :string, input_html: {type: "datetime-local",value: f.object.tracked_at.blank? ? Time.zone.now.strftime("%Y-%m-%d %H:%M") : f.object.tracked_at.strftime("%Y-%m-%d %H:%M")} %>
          <%= f.association :tracking_type, collection: @tracking_types_active  %> 
          <%= f.input :comments, input_html: { id: 'tracking-comment' } %>
          <%= hidden_field_tag :is_update, params[:is_update] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, onclick: "enableToSaveFields();" %>
    <script>
      // Enable fields simple_form_for to be able to pass them as params
      function enableToSaveFields() {
        $('#project').attr("disabled", false);
      }
    </script>
  </div>
  <% end %>
</div>
