<tr id="<%= dom_id(pro_tracking) %>" >
  <% Pro::Tracking.main_columns.each do |attr_name| %>
    <td>
      <% if attr_name.to_s=="request_form" && !pro_tracking.request_form.nil?%>
          <%= pro_tracking.request_form.request_type %>
        <%else%>
          <%= show_attr(pro_tracking, attr_name) %>
        <%end%>
    </td>
  <% end %>
  <td class="index_table-actions">
    <%= link_to_show(pro_tracking, path: "pro_tracking_path", path_params: {is_update: params[:is_update], "q[project_id_eq]" => params[:q][:project_id_eq]}) %>
    <% unless pro_tracking.automatic %>
      <%= link_to_edit(pro_tracking, path: "edit_pro_tracking_path", path_params: {is_update: params[:is_update], "q[project_id_eq]" => params[:q][:project_id_eq]}) %>
    <% end %>
  </td>
</tr>

