<div class="index-panel row well">
  <div class="col">
    <div class="row">
      <%= content_tag :label, t('trackings_filter.data_tracking'), class: 'col-sm-6 control-label', style: 'margin-right:-14rem;' %>
      <%= content_tag :label, t('trackings_filter.start_date'), class: 'col-sm-1 control-label', style: 'margin-right:12px;width: 18rem' %>
      <%= content_tag :label, t('trackings_filter.end_date'), class: 'col-sm-1 control-label', style: "width: 18rem" %>  
    </div>
    <div class="row" style="padding-left: 20px;">
       <div class="col-md-3" style= 'width: 200px; margin:0px 2px;'>
          <div class="row">
           <%= hidden_field_tag :"q[project_id_eq]", @project.id %>
            <%= text_field_tag :search_enter_text, params['search_enter_text'] ,placeholder: t('volunteer_filter.input_text'), class: 'form-control col' %>
            <div class="tooltip col">
              <%=fa_icon "question-circle" ,class: "fa-1x"%>
              <span class="tooltiptext"><%=model_class.tooltip%></span>
            </div>
          </div>
        </div>
      <%= text_field_tag :search_manager, params["search_manager"], placeholder: t('trackings_filter.manager'), class: 'form-control col-md-3', style: 'width: 130px; margin:0px 2px;'%>
      <div class="col-sm-2">
        <%= content_tag :label, t('trackings_filter.tracking_date'), class: 'control-label', style: 'margin: 7px 0px 0px 19px;' %>
      </div>
        <%= simple_form_for(:search) do |f|%>
      <div class="col-sm-1" style="width: 18rem; margin: 0px 2px;">
        <%= f.input :inicio_f,as: :string, label: false, input_html:  {type: "date", value: params.permit!["search_inicio_f"]} %>
      </div>
      <div class="col-sm-1" style="width: 18rem; margin: 0px 2px;" >
        <%= f.input :fin_f,as: :string, label: false, input_html:  {type: "date", value: params.permit!["search_fin_f"]} %>
      </div>
      <%end%>
      <div class="col-md-4 text-right" >
      			<button type="button" name="button" class="btn btn-primary" id="buttonCleanTrackProject"><%= t('reset_search') %></button>
      			<button type="button" name="button" id="buttonSearchTrackProject" class="btn btn-success" class="btn btn-default"><%=t 'search'%></button>
    		</div>
    </div>
    <div class="row text-center">
      <div class="col">
        <label class="text-center" id="warningLabelFecha"><%=t('warning_label_fecha')%></label>
        <label class="text-center" id="warningLabelFechaFormat"><%=t('warning_label_fecha_desde_format')%></label>
        <label class="text-center" id="warningLabelFechaFormat2"><%=t('warning_label_fecha_hasta_format')%></label>
      </div>
		</div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6" style="margin: 0px; padding:5px">
    <%= content_tag(:div, link_to_new(model_class, path_params: { project_id: @project.try(:id), is_update: params[:is_update], "q[project_id_eq]" => params[:q][:project_id_eq]}), class: 'col-md-6 pull-left') %>
  </div>
</div>
<script>
function push_enter(event){
    search_enter(event,search_js_track_projects);
}

 
    //$(document).on('keypress', push_enter);
    
    $('#buttonSearchTrackProject').on('click', function() {
        search_js_track_projects();
    });

    $('#buttonCleanTrackProject').on('click', function() {
         $(location).attr('href', "<%=pro_trackings_path(:"q[project_id_eq]" => @project.id)%>");
    });

    $('#pages-select').on('change', function() {
        search_js_track_projects();
    });

    $('#search_enter_text').on('keyup', function() {
        correct_string($('#search_enter_text'));
    });

    $('#search_manager').on('keyup', function() {
        correct_string($('#search_manager'));
    });

    $('#search_inicio_f').on('keyup', function() {
        valida_date_until($('#search_fin_f'),$("#search_inicio_f"),$("#warningLabelFecha"),$("#warningLabelFechaFormat"),$("#warningLabelFechaFormat2"),'buttonSearchTrackProject')
    });

    $('#search_fin_f').on('keyup', function() {
        valida_date_until($("#search_fin_f"),$("#search_inicio_f"),$("#warningLabelFecha"),$("#warningLabelFechaFormat"),$("#warningLabelFechaFormat2"),'buttonSearchTrackProject')
    });
</script>