<dl class="dl-horizontal">

  <dt><%= Pro::Tracking.human_attribute_name(:project) %>:</dt>
  <dd><%= @pro_tracking.project %></dd>
  <% unless @pro_tracking.request_form.nil? %>
    <dt><%= Pro::Tracking.human_attribute_name(:request_form) %>:</dt>
    <dd><%= @pro_tracking.request_form.request_type %></dd>
  <% end %>
  <dt><%= Pro::Tracking.human_attribute_name(:tracked_at) %>:</dt>
  <dd><%= show_simple_date(@pro_tracking.tracked_at) %></dd>
  <dt><%= Pro::Tracking.human_attribute_name(:comments) %>:</dt>
  <dd><%= @pro_tracking.comments %></dd>
  <dt><%= Pro::Tracking.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@pro_tracking.created_at) %></dd>

</dl>