<%= main_title(t("action.edit", model: Pro::Tracking.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form' %>
  </div>
</div>

<%= link_to( t('action.back'), pro_trackings_path("q[project_id_eq]"=> @pro_tracking.project_id, project_id: params[:project_id], is_update: params[:is_update]), class: 'btn btn-default') %> 

