<% model_class = Pro::Tracking %>

<%= render partial: "common/title", locals: {model_class: model_class, name: @project.try(:name)} %>
<%= render partial: "search", locals: {collection: @pro_trackings, model_class: model_class} %>
<div id="recarga-filtros">
  <%= render partial: "count", locals: {collection: @pro_trackings, model_class: model_class } %>
  <%= render partial: "data_table", locals: {collection: @pro_trackings, model_class: model_class} %>
  <%= render partial: "shared/pagination", locals: {collection: @pro_trackings, urlchange: "search_js_track_projects()"} %>
</div>
<div class="col-md-12">
  <div class="col-md-1">
    <% if !params[:is_update].blank? %>
      <%= link_to( t('action.back'), edit_project_path(@project), class: 'btn btn-default') %> 
    <% else %>
      <%= link_to( t('action.back'), projects_path, class: 'btn btn-default') %> 
    <% end %>
  </div>
</div>

