<%= main_title(t("action.show", model: Pro::Tracking.model_name.human)) %>

<%=render "show"%>
<% unless request.xhr? %>
<%= link_to( t('action.back'),pro_trackings_path("q[project_id_eq]": @pro_tracking.project.id), class: 'btn btn-default') %>
<%= button_to_edit(@pro_tracking) %>
<% end %>