
<dl class="dl-horizontal">

  <dt><%= VolunProfile.human_attribute_name(:id) %>:</dt>
  <dd><%= @volun_profile.id %></dd>
  <dt><%= VolunProfile.human_attribute_name(:name) %>:</dt>
  <dd><%= @volun_profile.name %></dd>
  <dt><%= VolunProfile.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@volun_profile.created_at) %></dd>
  <dt><%= VolunProfile.human_attribute_name(:updated_at) %>:</dt>
  <dd><%= show_simple_date(@volun_profile.updated_at) %></dd>

</dl>