<tr id="<%= dom_id(volun_profile) %>" >

  <% VolunProfile.main_columns.each do |attr_name| %>
    <td><%= show_attr(volun_profile, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(volun_profile, path: "administration_catalogue_volun_profile_path") %>
    <%= link_to_edit(volun_profile, path: "edit_administration_catalogue_volun_profile_path") %>
<% if volun_profile.try(:archived?) %>
    <%= link_to_recover(volun_profile, path: "recover_administration_catalogue_volun_profile_path") %>
<% else %>
    <%= link_to_destroy(volun_profile, path: "administration_catalogue_volun_profile_path") %>
<% end %>
  </td>
</tr>
