<%= main_title(t("action.edit", model: VolunProfile.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :put, path: administration_catalogue_volun_profile_path(@volun_profile) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_volun_profiles_path, class: 'btn btn-default') %>