<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: "search", locals: {search: @volun_profiles,model_class: @model_class} %>
<%= render partial: "common/generic_table", locals: {search: @search_q,collection: @volun_profiles, model_class: @model_class, partial: 'volun_profile' } %>
<%= render partial: "shared/pagination", locals: {collection: @volun_profiles, urlchange: "search_js_volun_profiles()"} %>
<%=render partial: "common/button_back", locals: {path: maintenance_path, method: :get}%>