<%if !f.object.activities.blank?%>
        <div class="row well">
            <%= content_tag :h2, "Actividades relacionadas", class: 'form-subtitle' %>
        
            <div class="col" style="width:100%;overflow-x:auto;">
                <table class="index-table" >
                    <thead>
                    <tr>
                        <% Activity.project_columns.each do |column| %>
                            <th><%=Activity.human_attribute_name(column) %></th>
                        <% end %>   
                        <th><%= t('actions') %></th>   
                    </tr>
                    </thead>            
                    <tbody>
                        <% f.object.activities.each do |sub|  %>
                            <%=render partial: "projects/partials_form/activity", locals: {activity: sub}%>
                        <%end%>
                    </tbody>
                </table>
            </div>
        </div>
<%end%>