<tr class="act-results" id="<%= dom_id(activity) %>" >

  <% Activity.project_columns.each do |attr_name| %>    
    <%if attr_name.to_s=="transport"%>
      <td style="overflow-wrap: break-word;"><%=activity.try(:transport).blank? ? "" : Nokogiri::HTML(activity.transport).text%></td>
    <%elsif attr_name.to_s=="description"%>
      <td style="overflow-wrap: break-word;"><%=activity.try(:description).blank? ? "" : Nokogiri::HTML(activity.description).text%></td>
    <%else%>
      <td><%= show_attr(activity, attr_name) %></td>
    <%end%>
  <% end %>
  
  <td class="index_table-actions">
    <%= link_to_show(activity, path: "activity_path") %>
    <%= link_to_edit(activity, path: "edit_activity_path") %>  
  </td>
</tr>

