<div class="row well">
  <%= content_tag :h2, "#{Album.model_name.human(count: 2)}", class: 'form-subtitle' %>
  <input type="hidden" id='albumNum' value="<%=f.object.albums.count %>"/>
  <%= f.simple_fields_for :albums do |f_event|  %>
      <%=render "album_fields", f: f_event%>
  <%end%>
  <p style="margin-top: 40px"><%= link_to_add_association icon_new(text: "#{t('action.add')} #{Album.model_name.human} "),f, :albums, class: 'add_nested_fields btn', id: 'addAlbum', onclick: 'addAlbum();' %></p>    
</div>
<script>
var albumNum = $("#albumNum").val();
    
    if (albumNum < 2) {
      $("#rmEvent").hide();
    }
    
    function addAlbum() {
      albumNum++;
      $("#rmEvent").show();
    }
    
    function rmEvent() {
      albumNum--;
      if (albumNum < 2) {
        $("#rmEvent").hide();
      }
    }
</script>