<div class="row well">
    <div class=" col">
      <%= content_tag :h2, Area.model_name.human(count: 2), class: 'form-subtitle' %>
      <%= f.association :areas, as: :check_boxes, label: false, item_wrapper_class: 'checkbox_customize' %>
      <div class='col-sm-12'>
        <% f.object.inactive_areas.each do |area| %>
          <span class='checkbox_customize'>
            <%= check_box_tag(area.name, value = "1", checked = true, options = { :disabled => true }) %>
            <label style='font-weight: normal;'>
              <%= area.name %>
            </label>
          </span>
        <% end %>
      </div>
    </div>
</div>