<div class="row well">
    <div class="col">
      <%= content_tag :h2, Collective.model_name.human(count: 2), class: 'form-subtitle' %>
      <%= f.association :collectives, as: :check_boxes, label: false, item_wrapper_class: 'checkbox_customize' %>
      <div class='col-sm-12'>
        <% f.object.inactive_collectives.each do |collective| %>
          <span class='checkbox_customize'>
            <%= check_box_tag(collective.name, value = "1", checked = true, options = { :disabled => true }) %>
            <label style='font-weight: normal;'>
              <%= collective.name %>
            </label>
          </span>
        <% end %>
      </div>
    </div>
</div>