<%#=javascript_include_tag Ckeditor.cdn_url, 'data-turbolinks-track': true %>

<div class="row well">
  <div class="col-md-12">
    <%= content_tag :h2, Project.model_name.human, class: 'form-subtitle' %>
    <%= show_simple_base_errors(f) %>

    <% if !@publish.blank?
      f.object.name = @publish.notes
      f.object.entity = @publish.request_form.user.loggable unless @publish.request_form.user.blank?
      f.object.description = @publish.description%>
      <%= hidden_field_tag :rt_project_publishing_id, params[:rt_project_publishing_id]%>
      <%= hidden_field_tag :request_form,@publish.request_form %>
    <%end %>
    <%= hidden_field_tag 'project_id', f.object.id %>
    <%= hidden_field_tag 'message_title_urgent', t('message_title_urgent') %>
    <%= hidden_field_tag 'message_body_urgent', t('message_body_urgent') %>
    <%= hidden_field_tag 'message_title_outstanding', t('message_title_outstanding') %>
    <%= hidden_field_tag 'message_body_outstanding', t('message_body_outstanding') %>

    <div class="row well">
      <div class="col-md-4">
        <%= f.input :subtype_pt, collection: @hash_subtypes_pt,as: :select,:include_blank => "" %>
      </div>
      <div class="col-md-4">
        <%= f.input :subtype_proyect, collection: @hash_subtypes_proyect,as: :select,:include_blank => "" %>
      </div>
      <div class="col-md-4" id="father_data">
        <%= f.input :father_id, collection: @proyects_matriz.where(active: true).where("cast(execution_start_date as date) <= cast(NOW() as date) and cast(execution_end_date as date) is null or cast(NOW() as date) BETWEEN cast(execution_start_date as date) and cast(execution_end_date as date) OR id = ?",f.object.father_id.to_i).select{|x| x.id != f.object.id}.map {|x| ["#{x[:id]} - #{x[:name]}",x[:id]]},as: :select,:include_blank => "" %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <% f.object.errors[:logo].each do |l| %>
          <div style="color: #a94442;font-size:16px"><%= l %></div>
        <% end %>
        <%= f.simple_fields_for :logo, (f.object.logo || f.object.build_logo) do |f_logo|  %>
          <%= render 'links/logo',  f: f_logo %>
        <% end %>
      </div>
      <div class="col-md-8">
        <% unless f.object.id.blank?%>
          <div class="row" style="margin: 10px 0;">
            <div class="col-sm-5 text-right"><label>ID</label></div>
            <div class="col-sm-7"><%=f.object.id%></div>
          </div>
        <%end%>
        <% no_publish = @publish.blank? %>
        <%= f.input :year, as: :string, placeholder: '0', input_html: {value: (f.object.id.blank? ? Time.zone.now.year : f.object.year) , min: 4, max: 4} %>
      
        <% if no_publish %>
          <%= f.association :entity,input_html: {:onchange => "search_project([
            ['entity_vat_number',$(this),'i']
            ],'#cif_objeto');" ,style:  (@clase_estilo unless f.object.name.blank?)||'' }%>
        <% else %>
          <%= f.association :entity,input_html: {style:  (@clase_estilo unless f.object.name.blank?)||'' , disabled: true}%>
          <%= f.input :entity_id, :as => :hidden, :input_html => {:value => f.object.entity.try(:id)}  %>
        <% end %>

        <div class="row" style="margin: 10px 0;">
          <div class="col-sm-5 text-right"><label>CIF</label></div>
          <div  class="col-sm-7">
            <div id="cif_objeto">
              <% if no_publish %>
                <%= @entity_vat_number unless @entity_vat_number.blank?%>
              <% else %>
                <%= f.object.entity.try(:vat_number) %>
              <% end %>
            </div>
          </div>
        </div>
        <%= f.input :name , :input_html=> {style:  (@clase_estilo unless f.object.name.blank?)||'' } %>
        <%= f.input :area_departament %>
      </div>
    </div>
    <div class="row well">
      <div class="col-md-3">
        <%= f.input :permit_debate %>
      </div>
      <div class="col-md-3">
        <%= f.input :permit_faq %>
      </div>     
    </div>
    <div class="row" style="margin: 20px 0;">
      <% unless f.object.new_record? %>
        <div class="col-md-3"><%= f.input :active %></div>
      <%end%>
      <% if can?(:volunteer_allowed, Project) %>
        <div class="col-md-3"><%= f.input :volunteers_allowed%></div>
      <%else%>
        <%= f.input :volunteers_allowed, :as => :hidden %>
      <%end%>
      <% if can?(:publish, Project) %>
        <div class="col-md-3"><%= f.input :publish %></div>
      <%else%>
        <%= f.input :publish, :as => :hidden %>
      <% end%>
      <div class="col-md-3"><%= f.input :outstanding, input_html: { id: 'outstanding', onclick: 'filterImportance(this.id);' } %></div>
      <div class="col-md-3"><%= f.input :urgent, input_html: { id: 'urgent', onclick: 'filterImportance(this.id);' } %></div>
      <div class="col-md-3"><%= f.input :publish_chart  %></div>
      <% unless f.object.new_record? %>
        <div class="col-md-3"><%= f.input :suspended %></div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.label :description %>
        <%= f.text_area :description , class: "ckeditor", style:  (@clase_estilo unless f.object.name.blank?)||''  %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.label :comments %>
        <%= f.text_area :comments , class: "ckeditor"  %>
      </div>
    </div>
  </div>
</div>


<script>

$('#<%=f.object.pt_extendable_type.to_s.downcase.gsub("::","_")%>_project_attributes_subtype_proyect').on("change", changeMatriz);

function changeMatriz() {
   if ($('#<%=f.object.pt_extendable_type.to_s.downcase.gsub("::","_")%>_project_attributes_subtype_proyect').val() == "subproyect") {
    $('#father_data').show();
  } else {
    $('#<%=f.object.pt_extendable_type.to_s.downcase.gsub("::","_")%>_project_attributes_father_id option:eq(0)').prop("selected", true);
    $('#father_data').hide();
  }
}
changeMatriz();

</script>