<div class="row well">
    <%= content_tag :h2, t('contact_persons'), class: 'form-subtitle' %>
    <div class="col-md-6">
      <%= f.input :contact_name %>
      <%= f.input :contact_last_name %>
      <%= f.input :contact_last_name_alt %>
    </div>
    <div class="col-md-6">
      <%= f.input :email, placeholder: 'email@email.com', input_html: {onkeyup: "validation_email($(this),$('#email'))",class: 'm-width250'} %>
      <label class="col text-center" id="email" style="display: none; color: #a94442; width: 100%"><%=t('validations.email')%></label>
      <%= f.input :phone_number, input_html: {onkeyup: "validation_telefono($(this),$('#phone_number'))", class: 'm-width150', data: { mask: '999999999'} }  %>
      <label class="col text-center" id="phone_number" style="display: none; color: #a94442; width: 100%"><%=t('validations.phone')%></label>
    </div>
</div>

<div class="row well">
    <div class="col-md-6">
      <%= f.input :contact_name1 %>
      <%= f.input :contact_last_name1 %>
      <%= f.input :contact_last_name_alt1 %>
    </div>
    <div class="col-md-6">
      <%= f.input :email1, placeholder: 'email@email.com', input_html: {onkeyup: "validation_email($(this),$('#email1'))",class: 'm-width250'} %>
      <label class="col text-center" id="email1" style="display: none; color: #a94442; width: 100%"><%=t('validations.email')%></label>
      <%= f.input :phone_number1, input_html: { onkeyup: "validation_telefono($(this),$('#phone_number1'))",class: 'm-width150', data: { mask: '999999999'} }  %>
      <label class="col text-center" id="phone_number1" style="display: none; color: #a94442; width: 100%"><%=t('validations.phone')%></label>
    </div>
</div>

<div class="row well">
    <div class="col-md-6">
      <%= f.input :contact_name2 %>
      <%= f.input :contact_last_name2 %>
      <%= f.input :contact_last_name_alt2 %>
    </div>
    <div class="col-md-6">
      <%= f.input :email2, placeholder: 'email@email.com', input_html: {onkeyup: "validation_email($(this),$('#email2'))",class: 'm-width250'} %>
      <label class="col text-center" id="email2" style="display: none; color: #a94442; width: 100%"><%=t('validations.email')%></label>
      <%= f.input :phone_number2, input_html: { onkeyup: "validation_telefono($(this),$('#phone_number2'))",class: 'm-width150', data: { mask: '999999999'} }  %>
      <label class="col text-center" id="phone_number2" style="display: none; color: #a94442; width: 100%"><%=t('validations.phone')%></label>
    </div>
</div>