<div class="row well">
    <%= content_tag :h2, 'Datos del seguro', class: 'form-subtitle' %>
    <%= f.input :insured, input_html: {onClick: 'setInsurDate()'}, wrapper_html: { class: 'col-md-6' } %>
    <%= f.input :insurance_date, as: :string, input_html: {type: "date", value: f.object.insurance_date.blank? ? "" : f.object.insurance_date.strftime('%Y-%m-%d')}, wrapper_html: { class: 'col-md-6' } %>
    <%= f.simple_fields_for :documents do |f_document|  %>
        <%= f_document.input :name, label: Document.model_name.human %>
    <% end %>
</div>