<div class="row well">
    <%= content_tag :h2, 'Fechas de ejecución', class: 'form-subtitle' %>
    <%= f.input :execution_start_date, as: :string, input_html: {type: "date", value: f.object.execution_start_date.blank? ? "" : f.object.execution_start_date.strftime('%Y-%m-%d')}, wrapper_html: { class: 'col-md-6' } %>
    <%= f.input :execution_end_date, as: :string, input_html: {type: "date", value: f.object.execution_end_date.blank? ? "" : f.object.execution_end_date.strftime('%Y-%m-%d')}, wrapper_html: { class: 'col-md-6' } %>
</div>