<div class="row well">
  <%= content_tag :h2, "#{EntityOrganization.model_name.human(count: 2)}", class: 'form-subtitle' %>      
  <input type="hidden" id='eventsOrganizationsNum' value="<%=f.object.entity_organizations.count %>"/>
  <%= f.simple_fields_for :entity_organizations, EntityOrganization.new if f.object.new_record?  do |f_ent| %>
    <%=render "projects/entity_organization_fields", f: f_ent%>
  <%end%>
  <div>
    <p><%= link_to_add_association icon_new(text: "#{t('action.add')} #{EntityOrganization.model_name.human}"),f, :entity_organizations, class: 'add_nested_fields btn', id: 'guarda', onclick: 'guarda();' %></p>
  </div>
</div>

<script>

    var eventsOrganizationsNum = $("#eventsOrganizationsNum").val();
    
    if (eventsOrganizationsNum < 2) {
      $("#reset").hide();
    }
    
    function guarda() {
      eventsOrganizationsNum++;
      $("#reset").show();
    }
    
    function reset() {
      eventsOrganizationsNum--;
      if (eventsOrganizationsNum < 2) {
        $("#reset").hide();
      }
    }

</script>