<%if !f.object.subtype_proyect.blank?%>
    <%if !f.object.father.blank? && f.object.subtype_proyect == "subproyect"%>
        <div class="row well">
            <%= content_tag :h2, "Proyecto Matriz", class: 'form-subtitle' %>
        
            <div class="col" style="width:100%;overflow-x:auto;">
                <table class="index-table" >
                    <thead>
                    <tr>
                        <% Project.matriz_columns.each do |column| %>
                            <th><%=Project.human_attribute_name(column) %></th>
                        <% end %>   
                        <th><%= t('actions') %></th>   
                    </tr>
                    </thead>            
                    <tbody>
                        <tr>
                            <% Project.matriz_columns.each do |column| %>
                                <td><%=f.object.father.try(column.to_sym) %></td>
                            <% end %>     
                            <td>
                                <%= link_to_show(f.object.father.pt_extendable || f.object.father) %>
                                <% if can? :edit, Project %> 
                                    <%= link_to_edit(f.object.father.pt_extendable || f.object.father) %>
                                <% end %>
                                <%= link_to_trackings(f.object.father, "pro") %>
                            </td> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    <%else%>
        <div class="row well">
            <%= content_tag :h2, "Subproyectos", class: 'form-subtitle' %>
        
            <div class="col" style="width:100%;overflow-x:auto;">
                <table class="index-table" >
                    <thead>
                    <tr>
                        <% Project.subproyect_columns.each do |column| %>
                            <th><%=Project.human_attribute_name(column) %></th>
                        <% end %>   
                        <th><%= t('actions') %></th>   
                    </tr>
                    </thead>            
                    <tbody>
                        <% f.object.subprojects.order(:pt_order).each do |sub|  %>
                            <tr>
                                <% Project.subproyect_columns.each do |column| %>
                                    <td><%=sub.try(column.to_sym) %></td>
                                <% end %>     
                                <td>
                                    <%= link_to_show(sub.pt_extendable || sub) %>
                                    <% if can? :edit, Project %> 
                                        <%= link_to_edit(sub.pt_extendable || sub) %>
                                    <% end %>
                                    <%= link_to_trackings(sub, "pro") %>
                                </td> 
                            </tr>
                        <%end%>
                    </tbody>
                </table>
            </div>
        </div>
    <%end%>
<%end%>