<div class="row well">
    <%= content_tag :h2, Volunteer.model_name.human(count: 2), class: 'form-subtitle' %>
    <div class="col-md-7">
      <%= f.input :volunteers_num, as: :integer, placeholder: '0', input_html: {class: 'm-width150', min: 0, max: 5} %> 
      <% f.object.participants_num_calculated %> 
      <div class="row">
        <div class="col-sm-5 text-right">
          <%= f.label :participants_num, as: :integer, placeholder: '0', input_html: {min: 0} %>
        </div>
        <div class="col-sm-2" style="width: 60px">
          <%= f.text_field :volunteers_project_count, placeholder: '0', readonly: true, class: "form-control", style: "width: 50px" %>
        </div>
        <% if params[:action] == "edit" %> 
          <div class="col-sm-5">
            <%= link_to t('volunteers_of_project'), project_volunteers_path(f.object.id||{},q:{projects_id_eq: f.object.id },pt_extendable_id:f.object.pt_extendable_id, asociated: :true),class:"btn btn-success", style: "margin: 0px 0px 15px 0px;" %> 
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-sm-5 text-right">
          <%= f.label :project_derivates %>
        </div>
        <div class="col-sm-2" style="width: 60px">
          <%= f.text_field :derivaties_volunteers_count, placeholder: '0', readonly: true, class: "form-control", style: "width: 50px" %>
        </div>
        <% if params[:action] == "edit" %> 
          <div class="col-sm-5">
            <%= link_to t('derivatives_volunteers_of_project'), derivatie_project_volunteers_path(f.object.id||{},q:{projects_id_eq: f.object.id },pt_extendable_id:f.object.pt_extendable_id),class:"btn btn-success", style: "margin: 0px 0px 15px 0px;" %> 
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-5">
        <%= f.input :beneficiaries_num, as: :integer, placeholder: '0', input_html: {class: 'm-width150', min: 0, max: 5} %> 
        <%= f.input :number_of_activities, as: :integer, placeholder: '0', input_html: {min: 0} %>
        <%= f.input :number_of_actions, as: :integer, placeholder: '0', input_html: {min: 0}%>
    </div>
    <div class="col-md-12" style='margin-top: 10px'>
        <%= f.label :functions %>
        <%= f.text_area :functions , class: "ckeditor"  %>
    </div>
    <br/>    
</div>