<%= main_title(t("action.show", model: MassiveSmsHistoric.model_name.human)) %>


<div class="index-panel row well">
  <div class="col-md-12 col-center">
    <h2><strong><%= MassiveSmsHistoric.human_attribute_name(:data_title) %>:</strong> <%= @massive_sms_historic.id %></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt><%= MassiveSmsHistoric.human_attribute_name(:manager_name) %>:</dt>
      <dd><%= @massive_sms_historic.try(:manager_name)%></dd>
    </dl>
  </div>
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt><%= MassiveSmsHistoric.human_attribute_name(:created_at) %>:</dt>
      <dd><%= show_simple_date(@massive_sms_historic.try(:created_at))%></dd>
    </dl>
  </div>
</div>
<div class="index-panel row well">
  <div class="col-md-12 col-center">
    <h2><strong><%= MassiveSmsHistoric.human_attribute_name(:data_log) %></strong></h2>
  </div>
</div>
<div class="row" style="margin: 0px 6px;">
  <div class="col-md-12 col-center" >
    <%=@massive_sms_historic.try(:log).try {|x| x.html_safe}%>
  </div>
</div>

<%if @massive_sms_historic.specific=="citizen"%>
  <%= link_to( t('action.back'),send_massive_sms_citizens_path, class: 'btn btn-default') %>
<%elsif @massive_sms_historic.specific=="volunteer"%>
  <%= link_to( t('action.back'),send_massive_sms_volunteers_path, class: 'btn btn-default') %>
<%end%>