<tr id="<%= dom_id(channel) %>" >

  <% Channel.main_columns.each do |attr_name| %>
    <td><%= show_attr(channel, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(channel, path: "administration_catalogue_channel_path") %>
    <%= link_to_edit(channel, path: "edit_administration_catalogue_channel_path") %>
<% if channel.try(:archived?) %>
    <%= link_to_recover(channel, path: "recover_administration_catalogue_channel_path") %>
<% else %>
    <%= link_to_destroy(channel, path: "administration_catalogue_channel_path") %>
<% end %>
  </td>
</tr>
