
    <dl class="dl-horizontal">

        <dt><%= Channel.human_attribute_name(:id) %>:</dt>
        <dd><%= @channel.id %></dd>
        <dt><%= Channel.human_attribute_name(:name) %>:</dt>
        <dd><%= @channel.name %></dd>
        <dt><%= Channel.human_attribute_name(:code) %>:</dt>
        <dd><%= @channel.code %></dd>
        <dt><%= Channel.human_attribute_name(:active) %>:</dt>
        <dd><%= t("humanize.#{@channel.active}") %></dd>
        <dt><%= Channel.human_attribute_name(:created_at) %>:</dt>
        <dd><%= show_simple_date(@channel.created_at) %></dd>

    </dl>
