<%= main_title(t("action.edit", model: Channel.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :put, path: administration_catalogue_channel_path(@channel) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_channels_path, class: 'btn btn-default') %>