
<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: "search", locals: {collection: @channels, model_class: @model_class} %>
<%= render partial: "common/generic_table", locals: {search: @search_q,collection: @channels, model_class: @model_class, partial: 'channel' } %>
<%= render partial: "shared/pagination", locals: {collection: @channels, urlchange: "search_js_channel()"} %>
<%=render partial: "common/button_back", locals: {path: maintenance_path, method: :get}%>