<tr id="<%= dom_id(rt_volunteer_amendment) %>" >
    <% Rt::VolunteerAmendment.main_columns.each do |attr_name| %>
        <td class="<%= rt_volunteer_amendment.req_status if attr_name.to_s=="get_status" %>"><%= show_attr(rt_volunteer_amendment, attr_name) %></td>
    <% end %>
    
    <td class="index_table-actions">
       <% if !rt_volunteer_amendment.blank? &&  (rt_volunteer_amendment.approved? || rt_volunteer_amendment.rejected?) %>
            <%= link_to_show(rt_volunteer_amendment, path: "rt_volunteer_amendment_path") %>
            <% if rt_volunteer_amendment.rejected? %>
                <%= link_to_undo_rejection(rt_volunteer_amendment, path: "undo_rejection_request_form_rt_volunteer_amendment_path") %>
            <% else %>
                <%= link_to_process(rt_volunteer_amendment, path: "process_request_form_rt_volunteer_amendment_path") %>
            <% end %>
        <% else %>
            <%= link_to_process(rt_volunteer_amendment, path: "process_request_form_rt_volunteer_amendment_path") %>
        <% end %>
    </td>
</tr>
