<% volunteer    = request.volunteer  %>

<dl class="dl-horizontal">
  <dt><%= Rt::VolunteerAmendment.human_attribute_name(:name) %>:</dt>
  <dd><%= volunteer.name unless volunteer.blank? %></dd>
  <dt><%= Rt::VolunteerAmendment.human_attribute_name(:last_name) %>:</dt>
  <dd><%= volunteer.last_name unless volunteer.blank? %></dd>
  <dt><%= Rt::VolunteerAmendment.human_attribute_name(:last_name_alt) %>:</dt>
  <dd><%= volunteer.last_name_alt unless volunteer.blank? %></dd>
  <dt><%= Rt::VolunteerAmendment.human_attribute_name(:phone_number) %>1:</dt>
  <dd><%= request.phone_number %></dd>
  <dt><%= Rt::VolunteerAmendment.human_attribute_name(:phone_number) %>2:</dt>
  <dd><%= request.phone_number_alt %></dd>
  <dt><%= t('activerecord.attributes.volunteer.address_id') %>:</dt>
  <dd><%= request.address%></dd>
  <dt><%= Rt::VolunteerAmendment.human_attribute_name(:email) %>:</dt>
  <dd><%= request.email %></dd>
  <dt><%= Rt::VolunteerAmendment.human_attribute_name(:district) %>:</dt>
  <dd><%= request.district.try(:name) %></dd>
  <dt><%= Rt::VolunteerAmendment.human_attribute_name(:notes) %>:</dt>
  <dd><%= request.notes %></dd>
</dl>