
<% request_form = @rt_volunteer_amendment.request_form %>
<% volunteer    = @rt_volunteer_amendment.volunteer unless @rt_volunteer_amendment.volunteer.blank? %>

<%= main_title(t("action.show", model: Rt::VolunteerAmendment.model_name.human)) %>
<div class="row">
  <div class="col-md-6">

    <dl class="dl-horizontal well">
      <dt><%= t('volunteer_complet_name') %>:</dt>
      <dd><%= "#{volunteer.name} #{volunteer.last_name} #{volunteer.last_name_alt}" unless volunteer.blank? %></dd>
      <dt><%= Rt::VolunteerAmendment.human_attribute_name(:email) %>:</dt>
      <dd><%= @rt_volunteer_amendment.email %></dd>
      <dt><%= t('activerecord.attributes.volunteer.phones') %>:</dt>
      <dd><%= "#{@rt_volunteer_amendment.phone_number}" %>
      <%= '/' unless (@rt_volunteer_amendment.phone_number.blank? || @rt_volunteer_amendment.phone_number_alt.blank?) %>
      <%= "#{@rt_volunteer_amendment.phone_number_alt}" unless @rt_volunteer_amendment.phone_number_alt.blank?  %></dd>
      <dt><%= t('activerecord.attributes.volunteer.address_id') %>:</dt>
      <dd><%=@rt_volunteer_amendment.address%>
      </dd>
      <dt><%= RequestForm.human_attribute_name(:status) %>:</dt>
      <dd>
        <span class="<%= @rt_volunteer_amendment.request_form.status.kind %>">
          <%= @rt_volunteer_amendment.request_form.status %>
        </span>
      </dd>
      <dt><%= RequestForm.human_attribute_name(:reason) %>:</dt>
      <dd><%= @rt_volunteer_amendment.request_form.reason %></dd>
      <dt><%= RequestForm.human_attribute_name(:comments) %>:</dt>
      <dd><%= text_area_tag :comments, @rt_volunteer_amendment.request_form.comments ,placeholder: t('process_solidarity_chain.input_comment'), class: 'form-control col-md-5',  style: 'width: 100%;height: 15rem; margin:3px 2px;', onchange: "search_generic([ ['input_comments',$('#comments'),'s']],'#envio');"%></dd>
      <dt><%= Rt::VolunteerAmendment.human_attribute_name(:notes) %>:</dt>
      <dd><%= @rt_volunteer_amendment.notes %></dd>
    </dl>
  </div>
</div>
<div id="envio">
  <div  class="row">
    <div class="col-md-7">
      <%= link_to( t('action.approve'), pre_approve_request_form_rt_volunteer_amendment_path, class: 'btn btn-success',data: { turbolinks: false }) if can?(:approve, Rt::VolunteerAmendment)%>
      <%= link_to( t('action.reject'), pre_reject_request_form_rt_volunteer_amendment_path, class: 'btn btn-danger',data: { turbolinks: false }) if can?(:reject, Rt::VolunteerAmendment)%>
      <%= link_to( t('mark_as_pending'), mark_request_form_as_pending_rt_volunteer_amendment_path, class: 'btn btn-default',data: { turbolinks: false }) if can?(:mark_pending, Rt::VolunteerAmendment)%>
      <%= link_to( t('continue_as_processing'),mark_request_form_as_processing_rt_volunteer_amendment_path, class: 'btn btn-default processing',data: { turbolinks: false }) if can?(:mark_processing, Rt::VolunteerAmendment)%>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 30px;">
  <div class="col-md-6">
    <%= link_to( t('action.back'), rt_volunteer_amendments_path, class: 'btn btn-default') %>
  </div>
</div>