swal({width: "75%", 
title: '<%=main_title(t("action.show", model: Rt::VolunteerAmendment.model_name.human)) %>',
html: '<%= j (render partial: 'rt/show_full',locals: {ruta: 'rt/volunteer_amendments/show', request: @rt_volunteer_amendment}) %>'})