<%= main_title(t("action.show", model: Rt::VolunteerAmendment.model_name.human)) %>

<%=render partial: 'rt/show_full',locals: {ruta: 'rt/volunteer_amendments/show', request: @rt_volunteer_amendment}%>
<% unless request.xhr? %>
    <%= link_to( t('action.back'),rt_volunteer_amendments_path, class: 'btn btn-default') %>
<% end %>