<tr id="<%= dom_id(ent_tracking) %>" >

  <% Ent::Tracking.main_columns.each do |attr_name| %>
    <td>
      <% if attr_name.to_s=="request_form" && !ent_tracking.request_form.nil?%>
          <%= ent_tracking.request_form.request_type %>
        <%else%>
          <%= show_attr(ent_tracking, attr_name) %>
        <%end%>
    </td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(ent_tracking, path: "ent_tracking_path") %>
    <% unless ent_tracking.automatic %>
      <%= link_to_edit(ent_tracking, path: "edit_ent_tracking_path") %>
    <% end %>
  </td>
</tr>
