<div class="well well-tracking">
  <%= simple_form_for(@ent_tracking, default_form_options) do |f| %>
  <%=hidden_field_tag :entity_id, params[:view_list_entity_id]%>
  <div class="form-inputs">
          <%= f.association :entity, input_html: { disabled: true, id: 'entity' }, default: @ent_tracking.entity %>
          <%= f.association :tracking_type, collection: @tracking_types_active %> 
          <%= f.input :manager, input_html: { disabled: true, id: 'manager', value: current_user.loggable } %>
          <%= f.input :manager_id, as: :hidden, input_html: { value: current_user.loggable_id } %>
          <%= f.input :tracked_at, as: :string, input_html: {type: "datetime-local",value: f.object.tracked_at.blank? ? Time.zone.now.strftime("%Y-%m-%d %H:%M") : f.object.tracked_at.strftime("%Y-%m-%d %M:%M")} %>
          <%= f.input :comments, input_html: { id: 'tracking-comment' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, onclick: "enableToSaveFields();" %>
    <script>
      // Enable fields simple_form_for to be able to pass them as params
      function enableToSaveFields() {
        $('#entity').attr("disabled", false);
        $('#manager').attr("disabled", false);
      }
    </script>
  </div>
  <% end %>
</div>
