<dl class="dl-horizontal">

  <dt><%= Ent::Tracking.human_attribute_name(:entity) %>:</dt>
  <dd><%= @ent_tracking.entity %></dd>
  <dt><%= Ent::Tracking.human_attribute_name(:tracking_type) %>:</dt>
  <dd><%= @ent_tracking.tracking_type %></dd>
  <dt><%= Ent::Tracking.human_attribute_name(:manager) %>:</dt>
  <dd><%= @ent_tracking.manager %></dd>
  <% unless @ent_tracking.request_form.nil? %>
    <dt><%= Ent::Tracking.human_attribute_name(:request_form) %>:</dt>
    <dd><%= @ent_tracking.request_form.request_type %></dd>
  <% end %>
  <dt><%= Ent::Tracking.human_attribute_name(:tracked_at) %>:</dt>
  <dd><%= show_simple_date(@ent_tracking.tracked_at) %></dd>
  <dt><%= Ent::Tracking.human_attribute_name(:comments) %>:</dt>
  <dd><%= @ent_tracking.comments %></dd>
  <dt><%= Ent::Tracking.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@ent_tracking.created_at) %></dd>

</dl>