<% model_class = Ent::Tracking %>


<%= render partial: "common/title", locals: {model_class: model_class, name: @entity.try(:name)} %>
<%= render partial: "search", locals: {collection: @ent_trackings, model_class: model_class} %>
<div id="recarga-filtros">
  <%= render partial: "shared/count", locals: {collection: @ent_trackings, model_class: model_class, count: @ent_trackings.count, csv_enable: true, url: ent_trackings_path({format: "csv", questions: false}.merge!(params.permit!.except(:questions))) } %>
  <%= render partial: "data_table", locals: {collection: @ent_trackings, model_class: model_class } %>
  <%= render partial: "shared/pagination", locals: {collection: @ent_trackings, urlchange: "search_js_track_entities()"} %>
</div>
<div class="col-md-12">
  <div class="col-md-1">
    <%= link_to( t('action.back'),entities_path, class: 'btn btn-default') %>
  </div>
</div>