<%= main_title(t("action.new", model: Ent::Tracking.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form' %>
  </div>
</div>

<%= link_to( t('action.back'),ent_trackings_path("q[view_list_entity_id_eq]": params[:entity_id]), class: 'btn btn-default') %>
