<%= main_title(t("action.show", model: Ent::Tracking.model_name.human)) %>

<%=render "show"%>
<% unless request.xhr? %>
<%= link_to( t('action.back'),ent_trackings_path("q[view_list_entity_id_eq]": @ent_tracking.entity.id), class: 'btn btn-default') %>
<%= button_to_edit(@ent_tracking) %>
<% end %>