<%= main_title(t("action.edit", model: User.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form' %>
  </div>
</div>

<%= link_to( t('action.back'),users_path, class: 'btn btn-default') %>