<%= main_title(t("action.show", model: User.model_name.human)) %>

<dl class="dl-horizontal">

  <dt><%= User.human_attribute_name(:id) %>:</dt>
  <dd><%= @user.id %></dd>
  <dt><%= User.human_attribute_name(:locale) %>:</dt>
  <dd><%= @user.locale %></dd>
  <dt><%= User.human_attribute_name(:loggable_id) %>:</dt>
  <dd><%= @user.loggable %></dd>
  <dt><%= User.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@user.created_at) %></dd>

</dl>
<% unless request.xhr? %>
<%= link_to( t('action.back'),users_path, class: 'btn btn-default') %>
<%= button_to_edit(@user) %>
<% end %>