<div class="jumbotron scale">
  <h1><%= t('administration') %></h1>
  <br/>
  <div class="panel-list row">
    <div class="col-md-6">
      <% if can?(:catalogs, WelcomeController) %>
        <%= link_to maintenance_path do %>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= t('catalogs')  %>
              </h3>
            </div>
            <div class="panel-body">
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= box_link_to(Manager, panel_type: 'info', count: 2, path: administration_managers_path) if can?(:managers, WelcomeController) %>
    </div>
  </div>
  <div class="panel-list row">
    <div class="col-md-6">
      <%= box_link_to(Resource, panel_type: 'info', count: 2, path: administration_resources_path) if can?(:resource, WelcomeController) %>
    </div>
    <div class="col-md-6">
      <%= box_link_to(Setting, panel_type: 'info', count: 2, path: administration_settings_path) if can?(:config, WelcomeController)%>
    </div>
  </div>
  <div class="panel-list row">
    <div class="col-md-6">
      <%= box_link_to(Audit, panel_type: 'info', count: 2, path: administration_audits_path) if can?(:audit, WelcomeController)%>
    </div>
    <div class="col-md-6">
       <% if can?(:order, WelcomeController) %>
        <%= link_to administration_order_projects_path do %>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= t('order_projects')  %>
              </h3>
            </div>
            <div class="panel-body">
            </div>
          </div>
        <% end %>
      <% end%>
    </div>
  </div>
  <div class="panel-list row">
    <div class="col-md-6">
       <%= box_link_to(NewCampaing, panel_type: 'info', count: 2, path: administration_new_campaings_path) if can?(:new_campaign, WelcomeController)%>
    </div>
    <div class="col-md-6">
     <% if can?(:analyze_cv, WelcomeController) %>
        <%= link_to(cv_statistics_administration_virtual_communities_path, data: { turbolinks: false }) do %>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= t('routes.virtual_communities')  %>
              </h3>
            </div>
            <div class="panel-body">
            </div>
          </div>
        <% end %>
      <% end%>
    </div>

    <div class="col-md-6">
     <% if can?(:analyze_cv, WelcomeController) %>
        <%= link_to(cv_statistics_administration_virtual_communities_path, data: { turbolinks: false }) do %>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= t('permissions.cv_content')  %>
              </h3>
            </div>
            <div class="panel-body">
            </div>
          </div>
        <% end %>
      <% end%>
    </div>
  </div>
</div>
