<tr id="<%= dom_id(collective) %>" >

  <% Collective.main_columns.each do |attr_name| %>
    <td><%= show_attr(collective, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(collective, path: "administration_catalogue_collective_path") %>
    <%= link_to_edit(collective, path: "edit_administration_catalogue_collective_path") %>
<% if collective.try(:archived?) %>
    <%= link_to_recover(collective, path: "recover_administration_catalogue_collective_path") %>
<% else %>
    <%= link_to_destroy(collective, path: "administration_catalogue_collective_path") %>
<% end %>
  </td>
</tr>
