<%= main_title(t("action.edit", model: Collective.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :put, path: administration_catalogue_collective_path(@collective) %>
  </div>
</div>
<%= link_to( t('action.back'),administration_catalogue_collectives_path, class: 'btn btn-default') %>
