
<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: "search", locals: {collection: @collectives, model_class: @model_class} %>
<%= render partial: "common/generic_table", locals: {search: @search_q,collection: @collectives, model_class: @model_class, partial: 'collective' } %>
<%= render partial: "shared/pagination", locals: {collection: @collectives, urlchange: "search_js_collectives();"} %>
<%=render partial: "common/button_back", locals: {path: maintenance_path, method: :get}%>



