
<div class="well-form"> 
  <div class="row well">  
    <div class="col-md-12">
      <div class="row" style="margin-top: 10px">
        <%= content_tag :label, t('desde'), class: 'col-sm-2  control-label', style: "width: 18rem;" %>
        <%= content_tag :label, t('hasta'), class: 'col-sm-2  control-label', style: "width: 18rem;" %>                
      </div>
      <div class="row" style="margin-top: 10px">      
        <%= simple_form_for(:search) do |f|%>
          <div class="col-sm-2" style="width: 18rem;">
            <%= f.input :start_date,as: :string, label: false, input_html:  {type: "date", value: @params_cv['search_start_date']} %>
          </div>
          <div class="col-sm-2" style="width: 18rem;">
            <%= f.input :end_date, as: :string, label:false,  input_html:  {type: "date", value: @params_cv['search_end_date']}%>
          </div>
        <%end%>
        <div class="col-sm-8 text-right">
          <button  type="button" name="button" class="btn btn-primary" id="buttonCleanSearchStatistics"
            class="btn btn-default"><%= t('reset_search') %></button>
          <button type="button" name="button" class="btn btn-success" id="buttonSearchStatistics" 
            class="btn btn-default"><%= t('search') %></button>
        </div>
      </div>
      <div class="row" style="margin-top: 10px">
        <label class="warningFilter" id="warningLabelFecha"><%=t('warning_label_fecha')%></label>
        <label class="warningFilter" id="warningLabelFechaFormat"><%=t('warning_label_fecha_desde_format')%></label>
        <label class="warningFilter" id="warningLabelFechaFormat2"><%=t('warning_label_fecha_hasta_format')%></label>
      </div>
    </div>       
  </div>
  <div class="row well"> 
    <div id="recarga-filtros">
      <div class="col-md-12">
        <label><%= t('virtual_community.num_visits', start: @date_start, end: @date_end) %>:</label> <%= @num_visits %>
      </div>
      <div class="col-md-12">
        <label><%= t('virtual_community.num_user_log', start: @date_start, end: @date_end) %>:</label>
        <ul>
          <li><label><%= t('virtual_community.volunteers') %>:</label> <%= @num_users_volunteer %></li>
          <li><label><%= t('virtual_community.entities') %>:</label> <%= @num_users_entity %></li>
        </ul>
      </div>
      <div class="col-md-12">
        <label><%= t('virtual_community.num_visits_now') %>:</label> <%= @num_visits_now %>
      </div>
      <div class="col-md-12">
      <label><%= t('virtual_community.num_user_log_now') %></label>:
        <ul>
          <li><label><%= t('virtual_community.volunteers') %>:</label> <%= @num_users_volunteer_now %></li>
          <li><label><%= t('virtual_community.entities') %>:</label> <%= @num_users_entity_now %></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="row" style="padding: 15px;">
  <ul class="nav nav-tabs">
    <li class="<%= "active" if params[:active].blank? || params[:active].to_s == "origin"%>" >
      <%= link_to  t('virtual_community.origin'), cv_statistics_administration_virtual_communities_path(active: "origin") %>            
    </li>
    <li class="<%= "active" if params[:active].to_s == "popular_sections"%>">
      <%= link_to  t('virtual_community.popular_sections'), cv_statistics_administration_virtual_communities_path(active: "popular_sections") %> 
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane <%= "active" if params[:active].blank? || params[:active].to_s == "origin"%>" aria-hidden=" <%= params[:active].blank? || params[:active].to_s == "origin" ? "false" : "true"%>">
      <%= render partial: "origin_cv" %>
    </div>
     <div class="tab-pane <%= "active" if params[:active].to_s == "popular_sections"%>" aria-hidden=" <%= params[:active].to_s == "popular_sections" ? "false" : "true"%>">
      <%= render partial: "popular_section" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12"><%= button_to(t('action.back'), administration_path, method: :get)%></div>
</div>

<script>
function push_enter(event){
    search_enter(event,search_js_cv_statistics);
}

$(document).ready(function() {    
    //$(document).on('keypress', push_enter);
    
    $('#buttonSearchStatistics').on('click', function() {
        search_js_cv_statistics();
    });

    $('#buttonCleanSearchStatistics').on('click', function() {
        search_js_cv_statistics_clean();
    });

    $('#pages-select').on('change', function() {
        search_js_cv_statistics();
    });
});
</script>


