
<div class="well-form"> 
    <div class="row well">  
        <div class="col-md-12">
            <div class="row" style="margin-top: 10px">
                <%= content_tag :label, t('desde'), class: 'col-sm-2  control-label', style: "width: 18rem;" %>
                <%= content_tag :label, t('hasta'), class: 'col-sm-2  control-label', style: "width: 18rem;" %>                
            </div>
            <div class="row" style="margin-top: 10px">      
                <%= simple_form_for(:search) do |f|%>
                    <div class="col-sm-2" style="width: 18rem;">
                        <%= f.input :start_date,as: :string, label: false, input_html:  {type: "date", value: @params_ws['search_start_date']} %>
                    </div>
                    <div class="col-sm-2" style="width: 18rem;">
                        <%= f.input :end_date, as: :string, label:false,  input_html:  {type: "date", value: @params_ws['search_end_date']} %>
                    </div>
                <%end%>
                 <div class="col-sm-8 text-right">
                    <button  type="button" name="button" class="btn btn-primary" id="buttonClearSearchContentWsStatistics" 
                        class="btn btn-default"><%= t('reset_search') %></button>
                    <button type="button" name="button" class="btn btn-success" id="buttonSearchContentWsStatistics"  
                        class="btn btn-default"><%= t('search') %></button>
                    <%= link_to t('action.download_csv'), ws_statistics_administration_virtual_communities_path(format: :csv) , class: "btn btn-success" %>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <label class="warningFilter" id="warningLabelFecha"><%=t('warning_label_fecha')%></label>
                <label class="warningFilter" id="warningLabelFechaFormat"><%=t('warning_label_fecha_desde_format')%></label>
                <label class="warningFilter" id="warningLabelFechaFormat2"><%=t('warning_label_fecha_hasta_format')%></label>
            </div>
        </div>       
    </div>  
    <div id="recarga-filtros">
        <div class="row well">  
            <div class="col-md-12">
            <%= t('ws_statistics.dates', start: @date_start, end: @date_end)%>
            </div>
        </div>
        
        <div class="row well">  
            <div class="col-md-12">
                <div class="row"><label class="col-md-12 main_label"><%=t('ws_statistics.volunteers')%></label></div>
                <div class="row">
                    <label class="col-md-4"><%=t('ws_statistics.total')%></label>
                    <label class="col-md-4"><%=t('ws_statistics.total_actived')%></label>
                    <label class="col-md-4"><%=t('ws_statistics.total_inactived')%></label>
                </div>
                <div class="row">
                    <div class="col-md-4"><%=@data[:total] || 0%></div>
                    <div class="col-md-4"><%=@data[:total_actived] || 0%></div>
                    <div class="col-md-4"><%=@data[:total_inactived] || 0%></div>
                </div> 
                <div class="row"><label class="col-md-12 main_label"><%=t('ws_statistics.citizens')%></label></div>         
                <div class="row">
                    <label class="col-md-4"><%=t('ws_statistics.total')%></label>
                    <label class="col-md-4"><%=t('ws_statistics.total_actived')%></label>
                    <label class="col-md-4"><%=t('ws_statistics.total_inactived')%></label>                   
                </div>
                <div class="row">
                    <div class="col-md-4"><%=@data[:total_citizens] || 0%></div>
                    <div class="col-md-4"><%=@data[:total_actived_citizens] || 0%></div>
                    <div class="col-md-4"><%=@data[:total_inactived_citizens] || 0%></div>
                </div>
                <div class="row"><label class="col-md-12 main_label"><%=t('ws_statistics.citizen_services')%></label></div> 
                <div class="row"> 
                    <label class="col-md-3"><%=t('ws_statistics.total_services')%></label>
                    <label class="col-md-3"><%=t('ws_statistics.total_pending_services')%></label>
                    <label class="col-md-3"><%=t('ws_statistics.total_active_services')%></label>
                    <label class="col-md-3"><%=t('ws_statistics.total_accepted_services')%></label>
                </div>                
                <div class="row">
                    <div class="col-md-3"><%=@data[:total_services] || 0%></div>   
                    <div class="col-md-3"><%=@data[:total_pending_services] || 0%></div>
                    <div class="col-md-3"><%=@data[:total_active_services] || 0%></div>
                    <div class="col-md-3"><%=@data[:total_accepted_services] || 0%></div>
                </div>                
                <div class="row">
                    <label class="col-md-3"><%=t('ws_statistics.total_priority_services')%></label> 
                    <label class="col-md-3"><%=t('ws_statistics.total_undone_services')%></label>
                    <label class="col-md-3"><%=t('ws_statistics.total_finished_services')%></label>
                    <label class="col-md-3"><%=t('ws_statistics.total_expired_services')%></label>
                </div>
                <div class="row">
                    <div class="col-md-3"><%=@data[:total_priority_services] || 0%></div>
                    <div class="col-md-3"><%=@data[:total_undone_services] || 0%></div>
                    <div class="col-md-3"><%=@data[:total_finished_services] || 0%></div>
                    <div class="col-md-3"><%=@data[:total_expired_services] || 0%></div>
                </div>
                <div class="row"><label class="col-md-12 main_label"><%=t('ws_statistics.rate_services')%></label></div>
                <div class="row">
                    <label class="col-md-3"><%=t('ws_statistics.total_rate')%>:</label> <div class="col-md-9"><%=@data[:total_rate] || 0%></div>
                </div>            
                <div class="row"><label class="col-md-12 main_label"><%=t('ws_statistics.services_questions')%></label></div>
                <div class="row">
                    <label class="col-md-4"><%=t('ws_statistics.question_title')%></label>
                    <label class="col-md-2"><%=t('ws_statistics.question_response')%></label>
                    <label class="col-md-2"><%=t('ws_statistics.question_response_true')%></label>
                    <label class="col-md-2"><%=t('ws_statistics.question_response_false')%></label>
                    <label class="col-md-2"><%=t('ws_statistics.question_response_other')%></label>
                </div>
                <% @services_questions.each do |sv| %>
                    <div class="row" style="border-bottom: 1px solid black;padding: 2rem 0">            
                        <div class="col-md-4"><%=sv.description%></div>
                        <div class="col-md-2"><%=sv.total_responses%></div>
                        <div class="col-md-2"><%=sv.total_responses_true%></div>
                        <div class="col-md-2"><%=sv.total_responses_false%></div>
                        <div class="col-md-2"><%=sv.total_responses_other%></div>
                    </div>
                <%end%>
                <div class="row"><label class="col-md-12 main_label"><%=t('ws_statistics.service_types')%></label></div>
                <div class="row">
                    <label class="col-md-6"><%=t('ws_statistics.service_title')%></label>
                    <label class="col-md-3"><%=t('ws_statistics.service_count')%></label>
                    <label class="col-md-3"><%=t('ws_statistics.service_porcentaje')%></label>
                </div>
                <% @services.each do |s| %> 
                    <div class="row" style="border-bottom: 1px solid black;padding: 2rem 0">
                        <div class="col-md-6"><%=s.name%></div>
                        <div class="col-md-3"><%=s.total_uses%></div>
                        <div class="col-md-3"><%=s.total_percentage%></div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>

<script>
function push_enter(event){
    search_enter(event,search_js_ws_statistics);
}

$(document).ready(function() {    
    //$(document).on('keypress', push_enter);
    
    $('#buttonSearchContentWsStatistics').on('click', function() {
        search_js_ws_statistics();
    });

    $('#buttonClearSearchContentWsStatistics').on('click', function() {
        search_js_ws_statistics_clean();
    });

    $('#pages-select').on('change', function() {
        search_js_ws_statistics();
    });
});
</script>


