
<div class="col-md-12 index-panel row well">  
  <div class="row">
    <%= content_tag :label, t('origin_analysis_filter.data'), class: 'col-sm-4 control-label' %>
    <%= content_tag :label, t('project_filter.date_start'), class: 'col-sm-1 control-label', style: 'margin:0px 0px 0px -14rem;width: 18rem'%>
    <%= content_tag :label, t('project_filter.date_end'), class: 'col-sm-7 control-label', style: 'margin:0px 0px 0px 15px;width: 18rem'%>
  </div>
  <div class="row">
    <%= text_field_tag :search_origin, @params_visit["search_origin"], placeholder: "Origen", class: 'form-control col-md-4', style: 'width: 291px; margin:15px 50px 0px 20px;'%>
    <%= simple_form_for(:search) do |f|%>
      <div class="col-md-1" style="padding:0px; margin: 15px 0px;width: 18rem">
        <%= f.input :inicio_f,as: :string, label: false, input_html:  {type: "date", value: @params_visit["search_inicio_f"]} %>
      </div>
      <div class="col-md-1" style="margin: 15px 0px;width: 18rem">
        <%= f.input :fin_f,as: :string, label: false, input_html:  {type: "date", value: @params_visit["search_fin_f"]} %>
      </div>
    <%end%>
    
    <div class="col-md-6 text-right" style="margin: 15px 0px 0px 0px;">
      <button  type="button" name="button" class="btn btn-primary" id="buttonCleanSearchOriginCV"
          class="btn btn-default"><%= t('reset_search') %></button>
      <button type="button" name="button" class="btn btn-success" id="buttonSearchOriginCV"  
        class="btn btn-default"><%= t('search') %></button>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-8">
        <label id="warningLabelFechaO" hidden="true"><%=t('project_filter.warning_label_date')%></label>
        <label id="warningLabelFechaFormatO" hidden="true"><%=t('warning_label_fecha_desde_format')%></label>
        <label id="warningLabelFechaFormatO2" hidden="true"><%=t('warning_label_fecha_hasta_format')%></label>
      </div>
    </div>
  </div>
</div>

<div id="recarga">

  <div class="col-md-12 index-panel row well">  
    <%= t('origin_analysis_filter.data') %> <%=t('project_filter.find')%>: <%= @count_visit %>
  </div>
  <table class="index-table">
    <thead>
      <tr>
        <th><%= label_tag t('virtual_community.stats_origin'),nil, onclick: "sort_elements('search_landing_page');"%></th>
        <th><%= label_tag t('virtual_community.stats_visits'), nil, onclick: "sort_elements('count_origin');" %></th>
        <th><%= label_tag t('virtual_community.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <%@visit_origin_unp.each do |row|%>
        <tr>
          <td><%= traduction_route(row["origin"])%></td>
          <td><%= row["visit"]%></td>
          <td><%= link_to_show_origin(nil, path:  "show_origin_administration_virtual_communities_path",path_params: {key: row["origin"]}.merge!(@params_visit))%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
  <%= render partial: "shared/pagination", locals: {collection: @visit_origin_unp, urlchange: "search_js_origin()"} %>
</div>
<div class="col-md-12"><hr></div>

<script>
function push_enter(event){
    search_enter(event,search_js_origin);
}

$(document).ready(function() {    
    //$(document).on('keypress', push_enter);
    
    $('#buttonSearchOriginCV').on('click', function() {
        search_js_origin();
    });

    $('#buttonCleanSearchOriginCV').on('click', function() {
        search_js_origin_clean();
    });

    $('#pages-select').on('change', function() {
        search_js_origin();
    });
});
</script>