
<div>
    <div class="col-md-12 index-panel row well">  
        <div class="row">
        <%= content_tag :label, t('most_consulted_sections_filter.data'), class: 'col-sm-4 control-label' %>
        <%= content_tag :label, t('project_filter.date_start'), class: 'col-sm-1 control-label', style: 'margin:0px 0px 0px -13rem;width: 18rem'%>
        <%= content_tag :label, t('project_filter.date_end'), class: 'col-sm-7 control-label', style: 'margin:0px 0px 0px 15px;width: 18rem'%>
        </div>
        <%= text_field_tag :search_pages, @params_events["search_pages"], placeholder: "Apartado", class: 'form-control col-md-4', style: 'width: 291px; margin:15px 50px 0px 20px;'%>
        <%= simple_form_for(:search) do |f|%>
        <div class="col-md-1" style="padding:0px; margin: 15px 0px;width: 18rem">
            <%= f.input :inicio_fech,as: :string, label: false, input_html:  {type: "date", value: @params_events["search_inicio_fech"]} %>
        </div>
        <div class="col-md-1" style="margin: 15px 0px;width: 18rem">
            <%= f.input :fin_fech,as: :string, label: false, input_html:  {type: "date", value: @params_events["search_fin_fech"]} %>
        </div>
        <% end %>
        <div class="col-md-6 text-right" style="margin: 15px 0px 0px 0px;">
        <button  type="button" name="button" class="btn btn-primary" id="buttonCleanSearchPopular"
            class="btn btn-default"><%= t('reset_search') %></button>
        <button type="button" name="button" class="btn btn-success" id="buttonSearchPopular"  
            class="btn btn-default"><%= t('search') %></button>
        </div>
        <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <label id="warningLabelFecha" hidden="true"><%=t('project_filter.warning_label_date')%></label>
            <label id="warningLabelFechaFormat" hidden="true"><%=t('warning_label_fecha_desde_format')%></label>
            <label id="warningLabelFechaFormat2" hidden="true"><%=t('warning_label_fecha_hasta_format')%></label>
        </div>
        </div>
        </div>
    </div>
    <div id="recarga_apartados">
    <div class="col-md-12 index-panel row well">  
        <%= t('most_consulted_sections_filter.num') %> <%=t('project_filter.find')%>: <%= @count_popular %>
    </div>
    <table class="index-table">
        <thead>
        <tr>
        <th><%= label_tag t('virtual_community.stats_sections'),nil, onclick: "sort_elements('search_properties');"%></th>
        <th><%= label_tag t('virtual_community.stats_visits'), nil, onclick: "sort_elements('count_popular');" %></th>
        <th><%= label_tag t('virtual_community.actions') %></th>
        </tr>
        </thead>
        <tbody>
        <%@popular_sections_unp.each do |row|%>
            <tr>
            <td><%= row["origin"].try {|x| x.to_s.gsub('"','')}%></td>
            <td><%= row["visit"] %></td>
            <td><%= link_to_show_popular(nil ,path: "show_popular_administration_virtual_communities_path",path_params: {key: row["origin"]}.merge!(@params_events))%></td>
            </tr>
        <%end%>
        </tbody>
    </table>  
    </div>
</div>

<script>
function push_enter(event){
    search_enter(event,search_js_properties);
}

$(document).ready(function() {    
    //$(document).on('keypress', push_enter);
    
    $('#buttonSearchPopular').on('click', function() {
        search_js_properties();
    });

    $('#buttonCleanSearchPopular').on('click', function() {
        search_js_properties_clean();
    });

    $('#pages-select').on('change', function() {
        search_js_properties();
    });
});
</script>