<% model_class = VirtualCommunity %>

<div class="row">
  <div class="col-md-12">
    <%= model_title(model_class) %>
  </div>
</div>

<div class="row" style="margin-top: 10px">
    <ul class="nav nav-tabs">
        <li class="active">
            <%= link_to  t('statistics.cv_tab'), cv_statistics_administration_virtual_communities_path %>            
        </li>
        <li>
            <%= link_to  t('statistics.ws_tab'), ws_statistics_administration_virtual_communities_path %> 
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            <%= render partial: "content_cv_statistics" %>
        </div>
    </div>
</div>