<%= main_title(t("virtual_community.show.title_popular", key: @key)) %>
<div class="row well">
  <div class="col-md-12 col-center">
    <%= t("virtual_community.show.list", start: @date_start, end: @date_end)%>
  </div>
</div>
<div class="row">
  <table class="index-table">
    <thead>
      <tr>
        <th><%= label_tag t('virtual_community.show.translate_key')%></th>
        <th><%= label_tag t('virtual_community.show.origin_key')%></th>
        <th><%= label_tag t('virtual_community.show.time')%></th>
      </tr>
    </thead>
    <tbody>
       <% @list.each do |e| %>
        <tr>
          <td><%= e[:origin_translate]%></td>
          <td><%= e[:origin]%></td>
          <td><%= e[:time]%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
<%= render partial: "shared/pagination", locals: {collection: @list, urlchange: ""} %>
</div>
<div class="row">
  <div class="col-md-5">
    <%= link_to( t('action.back'),cv_statistics_administration_virtual_communities_path({active: "popular_sections"}.merge!(@params_events)), class: 'btn btn-default') %>
  </div>
</div>