<div class="form-inputs">
  <div class="row last-row-ent well">
    <%= content_tag :h2, 'Datos específicos del tipo de proyecto', class: 'form-subtitle' %>
    <div class="well col-md-6">
      <%= content_tag :h3, 'Datos de voluntariado', class: 'form-subtitle' %>
      <%= f.input :volunteers_profile %>
      <%= f.input :derived_volunteers_num, as: :string %>
      <%= f.input :added_volunteers_num, as: :string %>
      <%= f.input :activities %>
    </div>
    <div class="well col-md-6">
      <%= content_tag :h3, 'Otros datos de interes', class: 'form-subtitle' %>
      <%= f.input :request_date, as: :string, input_html: {type: "date", value: f.object.request_date.blank? ? "" : f.object.request_date.strftime('%Y-%m-%d')} %>
      <%= f.input :request_description %>
      <%= f.input :agreement_date, as: :string, input_html: {type: "date", value: f.object.agreement_date.blank? ? "" : f.object.agreement_date.strftime('%Y-%m-%d')} %>
      <%= f.input :sav_date, as: :string, input_html: {type: "date", value: f.object.sav_date.blank? ? "" : f.object.sav_date.strftime('%Y-%m-%d')} %>
      <%= f.input :agreement_signed %>
      <%= f.input :prevailing %>
    </div>
  </div>
</div>