<%= main_title(t("action.show", model: Pt::Entity.model_name.human)) %>

<%=render "show_full"%>

<% unless request.xhr? %>
<%= link_to( t('action.back'), projects_path, class: 'btn btn-default') %>
    <%= button_to_edit(@pt_entity) %>
<% end %>