<%
csv_enable ||= false
url ||= ''
count ||=0
%>
<div class="index-panel row well">
  <div class="col-md-4" style="margin-top:6px;">
    <%= fa_icon "square" ,class: "fa-1x"%>
    <%= "#{count>1 ? "Elementos encontrados" : "Elemento encontrado"}: #{count}" %>
  </div>
  <% if csv_enable%>
    <div class="col-md-8 " style="text-align: right">                   
      <%= link_to "<i class='fa fa-file-excel-o'></i> #{t('action.download_csv')}".html_safe, url, class: "btn btn-success" %>
    </div>
  <%end%>
</div>