<% unless errors.blank?%>
  <small >
    <p class="bg-danger text-danger" style="padding: 1rem"><b><%= t('errors.title', count: errors.count ) %></b></p>
    <ul class="alert alert-danger alert-dismissable" >    
    <% errors.each do |attribute, error|%>
      <li><%=get_min_errors(attribute, model)%> <%=error%></li>
    <%end%>
    </ul>
  </small>
<%end%>