<%urlchange ||= ""%>
<div class="pagination-container">
  <ul class='list-inline'>
    <li><%= will_paginate(collection, renderer: BootstrapPagination::Rails, params: local_assigns[:params]) %></li>
    <li class="pull-right" id="per-page">
      <% if !collection.blank? && collection.size >= params[:per_page].to_i %>
          <ul class="form-group list-inline">
            <li><%= content_tag :label, t('items_per_page'), for: 'pages-select' %></li>
            <li><%= select_tag :per_page,  options_for_select( params[:per_page_list] || [],  params[:per_page]),
                              class: 'form-control', id: 'pages-select', onchange: urlchange %></li>
          </ul>
      <%end %>
    </li>
  </ul>
</div>