
<% template_path =  local_assigns[:template_path] || "#{params[:controller]}/#{params[:action]}" %>
<% html_content  =  j(render template: template_path) %>

//alert("<%= params.inspect %>");

$('<div/>', {
  id: 'dialog',
  class: 'dialog-custom',
  style: 'display:none'
}).appendTo('body').
html("<%= html_content %>").
dialog({
  title:       $('#dialog > h1.page-header').remove().text(),
  resizable:   true,
  closeText:   '',
  stack:       true,
  dialogClass: '',
  modal:       false,
  width:       'auto',
  'close': function(event, ui){
    $(this).remove();
  }
});