
<% template_path =  local_assigns[:template_path] || "#{params[:controller]}/#{params[:action]}" %>
<% html_content  =  j(render template: template_path) %>

//alert("<%= params.inspect %>");

$('<div/>', {
  id: 'dialog',
  class: 'dialog-custom',
  style: 'display:none'
}).appendTo('body').
html("<%= html_content %>").
dialog({
  title:       $('#dialog > h1.page-header').remove().text(),
  resizable:   true,
  closeText:   '',
  stack:       true,
  dialogClass: '',
  modal:       false,
  width:       'auto',
  buttons: [
    {
      text: "<%= t('action.close') %>",
      class: "btn btn-default",
      click: function() {
        $( this ).dialog( "close" );
      }
    },
    {
      text: "<%= t('action.accept') %>",
      class: "btn btn-default",
      id: "button_ok",
      disabled: true,
      
      click: function() {
        
        if ($('#type').val() == "Entity"){
          if($('#phone_number_int').val()!="" && $('#email_int').val() !=""){
            redirect_to_url([
              ["send_sms",$('#send_sms'),"check"]
              ,["send_mail",$('#send_mail'),"check"]
              ,["entity",$('#entity'),"i"]
              ,["phone_number",$('#phone_number_int'),"s"]
              ,["cadena_aleatoria",$('#message'),"s"]
              ,["email",$('#email_int'),"s"]
              ,["controller","entities","b"]
              ],"/entities/update_password");
          }else{
            redirect_to_url([
              ["send_sms",$('#send_sms'),"s"]
              ,["send_mail",$('#send_mail'),"s"]
              ,["entity",$('#entity'),"i"]
              ,["phone_number",$('#phone_number_int'),"s"]
              ,["cadena_aleatoria",$('#message'),"s"]
              ,["email",$('#email_int'),"s"]
              ,["controller","entities","b"]
              ],"/entities/update_password");
          }
        }
        if ($('#type').val() == "Volunteer"){
          if($('#phone_number_int').val()!="" && $('#email_int').val() !=""){
            redirect_to_url([
              ["send_sms",$('#send_sms'),"check"]
              ,["send_mail",$('#send_mail'),"check"]
              ,["volunteer",$('#volunteer'),"i"]
              ,["phone_number",$('#phone_number_int'),"s"]
              ,["cadena_aleatoria",$('#cadena_aleatoria'),"s"]
              ,["email",$('#email_int'),"s"]
              ,["controller","volunteers","b"]
              ],"/volunteers/" + $('#volunteer').val() + "/update_password");
          }else{
            redirect_to_url([
              ["send_sms",$('#send_sms'),"s"]
              ,["send_mail",$('#send_mail'),"s"]
              ,["volunteer",$('#volunteer'),"i"]
              ,["phone_number",$('#phone_number_int'),"s"]
              ,["cadena_aleatoria",$('#cadena_aleatoria'),"s"]
              ,["email",$('#email_int'),"s"]
              ,["controller","volunteers","b"]
              ],"/volunteers/" + $('#volunteer').val() + "/update_password");
          }
        }
        if ($('#type').val() == "Citizen"){
          if($('#phone_number_int').val()!="" && $('#email_int').val() !=""){
            redirect_to_url([
              ["send_sms",$('#send_sms'),"check"]
              ,["send_mail",$('#send_mail'),"check"]
              ,["citizen",$('#citizen'),"i"]
              ,["phone",$('#phone_int'),"s"]
              ,["cadena_aleatoria",$('#cadena_aleatoria'),"s"]
              ,["email",$('#email_int'),"s"]
              ,["controller","citizens","b"]
              ],"/citizens/" + $('#citizen').val() + "/update_password");
          }else{
            redirect_to_url([
              ["send_sms",$('#send_sms'),"s"]
              ,["send_mail",$('#send_mail'),"s"]
              ,["citizen",$('#citizen'),"i"]
              ,["phone",$('#phone_int'),"s"]
              ,["cadena_aleatoria",$('#cadena_aleatoria'),"s"]
              ,["email",$('#email_int'),"s"]
              ,["controller","citizens","b"]
              ],"/citizens/" + $('#citizen').val() + "/update_password");
          }
        }
        $( this ).dialog( "close" );
      }
    }
  ],

  'close': function(event, ui){
    $(this).remove();
  }
});