<% template_path =  local_assigns[:template_path] || "#{params[:controller]}/#{params[:action]}" %>
<% html_content  =  j(render template: template_path) %>

//alert("<%= params.inspect %>");

$('<div/>', {
  id: 'dialog',
  class: 'dialog-custom',
  style: 'display:none'
}).appendTo('body').
html("<%= html_content %>").
dialog({
  title:       $('#dialog > h1.page-header').remove().text(),
  resizable:   true,
  closeText:   '',
  stack:       true,
  dialogClass: '',
  modal:       false,
  width:       'auto',
  buttons: [
    {
      text: "<%= t('show_unsubscribe.button_cancel') %>",
      class: "btn btn-primary",
      click: function() {
        $( this ).dialog( "close" );
      }
    },
    {
      text: "<%=t('show_unsubscribe.button_confirm')%>",
      id: "accept_unsubs",
      class: "btn btn-success",
      click: function() {
        if($('#search_reason-select option:selected').val()=="") $('#search_reason-select').css('border', '1px solid red');
        else $('#search_reason-select').css('border', '1px solid LightGray');
        if($('#search_fecha_baja').val()=="") $('#search_fecha_baja').css('border', '1px solid red');
        else $('#search_fecha_baja').css('border', '1px solid LightGray');

        
        if($('#search_reason-select option:selected').val()!=""&&$('#fecha_baja').val()!=""){
          $('#search_reason-select').css('border', '1px solid LightGray');
          $('#search_fecha_baja').css('border', '1px solid LightGray');

          redirect_to_url([["search_reason",$('#search_reason-select option:selected'),"s"]
          ,["search_comments",$('#search_comments'),"s"]
          ,["search_fecha_baja",$('#search_fecha_baja'),"s"]
          ,["volunteer",$('#id_volunteer'),"i"]
          ,["controller","volunteers","b"]],"accept_unsubscribe");
          
          $( this ).dialog( "close" );
        }
      }
    }
]});