
<% template_path =  local_assigns[:template_path] || "#{params[:controller]}/#{params[:action]}" %>
<% html_content  =  j(render template: template_path) %>

//alert("<%= params.inspect %>");

$('<div/>', {
  id: 'dialog',
  class: 'dialog-custom',
  style: 'display:none'
}).appendTo('body').
html("<%= html_content %>").
dialog({
  title:       $('#dialog > h1.page-header').remove().text(),
  resizable:   true,
  closeText:   '',
  stack:       true,
  dialogClass: '',
  modal:       false,
  width:       'auto',
  buttons: [
    {
      text: "<%= t('show_unsubscribe.button_cancel') %>",
      class: "btn btn-primary",
      click: function() {
        $( this ).dialog( "close" );
      }
    },
    {
      text: "<%=t('show_unsubscribe.button_confirm')%>",
      id: "accept_unsubs",
      class: "btn btn-success",
      click: function() {
        if($('#search_reason-select option:selected').val()=="") $('#search_reason-select').css('border', '1px solid red');
        else $('#search_reason-select').css('border', '1px solid LightGray');
        if($('#search_fecha_baja').val()=="") $('#search_fecha_baja').css('border', '1px solid red');
        else $('#search_fecha_baja').css('border', '1px solid LightGray');

        
        if($('#search_reason-select option:selected').val()!=""&&$('#fecha_baja').val()!=""){
          $('#search_reason-select').css('border', '1px solid LightGray');
          $('#search_fecha_baja').css('border', '1px solid LightGray');

          redirect_to_url([["search_reason",$('#search_reason-select option:selected'),"s"]
          ,["search_comments",$('#search_comments'),"s"]
          ,["search_fecha_baja",$('#search_fecha_baja'),"s"]
          ,["volunteer",$('#id_volunteer'),"i"]
          ,["controller","volunteers","b"]],"accept_unsubscribe");
          
          $( this ).dialog( "close" );
        }
      }
    },
    {
      text: "<%= t('show_unsubscribe.button_print') %>",
      class: "btn btn-success",
      click: function() {
        if($('#search_reason-select option:selected').val()=="") $('#search_reason-select').css('border', '1px solid red');
        else $('#search_reason-select').css('border', '1px solid LightGray');
        if($('#search_fecha_baja').val()=="") $('#search_fecha_baja').css('border', '1px solid red');
        else $('#search_fecha_baja').css('border', '1px solid LightGray');
        
        if($('#search_reason-select option:selected').val()!=""&&$('#fecha_baja').val()!=""){
          $('#search_reason-select').css('border', '1px solid LightGray');
          $('#search_fecha_baja').css('border', '1px solid LightGray');
          window.open("/volunteers/"+$('#id_volunteer').val()+".pdf?data_end="+encodeURI($('#search_fecha_baja').val())+"&reason="+encodeURI($('#search_reason-select option:selected').val()),'_blank');
        }
      }
    }
  ],
  'close': function(event, ui){
    search_project([
                ['isSearch',true,'b'],
                ['search_id',$('#search_id'),'i'],
                ['enter_text',$('#enter_text'),'s'],
                ['search_nif',$('#search_nif'),'s'],
                ['search_name',$('#search_name'),'s'],
                ['search_location',$('#search_location-select option:selected'),'s'],
                ['search_last_name',$('#search_last_name'),'s'],
                ['search_last_name_alt',$('#search_last_name_alt'),'s'],
                ['search_postal_code',$('#search_postal_code'),'i'],
                ['search_movil',$('#search_movil'),'s'],
                ['search_availabilities_day',$('#search_availabilities_day-select option:selected'),'s'],
                ['search_status',$('#search_status-select option:selected'),'s'],
                ['search_district',$('#search_district-select option:selected'),'s'],
                ['search_collective',$('#search_collective-select option:selected'),'s'],
                ['search_area',$('#search_area-select option:selected'),'s'],
                ['search_type',$('#search_type-select option:selected'),'s'],
                ['search_start_date',$('#search_start_date'),'s'],
                ['search_end_date',$('#search_end_date'),'s'],
                ['search_start_age',$('#search_start_age'),'s'],
                ['search_end_age',$('#search_end_age'),'s'],
                ['search_without_auth',$('#search_without_auth'),'check'],
                ['new_availability',$('#new_availability'),'check'],
                ['no_asign',$('#no_asign'),'check']
                ],'#recarga-filtros');
    $(this).remove();
  }
});