

<tr id="<%= dom_id(rt_volunteer_appointment) %>" >
    <% Rt::VolunteerAppointment.main_columns.each do |attr_name| %>
        <td class="<%= rt_volunteer_appointment.req_status if attr_name.to_s=="get_status" %>"><%= show_attr(rt_volunteer_appointment, attr_name) %></td>
    <% end %>
    
    <td class="index_table-actions">
       <% if rt_volunteer_appointment.approved? || rt_volunteer_appointment.rejected? %>
            <%= link_to_show(rt_volunteer_appointment, path: "rt_volunteer_appointment_path") %>
            <% if rt_volunteer_appointment.rejected? %>
                <%= link_to_undo_rejection(rt_volunteer_appointment, path: "undo_rejection_request_form_rt_volunteer_appointment_path") %>
            <% else %>
                <%= link_to_process(rt_volunteer_appointment, path: "process_request_form_rt_volunteer_appointment_path") %>
            <% end %>
        <% else %>
            <%= link_to_process(rt_volunteer_appointment, path: "process_request_form_rt_volunteer_appointment_path") %>
        <% end %>
    </td>
</tr>
