<% volunteer    = request.volunteer %>

<dl class="dl-horizontal">
  <dt><%= Rt::VolunteerAppointment.human_attribute_name(:id) %>:</dt>
  <dd><%= volunteer.id unless volunteer.blank? %></dd>
  <dt><%= Rt::VolunteerAppointment.human_attribute_name(:name) %>:</dt>
  <dd><%= volunteer.name unless volunteer.blank? %></dd>
  <dt><%= Rt::VolunteerAppointment.human_attribute_name(:last_name) %>:</dt>
  <dd><%= volunteer.last_name unless volunteer.blank? %></dd>
  <dt><%= Rt::VolunteerAppointment.human_attribute_name(:last_name_alt) %>:</dt>
  <dd><%= volunteer.last_name_alt unless volunteer.blank? %></dd>
  <dt><%= Rt::VolunteerAppointment.human_attribute_name(:phone_number) %>1:</dt>
  <dd><%= volunteer.phone_number unless volunteer.blank? %></dd>
  <dt><%= Rt::VolunteerAppointment.human_attribute_name(:phone_number) %>2:</dt>
  <dd><%= volunteer.phone_number_alt unless volunteer.blank? %></dd>
  <dt><%= t('activerecord.attributes.volunteer.address_id') %>:</dt>
  <dd><%="#{volunteer.address.road_type}/#{volunteer.address.road_name}, #{volunteer.address.road_number_type}#{volunteer.address.road_number}," unless volunteer.blank? %><br>
        <%="(#{volunteer.address.province.try(:name)}) #{volunteer.address.town}, #{volunteer.address.borought.try(:name)}, #{volunteer.address.district.try(:name)}" unless volunteer.blank?%><br>
        <%="#{volunteer.address.postal_code}" unless volunteer.blank?%></dd>
  <dt><%= Rt::VolunteerAppointment.human_attribute_name(:email) %>:</dt>
  <dd><%= volunteer.email unless volunteer.blank? %></dd>
  <dt><%= Rt::VolunteerAppointment.human_attribute_name(:district) %>:</dt>
  <dd><%= volunteer.address.district unless volunteer.blank? %></dd>
  <dt><%= Rt::VolunteerAppointment.human_attribute_name(:notes) %>:</dt>
  <dd><%= request.notes %></dd>
</dl>