
<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render(partial: 'rt_volunteer_appointment_filter', locals: {model_class: @model_class}) %>
<div id="recarga-filtros">
  <%= render 'rt/download_buttom', model_class: @model_class, model_count: @rt_volunteer_appointments.count %>
  <%= render partial: "common/generic_table", locals: {search: @search_q,collection: @rt_volunteer_appointments, model_class: @model_class, partial: 'rt_volunteer_appointment' } %>
  <%= render partial: "shared/pagination", locals: {collection: @rt_volunteer_appointments, urlchange: "search_js_rt_appointment()"} %>
</div>

<div class="col-md-12">
  <div class="col-md-1">
    <%= button_to(t('action.back'), rt_extensions_menu_request_forms_path, method: :get)%>
  </div>
</div>