<%= main_title(t("action.show", model: Rt::VolunteerAppointment.model_name.human)) %>
<div class="row">
  <div class="col-md-6">

      <%= simple_form_for(@request_form, default_form_options.merge(url: reject_request_form_rt_volunteer_appointment_path)) do |f| %>
          <div class="form-inputs well">
              <%= f.input :id, as: :hidden %>
              <%= f.association :rejection_type, input_html: { id: "sel_rej_type" } %>
              <%= hidden_field_tag "no_accept_cond", t('no_accept_cond') %>
              <%= hidden_field_tag "prev_comment", f.object.comments %>
              <div id="comments">
                <%= f.input :comments, as: :hidden%>
              </div>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "#{t('action.reject')} #{RequestForm.model_name.human}", class: 'js-confirmable btn btn-danger' %>
            <%= link_to( t('action.back'),process_request_form_rt_volunteer_appointment_path, class: 'btn btn-default') %>
          </div>
      <% end %>

  </div>
</div>
<script>
$(document).ready(function() {    
  $("#comments").hide();
  
  $('#sel_rej_type').on('change', function() {
      showComments();
  });
});
</script>