


<% request_form = @rt_volunteer_appointment.request_form %>
<% volunteer    = @rt_volunteer_appointment.volunteer unless @rt_volunteer_appointment.volunteer.blank? %>

<%= main_title(t("action.show", model: Rt::VolunteerAppointment.model_name.human)) %>
<div class="row">
  <div class="col-md-6">

    <dl class="dl-horizontal well">
      <dt><%= t('volunteer_complet_name') %>:</dt>
      <dd><%= "#{volunteer.name} #{volunteer.last_name} #{volunteer.last_name_alt}" unless volunteer.blank? %></dd>
      <dt><%= Rt::VolunteerAppointment.human_attribute_name(:email) %>:</dt>
      <dd><%= volunteer.email unless volunteer.blank? %></dd>
      <dt><%= Rt::VolunteerAppointment.human_attribute_name(:phone_number) %>:</dt>
      <dd><%= volunteer.phone_number unless volunteer.blank? %></dd>
      <dt><%= Rt::VolunteerAppointment.human_attribute_name(:phone_number_alt) %>:</dt>
      <dd><%= volunteer.phone_number_alt unless volunteer.blank? %></dd>
      <dt><%= t('activerecord.attributes.volunteer.address_id') %>:</dt>
      <dd><%="#{volunteer.address.road_type}/#{volunteer.address.road_name}, #{volunteer.address.road_number_type}#{volunteer.address.road_number}," unless volunteer.blank?%><br>
        <%="(#{volunteer.address.try(:name)}) #{volunteer.address.town}, #{volunteer.address.borought.try(:name)}, #{volunteer.address.district.try(:name)}" unless volunteer.blank?%><br>
        <%="#{volunteer.address.postal_code}" unless volunteer.blank?%>
      </dd>
      <dt><%= RequestForm.human_attribute_name(:status) %>:</dt>
      <dd>
        <span class="<%= @rt_volunteer_appointment.request_form.status.kind %>">
          <%= @rt_volunteer_appointment.request_form.status %>
        </span>
      </dd>
      <dt><%= RequestForm.human_attribute_name(:reason) %>:</dt>
      <dd><%= @rt_volunteer_appointment.request_form.reason %></dd>
      <dt><%= RequestForm.human_attribute_name(:comments) %>:</dt>
      <dd><%= text_area_tag :comments, @rt_volunteer_appointment.request_form.comments ,placeholder: t('process_solidarity_chain.input_comment'), class: 'form-control col-md-5',  style: 'width: 100%;height: 15rem; margin:3px 2px;', onchange: "search_generic([ ['input_comments',$('#comments'),'s']],'#envio');"%></dd>
      <dt><%= Rt::VolunteerAppointment.human_attribute_name(:notes) %>:</dt>
      <dd><%= @rt_volunteer_appointment.notes %></dd>
    </dl>

  </div>
</div>
<div id="envio">
  <div  class="row">
    <div class="col-md-7">
      <%= link_to( t('action.approve'), pre_approve_request_form_rt_volunteer_appointment_path, class: 'btn btn-success',data: { turbolinks: false }) if can?(:approve, Rt::VolunteerAppointment)%>
      <%= link_to( t('action.reject'), pre_reject_request_form_rt_volunteer_appointment_path, class: 'btn btn-danger',data: { turbolinks: false }) if can?(:reject, Rt::VolunteerAppointment)%>
      <%= link_to( t('mark_as_pending'), mark_request_form_as_pending_rt_volunteer_appointment_path, class: 'btn btn-default',data: { turbolinks: false }) if can?(:mark_pending, Rt::VolunteerAppointment)%>
      <%= link_to( t('continue_as_processing'),mark_request_form_as_processing_rt_volunteer_appointment_path, class: 'btn btn-default processing',data: { turbolinks: false }) if can?(:mark_processing, Rt::VolunteerAppointment)%>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 30px;">
  <div class="col-md-6">
    <%= link_to( t('action.back'), rt_volunteer_appointments_path, class: 'btn btn-default') %>
  </div>
</div>