<%= main_title(t("action.show", model: Rt::VolunteerAppointment.model_name.human)) %>

<%=render partial: 'rt/show_full',locals: {ruta: 'rt/volunteer_appointments/show', request: @rt_volunteer_appointment}%>
<% unless request.xhr? %>
    <%= link_to( t('action.back'),rt_volunteer_appointments_path, class: 'btn btn-default') %>
<% end %>