swal({width: "75%", 
title: '<%= main_title(t("action.show", model: Rt::VolunteerAppointment.model_name.human)) %>',
html: '<%= j (render partial: 'rt/show_full',locals: {ruta: 'rt/volunteer_appointments/show', request: @rt_volunteer_appointment}) %>'})