<div class="welcome" style="padding: 10px;">
  <div class="jumbotron" >
    <h1><%= t('welcome.title') %></h1>
    <br/>
    <p><%= t('welcome.main_text') %></p>
    <br/>
    <br/>

    <div class="row">
      <% if can? :read, Project %>
        <%= link_to projects_path, class: 'menu-item', data: { turbolinks: false } do %>
          <div class="col-md-2 card_index">
            <div class="thumbnail">
              <div>
                <%= content_tag :div, build_icon('file-powerpoint-o', title: '') %>
              </div>
              <div class="caption">
                <h4><%= Project.model_name.human(count: 2) %></h4>
                <p class="count">(<%= Project.all_active.count %> <%= t('active').downcase.pluralize %>)<br>
                (<%= Project.all_not_review.count %> <%= t('not_review').downcase %>)</p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if can? :read, Volunteer %>
        <%= link_to volunteers_path, class: 'menu-item', data: { turbolinks: false } do %>
          <div class="col-md-2 card_index">
            <div class="thumbnail">
              <div>
                <%= content_tag :div, build_icon('users', title: '') %>
              </div>
              <div class="caption">
                <h4><%= Volunteer.model_name.human(count: 2) %></h4>
                <p class="count">(<%= Volunteer.all_active.count %> <%= t('active').downcase.pluralize %>)<br>
                (<%= Volunteer.all_availabilities.count %> <%= t('available').downcase.pluralize %>)</p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if can? :read, Entity %>
        <%= link_to entities_path, class: 'menu-item', data: { turbolinks: false } do %>
          <div class="col-md-2 card_index">
            <div class="thumbnail">
              <div>
                <%= content_tag :div, build_icon('cubes', title: '') %>
              </div>
              <div class="caption">
                <h4><%= Entity.model_name.human(count: 2) %></h4>
                <p class="count">(<%= Entity.all_active.count %> <%= t('active_f').downcase.pluralize %>)</p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if can? :read, Activity %>
        <%= link_to activities_path, class: 'menu-item', data: { turbolinks: false } do %>
          <div class="col-md-2 card_index">
            <div class="thumbnail">
              <div>
                <%= content_tag :div, build_icon('book', title: '') %>
              </div>
              <div class="caption">
                <h4><%= Activity.model_name.human(count: 2) %></h4>
                <p class="count">(<%= Activity.all_active.count %> <%= Activity.model_name.human(count: 2).downcase %>)<br>
                (<%= Activity.all_not_review.count %> <%= t('not_review').downcase %>)</p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if (can?(:read, Rt::ProjectPublishing) || can?(:read, Rt::Other) || can?(:read, Rt::VolunteersDemand) || can?(:read, Rt::VolunteerSubscribe) || can?(:read,Rt::VolunteerAppointment) || can?(:read, Rt::ActivityPublishing) || can?(:read, Rt::VolunteerProjectSubscribe) ||  can?(:read, Rt::VolunteerAmendment)) %>
        <%= link_to rt_extensions_menu_request_forms_path, class: 'menu-item', data: { turbolinks: false } do %>
          <div class="col-md-2 card_index">
            <div class="thumbnail">
              <div>
                <%= content_tag :div, build_icon('list', title: '') %>
              </div>
              <div class="caption">
                <h4><%= RequestForm.model_name.human(count: 2) %></h4>
                <p class="count">(<%= RequestForm.pending.count %> <%= t('pending').downcase %>)</p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if can? :read, Volunteer %>
        <%= link_to volun_exports_path, class: 'menu-item', data: { turbolinks: false } do %>
          <div class="col-md-2 card_index">
            <div class="thumbnail">
              <div>
                <%= content_tag :div, build_icon('list', title: '') %>
              </div>
             <div class="caption">
                <h4><%= t('list') %></h4>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="row">      
      <% if can? :read, Citizen %>
        <%= link_to citizens_path, class: 'menu-item', data: { turbolinks: false } do %>
          <div class="col-md-2 card_index">
            <div class="thumbnail">
              <div>
                <%= content_tag :div, build_icon('users', title: '') %>
              </div>
             <div class="caption">
                <h4><%= Citizen.model_name.human(count: 2) %></h4>
                <p class="count">(<%= Citizen.all_active.count %> <%= t('active').downcase.pluralize %>)</p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if can? :read, CitizenService %>
        <%= link_to citizen_services_path, class: 'menu-item', data: { turbolinks: false } do %>
          <div class="col-md-2 card_index">
            <div class="thumbnail">
              <div>
                <%= content_tag :div, build_icon('users', title: '') %>
              </div>
             <div class="caption">
                <h4><%= CitizenService.model_name.human(count: 2) %></h4>
                <p class="count">(<%= CitizenService.all_active.count %> <%= t('active').downcase.pluralize %>)</p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if can? :read, Digital::Manage %>
        <%= link_to digital_manage_path, class: 'menu-item', data: { turbolinks: false } do %>
          <div class="col-md-2 card_index">
            <div class="thumbnail">
              <div>
                <%= content_tag :div, icon_at_digital%>
              </div>
             <div class="caption">
                <h4><%= t("digital_manage.title")%></h4>                
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if (can?(:audit, WelcomeController) || can?(:order, WelcomeController) || can?(:config, WelcomeController) || can?(:catalogs, WelcomeController) || can?(:managers, WelcomeController) || can?(:analyze_cv, WelcomeController) || can?(:new_campaign, WelcomeController) || can?(:resource, WelcomeController))%>
        <%= link_to administration_path, class: 'menu-item', data: { turbolinks: false } do %>
          <div class="col-md-2 card_index">
            <div class="thumbnail">
              <div>
                <%= content_tag :div, build_icon('cogs', title: '') %>
              </div>
              <div class="caption">
                <h4><%= t('administration') %></h4>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>    
  </div>
</div>
