<div class="jumbotron scale">
  <h1><%= t('catalogs') %></h1>
  <br/>
  <p><%= t('administration_title_text') %></p>
  <br/>
  <br/>
  <div class="panel-list row">
    <div class="col-md-6">
      <% if can? :read, Area %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_areas_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= Area.model_name.human(count: 2)  %>
            </h3>
          </div>
          <div class="panel-body">
            <%= t('areas_text') %>
          </div>
        </div>
      <% end %>
      <% if can? :read, Nationality %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_nationalities_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= Nationality.model_name.human(count: 2)  %>
            </h3>
          </div>
          <div class="panel-body">
            <%= Nationality.model_name.human(count: 2) %>
          </div>
        </div>
      <% end %>
      <% if can? :read, UnsubscribeReason %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_unsubscribe_reasons_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= UnsubscribeReason.model_name.human(count: 2)  %>
            </h3>
          </div>
          <div class="panel-body">
            <%= UnsubscribeReason.model_name.human(count: 2) %>
          </div>
        </div>
      <% end %>
      <% if can? :read, TrackingType %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_tracking_types_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= TrackingType.model_name.human(count: 2)  %>
            </h3>
          </div>
          <div class="panel-body">
            <%= TrackingType.model_name.human(count: 2) %>
          </div>
        </div>
      <% end %>
      <% if can? :read, Req::RejectionType %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_req_rejection_types_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= Req::RejectionType.model_name.human(count: 2)  %>
            </h3>
          </div>
          <div class="panel-body">
            <%= Req::RejectionType.model_name.human(count: 2) %>
          </div>
        </div>
      <% end %>
      <% if can? :read, Skill %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_skills_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= Skill.model_name.human(count: 2) %>
            </h3>
          </div>
          <div class="panel-body">
            <%= Skill.model_name.human(count: 2) %>
          </div>
        </div>
      <% end %>
      <% if can? :read, Req::Reason %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_req_reasons_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= Req::Reason.model_name.human(count: 2) %>
            </h3>
          </div>
          <div class="panel-body">
            <%= Req::Reason.model_name.human(count: 2) %>
          </div>
        </div>
      <% end %>
      <% if can? :read, NextPoint %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_next_points_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= NextPoint.model_name.human(count: 2) %>
            </h3>
          </div>
          <div class="panel-body">
            <%= NextPoint.model_name.human(count: 2) %>
          </div>
        </div>
      <% end %>
      <% if can? :read, InfoSource %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_info_sources_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= InfoSource.model_name.human(count: 2) %>
            </h3>
          </div>
          <div class="panel-body">
            <%= InfoSource.model_name.human(count: 2) %>
          </div>
        </div>
      <% end %>
       <% if can? :read, ServiceQuestion %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_service_questions_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= ServiceQuestion.model_name.human(count: 2) %>
            </h3>
          </div>
          <div class="panel-body">
            <%= ServiceQuestion.model_name.human(count: 2) %>
          </div>
        </div>
      <% end %>
      <% if can? :read, Gender %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_genders_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= Gender.model_name.human(count: 2) %>
            </h3>
          </div>
          <div class="panel-body">
            <%= Gender.model_name.human(count: 2) %>
          </div>
        </div>
      <% end %>
      <% if can? :read, Province %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_provinces_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= Province.model_name.human(count: 2) %>
            </h3>
          </div>
          <div class="panel-body">
            <%= Province.model_name.human(count: 2) %>
          </div>
        </div>
      <% end %>
      <% if can? :read, Channel %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_channels_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= Channel.model_name.human(count: 2) %>
            </h3>
          </div>
          <div class="panel-body">
            <%= Channel.model_name.human(count: 2) %>
          </div>
        </div>
      <% end %>
      <% if can? :read, VirtualCommunity::ComponentType %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_virtual_community_component_types_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= VirtualCommunity::ComponentType.model_name.human(count: 2) %>
            </h3>
          </div>
          <div class="panel-body">
            <%= VirtualCommunity::ComponentType.model_name.human(count: 2) %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <% if can? :read, Collective %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_collectives_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= Collective.model_name.human(count: 2)  %>
            </h3>
          </div>
          <div class="panel-body">
            <%= t('collectives_text') %>
          </div>
        </div>
      <% end %>
      <% if can? :read, Coordination %>
      <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_coordinations_url %>';">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= Coordination.model_name.human(count: 2)  %>
          </h3>
        </div>
        <div class="panel-body">
          <%= t('coordinations_text') %>
        </div>
      </div>
      <% end %>
      <% if can? :read, Degree %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_degrees_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= Degree.model_name.human(count: 2)  %>
            </h3>
          </div>
          <div class="panel-body">
            <%= Degree.model_name.human(count: 2) %>
          </div>
        </div>
      <% end %>
      <% if can? :read, Trait %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_traits_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= Trait.model_name.human(count: 2)  %>
            </h3>
          </div>
          <div class="panel-body">
            <%= Trait.model_name.human(count: 2) %>
          </div>
        </div>
      <% end %>
      <% if can? :read, Language %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_languages_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= Language.model_name.human(count: 2) %>
            </h3>
          </div>
          <div class="panel-body">
            <%= Language.model_name.human(count: 2) %>
          </div>
        </div>
      <% end %>
      <% if can? :read, Profession %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_professions_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= Profession.model_name.human(count: 2) %>
            </h3>
          </div>
          <div class="panel-body">
            <%= Profession.model_name.human(count: 2) %>
          </div>
        </div>
      <% end %>
      <% if can? :read, VolunProfile %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_volun_profiles_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= VolunProfile.model_name.human(count: 2) %>
            </h3>
          </div>
          <div class="panel-body">
            <%= VolunProfile.model_name.human(count: 2) %>
          </div>
        </div>
      <% end %>
      <% if can? :read, ShiftDefinition %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_shift_definitions_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= ShiftDefinition.model_name.human(count: 2) %>
            </h3>
          </div>
          <div class="panel-body">
            <%= ShiftDefinition.model_name.human(count: 2) %>
          </div>
        </div>
      <% end %>
      <% if can? :read, Service %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_services_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= Service.model_name.human(count: 2) %>
            </h3>
          </div>
          <div class="panel-body">
            <%= Service.model_name.human(count: 2) %>
          </div>
        </div>
      <% end %>
      <% if can? :read, TypeMeeting %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_type_meetings_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= TypeMeeting.model_name.human(count: 2) %>
            </h3>
          </div>
          <div class="panel-body">
            <%= TypeMeeting.model_name.human(count: 2) %>
          </div>
        </div>
      <% end %>
      <% if can? :read, District %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_districts_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= District.model_name.human(count: 2) %>
            </h3>
          </div>
          <div class="panel-body">
            <%= District.model_name.human(count: 2) %>
          </div>
        </div>
      <% end %>
      <% if can? :read, Borought %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_boroughts_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= Borought.model_name.human(count: 2) %>
            </h3>
          </div>
          <div class="panel-body">
            <%= Borought.model_name.human(count: 2) %>
          </div>
        </div>
      <% end %>
      <% if can? :read, ModerateStatus %>
        <div class="panel panel-info" onclick="window.location='<%= administration_catalogue_moderate_statuses_url %>';">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= ModerateStatus.model_name.human(count: 2) %>
            </h3>
          </div>
          <div class="panel-body">
            <%= ModerateStatus.model_name.human(count: 2) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="col">
  <div class="col-md-1">
    <%= button_to(t('action.back'), administration_path, method: :get)%>
  </div>
</div>
