<div class="search-index index-panel row well" style="height: 10px;">
  <div class="col-md-12 table-csv col-center">
    <div class="col-md-4 n_items" style="margin-top:6px;">
      <%= model_class.model_name.human(count: 2) %> <%= t('resources_filter.find')%>: <%= collection.count %>
    </div>
  </div>
</div>