
<%= render partial: "volunteers/partials_massive_email/count", locals: {model_class: MassiveEmailHistoric,collection: @massive_email_historics} %>
<%= render partial: "common/generic_table", locals: {search: @search_q_massive,collection: @massive_email_historics, model_class: MassiveEmailHistoric, partial: 'volunteers/partials_massive_email/massive_email_historic' } %>
<%= render partial: "shared/pagination", locals: {collection: @massive_email_historics} %>

<br>
<br>
<div class="row" style="margin-top: 50px;">
    <%= link_to( t('action.back'),volunteers_path, class: 'btn btn-default') %>
</div>
