<tr id="<%= dom_id(massive_email_historic) %>" >
    <% massive_email_historic.main_attributes.each do |attr_name| %>
        <td><%= show_attr(massive_email_historic, attr_name) %></td>
    <% end %>
    <td class="index_table-actions">
        <%= link_to_show(massive_email_historic,  {remote: false}) %>
    </td>
</tr>