
<script>
    var textoFiles = '';
    function addTexto(texto) {
        for(var file of texto.prop("files")) {
            textoFiles = textoFiles + '\n' + file.name;
        }
        $('#recarga').html(textoFiles);
    }
    
    function validateForm() {
       /* if ($('#title').val() != '') {
            $('#send_button').prop("disabled", false);
        } else {
            $('#send_button').prop("disabled", true);
        }*/
    }

    validateForm();
</script>


<%= form_tag(send_massive_email_volunteers_path, method: "post", :enctype =>"multipart/form-data") do %>
    <div class="index-panel row well">  
        <div class="col-md-12">
            <div class="row" style="margin-top: 20px">
                <%= content_tag :label, "#{t('massive_email.title')}*",  class: 'col-md-1 control-label' %>
            </div>
            <div class="row" >
                <div class="col-md-10">
                    <%= text_field_tag :title, params[:title], class: 'form-control '%>
                </div>
            </div>
            <div class="row" style="margin-top: 20px">
                <%= content_tag :label, "#{t('massive_email.content')}*", class: 'col-md-1 control-label' %>
            </div>
            <div class="row" style="margin-bottom: 20px" data-no-turbolink>
                <div class="col">
                    <%= text_area_tag :content, params[:content], class: 'ckeditor'%>
                </div>
            </div>
            <div class="row">
                <%= content_tag :label, t('massive_email.upload_archive'), class: 'col-md-3 control-label' %>
                <%= file_field_tag 'upload[]', multiple: true, accept: 'application/pdf', onchange: "addTexto($(this))" %>
            </div>
            <div class="row">
                <%= content_tag :label, t('massive_email.archives_message'), class: 'col-md-3 control-label' %>
            </div>
            <div class="row">
                <div id="recarga">
                </div>
            </div>
        </div>
    </div>
    <div class="index-panel row well"> 
        <div class="col-md-12">
            <div class="row" style="margin: 20px 0px">
                <%= content_tag :label, t('massive_email.vocne'), class: 'col-md-1 control-label' %>
                <div class="col-md-1">
                    <%=check_box_tag("search_vocne", true, params[:search_vocne])%>
                </div>
                <div class="col-md-1"></div>
                <%= content_tag :label, t('massive_email.district'), class: 'col-md-4 control-label' %>
                <%= content_tag :label, t('massive_email.situation'), class: 'col-md-4 control-label' %>
            </div>
            <div class="row" style="margin: 20px 0px">
                <div class="col-md-2">
                    <%= text_field_tag :search_postal_code, params[:search_postal_code], placeholder: t('massive_email.postal_code'), class: 'form-control col-md-3'%>
                </div>
                
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <%= select_tag :search_district, options_for_select(@hash_distritos||{}, params[:search_district].blank? ? "" : params[:search_district].split(',')), multiple: true,
                        class: 'form-control col-md-3',
                        style: "height:200px",
                        id:'search_district-select' %>
                </div>
                
                <div class="col-md-4">
                    <%= select_tag :search_situation, options_for_select(@status||{},params[:search_situation].blank? ? "" : params[:search_situation].split(',')),
                        class: 'form-control',
                        multiple: true,
                        style: "height:200px",
                        id:'search_situation-select' %>
                </div>
            </div>
        </div>
        <div class="col-sm-12 text-right" style="margin: 20px 0px 0px 0px;">
            <button  type="button" name="button" class="btn btn-primary" id="buttonCleanVolunteer"
                class="btn btn-default"><%= t('reset_search') %></button>
            <button type="button" name="button" class="btn btn-success" id="buttonSearchMassiveVolunteer" 
                class="btn btn-default"><%= t('search') %></button>
        </div>
    </div>
    <div id="recarga-filtros">
        <%= render partial: "volunteers/partials_massive_email/count", locals: {model_class: Volunteer,collection: @volunteers} %>
        <table class="index-table">
            <thead>
                <tr>
                    <% Volunteer.main_columns_massive.each do |column| %>
                        <th><%= sort_link(@search_q_volunteers, column, Volunteer.human_attribute_name(column)) %></th>
                    <% end -%>
                </tr>
            </thead>
            
            <tbody>
                <%= render(partial: 'volunteers/partials_massive_email/volunteer', collection: @volunteers)%>
            </tbody>
        </table>
        <%= render partial: "shared/pagination", locals: {collection: @volunteers, urlchange: "search_js_massive_volunteers()"} %>
    </div>
    <br>
    <br>
    <div class="row" style="margin-top: 50px;">
        <%= link_to( t('action.back'),volunteers_path, class: 'btn btn-default') %>
        <%= submit_tag t('massive_email.send'), id: "send_button", class: 'btn btn-default' %>
    </div>
<%end%>

<script>
function push_enter(event) {
    search_enter(event, search_js_massive_volunteers);
}


    //$(document).on('keypress', push_enter);

    $('#buttonSearchMassiveVolunteer').on('click', function() {
        search_js_massive_volunteers();
    });

    $('#buttonCleanVolunteer').on('click', function() {
       search_js_massive_volunteers_clean();
    });

    $('pages-select').on('change', function() {
        search_js_massive_volunteers();
    });

    $('#enter_text').on('keyup', function() {
        correct_string($('#enter_text'));
    });

    $('#tab_new_email').on('click', function() {
      change_param_parametrize(['new_email', true], 'volunteers/massive_email/?page=1');
    });

    $('#tab_historic').on('click', function() {
      change_param_parametrize(['historic', true], 'volunteers/massive_email/?page=1')
    });
    
</script>
