<%= simple_form_for(@digital_follow, as: :digital_follow,method: method, url: url) do |f| %>
  <%=render 'shared/errors', errors: @digital_follow.errors, model: Digital::Follow%>
  <%=f.hidden_field :digital_topic_id, value: f.object.digital_topic_id || params[:digital_topic_id]%>

  <div class="row">
    <div class="col-sm-8">
      <%=f.label :userable_id, t("digital_manage.topics.follows.user_field"), class: "form-label"%>
      <%=f.select :userable_id, options_for_select(@volunteers.map {|x| ["#{x.id_autonum}. #{x}",x.user.id]} ,f.object.userable_id),{}, class: "form-control form-select"  %>
    </div>
    <div class="col-sm-4" style="margin-top: 2.6rem">
      <%=f.button :button,type: 'submit', class: "btn btn-success" do%>
        <%="<i class='fa fa-save'></i> #{t("digital_manage.topics.follows.edit_button")}".html_safe%>
      <%end%>
    </div>
  </div>
<%end%>