<div class="well-form">
    <%= simple_form_for(@rt_volunteer_subscribe, as: :rt_volunteer_subscribe,method: method, url: path) do |f| %>
        <%=render 'shared/errors', errors: @rt_volunteer_subscribe.errors, model: Rt::VolunteerSubscribe%>
        <div class="form-inputs">
            <div class="row well">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <%= f.input :appointment_at%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <%= f.input :name, as: :string%>
                        </div>
                        <div class="col-md-4">
                            <%= f.input :last_name, as: :string %>
                        </div>
                        <div class="col-md-4">
                            <%= f.input :last_name_alt, as: :string%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <%= f.input :phone_number, as: :string,label: "Teléfono fijo" %>
                        </div>
                        <div class="col-md-4">
                            <%= f.input :phone_number_alt, as: :string, label: "Teléfono móvil" %>
                        </div>
                        <div class="col-md-4">
                            <%= f.input :email, as: :string %>
                        </div>                        
                    </div>
                    <div class="row">                        
                        <div class="col-md-4">
                            <%= f.association :info_source, collection: @info_sources %>
                        </div>
                        <div class="col-md-4">
                            <%= f.input :is_adult, as: :boolean %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <%= f.input :postal_code, as: :string %>
                        </div>
                        <div class="col-md-4">
                            <%= f.association :district, collection: @districts %>
                        </div>
                        <div class="col-md-4">
                            <%= f.association :channel,collection: @channels %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <%= f.input :notes, as: :text %>
                        </div>
                        <div class="col-md-4">
                            <%= f.input :contact_person, as: :text %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <%= f.button :submit %>
        </div>
     <% end %>       
</div>