<dl class="dl-horizontal">

  <dt><%= Rt::VolunteerSubscribe.human_attribute_name(:name) %>:</dt>
  <dd><%= request.name %></dd>
  <dt><%= Rt::VolunteerSubscribe.human_attribute_name(:last_name) %>:</dt>
  <dd><%= request.last_name %></dd>
  <dt><%= Rt::VolunteerSubscribe.human_attribute_name(:last_name_alt) %>:</dt>
  <dd><%= request.last_name_alt %></dd>
  <dt><%= Rt::VolunteerSubscribe.human_attribute_name(:phone_number) %>:</dt>
  <dd><%= request.phone_number %></dd>
  <dt><%= Rt::VolunteerSubscribe.human_attribute_name(:email) %>:</dt>
  <dd><%= request.email %></dd>
  <dt><%= Rt::VolunteerSubscribe.human_attribute_name(:district) %>:</dt>
  <dd><%= request.district %></dd>
  <dt><%= Rt::VolunteerSubscribe.human_attribute_name(:postal_code) %>:</dt>
  <dd><%= request.postal_code %></dd>
  <dt><%= Rt::VolunteerSubscribe.human_attribute_name(:is_adult) %>:</dt>
	<dd><%= t("humanize.#{request.is_adult}") if !request.is_adult.blank? %></dd>
  <dt><%= Rt::VolunteerSubscribe.human_attribute_name(:channel) %>:</dt>
  <dd><%= request.channel.name unless request.channel.blank? %></dd>
  <dt><%= RequestForm.human_attribute_name(:info_source) %>:</dt>
  <dd><%= request.info_source.name unless request.info_source.blank? %></dd>        
  <dt><%= Rt::VolunteerSubscribe.human_attribute_name(:notes) %>:</dt>
  <dd><%= request.notes %></dd>

</dl>