<%= main_title(t("action.edit", model: Rt::VolunteerSubscribe.model_name.human)) %>

<div class="row">
  <div class="col">
    <%= render 'form', method: :put, path: rt_volunteer_subscribe_path(@rt_volunteer_subscribe) %>
  </div>
</div>

<%= link_to( t('action.back'),rt_volunteer_subscribes_path, class: 'btn btn-default') %>