<%= main_title(t("action.new", model: Rt::VolunteerSubscribe.model_name.human)) %>

<div class="row">
  <div class="col">
    <%= render 'form', method: :post, path: rt_volunteer_subscribes_path %>
  </div>
</div>

<%= link_to( t('action.back'),rt_volunteer_subscribes_path, class: 'btn btn-default') %>
