
<% project= Project.find(@rt_volunteer_subscribe.project_id) unless @rt_volunteer_subscribe.project_id.blank?%>
<%= main_title(t("action.show", model: Rt::VolunteerSubscribe.model_name.human)) %>
<div class="row">
<%= form_tag({},{:method => :get})  do %>
  <div class="col-md-12">
    
      <dl class="dl-horizontal well">
        <dt><%= t('volunteer_complet_name') %>:</dt>
        <dd><%= "#{@rt_volunteer_subscribe.name} #{@rt_volunteer_subscribe.last_name} #{@rt_volunteer_subscribe.last_name_alt}" %></dd>
        <% unless @rt_volunteer_subscribe.project_id.blank? %>
          <dt><%= t('volunteer_project_interested') %>:</dt>
          <dd><%= project.name %></dd>
          <dt><%= t('volunteer_project_interested_id') %>:</dt>
          <dd><%= @rt_volunteer_subscribe.project_id %></dd>
        <% end %>
        <dt><%= Rt::VolunteerSubscribe.human_attribute_name(:email) %>:</dt>
        <dd><%= @rt_volunteer_subscribe.email %></dd>
        <dt><%= t('activerecord.attributes.volunteer.phones') %>:</dt>
        <dd><%= "#{@rt_volunteer_subscribe.phone_number}" %>
          <%= '/' unless (@rt_volunteer_subscribe.phone_number.blank? || @rt_volunteer_subscribe.phone_number_alt.blank?) %>
        <%= " #{@rt_volunteer_subscribe.phone_number_alt}" unless @rt_volunteer_subscribe.phone_number_alt.blank?  %></dd>
        <dt><%= RequestForm.human_attribute_name(:status) %>:</dt>
        <dd>
          <span class="<%= @rt_volunteer_subscribe.request_form.status.kind %>">
            <%= @rt_volunteer_subscribe.request_form.status %>
          </span>
        </dd>
        <dt><%= RequestForm.human_attribute_name(:reason) %>:</dt>
        <dd><%= @rt_volunteer_subscribe.request_form.reason %></dd>
        <dt><%= Rt::VolunteerSubscribe.human_attribute_name(:is_adult) %>:</dt>
	      <dd><%= t("humanize.#{@rt_volunteer_subscribe.is_adult}") if !@rt_volunteer_subscribe.is_adult.blank? %></dd>
        <dt><%= RequestForm.human_attribute_name(:info_source) %>:</dt>
        <dd><%= @rt_volunteer_subscribe.info_source.name unless @rt_volunteer_subscribe.info_source.blank? %></dd>
        <dt><%= RequestForm.human_attribute_name(:comments) %>:</dt>
        <dd><%= text_area_tag :comments, @rt_volunteer_subscribe.request_form.comments ,placeholder: t('process_solidarity_chain.input_comment'), class: 'form-control col-md-5',  style: 'width: 100%;height: 15rem; margin:3px 2px;'%></dd>
        <dt><%= Rt::VolunteerSubscribe.human_attribute_name(:notes) %>:</dt>
        <dd><%= @rt_volunteer_subscribe.notes %></dd>
        <dt><%= Rt::VolunteerSubscribe.human_attribute_name(:channel) %>:</dt>
        <dd><%= select_tag :channel, options_from_collection_for_select(@channels, "id", "name", @rt_volunteer_subscribe.channel.try(:id)),include_blank: true, class: 'form-control col-md-5',  style: 'margin:3px 2px;max-width: 40rem !important;'%></dd>
        <dt><%= Rt::VolunteerSubscribe.human_attribute_name(:appointment_at) %>:</dt>
        <dd><%= datetime_select(:appointment_at, "due_date", default: @rt_volunteer_subscribe.appointment_at, use_two_digit_numbers: true, class: 'form-control col-md-5',  style: 'margin:3px 2px;')%></dd>
        <dt><%= Rt::VolunteerSubscribe.human_attribute_name(:contact_person) %>:</dt>
        <dd><%= text_area_tag :contact_person, @rt_volunteer_subscribe.contact_person ,placeholder: "#{Rt::VolunteerSubscribe.human_attribute_name(:contact_person)}...", class: 'form-control col-md-5 ckeditor',  style: 'width: 100%; margin:3px 2px;'%></dd>
      </dl>
  </div>
  <div class="col-md-12 text-rigth">
    <%=submit_tag t("rt_button_save"), class: 'btn btn-success'%>
  </div>
  <%end%>
</div>

<div id="envio">
  <div  class="row" style="margin-bottom: 20px">
    <div class="col-md-12">
      <%=t('rt_save_data').html_safe%>
    </div>
  </div>
  <div  class="row">
    <div class="col-md-12">
      <%= link_to( t('mark_as_appointed'),mark_request_form_as_appointed_rt_volunteer_subscribe_path, class: 'btn btn-default appointed',data: { turbolinks: false }) if can?(:mark_appointed, Rt::VolunteerSubscribe)%>
      <%= link_to( t('action.approve'), pre_approve_request_form_rt_volunteer_subscribe_path, class: 'btn btn-success',data: { turbolinks: false }) if can?(:approve, Rt::VolunteerSubscribe)%>
      <%= link_to( t('action.reject'), pre_reject_request_form_rt_volunteer_subscribe_path, class: 'btn btn-danger',data: { turbolinks: false }) if can?(:reject, Rt::VolunteerSubscribe)%>
      <%= link_to( t('mark_as_pending'), mark_request_form_as_pending_rt_volunteer_subscribe_path, class: 'btn btn-default',data: { turbolinks: false }) if can?(:mark_pending, Rt::VolunteerSubscribe)%>
      <%= link_to( t('continue_as_processing'),mark_request_form_as_processing_rt_volunteer_subscribe_path, class: 'btn btn-default processing',data: { turbolinks: false }) if can?(:mark_processing, Rt::VolunteerSubscribe)%>
      <%= link_to( t('send_appointment'),send_appointment_rt_volunteer_subscribe_path(@rt_volunteer_subscribe),data: { turbolinks: false }, class: 'btn btn-default appointed') if can?(:mark_appointed, Rt::VolunteerSubscribe)%>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 30px;">
  <div class="col-md-6">
    <%= link_to( t('action.back'), rt_volunteer_subscribes_path, class: 'btn btn-default') %>
  </div>
</div>