swal({width: "75%", 
title: '<%= main_title(t("action.show", model: Rt::VolunteerSubscribe.model_name.human)) %>',
html: '<%= j (render partial: 'rt/show_full',locals: {ruta: 'rt/volunteer_subscribes/show', request: @rt_volunteer_subscribe}) %>'})