<tr id="<%= dom_id(nationality) %>" >
  <% Nationality.main_columns.each do |attr_name| %>
    <td><%= show_attr(nationality, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(nationality, path: "administration_catalogue_nationality_path") %>
    <%= link_to_edit(nationality, path: "edit_administration_catalogue_nationality_path") %>
<% if nationality.try(:archived?) %>
    <%= link_to_recover(nationality, path: "recover_administration_catalogue_nationality_path") %>
<% else %>
    <%= link_to_destroy(nationality, path: "administration_catalogue_nationality_path") %>
<% end %>
  </td>
</tr>
