
    <dl class="dl-horizontal">

        <dt><%= Nationality.human_attribute_name(:id) %>:</dt>
        <dd><%= @nationality.id %></dd>
        <dt><%= Nationality.human_attribute_name(:name) %>:</dt>
        <dd><%= @nationality.name %></dd>
        <dt><%= Nationality.human_attribute_name(:active) %>:</dt>
        <dd><%= t("humanize.#{@nationality.active}") %></dd>
        <dt><%= Nationality.human_attribute_name(:created_at) %>:</dt>
        <dd><%= show_simple_date(@nationality.created_at) %></dd>

    </dl>
