<%= main_title(t("action.edit", model: Nationality.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form',method: :put, path: administration_catalogue_nationality_path(@nationality) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_nationalities_path, class: 'btn btn-default') %>