
<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: "search", locals: {collection: @nationalities, model_class: @model_class} %>
<%= render partial: "common/generic_table", locals: {search: @search_q,collection: @nationalities, model_class: @model_class, partial: 'nationality' } %>
<%= render partial: "shared/pagination", locals: {collection: @nationalities, urlchange: "search_js_nationality();"} %>
<%=render partial: "common/button_back", locals: {path: maintenance_path, method: :get}%>
