<tr id="<%= dom_id(citizen_service_tracking) %>" >

  <% CitizenServiceTracking.main_columns.each do |attr_name| %>
    <td>
      <%= show_attr(citizen_service_tracking, attr_name) %>
    </td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show_citizen(citizen_service_tracking, "citizen_service", path_params: { citizen_service_id: @citizen_service.try(:id), citizen_service_tracking_id: citizen_service_tracking.id},  path: "citizen_service_citizen_service_tracking_path" ) %>
    <% unless citizen_service_tracking.automatic %>
      <%= link_to_edit_citizen(citizen_service_tracking, "citizen_service", path_params: { citizen_service_id: @citizen_service.try(:id),  citizen_service_tracking_id: citizen_service_tracking.id },  path: "edit_citizen_service_citizen_service_tracking_path" ) %>
    <% end %>
  </td>
</tr>
