<% model_class = CitizenServiceTracking %>

<%= render partial: "common/title", locals: {model_class: model_class, name: "#{sanitize(@citizen_service.try(:description_content), tags: [])} - #{@citizen_service.try(:citizen).try(:name)}".html_safe} %>
<%= render partial: "search", locals: {collection: @citizen_service_trackings, model_class: model_class} %>
<div id="recarga-filtros">
  <%= render partial: "count", locals: {collection: @citizen_service_trackings, model_class: model_class } %>
  <%= render partial: "data_table", locals: {collection: @citizen_service_trackings, model_class: model_class } %>
  <%= render partial: "shared/pagination", locals: {collection: @citizen_service_trackings, urlchange: "search_js_track_citizen_services()"} %>
</div>
<div class="col-md-12">
  <div class="col-md-1">
    <%= link_to( t('action.back'),citizen_services_path, class: 'btn btn-default') %>
  </div>
</div>