<%= main_title(t("action.new", model: CitizenServiceTracking.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', form_url: citizen_service_citizen_service_trackings_path %>
  </div>
</div>

<%= link_to( t('action.back'),citizen_service_citizen_service_trackings_path(@citizen_service), class: 'btn btn-default') %>
