<%= main_title(t("action.show", model: CitizenServiceTracking.model_name.human)) %>

<%=render "show"%>
<% unless request.xhr? %>
<%= link_to( t('action.back'),citizen_service_trackings_path("q[citizen_service_id_eq]": @citizen_service_tracking.citizen_service.id), class: 'btn btn-default') %>
<%= button_to_edit(@citizen_service_tracking) %>
<% end %>