<div id="<%=dom_id(f.object)%>" class="nested-fields col-md-12">
    <%= content_tag :h3, t('album'), class: 'form-subtitle' %>
        <div class="form-inputs">
            <div class="row">
                <div class="col-md-6">
                    <%= f.input :description %>
                </div>
                <div class="col-md-1 col-md-offset-5">
                    <%= link_to_remove_association build_icon('trash-o', text: "#{Album.model_name.human}"),f, class: 'remove_nested_fields pull-right' %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <%= f.input :year %>
                </div>
            </div>
                <% unless f.object.id.blank? %>
                    <%= render partial: 'links/link_album', locals: { f: f } %>
                <%else%>
                    <%= t('messages.no_album_project')%>
                <% end%>
        </div>
</div>