<div class="row" style="width: 500px">

	<div class="col">
		<div class="row">
			<% unless @resultados.blank?
			@resultados.each do |suc|
				clase_style = "alert-success"
				clase_style = "alert-danger" if suc[0] == 1
			%>
				<div class="col-sm-12 alert <%=clase_style%>" style="margin-top: 5px; margin-bottom: 0px;">
					<%= suc[1]%>
				</div>
			<%end
			end
			unless @error_other.blank?%>
				<div class="col-sm-12 alert alert-danger" style="margin-top: 5px; margin-bottom: 0px;">
					<%= @error_other %>
				</div>
			<%end%>
		</div>
	</div>
</div>