
<div id="<%=dom_id(f.object)%>" class="nested-fields" style="border-color:1px solid black;">        
    <%= f.input :name %>      
    <%= f.input :person_name %>       
    <%= f.input :phone %> 
    <p  style='padding-bottom:2em;'><%=link_to_remove_association build_icon('trash-o', text: "#{t('action.remove')} #{EntityOrganization.model_name.human}"),f, class: ' remove_nested_fields pull-right', id: 'reset', onclick: 'reset();'%></p> 
</div>