<div id="<%=dom_id(f.object)%>" class=" nested-fields event-fields well col-md-12" id="eventsFields">
    <%= content_tag :h2, "#{Address.model_name.human} #{t('and')} #{Timetable.model_name.human(count: 2)}", class: 'form-subtitle' %>

    <div class="row well">
        <%= content_tag :h3, Address.model_name.human, class: 'form-subtitle' %>
        <%= f.simple_fields_for :address, (f.object.address.presence || f.object.build_address) do |f_address|  %>
        <% unless @publish.blank?
            f_address.object.town=@publish.town
            f_address.object.road_type=@publish.road_type
            f_address.object.province=@publish.province
            f_address.object.road_name=@publish.road_name
            f_address.object.road_number=@publish.road_number
            f_address.object.postal_code=@publish.postal_code%>
            <%= hidden_field_tag :rt_project_publishing_id, params[:rt_project_publishing_id]%>
            <%= hidden_field_tag :request_form,@publish.request_form %>
        <%end %>
            <%= render partial: 'addresses/form_fields', locals: {f: f_address } %>
        <% end %>
    </div>

    <div class="timetables_block row well">
        <%= content_tag :h3, Timetable.model_name.human(count: 2), class: 'form-subtitle' %>
        <%= f.error :base, class: 'alert alert-danger alert-dismissable' %>
        <%= f.simple_fields_for :timetables, (f.object.timetables.build if f.object.new_record? && f.object.timetables.empty?) do |f_timetable|  %>
            <%=render "timetable_fields", f: f_timetable%>
        <% end %>
        <p><%= link_to_add_association icon_new(text: "#{Timetable.model_name.human}"),f, :timetables, class: 'btn add_nested_fields' %></p>
    </div>

    <p><%= link_to_remove_association build_icon('trash-o', text: "#{t('action.remove')} #{Address.model_name.human} #{t('and')} #{Timetable.model_name.human(count: 2)}"),f, class: 'remove_nested_fields pull-right', id: 'rmEvent', onclick: 'rmEvent();' %></p>
</div>