<div class="form-inputs">

  <div class="row">
    <%= render partial: "pt/form_buttons", locals: {f: f } %>
    <% if f.object.persisted?  %>
      <div class="col-md-6" style="float:right; padding:1em;"> 
        <%= button_to_trackings(f.object, "pro",nil, path_params:{is_update: true, "q[project_id_eq]": f.object.id}) %> 
      </div>     
    <%end%> 
  </div>
  <%= render partial: "projects/partials_form/common_data", locals: {f: f } %>
  <%= render partial: "projects/partials_form/volunteers", locals: {f: f } %>
  <%= render partial: "projects/partials_form/contacts_people", locals: {f: f } %>
  <%= render partial: "projects/partials_form/date_execute", locals: {f: f } %>
  <%= render partial: "projects/partials_form/data_security", locals: {f: f } %>
  
  <div class="events-block row row-4 well">
    <%= content_tag :h2, "#{Address.model_name.human(count: 2)} #{t('and')} #{Timetable.model_name.human(count: 2)}", class: 'form-subtitle' %>
    <input type="hidden" id='eventsNum' value="<%=f.object.events.count %>"/>    
    <div id="districtSelect">  
      <% if @publish.blank? || !(!@publish.road_type.blank? || !@publish.road_name.blank? ||!@publish.number_type.blank?|| !@publish.road_number.blank? || !@publish.postal_code.blank? || !@publish.borought.blank? || !@publish.town.blank? || !@publish.province.blank? || !@publish.district.blank?)%>
        <%= f.input :district_id, label: t('address_field.districts'), collection: @hash_distritos,as: :select,:include_blank => false,  wrapper_html: { class: 'col-md-6' } %>
      <%end%>
    </div>
    <%= f.simple_fields_for :events,((f.object.events.build if (!@publish.road_type.blank? || !@publish.road_name.blank? ||!@publish.number_type.blank?|| !@publish.road_number.blank? || !@publish.postal_code.blank? || !@publish.borought.blank? || !@publish.town.blank? || !@publish.province.blank? || !@publish.district.blank?)) unless @publish.blank?) do |f_event|  %>
          <%=render "event_fields", f: f_event%>
    <%end%>
    <p><%= link_to_add_association icon_new(text: "#{t('action.add')} #{Address.model_name.human} #{t('and')} #{Timetable.model_name.human(count: 2)}"),f, :events, class: 'add_nested_fields btn', id: 'addEvent', onclick: 'addEvent();' %></p>
  </div>

  <%= render partial: "projects/partials_form/areas", locals: {f: f } %>
  <%= render partial: "projects/partials_form/collectives", locals: {f: f } %>
  <%= render partial: "projects/partials_form/coordinations", locals: {f: f } %>
  <%= render partial: 'projects/partials_form/entity_organization', locals: {f: f } %>
  <%= render partial: 'projects/partials_form/subprojects', locals: {f: f } %>
  <%= render partial: 'projects/partials_form/activities', locals: {f: f } %>
  <%= render partial: 'projects/partials_form/album', locals: { f: f } %>
  <%= render partial: 'links/documents', locals: { f: f } %>
</div>

<script>
  // Preventing destroy events when only one
  var eventsNum = $("#eventsNum").val();

  function cambiarVista(numero){
    if(numero>0) $("#districtSelect").hide();
    else $("#districtSelect").show();
  }

  cambiarVista(eventsNum);
    function addEvent() {
      eventsNum++;
      if(eventsNum>0) $("#districtSelect").hide();
      $("#rmEvent").show();
    }

    function rmEvent() {
      eventsNum--;
      if(eventsNum<1) $("#districtSelect").show();      
    }

    $('#pt_entity_project_attributes_execution_end_date').click(function(){
      if ($(".pt_entity_project_execution_end_date").hasClass( "has-error" )) {
        $(".pt_entity_project_execution_end_date").removeClass( "has-error" );
        $(".pt_entity_project_execution_end_date").find("span").remove();
      }
    })

    $('#pt_entity_project_attributes_execution_end_date').focusout(function(){
      if ($("#pt_entity_project_attributes_execution_end_date").val() == "__/__/____") {
        $("#pt_entity_project_attributes_execution_end_date").val("");
      }
    })

    $('#pt_entity_project_attributes_execution_start_date').click(function(){
      if ($(".pt_entity_project_execution_start_date").hasClass( "has-error" )) {
        $(".pt_entity_project_execution_start_date").removeClass( "has-error" );
        $(".pt_entity_project_execution_start_date").find("span").remove();
      }
    })

    $('#pt_entity_project_attributes_execution_start_date').focusout(function(){
      if ($("#pt_entity_project_attributes_execution_start_date").val() == "__/__/____") {
        $("#pt_entity_project_attributes_execution_start_date").val("");
      }
    })
</script>
