<div class="row" style="width: 500px">
 	<%= form_tag(clone_project_project_path(@project), remote: true, id: "pre_clone_project" ) do |f| %>
		<div class="col-sm-12">
			<div class="row">
				<%= label_tag :search_name, t('pre_clone.name'),class: 'col-sm-4 control-label'%>
				<%= text_field_tag :search_name, @project.name , class: 'form-control col-md-6',  style: 'width: 255px; margin:3px 2px;', onkeyup: "correct_string($(this))"%>
			</div>
			<%if @project.subtype_proyect.to_s != "matriz"%>
			<div class="row justify-content-center" style="margin-top: 12px">
				<%= label_tag :matriz,"Proyecto Martiz",class: 'col-sm-4 control-label'%>
				<%= select_tag :matriz,  options_from_collection_for_select(@proyects_matriz.reorder(id: :asc) || [],"id","name_id"),include_blank: true, class: 'form-control col-md-6',  style: 'width: 255px; margin:3px 2px;', onkeyup: "correct_string($(this))"%>
			
			</div>
			<%end%>
			<div class="row justify-content-center" style="margin-top: 12px">
				<div class="col-md-2"></div>
				<div class="col-md-10">
					<%=check_box_tag("clone_with_volunteers")%>
					<label class='vol_filter_label'><%=t('pre_clone.with_volunteers')%> </label>
				</div>
			</div>
		</div>
		<div class="col-sm-12 text-right" style="margin-top: 30px">
			<button  type="submit" name="button" 
				class="btn btn-default"><%= t('action.accept') %></button>
		</div>
	<%end%>
</div>