<tr class="pro-results" id="<%= dom_id(project) %>" >
  <% project.main_attributes.each do |attr_name| %>
    <% if attr_name.to_s=="review_end_project"%>
      <td>
        <%if project.notice_end? %>
          <%= form_tag do 
            check_box_tag project.id,'',project.review_end_project || false, disabled: project.review_end_project || false
          end%>
        <%end%>
       </td>
    <%else%>
      <td><%= show_attr(project, attr_name) %></td>
    <% end %>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(project.pt_extendable || project) %>
  <% if can? :edit, project %> 
    <%= link_to_edit(project.pt_extendable || project) %>
  <% end %>
    <%= link_to_trackings(project, "pro") %>
  <% if project.try(:archived?) %>
    <%= link_to_recover(project) %>
  <% else %>
    <%= link_to_destroy(project) %>
  <% end %>
    <%= link_to_clone_project(project) %> 
    <%= link_to_remove(project) %>
    <%= link_to "<i class='fa fa-comments'></i>".html_safe, digital_topics_path(search_project: project.id),title: "Foros digitales", alt: "Foros digitales" if project.permit_debate%>
    <%= link_to "<i class='fa fa-question-circle'></i>".html_safe, digital_faqs_path(search_project: project.id), title: "FAQ digital", alt: "FAQ digital" if project.permit_faq %>
  </td>
</tr>
