
<div class="row">
  <div class="col-md-12">
    <h2><%= t('search_filter')%></h2>
  </div>
</div>
<div class="index-panel row well">  
  <div class="col-md-12">
    <div class="row">
      <%= content_tag :label, t('project_filter.data_project'), class: 'col-sm-9 control-label' %>
    </div>
    <div class="row">
      <div class="col">
        <%= text_field_tag :search_id, params["search_id"], placeholder: t('project_filter.field_id'), class: 'form-control col-md-2', style: 'width: 13rem; margin:0px 2px;'%>
        <%= text_field_tag :search_pt_id, params["search_pt_id"], placeholder: t('project_filter.field_pt_id'), class: 'form-control col-md-2', style: 'width: 13rem; margin:0px 2px;'%>
        <%= text_field_tag :search_subpt_id, params["search_subpt_id"], placeholder: t('project_filter.field_subpt_id'), class: 'form-control col-md-2', style: 'width: 13rem; margin:0px 2px;'%>
        <div class="col-md-2" style= 'width: 191px; margin:0px 2px;'>
          <div class="row">
            <%= text_field_tag :enter_text, params['enter_text'] ,placeholder: t('volunteer_filter.input_text'), class: 'form-control col' %>
            <div class="tooltip col">
              <%=fa_icon "question-circle" ,class: "fa-1x"%>
              <span class="tooltiptext"><%=model_class.tooltip%></span>
            </div>
          </div>
        </div>
        <%= text_field_tag :search_nombre, params["search_nombre"],placeholder: t('project_filter.field_name'), class: 'form-control col-md-4',  style: 'width: 25rem; margin:0px 2px;'%>
        <%= select_tag :search_tipo,options_for_select(@hash_tipos||{},params["search_tipo"]), 
                        include_blank: t('project_filter.field_type'),
                        class:     'form-control col-md-4',
                        id:        'search_tipo-select',
                        style:     'width:20rem; margin:0px 2px;' %>
        <%= text_field_tag :search_year, params["search_year"] ,placeholder: t('project_filter.field_year'), class: 'form-control col-md-2',  style: 'width: 60px; margin:0px 2px;'%>
      </div>      
    </div>
    <div class="row" style="margin-top: 2rem">
      <div class='col-sm-2 control-label'></div>
      <%= content_tag :label, t('project_filter.date_start'), class: 'col-sm-3 control-label' %>
      <%= content_tag :label, t('project_filter.date_end'), class: 'col-sm-3 control-label' %>
    </div>
    <div class="row">
      <div class='col-sm-2 control-label'>
        <%= content_tag :label, "#{t('project_filter.date_exec')}:",style: "margin: 8px 0px;" %>
      </div>
      <div class="col-sm-3">
        <%= date_field_tag :search_inicio_f, params["search_inicio_f"], class: "form-control" %>
      </div>
      <div class="col-sm-3" >
        <%= date_field_tag :search_fin_f, params["search_fin_f"], class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="warningNumberProject" id="warning_id_project" style="margin-top:2px;"><%=t('warningNumber')%></label>
      </div>
      <div class="col-md-3 col-md-offset-3">  
        <label class="warningNumberProject" id="warning_year_project" style="margin-top:2px;"><%=t('warningNumber')%></label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-8">
        <label id="warningLabelFecha"><%=t('project_filter.warning_label_date')%></label>
        <label id="warningLabelFechaFormat"><%=t('warning_label_fecha_desde_format')%></label>
        <label id="warningLabelFechaFormat2"><%=t('warning_label_fecha_hasta_format')%></label>
      </div>
    </div>
    <hr>
    <div class="row">
      <%= content_tag :label, t('project_filter.other_filter'), class: 'col-sm-12 control-label', style: 'margin: 0px 0px;'  %>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= select_tag :search_status, 
              options_for_select({ t('all')=>:all, 
              t('active') => :active,
              t('inactive') => :inactive,
              t('suspended') => :suspended
              } ||{},params["search_status"]),
               include_blank: t('project_filter.field_select_state'),
              class:     'form-control col-md-6',
              id:        'search_status-select',
              style:     'width:100px; margin:0px 2px;' %>
        <%= select_tag :search_entidad, 
            options_for_select(@hash_entidades||{},params["search_entidad"]),
                          include_blank: t('project_filter.field_select_entity'),
                          class:     'form-control col-md-6',
                          id:        'search_entidad-select',
                          style:     'width:150px; margin:0px 2px;' %>
        <%= select_tag :search_district, 
              options_for_select(@hash_distritos||{},params["search_district"]),
              include_blank: t('project_filter.field_select_district'),
              class:     'form-control col-md-6',
              id:        'search_district-select',
              style:     'width:150px; margin:0px 2px;' %>
        <%= select_tag :search_ambito, 
              options_for_select(@ambitos_proyecto||{},params["search_ambito"]), 
              include_blank: t('project_filter.field_select_area'),
              class:     'form-control col-md-6',
              id:        'search_ambito-select',
              style:     'width:200px; margin:0px 2px;' %>
        <%= select_tag :search_colectivo, 
              options_for_select(@colectivos_proyecto||{}),
              include_blank: t('project_filter.field_select_collective'),
              class:     'form-control col-md-6',
              id:        'search_colectivo-select',
              style:     'width:200px; margin:0px  2px;' %>
        <%= select_tag :search_subproyect_pt, 
              options_for_select(@hash_subtypes_pt||{}),
              include_blank: t('project_filter.field_select_subproyect_pt'),
              class:     'form-control col-md-6',
              id:        'search_subproyect_pt-select',
              style:     'width:220px; margin:0px 2px;' %>
        <%= select_tag :search_subproyect_type, 
              options_for_select(@hash_subtypes_proyect||{}),
              include_blank: t('project_filter.field_select_subproyect_type'),
              class:     'form-control col-md-6',
              id:        'search_subproyect_type-select',
              style:     'width:220px; margin:0px 20px 0px 2px;' %>
      </div>
    </div>
  </div>
  <div class="col-sm-8" style="margin: 20px 0px 0px 0px;">
    <div class="row">
      <div class="col-md-3">
        <%= check_box_tag("search_review","search_review",!params["search_review"].blank?) %>
        <label><%=t('project_filter.review')%></label>
      </div>
      <div class="col-md-3">
        <%= check_box_tag("search_volun_allowed","search_volun_allowed",!params["search_volun_allowed"].blank?) %>
        <label><%=t('project_filter.volunteers_allowed')%></label>
      </div>
      <div class="col-md-3">
        <%= check_box_tag("search_outstanding","search_outstanding",!params["search_outstanding"].blank?)%>
        <label><%=t('project_filter.outstanding')%></label>
      </div>
      <div class="col-md-3">
        <%= check_box_tag("search_publish","search_publish",!params["search_publish"].blank?) %>
        <label><%=t('project_filter.publish')%></label>
      </div>
      <div class="col-md-2">
        <%= check_box_tag("search_urgent","search_urgent",!params["search_urgent"].blank?)%>
        <label><%=t('project_filter.urgent')%></label>
      </div>
    </div>
  </div>
  <div class="col-sm-4 text-right" style="margin: 20px 0px 0px 0px;">
    <button  type="button" name="button" class="btn btn-primary" id="buttonCleanProject" class="btn btn-default"><%= t('reset_search') %></button>
    <button type="button" name="button" class="btn btn-success" id="buttonSearchProject" class="btn btn-default"><%= t('search') %></button>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= content_tag(:div, link_to_new(model_class, path: 'pt_extensions_menu_projects_path'), class: '') %>
 </div>
</div>

<script>
function push_enter(event){
    search_enter(event,search_js_project);
}
 
    //$(document).on('keypress', push_enter);
    
    $('#buttonSearchProject').on('click', function() {
        search_js_project();
    });

    $('#buttonCleanProject').on('click', function() {
        $(location).attr('href', "<%=projects_url%>");
    });

    $('#pages-select').on('change', function() {
        search_js_project();
    });

    $(function() {
        $(":checkbox").on('change', function(){
            if (this.id != 'search_review' && this.id != 'search_urgent' && 
                this.id != 'search_publish' && this.id != 'search_outstanding'  && 
                this.id != 'search_volun_allowed') {

                changed_review($('#' + this.id),'#recarga-filtros',[
                    ['isSearch',true,'b'],
                    ['page',1,'b'],
                    ['per_page',$('#pages-select option:selected'),'i'],
                    ['search_ambito',$('#search_ambito-select option:selected'),'s'],
                    ['search_entidad',$('#search_entidad-select option:selected'),'s'],
                    ['search_colectivo',$('#search_colectivo-select option:selected'),'s'],
                    ['search_district',$('#search_district-select option:selected'),'s'],
                    ['search_status',$('#search_status-select option:selected'),'s'],
                    ['search_id',$('#search_id'),'i'],
                    ['enter_text',$('#enter_text'),'s'],
                    ['search_nombre',$('#search_nombre'),'s'],
                    ['search_tipo',$('#search_tipo-select option:selected'),'s'],
                    ['search_inicio_f',$('#search_inicio_f'),'s'],
                    ['search_year',$('#search_year'),'i'],
                    ['search_review',$('#search_review'),'check'],
                    ['search_volun_allowed',$('#search_volun_allowed'),'check'],
                    ['search_outstanding',$('#search_outstanding'),'check'],
                    ['search_publish',$('#search_publish'),'check'],
                    ['search_urgent',$('#search_urgent'),'check'],
                    ['search_fin_f',$('#search_fin_f'),'s']]);
            }
        });    
    });

    $('#search_id').on('keyup', function() {
        is_number($('#search_id'),$('#warning_id_project'),'buttonSearchProject');
    });

    $('#enter_text').on('keyup', function() {
        correct_string($('#enter_text'));
    });

    $('#search_nombre').on('keyup', function() {
        correct_string($('#search_nombre'));
    });

    $('#search_year').on('keyup', function() {
        is_number($('#search_year'),$('#warning_year_project'),'buttonSearchProject');
    });

    $('#search_inicio_f').on('change', function() {
        valida_date_until($('#search_fin_f'),$('#search_inicio_f'),$('#warningLabelFecha'),$('#warningLabelFechaFormat'),$('#warningLabelFechaFormat2'),'buttonSearchProject');
    });

    $('#search_fin_f').on('change', function() {
        valida_date_until($('#search_inicio_f'),$('#search_fin_f'),$('#warningLabelFecha'),$('#warningLabelFechaFormat'),$('#warningLabelFechaFormat2'),'buttonSearchProject');
    });


</script>