<dl class="dl-horizontal">
<%project ||= @project%>
 
  <dt><%= Project.human_attribute_name(:entity_id) %>:</dt>
  <dd><%= project.entity %></dd>
  <dt><%= Project.human_attribute_name(:id) %>:</dt>
  <dd><%= project.id %></dd>
  <dt><%= Project.human_attribute_name(:subtype_pt_compact) %>:</dt>
  <dd><%= project.subtype_pt_compact %></dd>
  <dt><%= Project.human_attribute_name(:subtype_proyect_compact) %>:</dt>
  <dd><%= project.subtype_proyect_compact %></dd>
  <dt><%= Project.human_attribute_name(:father_id) %>:</dt>
  <dd><%= project.father_id %></dd>
  <dt><%= Project.human_attribute_name(:pt_order_compact) %>:</dt>
  <dd><%= project.pt_order_compact %></dd>
  <dt><%= Project.human_attribute_name(:active) %>:</dt>
  <dd><%= t("humanize.#{project.active?}") %></dd>
  <dt><%= Project.human_attribute_name(:year) %>:</dt>
  <dd><%= project.year %></dd>
  <dt><%= Project.human_attribute_name(:name) %>:</dt>
  <dd><%= project.name %></dd>
  <dt><%= Project.human_attribute_name(:description) %>:</dt>
  <dd><%= project.description.blank? ? "" : Nokogiri::HTML(project.description).text %></dd>
  <dt><%= Project.human_attribute_name(:area_departament) %>:</dt>
  <dd><%= project.area_departament %></dd>
  <dt><%= Project.human_attribute_name(:publish) %>:</dt>
  <dd><%= t("humanize.#{project.publish?}") %></dd>
  <dt><%= Project.human_attribute_name(:outstanding) %>:</dt>
  <dd><%= t("humanize.#{project.outstanding?}") %></dd>
  <dt><%= Project.human_attribute_name(:urgent) %>:</dt>
  <dd><%= t("humanize.#{project.urgent?}") %></dd>
  <dt><%= Project.human_attribute_name(:suspended) %>:</dt>
  <dd><%= t("humanize.#{project.suspended?}") %></dd>
  <hr>
  
  <dt><%= Project.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(project.created_at) %></dd>
  <dt><%= Project.human_attribute_name(:execution_start_date) %>:</dt>
  <dd><%= show_simple_date(project.execution_start_date) %></dd>
  <dt><%= Project.human_attribute_name(:execution_end_date) %>:</dt>
  <dd><%= show_simple_date(project.execution_end_date) %></dd>
  <hr>
  
  <dt><%= Project.human_attribute_name(:volunteers_allowed) %>:</dt>
  <dd><%= t("humanize.#{project.volunteers_allowed?}") %></dd>
  <dt><%= Project.human_attribute_name(:functions) %>:</dt>
  <dd><%= project.functions.blank? ? "" : Nokogiri::HTML(project.functions).text %></dd>
  <dt><%= Project.human_attribute_name(:volunteers_num) %>:</dt>
  <dd><%= project.volunteers_num %></dd>
  <dt><%= Pt::Subvention.human_attribute_name(:participants_num) %>:</dt>
  <dd><%= project.participants_num %></dd>
  <dt><%= Project.human_attribute_name(:beneficiaries_num) %>:</dt>
  <dd><%= project.beneficiaries_num %></dd>
    <dt><%= Project.human_attribute_name(:number_of_activities) %>:</dt>
  <dd><%= project.number_of_activities %></dd>
  <dt><%= Project.human_attribute_name(:number_of_actions) %>:</dt>
  <dd><%= project.number_of_actions %></dd>
  <hr> 
  <dt><%= Project.human_attribute_name(:insured) %>:</dt>
  <dd><%= t("humanize.#{project.insured}") %></dd>
  <dt><%= Project.human_attribute_name(:insurance_date) %>:</dt>
  <dd><%= show_simple_date(project.insurance_date) %></dd>

  
  <% unless (project.contact_name.blank? && project.contact_last_name.blank? && project.contact_last_name_alt.blank? && project.phone_number.blank? &&project.email.blank?) %>
    <hr>
    <dt><%= Project.human_attribute_name(:contact_name1) %>:</dt>
    <dd><%= project.contact_name %> <%= project.contact_last_name %> <%= project.contact_last_name_alt %></dd>
    <dt><%= Project.human_attribute_name(:phone_number) %>:</dt>
    <dd><%= project.phone_number %></dd>
    <dt><%= Project.human_attribute_name(:email) %>:</dt>
    <dd><%= project.email %></dd>
  <% end %>
  <% unless (project.contact_name1.blank? && project.contact_last_name1.blank? && project.contact_last_name_alt1.blank? && project.phone_number1.blank? &&project.email1.blank?) %>
    <hr>
    <dt><%= Project.human_attribute_name(:contact_name2) %>:</dt>
    <dd><%= project.contact_name1 %> <%= project.contact_last_name1 %> <%= project.contact_last_name_alt1 %></dd>
    <dt><%= Project.human_attribute_name(:phone_number1) %>:</dt>
    <dd><%= project.phone_number1 %></dd>
    <dt><%= Project.human_attribute_name(:email1) %>:</dt>
    <dd><%= project.email1 %></dd>
  <% end %>
  <% unless (project.contact_name2.blank? && project.contact_last_name2.blank? && project.contact_last_name_alt2.blank? && project.phone_number2.blank? &&project.email2.blank?) %>
    <hr>
    <dt><%= Project.human_attribute_name(:contact_name3) %>:</dt>
    <dd><%= project.contact_name2 %> <%= project.contact_last_name2 %> <%= project.contact_last_name_alt2 %></dd>
    <dt><%= Project.human_attribute_name(:phone_number2) %>:</dt>
    <dd><%= project.phone_number2 %></dd>
    <dt><%= Project.human_attribute_name(:email2) %>:</dt>
    <dd><%= project.email2 %></dd>
  <% end %>
  <hr>
  <dt><%= Project.human_attribute_name(:comments) %>:</dt>
  <dd><%= project.comments.blank? ? "" : Nokogiri::HTML(project.comments).text %></dd>
</dl>
