<div id="<%=dom_id(f.object)%>" class="nested-fields timetable-fields well-no-border col-md-12">
    <div class="row">
        <%= f.input :execution_date, as: :string, input_html: {type: "date", value: f.object.execution_date.blank? ? "" : f.object.execution_date.strftime('%Y-%m-%d')}, wrapper_html: { class: 'col-md-4' } %>
        <%= f.input :start_hour, input_html: {  type: "time", data: {  mask: '99:99'} }, wrapper_html: { class: 'col-md-4' } %>
        <%= f.input :end_hour, input_html: {  type: "time", data: { mask: '99:99'} }, wrapper_html: { class: 'col-md-4' } %>
        <%=link_to_remove_association build_icon('trash-o', text: "#{Timetable.model_name.human}"),f, class: 'remove_nested_fields pull-right' %>
    </div>
</div>