
<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: 'search_projects', locals: {model_class: @model_class} %>
<div id="recarga-filtros">
  <%= render partial: "shared/count", locals: {collection: @projects, model_class: @model_class, count: @projects.count, csv_enable: true, url: projects_path({format: "csv", questions: false}.merge!(params.permit!.except(:questions))) } %>
  <%= render partial: "common/generic_table", locals: {search: @search_q,collection: @projects, model_class: @model_class, partial: 'project' } %>
  <%= render partial: 'shared/pagination', locals: {collection: @projects, urlchange: "search_js_project()"} %>
</div>
