<%= main_title(t('action.new', model:"#{Project.model_name.human} #{ProjectType.kinds_i18n[@pt_extension]}" )) %>

<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>

<%= link_to( t('action.back'), projects_path, class: 'btn btn-default') %>