
function confirmedPreClone( result) {
    if (result) {
       $( "#pre_clone_project" ).submit();
    }
}


 swal({width: '70%', 
        title:             '<%=  main_title(t('messages.pre_clone', name: @project.name))%>',
        html:              '<%= j (render 'pre_clone') %>',
        confirmButtonText: 'Cancelar'
    });