<div class="new-project-type">
  <div class="jumbotron scale">
    <h2><%=t('title_projects_pt')%></h2>
    
    <div class="panel-list row" style="margin-top: 5rem">
      <%@first_level_order.each do |pt|%>
        <div class="col-md-6">
          <%= box_link_to pt %>
        </div>
      <%end%>      
    </div>    
  </div>
</div>
