<%= main_title(t('action.show', model:"#{Project.model_name.human} #{ProjectType.kinds_i18n[@pt_extension]}" )) %>

<div class="row">
  <div class="col-md-12">
    <%= render partial: 'show', locals: { project: @project } %>
  </div>
</div>

<% unless request.xhr? %>
	<%= link_to( t('action.back'), projects_path, class: 'btn btn-default') %>
	<%= button_to_edit(@project) %>
<% end %>