<div id="files" class="row well">
  <div class="files-header row">
    <div class="col-md-11">
      <% if f.object.is_a? Volunteer %>
        <%= content_tag :h2, t('volunteer_docs'), class: 'form-subtitle' %>
      <% else %>
        <%= content_tag :h2, "#{t('files')} #{t('and')} #{t('urls')}", class: 'form-subtitle' %>
      <% end %>
      <%= content_tag :div, (content_tag :p, t('files_are_allowed_olny_on_update')), class: 'well-no-border' if f.object.new_record? %>
    </div>
    <div class="col-md-1">
      <p class="js-arrow hidden">
       <span><%= build_icon('angle-down') %></span>
       <span class="hidden"><%= build_icon('angle-up') %></span>
      </p>
    </div>
  </div>
  
  <% if f.object.persisted? %>
    <div class="files-block">
      <% unless f.object.is_a? Volunteer %>
          <div class="images_block row well js-files-block">
            <%= content_tag :h3, t('images'), class: 'form-subtitle' %>
            <div class="col-md-12">
              <% if f.object.images.exists? %>
                <%= f.simple_fields_for :images  do |f_file|  %>
                  <%= show_simple_base_errors(f_file) %>
                  <div id="<%=dom_id(f_file.object)%>" class="nested-fields image-fields well-no-border js-file-fields">
                    <div class="row">
                      <%= f_file.input :path, label: t('name'), input_html: { disabled: true, value: f_file.object.file_name }, wrapper_html: { class: 'link-path col-md-9' } %>
                      <%= f_file.input :link_type_id, as: :hidden, input_html: { value: LinkType.image.take.id } %>
                      <% if f_file.object.description? %>
                        <%= f_file.input :description, wrapper_html: { class: 'link-path col-md-9' } %>
                      <% end %>
                      <%= content_tag :div, class: 'js-file-link form-group col-md-3' do %>
                          <%= link_to(build_icon(:share), f_file.object.path, target: :_blank) %>
                      <%= link_to_show(f_file.object) %>
                      <%= link_to_remove_association build_icon('trash-o'),f_file, data: { confirm: t('messages.confirm_file_deletion') }, class: "remove_nested_fields" %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <%= content_tag :p, "#{t('img.dont_have')} #{Volunteer.human_attribute_name(:images)}" %>
              <% end %>
            </div>
            <div class="col-md-12 js-links-block">
              <%= link_to "#{build_icon(:upload, title: t('img.go'))} #{t('img.uploads')}".html_safe,
                          links_path(linkable_id: f.object.id, linkable_type: f.object.class.name, link_type_id: LinkType.image.take.id),
                          target: :_blank,
                          class: 'btn btn-success'%>
            </div>
        </div>
      <% end %>
      <div class="docs_block row well js-files-block">
        <%= content_tag :h3, t('docs'), class: 'form-subtitle' %>
          <div class="col-md-12">
          <% if f.object.docs.exists? %>
              <%= f.simple_fields_for :docs  do |f_file|  %>
                  <%= show_simple_base_errors(f_file) %>
                  <div id="<%=dom_id(f_file.object)%>" class="nested-fields doc-fields well-no-border js-file-fields">
                    <div class="row">
                      <%= f_file.input :path, required: true, label: t('name'), input_html: { disabled: true, value: f_file.object.file_name }, wrapper_html: { class: 'link-path col-md-9' } %>
                      <%= f_file.input :link_type_id, as: :hidden, input_html: { value: LinkType.document.take.id } %>
                      <%= f_file.input :description, required: true, wrapper_html: { class: 'link-path col-md-9' } %>
                      <%= content_tag :div, class: 'js-file-link form-group col-md-3' do %>
                          <%= link_to(build_icon(:share), f_file.object.path, target: :_blank) %>
                          <%= link_to_show(f_file.object) %>
                          <%= link_to_remove_association build_icon('trash-o'),f_file, data: { confirm: t('messages.confirm_file_deletion') },  class: "remove_nested_fields" %>
                      <% end %>
                    </div>
                  </div>
              <% end %>
          <% else %>
              <%= content_tag :p, "#{t('document.dont_have')} #{Volunteer.human_attribute_name(:docs)}" %>
          <% end %>
        </div>
        <div class="col-md-12 js-links-block">
          <%= link_to "#{build_icon(:upload, title: t('document.go'))} #{t('document.uploads')}".html_safe,
                      links_path(linkable_id: f.object.id, linkable_type: f.object.class.name, link_type_id: LinkType.document.take.id),
                      target: :_blank,
                      class: 'btn btn-success' %>
        </div>
      </div>
      <% if f.object.is_a? Entity %>
      <% else %>
        <% unless f.object.is_a? Volunteer %>
        <div class="urls_block row well js-files-block">
          <%= content_tag :h3, t('Vídeos'), class: 'form-subtitle' %>
          <%= f.simple_fields_for :videos  do |f_file|  %>
             <%=render "video_fields", f: f_file%>
          <% end %>
          <p><%= link_to_add_association icon_new(text: t('Vídeos')),f, :videos, class: 'btn add_nested_fields' %></p>
        </div>
        <% end %>
      <% end %>
      <% unless f.object.is_a? Volunteer %>
        <div class="urls_block row well js-files-block">
          <%= content_tag :h3, t('urls'), class: 'form-subtitle' %>
          <%= f.simple_fields_for :urls  do |f_file|  %>
              <%= render "url_fields", f: f_file%>
          <% end %>
          <p><%= link_to_add_association icon_new(text: t('urls')),f, :urls,  class: 'btn add_nested_fields' %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
