<div class="well">
  <%= simple_form_for(@link, default_form_options) do |f| %>
      <%= show_simple_base_errors(f) %>
      <div class="form-inputs row">
        <%= render partial: 'form_fields', locals: { f: f } %>
      </div>
      <div class="form-actions row">
        <%= f.submit nil, class: 'btn btn-success' %>
      </div>
  <% end %>
</div>
