<%= f.input :path, as: :hidden, wrapper_html: { calss: 'col-md-4' } %>
<%= f.input :link_type_id, collection: LinkType.files.minmax, selected: f.object.link_type_id.presence %>
<%= f.input :linkable_type, as: :hidden %>
<%= f.input :linkable_id, as: :hidden %>
<%= f.input :file, as: :file, label: false, wrapper_html: { class: 'col-md-12' },input_html: {multiple: true, name: "file[]"} %>
<%= f.input :description, wrapper_html: { class: 'col-md-12' } %>
