<div class="images_block row  js-files-block">
  <div class="col-md-7 col-md-offset-1">
    <%= content_tag :h6, t('images'), class: 'form-subtitle' %>
    <% if !f.object.images.blank? %>
      <%= f.simple_fields_for :images  do |f_file|  %>
        <%= show_simple_base_errors(f_file) %>
        <div id="<%=dom_id(f_file.object)%>" class="nested-fields image-fields well-no-border js-file-fields">
          <div class="row">
              <%= f_file.input :path, label: t('name'), input_html: { disabled: true, value: f_file.object.file_name }, wrapper_html: { class: 'link-path col-md-9' } %>
              <%= f_file.input :link_type_id, as: :hidden, input_html: { value: LinkType.image.take.id } %>
              <% if f_file.object.description? %>
                <%= f_file.input :description, wrapper_html: { class: 'link-path col-md-9' } %>
              <% end %>
              <%= content_tag :div, class: 'js-file-link form-group col-md-3' do %>
                <%= link_to(build_icon(:share), f_file.object.path, target: :_blank) %>
                <%= link_to_show(f_file.object) %>
                <%= link_to_remove_association build_icon('trash-o'),f_file, data: { confirm: t('messages.confirm_file_deletion') }, class: "remove_nested_fields" %>
              <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= content_tag :p, "#{t('img.dont_have')} #{Volunteer.human_attribute_name(:images)}" %>
    <% end %>
  </div>  
  <div class="col-md-7 col-md-offset-1">
    <%= link_to "#{build_icon(:upload, title: t('img.go'))} #{t('img.uploads')}".html_safe,
                   links_path(linkable_id: f.object.id, linkable_type: f.object.class.name, link_type_id: LinkType.image.take.id),
                              target: :_blank,
                              class: 'btn btn-success'%>
  </div>
</div>
<div class="images_block row  js-files-block">
  <div class="col-md-7 col-md-offset-1">
  <%= content_tag :h6, t('Vídeos'), class: 'form-subtitle' %>
    <% if !f.object.videos.blank? %>
      <%= f.simple_fields_for :videos  do |f_file|  %>
        <%= show_simple_base_errors(f_file) %>
        <div id="<%=dom_id(f_file.object)%>" class="nested-fields url-fields well-no-border col-md-12 js-file-fields">
          <div class="row">
            <%= f_file.input :path, as: :url, required: true, wrapper_html: { class: 'link-path col-md-9' } %>
            <%= f_file.input :link_type_id, as: :hidden, input_html: { value: LinkType.video.take.id } %>
            <%= f_file.input :description, required: true, wrapper_html: { class: 'link-path col-md-9' } %>
            <%= content_tag :div, class: 'js-file-link form-group col-md-3' do %>
              <%= link_to(build_icon(:share), f_file.object.path, target: :_blank, class: 'js-visit') %>
              <%= link_to_remove_association build_icon('trash-o'),f_file, data: { confirm: t('messages.confirm_file_deletion') }, class: "remove_nested_fields" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= content_tag :p, "#{t('video.dont_have')} #{Volunteer.human_attribute_name(:videos)}" %>
    <% end %>
  </div> 
  <div class="col-md-7 col-md-offset-1 js-links-block">
    <%= link_to "#{build_icon(:upload, title: t('video.go'))} #{t('video.uploads')}".html_safe,
                 links_path(linkable_id: f.object.id, linkable_type: f.object.class.name, link_type_id: LinkType.video.take.id),
                            target: :_blank,
                            class: 'btn btn-success'%>
  </div>
</div>   