<div class="logo-fields col-md-12">
  <div class="">
    <!-- TODO Pendiente de arreglar -->
    <%if f.object.file.present? %>
      <%if File.exists? (f.object.file.path)%>
        <%= image_tag f.object.file.url, height: '210', width: '210' %>
      <%else%>
      <div class="row">
        <label class="col-md-12">
          No existe el archivo guardado en el sistema de archivos
        </label>
      </div>
      <%end%>
    <%else%>
      <div class="row">
        <label class="col-md-12">
          No existe el archivo guardado en el sistema de archivos
        </label>
      </div>
    <%end%>
    <%= f.input :file, as: :file, label: false, wrapper_html: { class: '' } %>
    <%= f.input :link_type_id, as: :hidden, input_html: { value: LinkType.logo.take.id } %>
  </div>
  <div class="row">
  	<label class="col-md-12">
  		<%=t('only_images')%>
  	</label>
  </div>
</div>