 <div class="index-panel row well">  
    <div class="row">
      <div class="col-md-12">
        <div class="row" style="margin-bottom: 3px;">
          <%= content_tag :label, t('links_filter.data'), class: 'col-sm-9 control-label' %>
        </div>
        <%=hidden_field_tag :linkable_id, params[:linkable_id]%>
         <%=hidden_field_tag :linkable_type, params[:linkable_type]%>
        <div class="row">
            <div class="col-md-2">
              <%= text_field_tag :enter_text, params[:enter_text], placeholder: "Introducir texto", class: 'form-control col-md-2', style: 'width: 191px; margin:0px 2px;'%>
            </div>
            <div class="col-md-2 text-right">
            <%= content_tag :label, LinkType.model_name.human, for: 'district-select', class: 'control-label' %>
          </div>
            <div class="col-md-2">
              <%= select_tag :link_type_id, options_from_collection_for_select(LinkType.visibles, 'id', 'kind_i18n', @search_filters[:link_type_id_eq].to_i), include_blank: false ,onchange:  "if(this.value){$('#q_link_type_id_eq').prop('value',this.value)}; $('.search-form').submit()",
                          class:     'form-control col-md-4',
                          id:        'search_tipo-select',
                          style:     'width:152px; margin:0px 2px;' %>
            </div>
        </div>
      </div>
    
      <div class="col-sm-12 text-right" style="margin: 20px 0px 0px 0px;">
        <button  type="button" name="button" class="btn btn-primary" id="buttonSearchLinkClean"
            class="btn btn-default"><%= t('reset_search') %></button>
        <button type="button" name="button" class="btn btn-success" id="buttonSearchLink"
            class="btn btn-default"><%= t('search') %></button>
      </div>
    </div> 
  </div>
<div class="row">
  <div class="col-md-4">
    <%= content_tag(:div, link_to_new(model_class, path_params: { link: convert_filters_to_params(@search_filters, params) }), class: 'col-md-6 pull-left') %>
  </div>
</div>

<script>
function push_enter(event){
    search_enter(event,search_js_links);
}

    //$(document).on('keypress', push_enter);
    
    $('#buttonSearchLink').on('click', function() {
        search_js_links();
    });

    $('#buttonSearchLinkClean').on('click', function() {
        $(location).attr('href', "<%=links_path(link_type_id: params[:link_type_id], linkable_id: params[:linkable_id],linkable_type: params[:linkable_type])%>");
    });

    $('#pages-select').on('change', function() {
        search_js_links();
    });

    $('#enter_text').on('keyup', function() {
        correct_string($('#enter_text'));
    });
</script>