<div id="<%=dom_id(f.object)%>" class="nested-fields">
    <%= show_simple_base_errors(f) %>
    <div class="url-fields well-no-border col-md-12 js-file-fields">
        <div class="row">
            <%= f.input :path, as: :url, required: true, wrapper_html: { class: 'link-path col-md-9' } %>
            <%= f.input :link_type_id, as: :hidden, input_html: { value: LinkType.url.take.id } %>
            <%= f.input :description, required: true, wrapper_html: { class: 'link-path col-md-9' } %>
            <%= content_tag :div, class: 'js-file-link form-group col-md-3' do %>
                <%= link_to(build_icon(:share), f.object.path, target: :_blank, class: 'js-visit') %>
                <%= link_to_remove_association build_icon('trash-o'),f, data: { confirm: t('messages.confirm_file_deletion') }, class: "remove_nested_fields" %>
            <% end %>
        </div> 
    </div>
</div>