<%= main_title(t("action.edit", model: Link.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form' %>
  </div>
</div>

<%= link_to(t('action.back'), controller: 'links', action: 'index', link_type_id: @link.link_type_id, linkable_type: @link.linkable_type, linkable_id: @link.linkable_id)%>
