<% model_class = Link %>

<%= render partial: "common/title", locals: {model_class: model_class} %>
<%= render partial: "search", locals: {collection: @links, model_class: model_class} %>
<div id="recarga-filtros">
  <%= render partial: "common/generic_table", locals: {search: @search_q,collection: @links, model_class: model_class, partial: 'link' } %>
  <%= render partial: "shared/pagination", locals: {collection: @links, urlchange: "search_js_links()"} %>
</div>
<div class="col-md-12">
  <div class="col-md-1">
    <button type="button" name="button" id="btn-close" class="btn btn-primary" onclick="window.close();"><%= t('action.close') %></button>
  </div>
</div>
