<%= main_title(t("action.show", model: Link.model_name.human)) %>


<%=render "show"%>

<% unless request.xhr? %>
  <%= link_to(t('action.back'), controller: 'links', action: 'index', link_type_id: @link.link_type_id, linkable_type: @link.linkable_type, linkable_id: @link.linkable_id)%>
  <%= button_to_edit(@link) %>
<% end %>
