<div class="new-project-type">
  <div class="jumbotron scale">
    <h1 class="page-header" style="font-size: 45px; border-bottom:1px solid #8a6d3b; margin-top:20px;"><%=t('tracking.generic_title')%></h1>
    <div class="panel-list row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <h2 style="margin-bottom: 30px;"><%=t('tracking.title_volunteer')%></h2>
          </div>
          <div class="col-md-6">
            <h2 style="margin-bottom: 30px;"><%=t('tracking.title_entity')%></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= box_link_to Rt::VolunteerSubscribe, {count: 2,body_pendientes: "#{t('tracking.pending')}: #{Rt::VolunteerSubscribe.pending.count}",
              body_en_tramite:"#{t('tracking.proccess')}: #{Rt::VolunteerSubscribe.processing.count}" ,path: rt_volunteer_subscribes_path(search_pending: 'true',search_processing: 'true',search_approved: 'false', search_appointed: 'false',search_rejected:'false')}%>
          </div>
          <div class="col-md-6">
            <%= box_link_to Rt::Other, {count: 2,body_pendientes: "#{t('tracking.pending')}: #{Rt::Other.pending.count}",
              body_en_tramite:"#{t('tracking.proccess')}: #{Rt::Other.processing.count}"} %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= box_link_to Rt::VolunteerProjectSubscribe, {count: 2,body_pendientes: "#{t('tracking.pending')}: #{Rt::VolunteerProjectSubscribe.pending.count}",
              body_en_tramite:"#{t('tracking.proccess')}: #{Rt::VolunteerProjectSubscribe.processing.count}" ,path: rt_volunteer_project_subscribes_path(search_pending: 'true',search_processing: 'true',search_approved: 'false',search_rejected:'false')}%> 
          </div>
          <div class="col-md-6">
            <%= box_link_to Rt::ActivityPublishing, {count: 2,body_pendientes: "#{t('tracking.pending')}: #{Rt::ActivityPublishing.pending.count}",
              body_en_tramite:"#{t('tracking.proccess')}: #{Rt::ActivityPublishing.processing.count}",path: rt_activity_publishings_path(search_pending: 'true',search_processing: 'true',search_approved: 'false',search_rejected:'false')} %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= box_link_to Rt::VolunteerAmendment, {count: 2,body_pendientes: "#{t('tracking.pending')}: #{Rt::VolunteerAmendment.pending.count}",
              body_en_tramite:"#{t('tracking.proccess')}: #{Rt::VolunteerAmendment.processing.count}" ,path: rt_volunteer_amendments_path(search_pending: 'true',search_processing: 'true',search_approved: 'false',search_rejected:'false')}%>
          </div>
          <div class="col-md-6">
            <%= box_link_to Rt::VolunteersDemand, {count: 2,body_pendientes: "#{t('tracking.pending')}: #{Rt::VolunteersDemand.pending.count}", body_en_tramite:"#{t('tracking.proccess')}: #{Rt::VolunteersDemand.processing.count}",path: rt_volunteers_demands_path(search_pending: 'true',search_processing: 'true',search_approved: 'false',search_rejected:'false')}  %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= box_link_to Rt::VolunteerAppointment,{count: 2,body_pendientes: "#{t('tracking.pending')}: #{Rt::VolunteerAppointment.pending.count}",
              body_en_tramite:"#{t('tracking.proccess')}: #{Rt::VolunteerAppointment.processing.count}",path: rt_volunteer_appointments_path(search_pending: 'true',search_processing: 'true',search_approved: 'false',search_rejected:'false')} %>
          </div>
          <div class="col-md-6">
            <%= box_link_to Rt::ProjectPublishing, {count: 2,body_pendientes: "#{t('tracking.pending')}: #{Rt::ProjectPublishing.pending.count}",
              body_en_tramite:"#{t('tracking.proccess')}: #{Rt::ProjectPublishing.processing.count}",path: rt_project_publishings_path(search_pending: 'true',search_processing: 'true',search_approved: 'false',search_rejected:'false')} %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%#= box_link_to Rt::SolidarityChain, {count: 2,body_pendientes: "#{t('tracking.pending')}: #{Rt::SolidarityChain.pending.count}",
              body_en_tramite:"#{t('tracking.proccess')}: #{Rt::SolidarityChain.processing.count}",path: rt_solidarity_chains_path(search_pending: 'true',search_processing: 'true',search_approved: 'false',search_rejected:'false')} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
