<div class="col-md-6" style="padding:1em;">
    <%= f.button :submit, class: 'btn btn-success js-confirmable' %>
    <%= link_to build_icon('repeat', text: t('messages.undo_changes')), '', class: 'undo js-reloadable' %>
</div>