<div class="row">
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_id","search_id",params["search_id"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.Id')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_name_field","search_name_field",params["search_name_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.name')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_first_last_name_field","search_first_last_name_field",params["search_first_last_name_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.first_last_name')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_second_last_name_field","search_second_last_name_field",params["search_second_last_name_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.second_last_name')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_phone_field","search_phone_field",params["search_phone_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.phone')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_mobile_phone_field","search_mobile_phone_field",params["search_mobile_phone_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.mobile_phone')%></label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_mail_field","search_mail_field",params["search_mail_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.mail')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_district_field","search_district_field",params["search_district_field"].blank? ? nil : true)%>
            </div>
            
            <label class='col-xs-10'><%=t('volun_exports.district')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_subscribe_date_field","search_subscribe_date_field",params["search_subscribe_date_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.subscribe_date')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_unsubscribe_date_field","search_unsubscribe_date_field",params["search_unsubscribe_date_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.unsubscribe_date')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_sex_field","search_sex_field",params["search_sex_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.sex')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_birth_date_field","search_birth_date_field",params["search_birth_date_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.birth_date')%></label>
        </div>
    </div>
</div>
<div class="row"> 
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_age_field","search_age_field",params["search_age_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.age')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_document_type_field","search_document_type_field",params["search_document_type_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.document_type')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_document_number_field","search_document_number_field",params["search_document_number_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.document_number')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_province_field","search_province_field",params["search_province_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.province')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_town_field","search_town_field",params["search_town_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.town')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_road_name_field","search_road_name_field",params["search_road_name_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.road_name')%></label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_postal_code_field","search_postal_code_field",params["search_postal_code_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.postal_code')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_academic_level_field","search_academic_level_field",params["search_academic_level_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.academic_level')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_profession_field","search_profession_field",params["search_profession_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.profession')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_vocne_field","search_vocne_field",params["search_vocne_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.vocne')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_can_criminal_field","search_can_criminal_field",params["search_can_criminal_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.can_criminal')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_has_diving_license_field","search_has_diving_license_field",params["search_has_diving_license_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.has_diving_license')%></label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_project_culities_field","search_project_culities_field",params["search_project_culities_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.project_culities')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_how_know_cv_field","search_how_know_cv_field",params["search_how_know_cv_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.how_know_cv')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_languages_field","search_languages_field",params["search_languages_field"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.languages')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_is_export","search_is_export",params["search_is_export"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.is_export')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_retired","search_retired",params["search_retired"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.retired')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_nationality","search_nationality",params["search_nationality"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.nationality')%></label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_country","search_country",params["search_country"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.country')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_status","search_status",params["search_status"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.status')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_academic_level","search_academic_level",params["search_academic_level"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.academic_level')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_degree_type","search_degree_type",params["search_degree_type"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.degree_type')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_language","search_language",params["search_language"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.language')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_language_level","search_language_level",params["search_language_level"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.language_level')%></label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_skills","search_skills",params["search_skills"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.skills')%></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-xs-2">
                <%=check_box_tag("search_next_point","search_next_point",params["search_next_point"].blank? ? nil : true)%>
            </div>
            <label class='col-xs-10'><%=t('volun_exports.next_point')%></label>
        </div>
    </div>
</div>