<div class="index-panel row well">
  <div class="col-md-12" style="margin:auto; padding:10px;">
    <%= model_class.model_name.human(count: 2) %> <%=t('activity_filter.find')%>: <%= @volun_exports.count %>
  </div>
</div>
