<div class="well">
  <%= simple_form_for(@volun_export, default_form_options) do |f| %>

  <div class="form-inputs">
    <div class="row well">
      <h3 class="col-md-10 col-md-offset-2">
        <%=t('param_for_exportation_file')%>
      </h3>
    </div>
    <div class="row">
      <div class="col-md-7 col-md-offset-2">
        <div class="row">
          <div class="col-md-4">
            <%= f.input :id_field %>
          </div>
          <div class="col-md-4">
            <%= f.input :name_field %>
          </div>
          <div class="col-md-4">
            <%= f.input :first_last_name_field %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= f.input :second_last_name_field %>
          </div>
          <div class="col-md-4">
            <%= f.input :phone_field %>
          </div>
          <div class="col-md-4">
            <%= f.input :mobile_phone_field %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= f.input :mail_field %>
          </div>
          <div class="col-md-4">
            <%= f.input :district_field %>
          </div>
          <div class="col-md-4">
            <%= f.input :subscribe_date_field %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= f.input :unsubscribe_date_field %>
          </div>
          <div class="col-md-4">
            <%= f.input :sex_field %>
          </div>
          <div class="col-md-4">
            <%= f.input :birth_date_field %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= f.input :age_field %>
          </div>
          <div class="col-md-4">
            <%= f.input :document_type_field %>
          </div>
          <div class="col-md-4">
            <%= f.input :document_number_field %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= f.input :province_field %>
          </div>
          <div class="col-md-4">
            <%= f.input :town_field %>
          </div>
          <div class="col-md-4">
            <%= f.input :road_name_field %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= f.input :postal_code_field %>
          </div>
          <div class="col-md-4">
            <%= f.input :academic_level_field %>
          </div>
          <div class="col-md-4">
            <%= f.input :languages_field %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= f.input :profession_field %>
          </div>
          <div class="col-md-4">
            <%= f.input :vocne_field %>
          </div>
          <div class="col-md-4">
            <%= f.input :can_criminal_field %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= f.input :has_diving_license_field %>
          </div>
          <div class="col-md-4">
            <%= f.input :project_culities_field %>
          </div>
          <div class="col-md-4">
            <%= f.input :how_know_cv_field %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= f.input :retired %>
          </div>
          <div class="col-md-4">
            <%= f.input :nationality %>
          </div>
          <div class="col-md-4">
            <%= f.input :country %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= f.input :status %>
          </div>
          <div class="col-md-4">
            <%= f.input :academic_level %>
          </div>
          <div class="col-md-4">
            <%= f.input :degree_type %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= f.input :language %>
          </div>
          <div class="col-md-4">
            <%= f.input :language_level %>
          </div>
          <div class="col-md-4">
            <%= f.input :skills %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= f.input :next_point %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
</div>