<div class="index-panel row well">  
  <div class="row">
    <div class="col-md-6">
      <%= content_tag :label, t('volun_exports.data'), class: 'col-sm-9 control-label' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render(partial: 'check_filter_volun_export')%>
    </div>
  </div>  
  <div class="row" style="margin-top:10px">
    <div class="col-md-3 col-md-offset-9">
      <button   type="button" 
                name="button" 
                class="btn btn-primary" 
                id="buttonCleanSearchProject"
                class="btn btn-default">
        <%= t('reset_search') %>
      </button>
      <button type="button" 
              name="button" 
              class="btn btn-success" 
              id="buttonSearchProject" 
              class="btn btn-default">
              <%= t('search') %>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= content_tag(:div, link_to_new(model_class ,style: "margin-left:5px;"), class: 'col-md-6')  if can?(:create, Volunteer) %>
  </div>
</div>
<script>
function push_enter(event){
    search_enter(event,search_js_volun_exports);
}
  
    //$(document).on('keypress', push_enter);
    
    $('#buttonSearchProject').on('click', function() {
        search_js_volun_exports();
    });

    $('#buttonCleanSearchProject').on('click', function() {
         $(location).attr('href', "<%=volun_exports_url%>");
    });

    $('#pages-select').on('change', function() {
        search_js_volun_exports();
    });
</script>