
<dl class="dl-horizontal">

  <dt><%= VolunExport.human_attribute_name(:id) %>:</dt>
  <dd><%= @volun_export.id %></dd>
  <dt><%= VolunExport.human_attribute_name(:id_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.id_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:name_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.name_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:first_last_name_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.first_last_name_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:second_last_name_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.second_last_name_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:phone_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.phone_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:mobile_phone_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.mobile_phone_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:mail_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.mail_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:district_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.district_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:subscribe_date_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.subscribe_date_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:unsubscribe_date_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.unsubscribe_date_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:sex_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.sex_field}") %></dd><dt>
  <dt><%= VolunExport.human_attribute_name(:birth_date_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.birth_date_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:age_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.age_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:document_type_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.document_type_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:document_number_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.document_number_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:province_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.province_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:town_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.town_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:road_name_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.road_name_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:postal_code_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.postal_code_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:academic_level_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.academic_level_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:languages_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.languages_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:profession_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.profession_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:vocne_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.vocne_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:can_criminal_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.can_criminal_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:has_diving_license_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.has_diving_license_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:project_culities_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.project_culities_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:how_know_cv_field) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.how_know_cv_field}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:retired) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.retired}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:nationality) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.nationality}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:country) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.country}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:status) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.status}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:academic_level) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.academic_level}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:degree_type) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.degree_type}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:language) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.language}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:language_level) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.language_level}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:skills) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.skills}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:next_point) %>:</dt>
  <dd><%= t("humanize.#{@volun_export.next_point}") %></dd>
  <dt><%= VolunExport.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@volun_export.created_at) %></dd>

</dl>