<tr id="<%= dom_id(volun_export) %>" >

  <% volun_export.main_attributes.each do |attr_name| %>
  <td><%= show_attr(volun_export, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_download(volun_export) %>  
    <%= link_to_show(volun_export) if can?(:read, Volunteer)%>
    <%= link_to_edit(volun_export) if can?(:update, Volunteer)%>
<% if volun_export.try(:archived?) %>
    <%= link_to_recover(volun_export) if can?(:destroy, Volunteer)%>
<% else %>
    <%= link_to_destroy(volun_export) if can?(:destroy, Volunteer)%>
<% end %>
  </td>
</tr>
