
<% model_class = VolunExport %>

<%= render partial: "common/title", locals: {model_class: model_class} %>
<%= render partial: "search", locals: {search: @volun_exports,model_class: model_class} %>
<div id="recarga-filtros">
  <%= render partial: "shared/count", locals: {collection: @volun_exports, model_class: model_class, count: @volun_exports.count } %>
  <%= render partial: "common/generic_table", locals: {search: @search_q,collection: @volun_exports, model_class: model_class, partial: 'volun_export' } %>
  <%= render partial: "shared/pagination", locals: {collection: @volun_exports, urlchange: "search_js_volun_exports()"} %>
</div>


