<dl class="dl-horizontal">
    <dt><%= @model_class.human_attribute_name(:id) %>:</dt>
    <dd><%= @type_meeting.id %></dd>
    <dt><%= @model_class.human_attribute_name(:name) %>:</dt>
    <dd><%= @type_meeting.name %></dd>
    <dt><%= @model_class.human_attribute_name(:description) %>:</dt>
    <dd><%= @type_meeting.description %></dd>
    <dt><%= @model_class.human_attribute_name(:active) %>:</dt>
    <dd><%= t("humanize.#{@type_meeting.active}") %></dd>
    <dt><%= @model_class.human_attribute_name(:created_at) %>:</dt>
    <dd><%= show_simple_date(@type_meeting.created_at) %></dd>
</dl>