<tr id="<%= dom_id(type_meeting) %>" >

  <% TypeMeeting.main_columns.each do |attr_name| %>
  <td><%= show_attr(type_meeting, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(type_meeting, path: "administration_catalogue_type_meeting_path") %>
    <%= link_to_edit(type_meeting, path: "edit_administration_catalogue_type_meeting_path") %>
<% if type_meeting.try(:archived?) %>
    <%= link_to_recover(type_meeting, path: "recover_administration_catalogue_type_meeting_path") %>
<% else %>
    <%= link_to_destroy(type_meeting, path: "administration_catalogue_type_meeting_path") %>
<% end %>
  </td>
</tr>
