<%= main_title(t("action.edit", model:  @model_class.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :put, path: administration_catalogue_type_meeting_path(@type_meeting) %>
  </div>
</div>
<%= link_to( t('action.back'),administration_catalogue_type_meetings_path, class: 'btn btn-default') %>
