
<%= render partial: "common/title", locals: {model_class:  @model_class} %>
<%= render partial: "search", locals: {collection: @type_meetings, model_class:  @model_class} %>
<%= render partial: "common/generic_table", locals: {search: @search_q,collection: @type_meetings, model_class:  @model_class, partial: 'type_meeting' } %>
<%= render partial: "shared/pagination", locals: {collection: @type_meetings, urlchange: "search_js_type_meetings()"} %>
<%=render partial: "common/button_back", locals: {path: maintenance_path, method: :get}%>