<%= main_title(t("action.show", model:  @model_class.model_name.human)) %>

<%=render "show"%>
<% unless request.xhr? %>
<%= link_to( t('action.back'),administration_catalogue_type_meetings_path, class: 'btn btn-default') %>
<% end %>