
<div class="well">
  <%= simple_form_for(@new_campaing, as: :new_campaing,method: method, url: path) do |f| %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :title, as: :string, placeholder: t('new_campaing.title') %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.label :body %>
        <%= f.text_area :body , class: "ckeditor", placeholder: t('new_campaing.body')  %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <%= f.input :publicable %>
      </div>
    </div>
    <% unless @new_campaing.id.blank? %>
      <%= render partial: 'links', locals: { f: f } %>
    <%else%>
      <%= t('new_campaing.no_images_and_videos')%>
    <% end%>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
</div>
