<div class="images_block row well js-files-block">
  <%= content_tag :h3, t('images'), class: 'form-subtitle' %>
  <div class="col-md-12">
    <% if !f.object.images.blank? %>
      <%= f.simple_fields_for :images  do |f_file|  %>
          <%= show_simple_base_errors(f_file) %>
          <div class="image-fields well-no-border js-file-fields">
            <div class="row">
              <%= f_file.input :path, label: t('name'), input_html: { disabled: true, value: f_file.object.file_name }, wrapper_html: { class: 'link-path col-md-9' } %>
              <%= f_file.input :link_type_id, as: :hidden, input_html: { value: LinkType.image.take.id } %>
              <% if f_file.object.description? %>
                <%= f_file.input :description, wrapper_html: { class: 'link-path col-md-9' } %>
              <% end %>
              <%= content_tag :div, class: 'js-file-link form-group col-md-3' do %>
                <%= link_to(build_icon(:share), f_file.object.path, target: :_blank) %>
                <%= link_to_show(f_file.object) %>
              <% end %>
            </div>
          </div>
          <% end %>
      <% else %>
        <%= content_tag :p, "#{t('img.dont_have')} #{Volunteer.human_attribute_name(:images)}" %>
    <% end %>
  </div>  
  <div class="col-md-12">
    <%= link_to "#{build_icon(:upload, title: t('img.go'))} #{t('img.uploads')}".html_safe,
                   links_path(linkable_id: f.object.id, linkable_type: f.object.class.name, link_type_id: LinkType.image.take.id),
                              target: :_blank,
                              class: 'btn btn-success'%>
  </div>  
</div>      
<div class="images_block row well js-files-block">
  <%= content_tag :h3, t('Vídeos'), class: 'form-subtitle' %>
  <div class="col-md-12">
    <% if !f.object.videos.blank? %>
      <%= f.simple_fields_for :videos  do |f_file|  %>
        <%= show_simple_base_errors(f_file) %>
        <div class="url-fields well-no-border col-md-12 js-file-fields">
          <div class="row">
            <%= f_file.input :path, as: :url, required: true, wrapper_html: { class: 'link-path col-md-9' } %>
            <%= f_file.input :link_type_id, as: :hidden, input_html: { value: LinkType.video.take.id } %>
            <%= f_file.input :description, required: true, wrapper_html: { class: 'link-path col-md-9' } %>
            <%= content_tag :div, class: 'js-file-link form-group col-md-3' do %>
              <%= link_to(build_icon(:share), f_file.object.path, target: :_blank, class: 'js-visit') %>
              <%= f_file.link_to_remove build_icon('trash-o'), data: { confirm_swal: t('messages.confirm_file_deletion') } %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= content_tag :p, "#{t('video.dont_have')} #{Volunteer.human_attribute_name(:videos)}" %>
    <% end %>
  </div> 
  <div class="col-md-12 js-links-block">
    <%= link_to "#{build_icon(:upload, title: t('video.go'))} #{t('video.uploads')}".html_safe,
                 links_path(linkable_id: f.object.id, linkable_type: f.object.class.name, link_type_id: LinkType.video.take.id),
                            target: :_blank,
                            class: 'btn btn-success'%>
  </div>
</div>   