<tr id="<%= dom_id(new_campaing) %>" >

  <% NewCampaing.main_columns.each do |attr_name| %>
  <td><%= show_attr(new_campaing, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <% unless new_campaing.try(:publicable) %>
        <%= link_to_public(new_campaing, path: "change_public_administration_new_campaing_path") %>
    <% else %>
        <%= link_to_un_public(new_campaing, path: "change_public_administration_new_campaing_path") %>
    <% end %>
    <%= link_to_show(new_campaing, path: "administration_new_campaing_path") %>
    <%= link_to_edit(new_campaing, path: "edit_administration_new_campaing_path") %>
    <% if new_campaing.try(:archived?) %>
        <%= link_to_recover(new_campaing, path: "recover_administration_new_campaing_path") %>
    <% else %>
        <%= link_to_destroy(new_campaing, path: "administration_new_campaing_path") %>
    <% end %>
  </td>
</tr>


