<div class="index-panel row well">  
  
  <div class="row">
    <div class="col-md-6">
      <%= content_tag :label, t('new_campaing.data'), class: 'col-sm-9 control-label' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= text_field_tag :search_title, params["search_title"] ,placeholder: t('new_campaing.title'), class: 'form-control col-md-4'%>
    </div>
    <div class="col-md-4">
      <%= text_field_tag :search_body, params["search_body"]  ,placeholder: t('new_campaing.body'), class: 'form-control col-md-4'%>
    </div>
    <div class="col-md-2">
      <label class='col-xs-7' style="margin-top: 5px;"><%=t('new_campaing.publicable')%></label>
      <%=check_box_tag(:search_publicable,params["search_publicable"])%>
    </div>
  </div>  
  <div class="row" style="margin-top:10px">
    <div class="col-md-3 col-md-offset-9">
      <button   type="button" 
                name="button" 
                class="btn btn-primary" 
                id= "buttonCleanNewCampaing" 
                class="btn btn-default">
        <%= t('reset_search') %>
      </button>
      <button type="button" 
              name="button" 
              class="btn btn-success" 
              id="buttonSearchNewCampaing"               
              class="btn btn-default">
              <%= t('search') %>
      </button>
    </div>
  </div>
</div> 
<div class="row">
  <div class="col">
    <%= content_tag(:div, link_to_new(model_class, {fem: true,style: "margin-left:5px;", path: "new_administration_new_campaing_path"}), class: 'pull-left') %>
  </div>
</div>
<script>

  function push_enter(event){
    search_enter(event,search_js_campaings);
}

 
    //$(document).on('keypress', push_enter);
    
    $('#buttonSearchNewCampaing').on('click', function() {
        search_js_campaings();
    });

    $('#buttonCleanNewCampaing').on('click', function() {
         $(location).attr('href', "<%=administration_new_campaings_url%>");
    });

    $('#pages-select').on('change', function() {
        search_js_campaings();
    });


    $('#search_description').on('keyup', function() {
        correct_string($('#search_description'));
    });

</script>