
<dl class="dl-horizontal">
  <dt><%= NewCampaing.human_attribute_name(:id) %>:</dt>
  <dd><%= @new_campaing.id %></dd>
  <dt><%= NewCampaing.human_attribute_name(:title) %>:</dt>
  <dd><%= @new_campaing.title %></dd>
  <dt><%= NewCampaing.human_attribute_name(:body) %>:</dt>
  <dd><%= @new_campaing.body.blank? ? "" : Nokogiri::HTML(@new_campaing.body).text  %></dd>
  <dt><%= NewCampaing.human_attribute_name(:publicable) %>:</dt>
  <dd><%= t("humanize.#{@new_campaing.publicable}") %></dd>
  <dt><%= NewCampaing.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@new_campaing.created_at) %></dd>
</dl>