<%= main_title(t("action.edit", model: NewCampaing.model_name.human)) %>

<div class="row">
  <div class="col-md-12">
    <%= render 'form', method: :put, path: administration_new_campaing_path(@new_campaing) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_new_campaings_path, class: 'btn btn-default') %>