<%= main_title(t("action.campaing", model: NewCampaing.model_name.human)) %>

<div class="row">
  <div class="col-md-12">
    <%= render 'form', method: :post, path: administration_new_campaings_path %>
  </div>
</div>

<%= link_to( t('action.back'),administration_new_campaings_path, class: 'btn btn-default') %>
