<%= main_title(t("action.show", model: NewCampaing.model_name.human)) %>

<%=render "show"%>
<% unless request.xhr? %>
<%= link_to( t('action.back'),administration_new_campaings_path, class: 'btn btn-default') %>
<% end %>