<dl class="dl-horizontal">

  <dt><%= Pt::RetiredVolunteer.human_attribute_name(:id) %>:</dt>
  <dd><%= pt_retired_volunteer.id %></dd>
  <dt><%= Pt::RetiredVolunteer.human_attribute_name(:notes) %>:</dt>
  <dd><%= pt_retired_volunteer.try(:notes).blank? ? "" : Nokogiri::HTML(pt_retired_volunteer.notes).text %></dd>
  <dt><%= Pt::RetiredVolunteer.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(pt_retired_volunteer.created_at) %></dd>

</dl>
