<%= main_title(t("action.edit", model: Pt::RetiredVolunteer.model_name.human)) %>
<div class="row">
  <div class="col-md-11">
    <p><strong><%= Pt::RetiredVolunteer.model_name.human  %>: </strong><%= @pt_retired_volunteer.id %></p>  
  </div>
<%= render partial: "pt/back_to_projects" %>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>

<%= render partial: "pt/back_to_projects" %>
