<%= main_title(t("action.new", model: Pt::RetiredVolunteer.model_name.human)) %>

<%= render partial: "pt/back_button" %>

<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>

<% if !@publish.blank?%>
  <%= link_to( t('action.back'), process_request_form_rt_project_publishing_path(@publish), class: 'btn btn-default') %>
<%else%>
  <%= render partial: "pt/back_button" %>
<%end%>
