<style>
	
.bold{
	font-weight: bold;
}

.orange{
	color: #ff6600;
}

.underline{
	text-decoration: underline;
}

.box{
	padding-left: 15px;
	border: 1px solid black;
}

.cursive{
	font-style: italic;
}

.parrafo{
	font-family: 'Roboto', sans-serif;
	margin: 40px;
	text-align: justify;
}

.medium{
	width: 350px;
}

.large{
	width: 700px;
}

.center{
	margin: 0px 60px 10px 60px;
	text-align: center;
}
</style>

<div class="parrafo">
	<p>Estimado/a voluntario/a:</p>

	<p>El programa de voluntariado del Ayuntamiento de Madrid, <span class="bold orange">Voluntari@s por Madrid</span>, ha puesto en marcha una nueva herramienta que facilitará la comunicación entre las personas, agentes sociales e instituciones que forman parte del mismo: nuestra comunidad virtual.</p>

	<p><span class="bold">¿Qué es una comunidad virtual?</span> os preguntaréis muchos/as de vosotros/as. Hemos encontrado un par de definiciones que pueden aclararos el concepto:</p>

	<p class="cursive center">“Se denomina comunidad virtual a aquella comunidad cuyos vínculos, interacciones y relaciones tienen lugar no en un espacio físico sino en un espacio virtual como Internet”.</p>

	<p class="cursive center">“El término comunidad virtual designa a las <span class="bold">personas unidas a través de Internet por valores o intereses comunes</span>, como gustos, pasatiempos o profesiones. La meta de la comunidad es <span class="bold">crear valores a través del intercambio</span> entre los miembros al compartir sugerencias o consejos o simplemente al debatir un tema”.</p>

	<p>En el caso de <span class="bold orange">Voluntari@s por Madrid</span>, la comunidad virtual estará definida por el vínculo del voluntariado y de las acciones solidarias que desarrollamos. Creemos que permitirá que los voluntarios y voluntarias por Madrid y las personas que estén interesadas en participar, puedan acceder a la misma desde cualquier lugar y en cualquier momento.</p>
</div>
<div class="parrafo">
	<p>
		Para ello, tendrás que hacerlo a través de unas claves (nombre de usuario y contraseña) que ya se te han generado automáticamente por el hecho de ser Voluntario/a por Madrid, por lo que <span class="bold underline">no es necesario que te registres</span>. Estas claves son las siguientes:
	</p>
</div>
<div class="parrafo box medium">
	<p>Usuario: <%= @user%></p>
	<p>Contraseña: <%= @password%></p>
</div>
<div class="parrafo">
	<p>
		Guárdalas en un sitio seguro y accesible porque las necesitará cada vez que quieras entrar, lo cual podrás hacer en el siguiente link:
	</p>
</div>
<div class="parrafo box large">
	<p><a href="https://voluntariospormadrid.madrid.es/" target="blank">voluntariospormadrid.madrid.es</a></p>
</div>
<br>
<div class="parrafo">
	<p class="bold">¡¡¡Bienvenido/a a la comunidad virtual!!!</p>

	<p>Podrás informarte directamente sobre nuevos proyectos e ideas, gestionar tu calendario, tener acceso a toda la información en cualquier horario….. Poco a poco iremos dándole forma entre todos y todas, por lo que te invitamos a que nos comuniques tus dudas e impresiones sobre la misma.</p>

	<p>Si tienes cualquier duda, o simplemente la informática no es lo tuyo, no te preocupes en absoluto, ya que el Equipo de Atención al Voluntariado te apoyará personalmente en lo que necesites en este nuevo camino que emprendemos juntos/as. Puedes llamarnos, como siempre, al 900 777 888.</p>

	<p>Un saludo,</p>
</div>
<div class="parrafo">
	<p><span class="bold">DEPARTAMENTO DE VOLUNTARIADO
	<br>Teléfono: 900 777 888
	<br>E-mail:</span> <a class="email" href="mailto: voluntariospormadrid@madrid.es">voluntariospormadrid@madrid.es</a>
	<br>Síguenos en: <a href="https://www.facebook.com/voluntariospormadrid/" target="_blank">FACEBOOK</a>, <a href="https://twitter.com/voluntmadrid" target="_blank">TWITTER</a>, <a href="https://www.instagram.com/voluntariospormadrid/" target="_blank">INSTAGRAM</a> y <a href="https://www.youtube.com/channel/UC8LQ25uGMGHE7wq5ihMx_7A" target="_blank">YOUTUBE</a> </p>
</div>
