
<div id="<%=dom_id(f.object)%>" class="nested-fields  address-fields" >
<div class="js-address " >
  <%= show_simple_base_errors(f) %>
  <div class="col-md-12">
    <div class="row row-4-1">
      <% normalize = f.object.normalize %>
      <%=f.input :id, as: :hidden%>
      <%= f.input :normalize, as: :boolean, input_html: { class: 'js-normalize' }, wrapper_html: { class: 'pull-right col-md-3' } %>
    </div>
  </div>
  <div class=" col-md-12">
    <div class="row row-4-1">
      <%= f.input :country, as: :string,  input_html: { value: (f.object.country || Setting['default_country']), readonly: true, class: 'js-country' }, wrapper_html: { class: 'col-md-3' } %>
      <%= f.association :province, collection: Province.where(active: true).order(:name).select(:name,:id).map{|x| [x.name.upcase,x.id]}, selected: (f.object.province.try(:id) || Province.find_by("upper(name) = Upper(?)",Setting['default_province']).try(:id)), input_html: {style: (@clase_estilo_other unless f.object.province.blank?)||'', class: 'js-province' }, wrapper_html: { class: 'col-md-4' } %>
      <%= f.input :town, input_html: {style: (@clase_estilo_other unless f.object.town.blank?)||'', class: 'js-town', data: { 'js-search-towns-url' => bdc_search_towns_addresses_url } }, wrapper_html: { class: 'col-md-5' } %>
    </div>
    <div class="row row-4-1">
      <%= f.input :road_type, collection: (RoadType.order(:name).pluck(:name) ||  RoadType.order(:name).first.try(:name)), input_html: { style: (@clase_estilo_other unless f.object.road_type.blank?)||'' }, wrapper_html: { class: 'col-md-3 js-road_type'} %>
      <% f.object.road_name = f.object.road_name.gsub(/''/,"'") unless f.object.road_name.blank? %>
      <%= f.input :road_name, input_html: { style: (@clase_estilo_other unless f.object.road_name.blank?)||'',class: 'js-road_name', data: { 'js-search-road-names-url' => bdc_search_roads_addresses_url } }, wrapper_html: { class: 'road_name col-md-9' } %>
    </div>
    <div class="row row-4-2">
      <%= f.input :road_number_type, input_html: { style: (@clase_estilo_other unless f.object.road_number_type.blank?)||'',class: 'm-width250 js-road_number_type', readonly: normalize }, wrapper_html: { class: 'col-md-3' } %>
      <%= f.input :road_number, collection: [f.object.road_number || [0]], input_html: { style: (@clase_estilo_other unless f.object.road_number.blank?)||'',class: 'm-width250 js-road_number-select', disabled: !normalize }, data: { 'js-search-road-numbers-url' => bdc_search_road_numbers_addresses_url }, wrapper_html: { class: 'col-md-3 js-road_number-select-wrapper', hidden: !normalize } %>
      <%= f.input :road_number, input_html: { style: (@clase_estilo_other unless f.object.road_number.blank?)||'',class: 'm-width250 js-road_number-input', data: { 'js-search-road-numbers-url' => bdc_search_road_numbers_addresses_url}, disabled: normalize }, wrapper_html: { class: 'col-md-3 js-road_number-input-wrapper', hidden: normalize } %>
      <%= f.input :grader, input_html: { class: 'm-width80 js-grader', readonly: normalize }, wrapper_html: { class: 'col-md-3' } %>
      <%= f.input :postal_code, input_html: { class: 'js-postal_code',style: ((@clase_estilo_other||@clase_estilo) unless f.object.postal_code.blank?)||'', data: { mask: '99999'} }, wrapper_html: { class: 'postal_code col-md-3' } %>
      </div>
    <div class="row row-4-3">
      <%= f.input :stairs, input_html: { class: 'm-width250 js-stairs' }, wrapper_html: { class: 'col-md-3' } %>
      <%= f.input :floor, input_html: { class: 'm-width250 js-floor' }, wrapper_html: { class: 'col-md-3' } %>
      <%= f.input :door, input_html: { class: 'm-width250 js-door' }, wrapper_html: { class: 'col-md-3' } %>
    </div>
    <div class="row row-4-2">
      <%= f.input :district, input_html: { class: 'm-width250 js-district', readonly: true  }, wrapper_html: { class: 'col-md-4' } %>
      <%= f.input :borought, input_html: { class: 'm-width250 js-borought', readonly: true  }, wrapper_html: { class: 'col-md-4' } %>
    </div>
  </div>
</div> 
</div>

<script>
 $.each($('.js-address'), function(i, address) {
        var $address = $(address);
        if ($address.find('.js-normalize').is(':checked')){
            setAddressAutocomplete($address);
        }else{
        // Block rest of the fields
        $address.on('change', '.js-normalize', function () {
            //var blocked_fields = ['.js-road_number_type', '.js-road_type select', '.js-grader', '.js-postal_code'];

            var blocked_fields = ['.js-road_number_type', '.js-grader'];
            var $normalizeInput = $(this);
            var $_address = $normalizeInput.closest('.js-address');
            if ($normalizeInput.is(':checked')){

                // Prevent road type select from opening
               /* $address.find('.js-road_type select').on('mousedown', function(e) {
                    if ($(this).closest('.js-address').find('.js-normalize').is(':checked')){
                        e.preventDefault();
                        this.blur();
                        window.focus();
                    }
                });*/

                blocked_fields.forEach(function (field_selector, index) {
                    $_address.find(field_selector).attr('readonly', 'readonly');
                });
                $('.js-road_number-select-wrapper').removeAttr('hidden');
                $('.js-road_number-select').removeAttr('disabled');
                $('.js-road_number-input-wrapper').attr('hidden', 'hidden');
                $('.js-road_number-input').attr('disabled', 'disabled');
                addAddressAutocomplete($_address);
            }else{
                blocked_fields.forEach(function (field_selector, index) {
                    $_address.find(field_selector).removeAttr('readonly');
                });
                $('.js-road_number-select-wrapper').attr('hidden', 'hidden');
                $('.js-road_number-select').attr('disabled', 'disabled');
                $('.js-road_number-input-wrapper').removeAttr('hidden');
                $('.js-road_number-input').removeAttr('disabled');
                removeAddressAutocomplete($_address);
            }
        });
        }
    });

    </script>