<tr id="<%= dom_id(citizen_tracking) %>" >

  <% CitizenTracking.main_columns.each do |attr_name| %>
    <td>
      <%= show_attr(citizen_tracking, attr_name) %>
    </td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show_citizen(citizen_tracking, "citizen", {path: "citizen_tracking_path",path_params: {citizen_id: @citizen.id, citizen_tracking_id: citizen_tracking.id}}) %>
    <% unless citizen_tracking.automatic %>
      <%= link_to_edit_citizen(citizen_tracking, "citizen", {path: "edit_citizen_tracking_path",path_params: {citizen_id: @citizen.id, citizen_tracking_id: citizen_tracking.id}}) %>
    <% end %>
  </td>
</tr>
