<div class="search-index index-panel row well">
  <div class="col-md-12 table-csv col-center">
    <div class="col-md-4 n_items" style="margin-top:6px;">
     <p><%= model_class.model_name.human(count: 2) %> <%=t('trackings_filter.find')%>: <%= collection.count %> </p>
    </div>
    <div class="col-md-8 pull-right">
      <div class="col-md-3 pull-right">
         <%= link_to t('action.download_csv'), 
          citizen_citizen_trackings_path({format: "csv", isSearch: true}.merge(params.permit!)),
          class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>