
<div class="well well-tracking">

  <%= simple_nested_form_for(@citizen_tracking, default_form_options.merge(url: form_url))  do |f| %>
    
    <%=f.hidden_field :id, value: @citizen_tracking.id%>
    <div class="form-inputs">
        <%= f.input :citizen, input_html: { disabled: true, id: 'citizen', value: @citizen } %>
        <%= f.association :tracking_type, collection: @tracking_types_active %> 
        <div class="col-sm-5"></div>
        <div class="col-md-12">
        <%= f.input :manager, input_html: { disabled: true, id: 'manager', value: current_user.loggable } %>
        </div>
        <%= f.input :manager_id, as: :hidden, input_html: { value: current_user.loggable_id } %>
        <%= f.input :citizen_id, as: :hidden, input_html: { value: @citizen.id } %>
        <%= f.input :tracked_at, as: :string, input_html: {type: "datetime-local", value: f.object.tracked_at.blank? ? Time.zone.now.strftime("%Y-%m-%d %H:%M") : f.object.tracked_at.strftime("%Y-%m-%d %M:%M")} %>
        <%= f.input :coments, as: :text, input_html: { id: 'tracking-comment' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, id: "SubmitButtonTrack" %>
  </div>
  <% end %>
</div>
