<div class="index-panel row well">
  <div class="col">
    <div class="row">
      <%= content_tag :label, t('trackings_filter.data_tracking'), class: 'col-sm-12 control-label', style: 'margin-right:-22px;' %>
    </div>
    <div class="row" style="padding-left: 20px;">      
      <div class="col-md-3" style= 'width: 200px; margin:0px 2px;'>
        <div class="row">
          <%=  text_field_tag :search_enter_text, params[:search_enter_text], placeholder: t('trackings_filter.enter_text'), class: 'form-control col' %>
          <div class="tooltip col">
            <%=fa_icon "question-circle" ,class: "fa-1x"%>
            <span class="tooltiptext"><%=model_class.tooltip%></span>
          </div>
        </div>
      </div>
      <%= select_tag :search_tipo, options_for_select(@hash_tracking_types||{},params[:search_tipo]), include_blank: t('trackings_filter.tracking_type'),
                    class:     'form-control col-md-3',
                    id:        'search_tipo-select',
                    style:     'width:200px; margin:0px 2px;' %>
      <%= text_field_tag :search_manager, params[:search_manager], placeholder: t('trackings_filter.manager'), class: 'form-control col-md-3', style: 'width: 130px; margin:0px 2px;'%>
      
      <div class="col-md-6 text-right" >
      			<button type="button" name="button" class="btn btn-primary" id="buttonCleanTrackEntity"><%= t('reset_search') %></button>
      			<button type="button" name="button" id="buttonSearchTrackEntity" class="btn btn-success" class="btn btn-default"><%=t 'search'%></button>
    		</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12" >
    <%= content_tag(:div, link_to_new_citizen(model_class,"citizen", path_params: { citizen_id: @citizen.try(:id) }), class: 'pull-left') %>
  </div>
</div>
<script>
function push_enter(event){
    search_enter(event,search_js_track_citizens);
}


    //$(document).on('keypress', push_enter);
    
    $('#buttonSearchTrackEntity').on('click', function() {
        search_js_track_citizens();
    });

    $('#buttonCleanTrackEntity').on('click', function() {
       $(location).attr('href', "<%=citizen_citizen_trackings_path(citizen_id: params[:citizen_id])%>");
    });

    $('#pages-select').on('change', function() {
        search_js_track_citizens();
    });

    $('#search_enter_text').on('keyup', function() {
        correct_string($('#search_enter_text'));
    });

    $('#search_manager').on('keyup', function() {
        correct_string($('#search_manager'));
    });

    $('#SubmitButtonTrack').on('click', function() {
        $('#citizen').attr("disabled", false);
        $('#manager').attr("disabled", false);
      });
   
</script>