<dl class="dl-horizontal">

  <dt><%= CitizenTracking.human_attribute_name(:citizen) %>:</dt>
  <dd><%= @citizen_tracking.citizen %></dd>
  <dt><%= CitizenTracking.human_attribute_name(:tracking_type) %>:</dt>
  <dd><%= @citizen_tracking.tracking_type %></dd>
  <dt><%= CitizenTracking.human_attribute_name(:manager) %>:</dt>
  <dd><%= @citizen_tracking.manager %></dd>
  <dt><%= CitizenTracking.human_attribute_name(:tracked_at) %>:</dt>
  <dd><%= show_simple_date(@citizen_tracking.tracked_at) %></dd>
  <dt><%= CitizenTracking.human_attribute_name(:coments) %>:</dt>
  <dd><%= @citizen_tracking.coments %></dd>
  <dt><%= CitizenTracking.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@citizen_tracking.created_at) %></dd>

</dl>