<% model_class = CitizenTracking %>


<%= render partial: "common/title", locals: {model_class: model_class, name: @citizen} %>
<%= render partial: "search", locals: {collection: @citizen_trackings, model_class: model_class} %>
<div id="recarga-filtros">
  <%= render partial: "count", locals: {collection: @citizen_trackings, model_class: model_class } %>
  <%= render partial: "data_table", locals: {collection: @citizen_trackings, model_class: model_class } %>
  <%= render partial: "shared/pagination", locals: {collection: @citizen_trackings, urlchange: "search_js_track_citizens()"} %>
</div>
<div class="col-md-12">
  <div class="col-md-1">
    <%= link_to( t('action.back'),citizens_path, class: 'btn btn-default') %>
  </div>
</div>