<%= main_title(t("action.new", model: CitizenTracking.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', form_url: citizen_citizen_trackings_path  %>
  </div>
</div>

<%= link_to( t('action.back'),citizen_citizen_trackings_path(@citizen), class: 'btn btn-default') %>
