<%= main_title(t("action.show", model: CitizenTracking.model_name.human)) %>

<%=render "show"%>
<% unless request.xhr? %>
<%= link_to( t('action.back'),citizen_trackings_path("q[citizen_id_eq]": @citizen_tracking.citizen.id), class: 'btn btn-default') %>
<%= button_to_edit(@citizen_tracking) %>
<% end %>