<%obj_d ||= ""%>
<div class="col-md-3">
    <%= f_d.input :create, as: :boolean,:label => I18n.t('permissions.create'),:input_html => { :checked => obj_d['create'].to_s == "1" ? true : false }%>
</div>
<div class="col-md-3">
    <%= f_d.input :update, as: :boolean,:label => I18n.t('permissions.edit'),:input_html => { :checked => obj_d['update'].to_s == "1" ? true : false }%>
</div>
<div class="col-md-3">
    <%= f_d.input :read, as: :boolean,:label => I18n.t('permissions.show'),:input_html => { :checked => obj_d['read'].to_s == "1" ? true : false }%>
</div>
<div class="col-md-3">
    <%= f_d.input :destroy, as: :boolean,:label => I18n.t('permissions.delete'),:input_html => { :checked => obj_d['destroy'].to_s == "1" ? true : false }%>
</div>
