<%obj_d ||= ""%>
<div class="row">
    <div class="col-md-3">
        <%= f_d.input :read, as: :boolean,:label => I18n.t('permissions.read'),:input_html => { :checked => obj_d['read'].to_s == "1" ? true : false }%>
    </div>
    <div class="col-md-3">
        <%= f_d.input :faq, as: :boolean,:label => I18n.t('permissions.faq'),:input_html => { :checked => obj_d['faq'].to_s == "1" ? true : false }%>
    </div>
    <div class="col-md-3">
        <%= f_d.input :topic, as: :boolean,:label => I18n.t('permissions.topic'),:input_html => { :checked => obj_d['topic'].to_s == "1" ? true : false }%>
    </div>
    <div class="col-md-3">
        <%= f_d.input :moderate, as: :boolean,:label => I18n.t('permissions.moderate'),:input_html => { :checked => obj_d['moderate'].to_s == "1" ? true : false }%>
    </div>
</div>




