<%obj_d ||= ""%>
<div class="row">
    <label class="col-md-3"><%=label%></label>
    <div class="col-md-3">
        <%= f_d.input :read, as: :boolean,:label => I18n.t('permissions.show'),:input_html => { :checked => obj_d['read'].to_s == "1" ? true : false }%>
    </div>
    <div class="col-md-3">
        <%= f_d.input :reject, as: :boolean,:label => I18n.t('permissions.regret'),:input_html => { :checked => obj_d['reject'].to_s == "1" ? true : false }%>
    </div>
    <div class="col-md-3">
        <%= f_d.input :approve, as: :boolean,:label => I18n.t('permissions.aprove'),:input_html => { :checked => obj_d['approve'].to_s == "1" ? true : false }%>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <%= f_d.input :process, as: :boolean,:label => I18n.t('permissions.process'),:input_html => { :checked => obj_d['process'].to_s == "1" ? true : false }%>
    </div>
    <div class="col-md-3">
        <%= f_d.input :mark_pending, as: :boolean,:label => I18n.t('permissions.pending'),:input_html => { :checked => obj_d['mark_pending'].to_s == "1" ? true : false }%>
    </div>
    <div class="col-md-3">
        <%= f_d.input :mark_appointed, as: :boolean,:label => I18n.t('permissions.meet'),:input_html => { :checked => obj_d['mark_appointed'].to_s == "1" ? true : false }%>
    </div>
    <div class="col-md-3">
        <%= f_d.input :mark_processing, as: :boolean,:label => I18n.t('permissions.processing'),:input_html => { :checked => obj_d['mark_processing'].to_s == "1" ? true : false }%>
    </div>
</div>


