<%= f_d.simple_fields_for :basics do |f_b| %>
    <div class="row">
        <%obj_d ||= ""%>
        <label class="col-md-3"><%=t('permissions.basics')%></label>
        <div class="col-md-3">
            <%= f_b.input :create, as: :boolean,:label => I18n.t('permissions.create'),:input_html => { :checked => obj_d['basics'].blank? ? false : (obj_d['basics']['create'].to_s == "1" ? true : false) }%>
        </div>
        <div class="col-md-3">
            <%= f_b.input :update, as: :boolean,:label => I18n.t('permissions.edit'),:input_html => { :checked => obj_d['basics'].blank? ? false : (obj_d['basics']['update'].to_s == "1" ? true : false) }%>
        </div>
        <div class="col-md-3">
            <%= f_b.input :read, as: :boolean,:label => I18n.t('permissions.show'),:input_html => { :checked => obj_d['basics'].blank? ? false : (obj_d['basics']['read'].to_s == "1" ? true : false) }%>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <%= f_b.input :destroy, as: :boolean,:label => I18n.t('permissions.delete'),:input_html => { :checked => obj_d['basics'].blank? ? false : (obj_d['basics']['destroy'].to_s == "1" ? true : false) }%>
        </div>
    </div>
<%end%>
<hr>
<%= f_d.simple_fields_for :specifics do |f_s| %>
    <div class="row">
        <label class="col-md-3"><%=t('permissions.specifics')%></label>
        <div class="col-md-3">
            <%= f_s.input :clone_project, as: :boolean,:label => I18n.t('permissions.clone'),:input_html => { :checked => obj_d['specifics'].blank? ? false : (obj_d['specifics']['clone_project'].to_s == "1" ? true : false) }%>
        </div>
        <div class="col-md-3">
            <%= f_s.input :volunteer_allowed, as: :boolean,:label => I18n.t('permissions.permit'),:input_html => { :checked => obj_d['specifics'].blank? ? false : (obj_d['specifics']['volunteer_allowed'].to_s == "1" ? true : false) }%>
        </div>
        <div class="col-md-3">
            <%= f_s.input :publish, as: :boolean,:label => I18n.t('permissions.publish'),:input_html => { :checked => obj_d['specifics'].blank? ? false : (obj_d['specifics']['publish'].to_s == "1" ? true : false) }%>
        </div>
    </div>
<% end %>
