<%= f_d.simple_fields_for :specifics do |f_s| %>
    <%obj_d ||= ""%>
    <div class="col-md-3">
        <%= f_s.input :clone_project, as: :boolean,:label => I18n.t('permissions.clone'),:input_html => { :checked => obj_d['specifics'].blank? ? false : (obj_d['specifics']['clone_project'].to_s == "1" ? true : false) }%>
    </div>
    <div class="col-md-3">
        <%= f_s.input :volunteer_allowed, as: :boolean,:label => I18n.t('permissions.permit'),:input_html => { :checked => obj_d['specifics'].blank? ? false : (obj_d['specifics']['volunteer_allowed'].to_s == "1" ? true : false) }%>
    </div>
    <div class="col-md-3">
        <%= f_s.input :publish, as: :boolean,:label => I18n.t('permissions.publish'),:input_html => { :checked => obj_d['specifics'].blank? ? false : (obj_d['specifics']['publish'].to_s == "1" ? true : false) }%>
    </div>
<%end%>