<%obj_d ||= ""%>
<div class="row">
    <div class="col-md-3">
        <%= f_d.input :audit, as: :boolean,:label => I18n.t('permissions.audits'),:input_html => { :checked => obj_d['audit'].to_s == "1" ? true : false }%>
    </div>
    <div class="col-md-3">
        <%= f_d.input :resource, as: :boolean,:label => I18n.t('permissions.resources'),:input_html => { :checked => obj_d['resource'].to_s == "1" ? true : false }%>
    </div>
    <div class="col-md-3">
        <%= f_d.input :catalogs, as: :boolean,:label => I18n.t('permissions.catalogs'),:input_html => { :checked => obj_d['catalogs'].to_s == "1" ? true : false }%>
    </div>
    <div class="col-md-3">
        <%= f_d.input :new_campaign, as: :boolean,:label => I18n.t('permissions.new_camp'),:input_html => { :checked => obj_d['new_campaign'].to_s == "1" ? true : false }%>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <%= f_d.input :managers, as: :boolean,:label => I18n.t('permissions.managers'),:input_html => { :checked => obj_d['managers'].to_s == "1" ? true : false }%>
    </div>
    <div class="col-md-3">
        <%= f_d.input :config, as: :boolean,:label => I18n.t('permissions.config'),:input_html => { :checked => obj_d['config'].to_s == "1" ? true : false }%>
    </div>
    <div class="col-md-3">
        <%= f_d.input :order, as: :boolean,:label => I18n.t('permissions.cv_order'),:input_html => { :checked => obj_d['order'].to_s == "1" ? true : false }%>
    </div>
    <div class="col-md-3">
        <%= f_d.input :analyze_cv, as: :boolean,:label => I18n.t('permissions.cv_analisys'),:input_html => { :checked => obj_d['analyze_cv'].to_s == "1" ? true : false }%>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <%= f_d.input :virtual_community, as: :boolean,:label => I18n.t('permissions.virtual_community'),:input_html => { :checked => obj_d['virtual_community'].to_s == "1" ? true : false }%>
    </div>
</div>

