<div class="well-form">
  <%= simple_form_for(@manager, as: :manager,method: method, url: path) do |f| %>
  <div class="form-inputs">
    <div class="row well">
      <div class="col-md-6">
        <%= f.input :name %>
        <%= f.input :last_name %>
        <%= f.input :last_name_alt %>
      </div>
      <div class="col-md-6">
        <%= f.input :alias_name %>
        <%= f.association :role, collection: Role.non_super_admin %>
        <%= f.input :phone_number %>
        <%= f.input :active %>
      </div>
    </div>
    <div class="row well">
      <%= content_tag :h3, Permission.model_name.human(count: 2), class: 'form-subtitle' %>
      <div class="col-md-12">
        <%= render partial: 'manager_permissions', locals: {f: f}%>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success js-confirmable', id: 'submit'%>
    <%= link_to build_icon('repeat', text: t('messages.undo_changes')), '', class: 'undo js-reloadable' %>
  </div>
  <% end %>
</div>