<div class="row"><label class="col-md-12 main_label"><%=t('permissions.volun')%></label></div>
<div class="row">
    <%= f.simple_fields_for :volunteer_pers, find_or_generate_permission(params.permit![:id], "Volunteer") do |f_permission| %> 
        <%= f_permission.input :section, as: :hidden, input_html: {value: "Volunteer"}%>
        <%= f_permission.simple_fields_for :data do |f_d| %>
            <%= render partial: 'check_box_crud', locals: { f_d: f_d, obj_d: f_permission.object.data} %>
        <%end%>
    <%end%>
</div>
<div class="row"><label class="col-md-12 main_label"><%=t('permissions.project')%></label></div>
<div class="row">
    <%= f.simple_fields_for :volunteer_project, find_or_generate_permission(params.permit![:id], "Project") do |f_permission| %>
        <%= f_permission.input :section, as: :hidden, input_html: {value: "Project"}%>
        <%= f_permission.simple_fields_for :data do |f_d| %>
            <%= render partial: 'check_box_crud_project', locals: { f_d: f_d, obj_d: f_permission.object.data} %>
        <%end%>
    <%end%>
</div>
<% get_array_value("generics").each do |generic| %>
    <div class="row"><label class="col-md-12 main_label"><%=t("permissions.#{generic[0]}")%></label></div>
    <div class="row">
        <%= f.simple_fields_for generic[1], find_or_generate_permission(params.permit![:id], generic[2]) do |f_permission| %>
            <%= f_permission.input :section, as: :hidden, input_html: {value: generic[2]}%>
            <%= f_permission.simple_fields_for :data do |f_d| %>
                <%= render partial: 'check_box_crud_simple', locals: { f_d: f_d, obj_d: f_permission.object.data }%>
            <%end%>
        <%end%>
    </div>
<%end%>
<% get_array_value("generics_reduce").each do |generic| %>
    <div class="row"><label class="col-md-12 main_label"><%=t("permissions.#{generic[0]}")%></label></div>
    <div class="row">
        <%= f.simple_fields_for generic[1], find_or_generate_permission(params.permit![:id], generic[2]) do |f_permission| %>
            <%= f_permission.input :section, as: :hidden, input_html: {value: generic[2]}%>
            <%= f_permission.simple_fields_for :data do |f_d| %>
                <%= render partial: 'check_box_crud_reduce', locals: { f_d: f_d, obj_d: f_permission.object.data }%>
            <%end%>
        <%end%>
    </div>
<%end%>
<div class="row"><label class="col-md-12 main_label"><%=t('permissions.track')%></label></div>
<% get_array_value("tracking").each do |track| %>
    <div class="row">
        <%= f.simple_fields_for track[1], find_or_generate_permission(params.permit![:id], track[2]) do |f_permission| %>
            <%= f_permission.input :section, as: :hidden, input_html: {value: track[2]}%>
            <%= f_permission.simple_fields_for :data do |f_d| %>
                <%= render partial: 'check_box_tracking', locals: { f_d: f_d, obj_d: f_permission.object.data, label: t("permissions.#{track[0]}") } %>
                <hr>
            <%end%>
        <%end%>
    </div>
<%end%>
<div class="row"><label class="col-md-12 main_label"><%=t("permissions.request")%></label></div>
<% get_array_value("request").each do |reqs| %>
    <div class="row"><label class="col-md-12 third_label"><%=t("permissions.#{reqs[0]}")%></label></div>
    <%reqs[1].each do |req| %>
        <div class="row">
            <%= f.simple_fields_for req[1], find_or_generate_permission(params.permit![:id], req[2]) do |f_permission| %>
                <%= f_permission.input :section, as: :hidden, input_html: {value: req[2]}%>
                <%= f_permission.simple_fields_for :data do |f_d| %>
                    <%= render partial: 'check_box_requests', locals: { f_d: f_d, obj_d: f_permission.object.data, label:  t("permissions.#{req[0]}") } %>
                    <hr>
                <%end%>
            <%end%> 
        </div>
    <%end%>
<%end%>
<div class="row"><label class="col-md-12 main_label"><%=t('permissions.digital_manage')%></label></div>
<div class="row">
    <%= f.simple_fields_for :volunteer_digital_manage, find_or_generate_permission(params.permit![:id], "Digital::Manage") do |f_permission| %>
        <%= f_permission.input :section, as: :hidden, input_html: {value: "Digital::Manage"}%>
        <%= f_permission.simple_fields_for :data do |f_d| %>
            <%= render partial: 'check_box_digital_manage', locals: { f_d: f_d, obj_d: f_permission.object.data }%>
        <%end%>
    <%end%>     
</div>     
<div class="row"><label class="col-md-12 main_label"><%=t('permissions.admin')%></label></div>
<div class="row">
    <%= f.simple_fields_for :volunteer_admin, find_or_generate_permission(params.permit![:id], "Administration") do |f_permission| %>
        <%= f_permission.input :section, as: :hidden, input_html: {value: "Administration"}%>
        <%= f_permission.simple_fields_for :data do |f_d| %>
            <%= render partial: 'check_box_admin', locals: { f_d: f_d, obj_d: f_permission.object.data }%>
        <%end%>
    <%end%>     
</div>     