<tr id="<%= dom_id(manager) %>" >
  <% Manager.main_columns.each do |attr_name| %>
    <td><%= show_attr(manager, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(manager, path: "administration_manager_path") %>
    <%= link_to_edit(manager, path: "edit_administration_manager_path") %>
<% if manager.try(:archived?) %>
    <%= link_to_recover(manager, path: "recover_administration_manager_path") %>
<% else %>
    <%= link_to_destroy(manager, path: "administration_manager_path") %>
<% end %>
  </td>
</tr>
