<div class="row">
  <div class="col-md-12">
    <h2><%= t('search_filter')%></h2>
  </div>
</div>


<div class="index-panel row well">  
  <div class="col-md-12">
    <div class="row">
      <%= content_tag :label, t('managers_filter.data'), class: 'col-sm-9 control-label' %>
    </div>
    <div class="row">
        <div class="col-md-2" style= 'width: 191px; margin:0px 2px;'>
          <div class="row">
            <%= text_field_tag :enter_text, params['enter_text'] ,placeholder: t('volunteer_filter.input_text'), class: 'form-control col', onkeyup: "correct_string($('#enter_text'));" %>
            <div class="tooltip col">
              <%=fa_icon "question-circle" ,class: "fa-1x"%>
              <span class="tooltiptext"><%=model_class.tooltip%></span>
            </div>
          </div>
        </div>
        <%= text_field_tag :search_nombre, params["search_nombre"] ,placeholder: t('managers_filter.field_name'), class: 'form-control col-md-4',  style: 'width: 151px; margin:0px 2px;', onkeyup: "correct_string($('#search_nombre'));"%>
        <%= text_field_tag :search_last_name, params["search_last_name"] ,placeholder: t('managers_filter.last_name'), class: 'form-control col-md-4',  style: 'width: 151px; margin:0px 2px;', onkeyup: "correct_string($('#search_last_name'));"%>
        <%= text_field_tag :search_last_name_alt, params["search_last_name_alt"] ,placeholder: t('managers_filter.last_name_alt'), class: 'form-control col-md-4',  style: 'width: 151px; margin:0px 2px;', onkeyup: "correct_string($('#search_last_name_alt'));"%>
        <%= text_field_tag :search_alias_name, params["search_alias_name"] ,placeholder: t('managers_filter.login'), class: 'form-control col-md-4',  style: 'width: 151px; margin:0px 2px;', onkeyup: "correct_string($('#search_alias_name'));"%>
    </div>
  </div>
  
  <div class="col-sm-12 text-right" style="margin: 20px 0px 0px 0px;">
    <button type="button" name="button" class="btn btn-primary" id="buttonCleanManager"><%= t('reset_search') %></button>
    <button type="button" name="button" class="btn btn-success btn-default" id="buttonSearchManager"><%= t('search') %></button>
  </div>
</div>  

<div class="row">
  <div class="col">
    <%= content_tag(:div, link_to_new(model_class,path: "new_administration_manager_path"), class: 'pull-left') %>
  </div>
</div>
<script>
  function push_enter(event){
    search_enter(event, search_js_manager);
  }
  //$(document).on('keypress', push_enter);
  $('#buttonSearchManager').on('click', function() {
    search_js_manager();
  });

  $('#buttonCleanManager').on('click', function() {
     $(location).attr('href', "<%=administration_managers_path%>");
  });
</script>