
<dl class="dl-horizontal">

  <dt><%= Manager.human_attribute_name(:id) %>:</dt>
  <dd><%= @manager.id %></dd>
  <dt><%= Manager.human_attribute_name(:name) %>:</dt>
  <dd><%= @manager.name %></dd>
  <dt><%= Manager.human_attribute_name(:role) %>:</dt>
  <dd><%= @manager.role.description %></dd>
  <dt><%= Manager.human_attribute_name(:alias_name) %>:</dt>
  <dd><%= @manager.alias_name %></dd>
  <dt><%= Manager.human_attribute_name(:login) %>:</dt>
  <dd><%= @manager.login %></dd>
  <dt><%= Manager.human_attribute_name(:uweb_id) %>:</dt>
  <dd><%= @manager.uweb_id %></dd>
  <dt><%= Manager.human_attribute_name(:document) %>:</dt>
  <dd><%= @manager.document %></dd>
  <dt><%= Manager.human_attribute_name(:email) %>:</dt>
  <dd><%= @manager.email %></dd>
  <dt><%= Manager.human_attribute_name(:official_position) %>:</dt>
  <dd><%= @manager.official_position %></dd>
  <dt><%= Manager.human_attribute_name(:personal_number) %>:</dt>
  <dd><%= @manager.personal_number %></dd>
  <dt><%= Manager.human_attribute_name(:phone_number) %>:</dt>
  <dd><%= @manager.phone_number %></dd>
  <dt><%= Manager.human_attribute_name(:active) %>:</dt>
  <dd><%= t("humanize.#{@manager.active}") %></dd>
  <dt><%= Manager.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@manager.created_at) %></dd>

</dl>