<%= main_title(t("action.edit", model: Manager.model_name.human)) %>

<div class="row">
  <div class="col-md-12">
    <%= render 'form', method: :put, path: administration_manager_path(@manager) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_managers_path, class: 'btn btn-default') %>