<%= main_title(t("action.new", model: Manager.model_name.human)) %>

<div class="row">
  <div class="col-md-12">
    <%= render 'form', method: :post, path: administration_managers_path %>
  </div>
</div>

<%= link_to( t('action.back'),administration_managers_path, class: 'btn btn-default') %>
