

<div class="well well-form">
  <%= simple_nested_form_for(@pt_municipal, default_form_options) do |f| %>
  <%=render 'shared/errors', errors: @pt_municipal.errors, model: Pt::Municipal%>
    <%=hidden_field_tag :back,params[:back]%>
    <%= f.simple_fields_for :project do |f_project|  %>      
      <%= render partial: 'projects/form_fields', locals: {f: f_project } %>
    <% end %>
    <div class="form-inputs">
      <%= render partial: 'form_fields', locals: {f: f } %>
    </div>
    <div class="row">
      <%= render partial: "pt/form_buttons", locals: {f: f } %>
    </div>
  <% end %>
</div>