<div class="row last-row-sub">
  <div class="form-inputs well">
    <%= content_tag :h2, 'Datos específicos del tipo de proyecto', class: 'form-subtitle' %>
    <div class="row">
      <div class="well col">
        <%= f.label :notes %>
        <%= f.text_area :notes , class: "ckeditor"  %>
      </div>
    </div>
  </div>
</div>