<dl class="dl-horizontal">

  <dt><%= Pt::Municipal.human_attribute_name(:id) %>:</dt>
  <dd><%= pt_municipal.id %></dd>
  <dt><%= Pt::Municipal.human_attribute_name(:notes) %>:</dt>
  <dd><%= pt_municipal.try(:notes).blank? ? "" : Nokogiri::HTML(pt_municipal.notes).text %></dd>
  <dt><%= Pt::Municipal.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(pt_municipal.created_at) %></dd>

</dl>
