<dl class="dl-horizontal">

  <dt><%= Pt::Volunteer.human_attribute_name(:id) %>:</dt>
  <dd><%= pt_volunteer.id %></dd>
  <dt><%= Pt::Volunteer.human_attribute_name(:notes) %>:</dt>
  <dd><%= pt_volunteer.try(:notes).blank? ? "" : Nokogiri::HTML(pt_volunteer.notes).text  %></dd>
  <dt><%= Pt::Volunteer.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(pt_volunteer.created_at) %></dd>

</dl>
