<tr id="<%= dom_id(req_reason) %>" >

  <% ::Req::Reason.main_columns.each do |attr_name| %>
    <td><%= show_attr(req_reason, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(req_reason, path: "administration_catalogue_req_reason_path") %>
    <%= link_to_edit(req_reason, path: "edit_administration_catalogue_req_reason_path") %>
<% if req_reason.try(:archived?) %>
    <%= link_to_recover(req_reason, path: "recover_administration_catalogue_req_reason_path") %>
<% else %>
    <%= link_to_destroy(req_reason, path: "administration_catalogue_req_reason_path") %>
<% end %>
  </td>
</tr>
