<div class="container-fluid">
  <%=form_tag(administration_catalogue_req_reasons_path, method: "get")  do %>
    <div class="row">
      <div class="col-md-12">
        <h2><%= t('search_filter')%></h2>
      </div>
    </div>
    <div class="index-panel row well">
      <div class="col-md-3">
        <%= label_tag :enter_text, t('volunteer_filter.input_text'), class: 'control-label' %>
        <div class="tooltip col">
          <%= fa_icon "question-circle" ,class: "fa-1x"%>
          <span class="tooltiptext"><%=model_class.tooltip%></span>
        </div>
        <%= text_field_tag :enter_text, params['enter_text'] ,placeholder: t('volunteer_filter.input_text'), class: 'form-control' %>
      </div>     
      <div class="col-md-2">
        <%= label_tag :search_nombre,t('reasons_filter.field_name'), class: 'control-label' %>
        <%= text_field_tag :search_nombre, params["search_nombre"] ,placeholder: t('reasons_filter.field_name'), class: 'form-control'%>
      </div>
      <div class="col-md-2">
        <%= label_tag :search_description,t('reasons_filter.description'), class: 'control-label' %>
        <%= text_field_tag :search_description, params["search_description"] ,placeholder: t('reasons_filter.description'), class: 'form-control'%>
      </div>
      <div class="col-md-2">
        <%= label_tag :search_status, t('channel_filter.field_select_state'), class: 'control-label' %>
        <%= select_tag :search_status, options_for_select({ t('channel_filter.active') => true, t('channel_filter.inactive') => false, t('all')=>'' } ||{},params["search_status"]), include_blank: t('channel_filter.field_select_state'), class: 'form-control form-select'%>
      </div>     
      <div class="col-md-3" style="text-align: right;">
        <%=link_to "#{fa_icon "eraser" ,class: "fa-1x"} Limpiar búsqueda".html_safe, administration_catalogue_req_reasons_path, class: "btn btn-primary", style: "margin-top: 2rem;"  %>
        <%=button_tag type: "submit",  class: "btn btn-success ", style: "margin-top: 2rem;" do  %>
          <%="#{fa_icon "search" ,class: "fa-1x"} Buscar".html_safe%>
        <%end%>
      </div>
    </div>
  <%end%>
  <div class="row">
    <div class="col">
      <%= content_tag(:div, link_to_new(model_class, path: "new_administration_catalogue_req_reason_path"), class: 'pull-left')%>
    </div>
  </div>
  <%= render partial: "shared/count", locals: {count: @req_reasons.count , model_class:  @model_class } %>
</div>