
<dl class="dl-horizontal">

  <dt><%= Req::Reason.human_attribute_name(:id) %>:</dt>
  <dd><%= @req_reason.id %></dd>
  <dt><%= Req::Reason.human_attribute_name(:name) %>:</dt>
  <dd><%= @req_reason.name %></dd>
  <dt><%= Req::Reason.human_attribute_name(:description) %>:</dt>
  <dd><%= @req_reason.description %></dd>
  <dt><%= Req::Reason.human_attribute_name(:active) %>:</dt>
  <dd><%= t("humanize.#{@req_reason.active}") %></dd>
  <dt><%= Req::Reason.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@req_reason.created_at) %></dd>

</dl>