<%= main_title(t("action.edit", model: Req::Reason.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :put, path: administration_catalogue_req_reason_path(@req_reason) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_req_reasons_path, class: 'btn btn-default') %>