<% model_class = Req::Reason %>

<%= render partial: "common/title", locals: {model_class: model_class} %>
<%= render partial: "search", locals: {search: @search_q,model_class: model_class} %>
<%= render partial: "common/generic_table", locals: {search: @search_q,collection: @req_reasons, model_class: model_class, partial: 'req_reason' } %>
<%= render partial: "shared/pagination", locals: {collection: @req_reasons, urlchange: "search_js_reasons()"} %>
<%=render partial: "common/button_back", locals: {path: maintenance_path, method: :get}%>
