<%= main_title(t("action.show", model: Req::Reason.model_name.human)) %>

<%=render "show"%>
<% unless request.xhr? %>
<%= link_to( t('action.back'),administration_catalogue_req_reasons_path, class: 'btn btn-default') %>
<% end %>