<tr id="<%= dom_id(citizen_service) %>" style="<%=color_background_service(citizen_service)%>" >

  <% CitizenService.main_columns.each do |attr_name| %>
    <%if citizen_service.citizen_id.blank? && attr_name.to_s == "f_citizen_name"%>
        <td><%= "Usuario dado de baja" %></td>
    <%elsif attr_name.to_s=="is_digital"%>
      <td style="font-size: 5rem;text-align: center"><%=icon_at_digital if citizen_service.is_digital%></td>
    <%else%>
        <td><%= show_attr(citizen_service, attr_name) %></td>
    <% end %>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_question(citizen_service, path: "question_citizen_service_path") unless citizen_service.service_responses.blank? %>
    <%= link_to_show(citizen_service, path: "citizen_service_path") %>
    <%= link_to_edit(citizen_service, path: "edit_citizen_service_path") %>
    <%= link_to_trackings_citizen(citizen_service, "citizen_service",  {path_params: {citizen_service_id: citizen_service.id } }) %> 
<% if citizen_service.try(:archived?) %>
    <%= link_to_recover(citizen_service, path: "recover_citizen_service_path") %>
<% else %>
    <%= link_to_destroy(citizen_service, path: "citizen_service_path") %>
<% end %>
  </td>
</tr>
