<div class="well-form">
  <%= simple_nested_form_for(@citizen_service, default_form_options) do |f| %>
    <%= show_simple_base_errors(f) %>
    <div class="form-inputs">
      <%= render partial: "citizen_services/partials_form/commun_data", locals: {f: f } %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-success js-confirmable', id: 'submit' %>
    </div>
  <% end %>
</div>  