<div class="row">
  <div class="col-md-12">
    <h2><%= t('search_filter')%></h2>
  </div>
</div>

<div class="index-panel row well">  
  <div class="col-md-12">
    <div class="row">
      <%= content_tag :label, t('citizen_service_filter.data'), class: 'col-sm-9 control-label' %>
    </div>
    <div class="row" style="margin-top: 10px">
        <%= text_field_tag :search_id, params["search_id"], placeholder: t('citizen_service_filter.field_id'), class: 'form-control col-md-2', style: 'width: 50px;margin:0px 2px;'%>
        <div class="col-md-2" style= 'width: 191px; margin:0px 2px;'>
          <div class="row">
            <%= text_field_tag :enter_text, params['enter_text'] ,placeholder: t('volunteer_filter.input_text'), class: 'form-control col' %>
            <div class="tooltip col">
              <%=fa_icon "question-circle" ,class: "fa-1x"%>
              <span class="tooltiptext"><%=model_class.tooltip%></span>
            </div>
          </div>
        </div>
        <%= text_field_tag :search_nombre_citizen, params["search_nombre_citizen"] ,placeholder: t('citizen_service_filter.field_name_citizen'), class: 'form-control col-md-2',  style: 'width: 200px; margin:0px 2px;'%>
        <%= text_field_tag :search_apellido1_citizen, params["search_apellido1_citizen"] ,placeholder: t('citizen_service_filter.field_apellido1_citizen'), class: 'form-control col-md-3',  style: 'width: 200px; margin:0px 2px;'%>
        <%= text_field_tag :search_apellido2_citizen, params["search_apellido2_citizen"] ,placeholder: t('citizen_service_filter.field_apellido2_citizen'), class: 'form-control col-md-3',  style: 'width: 200px; margin:0px 2px;'%>
    </div>
    <div class="row" style="margin-top: 10px">
      <label class="warningFilter" id="warning_id"><%=t('warningNumber')%></label>
    </div>
    <div class="row" style="margin-top: 10px">       
        <%= text_field_tag :search_nombre_volunteer, params["search_nombre_volunteer"] ,placeholder: t('citizen_service_filter.field_name_volunteer'), class: 'form-control col-md-2',  style: 'width: 200px; margin:0px 2px;'%>
        <%= text_field_tag :search_apellido1_volunteer, params["search_apellido1_volunteer"] ,placeholder: t('citizen_service_filter.field_apellido1_volunteer'), class: 'form-control col-md-3',  style: 'width: 200px; margin:0px 2px;'%>
        <%= text_field_tag :search_apellido2_volunteer, params["search_apellido2_volunteer"] ,placeholder: t('citizen_service_filter.field_apellido2_volunteer'), class: 'form-control col-md-3',  style: 'width: 200px; margin:0px 2px;'%>
    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col-sm-2"></div>
      <%= content_tag :label, t('desde'), class: 'col-sm-2  control-label', style: "width: 18rem" %>
      <%= content_tag :label, t('hasta'), class: 'col-sm-2  control-label', style: "width: 18rem;" %>
      <div class="col-sm-2" style="margin-left: 50px;"></div>
      <%= content_tag :label, t('desde'), class: 'col-sm-2  control-label', style: 'width: 18rem;' %>
      <%= content_tag :label, t('hasta'), class: 'col-sm-2  control-label', style: 'width: 18rem;' %>
    </div>
    <div class="row" style="margin-top: 10px">      
      <%= simple_form_for(:search) do |f|%>
        <%= content_tag :label, t('citizen_service_filter.field_services'), class: 'col-sm-2 control-label', style: "margin-top: 7px;" %>
        <div class="col-sm-2" style="width: 18rem">
          <%= f.input :services_start,as: :string, label: false, input_html:  {type: "date", value: params.permit!['search_services_start']} %>
        </div>
        <div class="col-sm-2" style="width: 18rem">
          <%= f.input :services_end, as: :string, label:false,  input_html:  {type: "date", value: params.permit!['search_services_end']}%>
        </div>
        <%= content_tag :label,  t('citizen_service_filter.field_services_a'), class: 'col-sm-2 control-label', style: "margin-left: 50px;" %>
        <div class="col-sm-2" style="width: 18rem">
          <%= f.input :services_a_start,as: :string, label: false, input_html:  {type: "date", value: params.permit!['search_services_a_start']} %>
        </div>
        <div class="col-sm-2" style="width: 18rem">
          <%= f.input :services_a_end, as: :string, label:false,  input_html:  {type: "date", value: params.permit!['search_services_a_end']}%>
        </div>
      <%end%>
    </div>
    <div class="row" style="margin-top: 10px">
      <label class="warningFilter" id="warningLabelFecha"><%=t('warning_label_fecha')%></label>
      <label class="warningFilter" id="warningLabelFechaFormat"><%=t('warning_label_fecha_desde_format')%></label>
      <label class="warningFilter" id="warningLabelFechaFormat2"><%=t('warning_label_fecha_hasta_format')%></label>
    </div>
    <div class="row" style="margin-top: 10px">
      <%= content_tag :label, t('citizen_service_filter.field_service_type'), class: 'col-sm-2  control-label', style: "width: 300px;" %>
      <%= content_tag :label, t('citizen_service_filter.field_service_status'), class: 'col-sm-2  control-label', style: "width: 300px;" %>
      <div class="col-sm-2"></div>
      <%= content_tag :label, t('desde'), class: 'col-sm-2  control-label', style: "width: 170px;margin-left: 30px;" %>
      <%= content_tag :label, t('hasta'), class: 'col-sm-2  control-label', style: "width: 180px; margin-left: -70px;" %>
    </div>
    <div class="row" style="margin-top: 10px">
      <%= select_tag :search_service_type, options_for_select(@hash_service_type||{},params['search_service_type'].blank? ? "" : params['search_service_type'].split(',')),
          class:     'form-control col-md-6',
          multiple:  true,
          id:        'search_service_type-select',
          style:     'width:300px' %>
      <%= select_tag :search_service_status, options_for_select(@hash_service_status||{},params['search_service_status'].blank? ? "" : params['search_service_status'].split(',')),
          class:     'form-control col-md-6',
          multiple:  true,
          id:        'search_service_status-select',
          style:     'width:300px;margin:0px 15px;' %>
      <%= content_tag :label, t('citizen_service_filter.field_rate'), class: 'col-sm-2 control-label', style: "margin-top: 7px;" %>
      <div class="col-sm-2" style="width: 75px;">
          <%= text_field_tag :search_start_rate, params["search_start_rate"], class: 'form-control', style: 'width: 75px'%>
      </div>
      <div class="col-sm-2" style="width: 75px;">
        <%= text_field_tag :search_end_rate, params["search_end_rate"], class: 'form-control', style: 'width: 75px; margin:0px 25px;'%>
      </div>      
    </div>
      <fieldset class="col-md-12" style="border: 1px solid #e3e3e3 !important; padding:10px 30px; margin-top: 10px;">
    <legend class="form-legend" style="width: auto; font-size: 14px; font-weight: bold">Datos del ciudadano</legend>

     <div class="row" style="margin-top: 10px">
      <div class="col-sm-1"></div>
      <%= content_tag :label, t('desde'), class: 'col-sm-2  control-label', style: "width: 180px;" %>
      <%= content_tag :label, t('hasta'), class: 'col-sm-2  control-label', style: "width: 133px; margin-left: -70px;" %>
      <%= content_tag :label, t('citizen_filter.field_gender'), class: 'control-label', style: "width: 234px;" %>
      <%= content_tag :label, t('citizen_filter.field_other_option'), class: 'control-label' %>
    </div>   
    <div class="row" style="margin-top: 10px">
      <%= content_tag :label, t('citizen_filter.field_age'), class: 'col-sm-1 control-label', style: "margin-top: 7px;" %>
      <div class="col-sm-2" style="width: 75px;">
          <%= text_field_tag :search_age_start, params["search_age_start"], class: 'form-control', style: 'width: 75px'%>
      </div>
      <div class="col-sm-2" style="width: 153px;">
        <%= text_field_tag :search_age_end, params["search_age_end"], class: 'form-control', style: 'width: 75px; margin:0px 25px;'%>
      </div>  
      <div class="col-sm-2">
        <%= select_tag :search_gender, options_for_select(@hash_gender_type||{},params['search_gender']),
            class:     'form-control',
            id:        'search_gender-select',
            style:     'width:150px' %>
      </div>
      <div class="col-sm-4">
        <%= select_tag :search_other_option, options_for_select(@hash_other_option||{},params['search_other_option']),
            class:     'form-control',
            id:        'search_other_option-select',
            style:     'width:300px' %>
      </div>     
    </div>
    <div class="row" style="margin-top: 10px">
      <label class="warningFilter" id="warning_age2"><%=t('warningNumber')%></label>
      <label class="warningFilter" id="warningLabelEdad2"><%=t('warning_label_range')%></label>
    </div>
    </fieldset>
    <fieldset class="col-md-12" style="border: 1px solid #e3e3e3 !important; padding:10px 30px; margin-top: 10px;">
    <legend class="form-legend" style="width: auto; font-size: 14px; font-weight: bold"><%=t('localizacion_servicio')%></legend>
    <div class="row">   
      <%= content_tag :label, t('district'), class: 'col control-label' %>
    </div>
         
    <div class="row">
      <%= select_tag :search_district, options_for_select(@hash_districts||{},params['search_district'].blank? ? "" : params['search_district'].split(',')),
          class: 'form-control col', 
          style: 'height: 130px;',
          multiple: true,
          id:'search_district-select' %>
    </div>
  </fieldset>
    
  </div>
  
  <div class="col-sm-12 text-right" style="margin: 20px 0px 0px 0px;">
    <button  type="button" name="button" class="btn btn-primary" id="buttonClearCitizenServices"
        class="btn btn-default"><%= t('reset_search') %></button>
    <button type="button" name="button" class="btn btn-success" id="buttonSearchCitizenServices"
        class="btn btn-default"><%= t('search') %></button>
  </div>
</div>  
<div class="row">
  <div class="col">
      <%= link_to t('action.download_questions'), citizen_services_path(ActionController::Parameters.new({format: "csv", questions: true}.merge!(params.permit!)).permit!), class: "btn btn-primary" %>
      <%= link_to_mail_questions %>
      <%= link_to_new(model_class)%>
  </div>
</div>
<script>
function push_enter(event){
    search_enter(event,search_js_citizen_service);
}
 
    //$(document).on('keypress', push_enter);
    
    $('#buttonSearchCitizenServices').on('click', function() {
        search_js_citizen_service();
    });

    $('#buttonClearCitizenServices').on('click', function() {
       $(location).attr('href', "<%=citizen_services_url%>");
    });

    $('#pages-select').on('change', function() {
        search_js_citizen_service();
    });

    $('#search_id').on('keyup', function() {
       is_number($('#search_id'), 'buttonSearchCitizenServices');
    });

    $('#search_nombre_citizen').on('keyup', function() {
        correct_string($('#search_nombre_citizen'));
    });

    $('#search_apellido1_citizen').on('keyup', function() {
        correct_string($('#search_apellido1_citizen'));
    });

    $('#search_apellido2_citizen').on('keyup', function() {
        correct_string($('#search_apellido2_citizen'));
    });

    $('#search_nombre_volunteer').on('keyup', function() {
        correct_string($('#search_nombre_volunteer'));
    });

    $('#search_apellido1_volunteer').on('keyup', function() {
        correct_string($('#search_apellido1_volunteer'));
    });

    $('#search_apellido2_volunteer').on('keyup', function() {
        correct_string($('#search_apellido2_volunteer'));
    });

</script>