
    <dl class="dl-horizontal">
    <dt><%= CitizenService.human_attribute_name(:id) %>:</dt>
    <dd><%= @citizen_service.id %></dd>
    <dt><%= CitizenService.human_attribute_name(:full_name_citizen) %>:</dt>
    <dd><%= !@citizen_service.full_name_citizen.blank? ? @citizen_service.full_name_citizen : "Usuario dado de baja" %></dd>
    <dt><%= CitizenService.human_attribute_name(:full_name_volunteer) %>:</dt>
    <dd><%= @citizen_service.full_name_volunteer %></dd>
    <dt><%= CitizenService.human_attribute_name(:type_service) %>:</dt>
    <dd><%= @citizen_service.type_service %></dd>
    <dt><%= CitizenService.human_attribute_name(:full_date_accept) %>:</dt>
    <dd><%= @citizen_service.full_date_accept %></dd>
    <dt><%= CitizenService.human_attribute_name(:full_date_request) %>:</dt>
    <dd><%= @citizen_service.full_date_request %></dd>
    <dt><%= CitizenService.human_attribute_name(:status_name) %>:</dt>
    <dd><%= @citizen_service.status_name %></dd>
    <dt><%= CitizenService.human_attribute_name(:f_volunteer_vote) %>:</dt>
    <dd><%= @citizen_service.f_volunteer_vote %></dd>
    <%unless @citizen_service.canceled_at.blank? %>
        <dt><%= CitizenService.human_attribute_name(:canceled_at) %>:</dt>
        <dd><%= show_simple_date(@citizen_service.canceled_at) %></dd>
        <dt><%= CitizenService.human_attribute_name(:citizen_reason) %>:</dt>
        <dd><%= @citizen_service.citizen_reason %></dd>
    <%end %>
    <%unless @citizen_service.rejected_at.blank? %>
        <dt><%= CitizenService.human_attribute_name(:rejected_at) %>:</dt>
        <dd><%= show_simple_date(@citizen_service.rejected_at) %></dd>
        <dt><%= CitizenService.human_attribute_name(:volunteer_reason) %>:</dt>
        <dd><%= @citizen_service.volunteer_reason %></dd>
    <%end %>
    <dt><%= CitizenService.human_attribute_name(:description) %>:</dt>
    <dd><%= @citizen_service.description %></dd>
    <dt><%= CitizenService.human_attribute_name(:place) %>:</dt>
    <dd><%= @citizen_service.place %></dd>
    <dt><%= CitizenService.human_attribute_name(:additional_data) %>:</dt>
    <dd><%= @citizen_service.additional_data %></dd>
    <dt><%= CitizenService.human_attribute_name(:borought_name) %>:</dt>
    <dd><%= @citizen_service.borought_name %></dd>
    <dt><%= CitizenService.human_attribute_name(:district_name) %>:</dt>
    <dd><%= @citizen_service.district_name %></dd>
    <dt><%= CitizenService.human_attribute_name(:status_name) %>:</dt>
    <dd><%= @citizen_service.status_name %></dd>
    <dt><%= CitizenService.human_attribute_name(:active) %>:</dt>
    <dd><%= t("humanize.#{@citizen_service.active}") %></dd>
    <dt><%= CitizenService.human_attribute_name(:created_at) %>:</dt>
    <dd><%= show_simple_date(@citizen_service.created_at) %></dd>
    <% if !@citizen_service.citizen_reason.blank? && @citizen_service.canceled_at.blank? %>
    <dt><%= CitizenService.human_attribute_name(:citizen_reason) %>:</dt>
    <dd><%= @citizen_service.citizen_reason %></dd>
    <%end%>
    <% if !@citizen_service.volunteer_reason.blank? && @citizen_service.rejected_at.blank? %>
    <dt><%= CitizenService.human_attribute_name(:volunteer_reason) %>:</dt>
    <dd><%= @citizen_service.volunteer_reason %></dd>
    <%end%>
    </dl>