<% model_class = CitizenService %>

<%= render partial: "common/title", locals: {model_class: model_class} %>
<% if !@citizen.blank? %>
  <h2 class="title_sub_h2"><%= "#{@citizen.id} - #{@citizen.name} #{@citizen.last_name_1} #{@citizen.last_name_2}" %></h2>
<%end%>
<%= render partial: "search", locals: {collection: @citizen_services, model_class: model_class} %>
<div id="recarga-filtros">
  <%= render partial: "shared/count", locals: {collection: @citizen_services, model_class: model_class, count: @citizen_services.count, csv_enable: true, url: citizen_services_path({format: "csv", questions: false}.merge!(params.permit!.except(:questions))) } %>
  <fieldset class="row">
  <legend>Leyenda:</legend>
  <ul class="col-sm-3">
    <li style="background-color:#C1C1C2;list-style: none">Servicio con Mayor Sin verificar</li>
    <li style="background-color:#28ae13; color: white;list-style: none">Servicio con Mayor tester</li>
    <li style="background-color:#5482a2; color: white;list-style: none">Servicio Mayor GI sin APP móvil</li>
    <li style="background-color:#7F7CA6; color: white;list-style: none">Servicios con Mayor dado de baja desde la APP móvil</li>
  </ul>
  </fieldset>
  <%= render partial: "common/generic_table", locals: {search: @search_q,collection: @citizen_services, model_class: model_class, partial: 'citizen_service' } %>
  <%= render partial: "shared/pagination", locals: {collection: @citizen_services, urlchange: "search_js_citizen_service();" } %>
</div>
<% if !@citizen.blank? %>
  <div class="col-md-12">
    <div class="col-md-1">
      <%= button_to(t('action.back'), citizens_path, method: :get)%>
    </div>
  </div>
<%end%>
