
<%= main_title(t("action.new", model: CitizenService.model_name.human)) %>
<%= render 'return_button' %>
<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>
<%= render 'return_button' %>