<script>
    var textoFiles = '';
    function addTexto(texto) {
        for(var file of texto.prop("files")) {
            textoFiles = textoFiles + '\n' + file.name;
        }
        $('#recarga').html(textoFiles);
    }
</script>
<%= main_title(t('send_mail.title')) %>

<div class="row well-no-border">
	<div class="col-md-12">
  <div class="form-group">
			<%= form_tag(send_questions_mail_path, method: :post, :enctype =>"multipart/form-data") do |f| %>
        <div class="row">
          <%= content_tag 'sender', t('send_mail.sender'), class: 'col-md-4'%>
          <%= text_field_tag "sender", Rails.application.secrets.default_email_sender, disabled: true, placeholder: t('send_mail.sender'), class: 'col-md-8', id: 'sender' %>
        </div>
        <div class="row">
          <%= content_tag 'recipient', t('send_mail.recipient'), class: 'col-md-4' %>
          <%= text_field_tag "recipient", @mail_address, placeholder: t('send_mail.recipient'), disabled: true, class: 'col-md-8', id: 'recipent' %>
        </div>
        <div class="row">
          <%= content_tag 'subject', t('send_mail.subject'), class: 'col-md-4' %>
  				<%= text_field_tag "subject", nil,  placeholder: t('send_mail.subject'), class: 'col-md-8' %>
        </div>
          <br>
        <div class="row">
            <%= content_tag :label, t('massive_email.upload_archive'), class: 'col-md-3 control-label' %>
                <%= file_field_tag 'upload[]', multiple: true, accept: 'text/csv', onchange: "addTexto($(this))" %>
        </div>
          <br>
        <div class="row">
          <%= content_tag 'message', t('send_mail.message'), class: 'col-md-6' %>
          <%= text_area_tag "message", nil, class: "sms-message form-control",id: 'text_mail', row: "5" %>
           <%= submit_tag t('send_mail.send_button'), id: "btn-send", class: 'btn btn-success' %>
        </div>
			<% end %>
		</div>
	</div>
</div>

<% unless request.xhr? %>
<%= link_to( t('action.back'),citizen_services_path, class: 'btn btn-default') %>
<% end %>
