<tr id="<%= dom_id(info_source) %>" >

  <% InfoSource.main_columns.each do |attr_name| %>
    <td><%= show_attr(info_source, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(info_source, path: "administration_catalogue_info_source_path") %>
    <%= link_to_edit(info_source, path: "edit_administration_catalogue_info_source_path") %>
<% if info_source.try(:archived?) %>
    <%= link_to_recover(info_source, path: "recover_administration_catalogue_info_source_path") %>
<% else %>
    <%= link_to_destroy(info_source, path: "administration_catalogue_info_source_path") %>
<% end %>
  </td>
</tr>
