<%= main_title(t("action.edit", model: InfoSource.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :put, path: administration_catalogue_info_source_path(@info_source) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_info_sources_path, class: 'btn btn-default') %>