<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: "search", locals: {search: @shift_definitions,model_class: @model_class} %>
<%= render partial: "common/generic_table", locals: {search: @search_q,collection: @info_sources, model_class: @model_class, partial: 'info_source' } %>
<%= render partial: "shared/pagination", locals: {collection: @info_sources, urlchange: "search_js_info_sources()"} %>
<%=render partial: "common/button_back", locals: {path: maintenance_path, method: :get}%>