<%= main_title(t("action.new", model: InfoSource.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :post, path: administration_catalogue_info_sources_path %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_info_sources_path, class: 'btn btn-default') %>
