<tr id="<%= dom_id(area) %>" >
  <% Area.main_columns.each do |attr_name| %>
    <td><%= show_attr(area, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(area, path: "administration_catalogue_area_path") %>
    <%= link_to_edit(area, path: "edit_administration_catalogue_area_path") %>
    <% if area.try(:archived?) %>
        <%= link_to_recover(area, path: "recover_administration_catalogue_area_path") %>
    <% else %>
        <%= link_to_destroy(area, path: "administration_catalogue_area_path") %>
    <% end %>
  </td>
</tr>
