<dl class="dl-horizontal">
  <dt><%= Area.human_attribute_name(:id) %>:</dt>
  <dd><%= @area.id %></dd>
  <dt><%= Area.human_attribute_name(:name) %>:</dt>
  <dd><%= @area.name %></dd>
  <dt><%= Area.human_attribute_name(:description) %>:</dt>
  <dd><%= @area.description %></dd>
  <dt><%= Area.human_attribute_name(:active) %>:</dt>
  <dd><%= t("humanize.#{@area.active}") %></dd>
  <dt><%= Area.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@area.created_at) %></dd>
</dl>