<%= main_title(t("action.edit", model: Area.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :put, path: administration_catalogue_area_path(@area) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_areas_path, class: 'btn btn-default') %>