
<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: "search", locals: {collection: @areas, model_class: @model_class} %>
<%= render partial: "common/generic_table", locals: {search: @search_q,collection: @areas, model_class: @model_class, partial: 'area' } %>
<%= render partial: "shared/pagination", locals: {collection: @areas, urlchange: "search_js_area();" } %>
<%=render partial: "common/button_back", locals: {path: maintenance_path, method: :get}%>
