<%= main_title(t("action.show", model: Area.model_name.human)) %>

<%=render "show"%>

<% unless request.xhr? %>
<%= link_to( t('action.back'),administration_catalogue_areas_path, class: 'btn btn-default') %>
<% end %>