


<div class="row well">
    <div class="col-md-12">
        <div class="row">
            <div class="logo_block col-md-4">
                <% f.object.errors[:logo].each do |l| %>
                    <div style="color: #a94442;font-size:16px"><%= l %></div>
                <% end %>
                <%= f.simple_fields_for :logo, (f.object.logo || f.object.build_logo) do |f_logo|  %>
                    <%= render partial: 'links/logo', locals: { f: f_logo } %>
                <% end %>
            </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4"><%= f.input :name %></div>
                <div class="col-md-4"><%= f.input :last_name_1 %></div>
                <div class="col-md-4"><%= f.input :last_name_2 %></div>
            </div>
            <div class="row">
                <div class="col-md-4"><%= f.input :document %></div>
                <div class="col-md-4" style="padding-top: 7px;">
                    <%= f.input :document_type_id, :collection => DocumentType.for_citizens, :selected =>  f.object.document_type_id %>
                </div>
                <div class="col-md-4" style="padding-top: 7px;">
                    <%= f.association :gender%>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" style="align:left">
                    <%= f.input :email %> 
                </div>
                <div class="col-md-4">
                    <%= f.input :phone, data: { mask: '999999999'}  %>
                </div>
                <div class="col-md-4">
                    <%= label_tag(:tester, t('citizen_filter.search_tester')) %>
                    <%= f.check_box(:tester,{style: "margin-left:1rem" }) %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" style="padding-top: 7px;">
                    <%= f.input :enabled_app,as: :select, :collection => ['','Mayor con App móvil','Mayor sin App móvil'], :selected =>  f.object.enabled_app %>
                </div>            
            </div>
        </div>
    </div>
    <div class = "row" >
        <fieldset class="col-md-12" style="border: 0.1rem solid #4c4c4c !important; padding:1rem 3rem">
            <legend style="width: auto; padding: 1rem; border-bottom: 0rem"><%=Citizen.human_attribute_name(:address)%></legend>
            <%= f.simple_fields_for :address, (f.object.address.presence || f.object.build_address) do |f_address|  %>
                <%= render partial: 'addresses/form_fields', locals: { f: f_address } %>
            <% end %>
        </fieldset>        
    </div>
    <%if !f.object.id.blank?%>
    <div class="row">
        <div class="col-md-12" style="margin-top: 1rem">
            <%= f.check_box(:padron, disabled: true) %>
            <%= label_tag(:padron, t('citizen_filter.field_padron')) %>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12" style="margin-top: 1rem">
            <%= f.check_box(:email_verified, disabled: true) %>
            <%= label_tag(:email_verified, t('citizen_filter.field_email_verified')) %>
        </div>
    </div>
    <%end%>
  
    <div class="row">
        <div class="col-md-12" style="margin-top: 1rem">
            <%= f.check_box(:legal_msg, disabled: !f.object.id.blank?) %>
            <%= link_to  t('citizen_filter.field_legal'), '/LEYENDA PROTECCION DATOS.pdf',target: '_blank', style: 'cursor: pointer;text-decoration: underline;' %>
        </div>
    </div>
   
    
</div>
