<tr id="<%= dom_id(req_rejection_type) %>" >

  <% ::Req::RejectionType.main_columns.each do |attr_name| %>
    <td><%= show_attr(req_rejection_type, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(req_rejection_type, path: "administration_catalogue_req_rejection_type_path") %>
    <%= link_to_edit(req_rejection_type, path: "edit_administration_catalogue_req_rejection_type_path") %>
<% if req_rejection_type.try(:archived?) %>
    <%= link_to_recover(req_rejection_type, path: "recover_administration_catalogue_req_rejection_type_path") %>
<% else %>
    <%= link_to_destroy(req_rejection_type, path: "administration_catalogue_req_rejection_type_path") %>
<% end %>
  </td>
</tr>
