<dl class="dl-horizontal">

  <dt><%= Req::RejectionType.human_attribute_name(:id) %>:</dt>
  <dd><%= @req_rejection_type.id %></dd>
  <dt><%= Req::RejectionType.human_attribute_name(:name) %>:</dt>
  <dd><%= @req_rejection_type.name %></dd>
  <dt><%= Req::RejectionType.human_attribute_name(:description) %>:</dt>
  <dd><%= @req_rejection_type.description %></dd>
  <dt><%= Req::RejectionType.human_attribute_name(:active) %>:</dt>
  <dd><%= t("humanize.#{@req_rejection_type.active}") %></dd>
  <dt><%= Req::RejectionType.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@req_rejection_type.created_at) %></dd>

</dl>