<%= main_title(t("action.edit", model: Req::RejectionType.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :put, path: administration_catalogue_req_rejection_type_path(@req_rejection_type) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_req_rejection_types_path, class: 'btn btn-default') %>