
<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: "search", locals: {search: @search_q,model_class: @model_class} %>
<%= render partial: "common/generic_table", locals: {search: @search_q,collection: @req_rejection_types, model_class: @model_class, partial: 'req_rejection_type' } %>
<%= render partial: "shared/pagination", locals: {collection: @req_rejection_types, urlchange: "search_js_rejection_types()"} %>
<%=render partial: "common/button_back", locals: {path: maintenance_path, method: :get}%>
