<tr id="<%= dom_id(district) %>" >

  <% District.main_columns.each do |attr_name| %>
    <td><%= show_attr(district, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(district, path: "administration_catalogue_district_path") %>
    <%= link_to_edit(district, path: "edit_administration_catalogue_district_path") %>
<% if district.try(:archived?) %>
    <%= link_to_recover(district, path: "recover_administration_catalogue_district_path") %>
<% else %>
    <%= link_to_destroy(district, path: "administration_catalogue_district_path") %>
<% end %>
  </td>
</tr>
