
    <dl class="dl-horizontal">

        <dt><%= District.human_attribute_name(:id) %>:</dt>
        <dd><%= @district.id %></dd>
        <dt><%= District.human_attribute_name(:name) %>:</dt>
        <dd><%= @district.name %></dd>
        <dt><%= District.human_attribute_name(:code) %>:</dt>
        <dd><%= @district.code %></dd>
        <dt><%= District.human_attribute_name(:active) %>:</dt>
        <dd><%= t("humanize.#{@district.active}") %></dd>
        <dt><%= District.human_attribute_name(:created_at) %>:</dt>
        <dd><%= show_simple_date(@district.created_at) %></dd>

    </dl>
