<%= main_title(t("action.edit", model: District.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form',method: :put, path: administration_catalogue_district_path(@district) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_districts_path, class: 'btn btn-default') %>