<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: "search", locals: {collection: @districts, model_class: @model_class} %>
<%= render partial: "common/generic_table", locals: {search: @search_q,collection: @districts, model_class: @model_class, partial: 'district' } %>
<%= render partial: "shared/pagination", locals: {collection: @districts, urlchange: "search_js_district()"} %>
<%=render partial: "common/button_back", locals: {path: maintenance_path, method: :get}%>