/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require jquery-ui/datepicker
 *= require jquery-ui/dialog
 *= require jquery-ui/autocomplete
 *= require_self
 *= require sweetalert2
 *= require_tree .
 */
 
 .fade_modal {
  opacity: 1 !important;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}


.swal2-container {
  background-color: rgba(0,0,0,0.5) !important;
 
 }

 .swal2-modal {
 box-shadow: 0.5rem 0.5rem 2rem black;
 }

 .swal2-actions {
  display: block !important;
  text-align: center;
  padding: 2rem;
 }

 .swal2-confirm {
    color: #286f28;
    background-color: #ffffff;
    border-color: #4cae4c;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #4cae4c;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .swal2-cancel {
    color: #fff;
    background-color: #5482a2;
    border-color: #4b7591;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #4b7591;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .swal2-deny {
    color: #fff;
    background-color: #5482a2;
    border-color: #4b7591;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #4b7591;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.Swal.fire2-container:not(.in) {
  pointer-events: all !important;
  background-color: rgba(0,0,0,0.5) !important;

}

.swal2-container:not(.in) {
  pointer-events: all !important;
  background-color: rgba(0,0,0,0.5) !important;
  display: none;
}

.modal-dialog_especial {
  width: 600px;
  margin: 3% auto !important;
}
.panel_custom {
    padding: 10px;
    min-height: 54px;
    margin-top: 14px;
    background-color: lightgoldenrodyellow !important;
}

.title_sub_h2 {
    margin-bottom: 30px; color: #5482a2; border-left: 20px solid #5482a2;
    padding-left: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #a7c4d8;
}

.content_header_audit {
    border: 1px solid black;
}

.warningFilter{
    padding: 3px;
    margin-top:2px;
    width: auto;
    max-width: 300px;
    color: #D8000C;
    background-color: #FFD2D2; 
    display:none;
}

#warningLabelEdad {
    width: 270px;
    color: #D8000C;
    background-color: #FFD2D2;
    margin:10px 22px;
    vertical-align:middle;
    display:none;
}
#warningLabelFecha,#warningLabelFechaFormat,#warningLabelFechaFormat2 {
    width: 330px;
    color: #D8000C;
    background-color: #FFD2D2;
    vertical-align:middle;
    display:none;
}
.warningNumber{
    padding: 3px;
    margin-top:2px;
    width: auto;
    color: #D8000C;
    background-color: #FFD2D2; 
    display:none;
}
.warningNumberProject{
    width: 145px;
    color: #D8000C;
    background-color: #FFD2D2; 
    display:none;
}

#description{
    max-width: 200px;
    overflow: hidden;
    text-overflow: clip;
    max-block-size: initial;
    display: block;
    max-height: 196px;
}

.help-block:first-letter {
    text-transform: uppercase;
}
/****** SPINNER *****/

.sk-fading-circle {
    margin-top:5px;
    width: 40px;
    height: 40px;
    position:absolute;
  }
  
  .sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: lightgoldenrodyellow;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
            animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  }
  .sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  .sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  .sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg);
  }
  .sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg);
  }
  .sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg);
  }
  .sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); 
  }
  .sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); 
  }
  .sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; 
  }
  .sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; 
  }
  .sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; 
  }
  .sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; 
  }
  .sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; 
  }
  .sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; 
  }
  .sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; 
  }
  .sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
  }
  .sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
  }
  .sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
  }
  .sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
  }
  
  @-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
  }
  
  @keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; } 
  }
/***** END SPINNER ****/

.tooltip {
  position: relative !important;
  display: inline-block !important;
  border-bottom: 1px dotted black;
  opacity: 1 !important;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;

}

.sort_link {
  color: #3b5f79 !important;
  padding: 0.5rem;
  font-weight: bold;
}

.sort_link:hover {
  color: white !important;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: #555;
}

.sort_link:active {
  color: #3b5f79 !important;
  font-weight: bold;
}

.sort_link:focus {
  color: #3b5f79 !important;
  font-weight: bold;
}