.bold{
	font-weight: bold;
}

.orange{
	color:orange;
}

.underline{
	text-decoration: underline;
}

.box{
	padding-left: 15px;
	border: 1px solid black;
}

.cursive{
	font-style: italic;
}

.parrafo{
	font-family: 'Roboto', sans-serif;
	margin: 40px;
	text-align: justify;
}

.medium{
	width: 350px;
}

.large{
	width: 700px;
}

.center{
	margin: 0px 60px 10px 60px;
	text-align: center;
}