<div class="index-panel row well">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-6">
				<label class='vol_filter_label' style="margin: 2px 0px;"><%=t('request_data')%></label>
			</div>			
		</div>
		<div class="row">
			<div class="col-md-3" style="margin-right: 2rem">
				<div class="row">
					<%= text_field_tag :enter_text, params['enter_text'] ,placeholder: t('volunteer_filter.input_text'), class: 'form-control col' %>
					<div class="tooltip col">
						<%=fa_icon "question-circle" ,class: "fa-1x"%>
						<span class="tooltiptext"><%=model_class.tooltip%></span>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="row">   
					<%= select_tag :search_district, options_for_select(@hash_districts||{},params["search_district"]), include_blank: t('district'),
						class: 'form-control col', 
						id:'search_district-select' %>
				</div>
            </div>
            <div class="col-md-2">
				<%= text_field_tag :search_project, '' ,placeholder: t('volunteer_filter.project'), class: 'form-control'%>
            </div>
			<div id="statuses" class="col-12 col-md-3 text-right" >
				<div class="row">
					<div class="col-12 col-md-3">
						<%= content_tag :label, t('states'), class: 'control-label' %>
					</div>
					<div class="col-12 col-md-9">
						<%= content_tag :ul do %>
							<% RequestForm.statuses.select{|x| x.to_s != "appointed"}.keys.each do |status| %>
								<%= content_tag :li, class: "status-list #{status}" do %>
									<%= label_tag status, RequestForm.statuses_i18n[status], class: 'boolean' %>
									<%= check_box_filter_other_for("search_#{status}",params) %>
								<%end%>
							<% end %>
		              	<% end %>
					</div>	
				</div>  
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<div class="col-12 col-md-3">
					<%= content_tag :label, t('subscribes_date'), class: 'control-label', style: "margin-top: 3rem;" %>
				</div>
				<div class="col-12 col-md-6">
					<%= simple_form_for(:search) do |f|%>
						<div class="row">
							<div class="col-sm-6">
								<%= content_tag :label, t('desde'), class: 'control-label' %>
								<%= f.input :start_date,as: :string, label: false, input_html:  {type: "date", value: params.permit!["search_start_date"]}%>
							</div>
							<div class="col-sm-6">
								<%= content_tag :label, t('hasta'), class: 'control-label'%>
								<%= f.input :end_date, as: :string, label: false, input_html:  {type: "date", value: params.permit!["search_end_date"]}%>
							</div>
						</div>					
					<%end%>	
				</div>
				<div class="row">
					<label id="warningLabelFecha"><%=t('warning_label_fecha')%></label>
					<label id="warningLabelFechaFormat"><%=t('warning_label_fecha_desde_format')%></label>
					<label id="warningLabelFechaFormat2"><%=t('warning_label_fecha_hasta_format')%></label>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 text-right" style= "margin-top: 3rem;">
      			<button type="button" name="button" id="buttonClean"  class="btn btn-primary"><%= t('reset_search') %></button>
      			<button type="button" name="button" id="buttonSearch" class="btn btn-success btn-default"><%=t 'search'%></button>
    		</div>
		</div>
	</div>
</div>
<script>
function push_enter(event) {
    search_enter(event, search_js_rt_project_subscribed);
}


    $(":checkbox").on('change', function(){
        if (this.id != 'search_pending' && this.id != 'search_processing' 
        && this.id != 'search_approved'  && this.id != 'search_rejected') {

            changed_review($('#' + this.id), '#recarga-filtros', [
                ['isSearch',true,'b'],
                ['page',1,'b'],
                
                ['per_page',$('#pages-select option:selected'),'i'],
                ['enter_text',$('#enter_text'),'s'],
                ['search_district',$('#search_district-select option:selected'),'s'],
                ['search_project',$('#search_project'),'s'],
                ['search_start_date',$('#search_start_date'),'s'],
                ['search_end_date',$('#search_end_date'),'s'],
                ['search_pending',$('#search_pending'),'check'],
                ['search_processing',$('#search_processing'),'check'],
                ['search_approved',$('#search_approved'),'check'],
                ['search_rejected',$('#search_rejected'),'check']]);
        }
    });

    //$(document).on('keypress', push_enter);

    $('#buttonSearch').on('click', function() {
        search_js_rt_project_subscribed();
    });

    $('#buttonClean').on('click', function() {
        $(location).attr('href', "<%=rt_volunteer_project_subscribes_path%>");
    });

    $('pages-select').on('change', function() {
        search_js_rt_project_subscribed();
    });

    $('#enter_text').on('keyup', function() {
        correct_string($('#enter_text'));
    });

    $('#search_project').on('keyup', function() {
        correct_string($('#search_project'));
    });

    $('#search_start_date').on('change', function() {
        valida_date_until($('#search_end_date'), $('#search_start_date'), $('#warningLabelFecha'), $('warningLabelFechaFormat'), $('warningLabelFechaFormat2'), 'buttonSearch');
    });

    $('#search_end_date').on('change', function() {
        valida_date_until($('#search_start_date'), $('#search_end_date'), $('#warningLabelFecha'), $('warningLabelFechaFormat'), $('warningLabelFechaFormat2'), 'buttonSearch');
    });

   
</script>

 	




 	