<tr id="<%= dom_id(rt_volunteer_project_subscribe) %>" >
  <% Rt::VolunteerProjectSubscribe.main_columns.each do |attr_name| %>
    <td class="<%= rt_volunteer_project_subscribe.req_status if attr_name.to_s=="get_status" %>" ><%= show_attr(rt_volunteer_project_subscribe, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <% if !rt_volunteer_project_subscribe.blank? && (rt_volunteer_project_subscribe.approved? || rt_volunteer_project_subscribe.rejected?) %>
        <%= link_to_show(rt_volunteer_project_subscribe,  path: "rt_volunteer_project_subscribe_path") %>
        <% if rt_volunteer_project_subscribe.rejected? %>
            <%= link_to_undo_rejection(rt_volunteer_project_subscribe,  path: "undo_rejection_request_form_rt_volunteer_project_subscribe_path") %>
        <% else %>
            <%= link_to_process(rt_volunteer_project_subscribe,  path: "process_request_form_rt_volunteer_project_subscribe_path") %>
        <% end %>
    <% else %>
        <%= link_to_process(rt_volunteer_project_subscribe,  path: "process_request_form_rt_volunteer_project_subscribe_path") %>
    <% end %>
  </td>
</tr>