<%= main_title(t("action.download_csv_model", model: Rt::VolunteerProjectSubscribe.model_name.human)) %>
<%= form_tag(process_dowload_request_rt_volunteer_project_subscribes_path) do %>
    <%= render 'rt/districts_form' %>
    <div class="row"><i><%= t('messages.no_districts')%></i></div>
    <div class="row">
        <%= link_to( t('action.back'),rt_volunteer_project_subscribes_path(search_pending: 'true',search_processing: 'true',search_approved: 'false',search_rejected:'false'), class: 'btn btn-default') %> 
        <%= submit_tag t("action.download"), class: 'btn btn-success' %>
    </div>
<%end%>

