

<%= main_title(t("action.show", model: Rt::VolunteerProjectSubscribe.model_name.human)) %>
<% project= Project.find(@rt_volunteer_project_subscribe.project_id) unless @rt_volunteer_project_subscribe.project_id.blank?%>
<div class="row">
  <div class="col-md-6">

    <dl class="dl-horizontal well">
      <dt><%= t('volunteer_complet_name') %>:</dt>
      <dd><%= "#{@rt_volunteer_project_subscribe.name} #{@rt_volunteer_project_subscribe.last_name} #{@rt_volunteer_project_subscribe.last_name_alt}" %></dd>
      <% unless @rt_volunteer_project_subscribe.project_id.blank? %>
        <dt><%= t('volunteer_project_interested') %>:</dt>
        <dd><%= project.name %></dd>
        <dt><%= t('volunteer_project_interested_id') %>:</dt>
        <dd><%= @rt_volunteer_project_subscribe.project_id %></dd>
      <% end %>
      <dt><%= Rt::VolunteerProjectSubscribe.human_attribute_name(:email) %>:</dt>
      <dd><%= @rt_volunteer_project_subscribe.email %></dd>
      <dt><%= t('activerecord.attributes.volunteer.phones') %>:</dt>
      <dd><%= "#{@rt_volunteer_project_subscribe.phone_number}" %>
      <%= '/' unless (@rt_volunteer_project_subscribe.phone_number.blank? || @rt_volunteer_project_subscribe.phone_number_alt.blank?) %>
      <%= "#{@rt_volunteer_project_subscribe.phone_number_alt}" unless @rt_volunteer_project_subscribe.phone_number_alt.blank?  %></dd>
      <dt><%= RequestForm.human_attribute_name(:status) %>:</dt>
      <dd>
        <span class="<%= @rt_volunteer_project_subscribe.request_form.status.kind %>">
          <%= @rt_volunteer_project_subscribe.request_form.status %>
        </span>
      </dd>
      <dt><%= RequestForm.human_attribute_name(:reason) %>:</dt>
      <dd><%= @rt_volunteer_project_subscribe.request_form.reason %></dd>
      <dt><%= Rt::VolunteerProjectSubscribe.human_attribute_name(:is_adult) %>:</dt>
      <dd><%= t("humanize.#{@rt_volunteer_project_subscribe.is_adult}") if !@rt_volunteer_project_subscribe.is_adult.blank? %></dd>
      <dt><%= RequestForm.human_attribute_name(:info_source) %>:</dt>
      <dd><%= @rt_volunteer_project_subscribe.info_source.name unless @rt_volunteer_project_subscribe.info_source.blank? %></dd>
      <dt><%= RequestForm.human_attribute_name(:comments) %>:</dt>
      <dd><%= text_area_tag :comments, @rt_volunteer_project_subscribe.request_form.comments ,placeholder: t('process_solidarity_chain.input_comment'), class: 'form-control col-md-5',  style: 'width: 100%;height: 15rem; margin:3px 2px;', onchange: "search_generic([ ['input_comments',$('#comments'),'s']],'#envio');"%></dd>
      <dt><%= Rt::VolunteerProjectSubscribe.human_attribute_name(:notes) %>:</dt>
      <dd><%= @rt_volunteer_project_subscribe.notes %></dd>
    </dl>

  </div>
</div>
<div id="envio">
  <div  class="row">
    <div class="col-md-7">
      <%= link_to( t('action.approve'), pre_approve_request_form_rt_volunteer_project_subscribe_path, class: 'btn btn-success',data: { turbolinks: false }) if can?(:approve, Rt::VolunteerProjectSubscribe)%>
      <%= link_to( t('action.reject'), pre_reject_request_form_rt_volunteer_project_subscribe_path, class: 'btn btn-danger',data: { turbolinks: false }) if can?(:reject, Rt::VolunteerProjectSubscribe)%>
      <%= link_to( t('mark_as_pending'), mark_request_form_as_pending_rt_volunteer_project_subscribe_path, class: 'btn btn-default',data: { turbolinks: false }) if can?(:mark_pending, Rt::VolunteerProjectSubscribe)%>
      <%= link_to( t('continue_as_processing'),mark_request_form_as_processing_rt_volunteer_project_subscribe_path, class: 'btn btn-default processing',data: { turbolinks: false }) if can?(:mark_processing, Rt::VolunteerProjectSubscribe)%>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 30px;">
  <div class="col-md-6">
    <%= link_to( t('action.back'), rt_volunteer_project_subscribes_path, class: 'btn btn-default') %>
  </div>
</div>