swal({width: "75%", 
title: '<%= main_title(t("action.show", model: Rt::VolunteerProjectSubscribe.model_name.human)) %>',
html: '<%= j (render partial: 'rt/show_full',locals: {ruta: 'rt/volunteer_project_subscribes/show', request: @rt_volunteer_project_subscribe}) %>'})