<%= main_title(t("action.show", model: Rt::VolunteerProjectSubscribe.model_name.human)) %>

<%=render partial: 'rt/show_full',locals: {ruta: 'rt/volunteer_project_subscribes/show', request: @rt_volunteer_project_subscribe}%>
<% unless request.xhr? %>
    <%= link_to( t('action.back'),rt_volunteer_project_subscribes_path, class: 'btn btn-default') %>
<% end %>