<tr id="<%= dom_id(profession) %>" >

  <% Profession.main_columns.each do |attr_name| %>
    <td><%= show_attr(profession, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(profession, path: "administration_catalogue_profession_path") %>
    <%= link_to_edit(profession, path: "edit_administration_catalogue_profession_path") %>
<% if profession.try(:archived?) %>
    <%= link_to_recover(profession, path: "recover_administration_catalogue_profession_path") %>
<% else %>
    <%= link_to_destroy(profession, path: "administration_catalogue_profession_path") %>
<% end %>
  </td>
</tr>
