<dl class="dl-horizontal">

  <dt><%= Profession.human_attribute_name(:id) %>:</dt>
  <dd><%= @profession.id %></dd>
  <dt><%= Profession.human_attribute_name(:name) %>:</dt>
  <dd><%= @profession.name %></dd>
  <dt><%= Profession.human_attribute_name(:active) %>:</dt>
  <dd><%= t("humanize.#{@profession.active}") %></dd>
  <dt><%= Profession.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@profession.created_at) %></dd>

</dl>