<%= main_title(t("action.edit", model: Profession.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :put, path: administration_catalogue_profession_path(@profession) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_professions_path, class: 'btn btn-default') %>