
<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: "search", locals: {collection: @professions, model_class: @model_class} %>
<%= render partial: "common/generic_table", locals: {search: @search_q,collection: @professions, model_class: @model_class, partial: 'profession' } %>
<%= render partial: "shared/pagination", locals: {collection: @professions, urlchange: "search_js_professions()"} %>
<%=render partial: "common/button_back", locals: {path: maintenance_path, method: :get}%>