<div style="padding:0.5em">
    <% if !@publish.blank?%>
        <%= link_to( t('action.back'), process_request_form_rt_activity_publishing_path(@publish), class: 'btn btn-default') %>
    <%else%>
        <%= link_to( t('action.back'), activities_path, class: 'btn btn-default') %>
    <%end%>
</div>