<table class="index-table">
  <thead>
    <tr>
    <% model_class.main_columns.each do |column| -%>
      <th><%= sort_link(@search_q, column, model_class.human_attribute_name(column)) %></th>
    <% end %>
      <th><%= t('reviewed')%></th>
      <th class="actions index_table-actions">
        <%= t('actions') %>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render(partial: 'activity', collection: collection)%>
  </tbody>
</table>