<div id="<%=dom_id(f.object)%>" class="nested-fields event-fields well col-md-12">
    <%= content_tag :h2, "#{Address.model_name.human} #{t('and')} #{Timetable.model_name.human(count: 2)}", class: 'form-subtitle' %>

    <div class="row well">
        <%= content_tag :h3, Address.model_name.human, class: 'form-subtitle' %>
        <%= f.simple_fields_for :address, (f.object.address.presence || f.object.build_address) do |f_address|  %>
            <%= render partial: 'addresses/form_fields', locals: {f: f_address } %>
        <% end %>
    </div>

    <div class="timetables_block row well">
        <%= content_tag :h3, Timetable.model_name.human(count: 2), class: 'form-subtitle' %>
        <%= f.error :base, class: 'alert alert-danger alert-dismissable' %>
        <%= f.simple_fields_for :timetables do |f_timetable|  %>
            <%=render 'timetable_fields', f: f_timetable%>
        <% end %>
        <p><%= link_to_add_association icon_new(text: "#{Timetable.model_name.human}"),f, :timetables, {class: 'btn add_nested_fields'} %></p>
    </div>
    
    <p><%= link_to_remove_association build_icon('trash-o', text: "#{t('action.remove')} #{Address.model_name.human} #{t('and')} #{Timetable.model_name.human(count: 2)}"),f, class: 'remove_nested_fields pull-right', id: 'rmEvent', onclick: 'rmEvent();' %></p>
</div>