
<div class="well">
  <%= simple_nested_form_for(@activity, default_form_options) do |f| %>
  <%= show_simple_base_errors(f) %>
  <% if !@publish.blank?
    f.object.name=@publish.name
    f.object.description=@publish.description
    f.object.organizers=@publish.organizer
    f.object.entity_id=@publish.request_form.user.loggable.id unless @publish.request_form.user.blank? %>
    <%= hidden_field_tag :rt_activity_publishing_id, params[:rt_activity_publishing_id]%>
    <%= hidden_field_tag :request_form,@publish.request_form %>

  <%end %>
  <div class="form-inputs">

  <%= render partial: 'activities/form_buttons', locals: { f: f } %>
    <div class='row'>
      <%= content_tag :h3, t('main_data'), class: 'form-subtitle' %>
      <div class="col-md-4">
        <div class="logo_block col-md-12">
          <% f.object.errors[:logo].each do |l| %>
            <div style="color: #a94442;font-size:16px"><%= l %></div>
          <% end %>
          <%= f.simple_fields_for :logo, (f.object.logo || f.object.build_logo) do |f_logo|  %>
            <%= render partial: 'links/logo', locals: { f: f_logo } %>
          <% end %>
        </div>
      </div>
      <div class='col-md-4'>
        <%= f.input :name, :input_html=> {style:  (@clase_estilo unless f.object.name.blank?)||'' } %>
        <%= f.input :start_date, as: :string, input_html:  {type: "date", value: f.object.start_date.blank? ? "" : f.object.start_date.strftime('%Y-%m-%d')} %>
        <%= f.input :end_date, as: :string, input_html: {type: "date", value:  f.object.end_date.blank? ? "" : f.object.end_date.strftime('%Y-%m-%d')} %>
      </div>
      <div class='col-md-4'>
        <%= f.input :link_url %>
        <%= f.input :pdf_url %>
        <%= f.input :organizers, :input_html=> {style:  (@clase_estilo unless f.object.name.blank?)||'' } %>
        <%= f.association :entity, input_html: { class: 'm-width200' , style:  (@clase_estilo unless f.object.name.blank?)||'' } %>
        <%= f.association :areas, input_html: { class: 'm-width200' ,multiple:true } %>
        <%= f.association :project,:label_method => lambda { |project| "#{project.try(:id)}.  "+"  #{project.try(:name)}" }, input_html: { class: 'm-width200' } %>
        <%= f.input :share %>
      </div>
      <div class="col-md-12">
        <%= f.label :description %>
        <%= f.text_area :description , class: "ckeditor", style:  (@clase_estilo unless f.object.name.blank?)||''  %>
      </div>
      <div class="col-md-12">
        <%= f.label :transport %>
        <%= f.text_area :transport , class: "ckeditor"  %>
      </div>
    </div>
    <%if !f.object.project.blank?%>
        <div class="row well">
            <%= content_tag :h2, "Proyecto Asociado", class: 'form-subtitle' %>        
            <div class="col" style="width:100%;overflow-x:auto;">
                <table class="index-table" >
                    <thead>
                    <tr>
                        <% Project.matriz_columns.each do |column| %>
                            <th><%=Project.human_attribute_name(column) %></th>
                        <% end %>   
                        <th><%= t('actions') %></th>   
                    </tr>
                    </thead>            
                    <tbody>
                        <tr>
                            <% Project.matriz_columns.each do |column| %>
                                <td><%=f.object.project.try(column.to_sym) %></td>
                            <% end %>     
                            <td>
                                <%= link_to_show(f.object.project.pt_extendable || f.object.project) %>
                                <% if can? :edit, Project %> 
                                    <%= link_to_edit(f.object.project.pt_extendable || f.object.project) %>
                                <% end %>
                                <%= link_to_trackings(f.object.project, "pro") %>
                            </td> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    <%end%>
    <div class="events-block row row-4 well">
      <%= content_tag :h1, "#{Address.model_name.human(count: 2)} #{t('and')} #{Timetable.model_name.human(count: 2)}", class: 'form-subtitle' %>
        <% unless @publish.blank? %>
          <div class="row well">
            <label class="col-sm-12" style='font-weight: bold; color: green; font-size:14px;'>
            <%= "Fechas: #{@publish.dates_text_free}, Horas: #{@publish.hours_text_free}, Lugares: #{@publish.places_text_free}"%> 
            </label>
          </div>
        <%end %>
        <input type="hidden" value="<%= f.object.events.count %>" id="eventsNum" />
        <%= f.simple_fields_for :events, (f.object.events.build if f.object.events.empty?) do |f_event|  %>
          <%=render "event_fields", f: f_event%>
        <% end %>
      <p><%= link_to_add_association icon_new(text: "#{t('action.add')} #{Address.model_name.human} #{t('and')} #{Timetable.model_name.human(count: 2)}"),f, :events, class: 'btn add_nested_fields', id: 'addEvent', onclick: 'addEvent();' %></p>
    </div>
    <%= render partial: 'links/documents', locals: { f: f } %>
  </div>
  <%= render partial: 'activities/form_buttons', locals: { f: f } %>
  
  <% end %>
</div>
    
<script>
    var eventsNum = $("#eventsNum").val();
    
    if (eventsNum < 2) {
      $("#rmEvent").hide();
    }
    
    function addEvent() {
      eventsNum++;
      $("#rmEvent").show();
    }
    
    function rmEvent() {
      eventsNum--;
      if (eventsNum < 2) {
        $("#rmEvent").hide();
      }
    }
//$('.ckeditor').ckeditor({});
</script>