
<div class="row">
  <div class="col-md-12">
    <h2><%= t('search_filter')%></h2>
  </div>
</div>

<div class="index-panel row well">  
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <%= content_tag :label, t('activity_filter.data_activity'), class: 'col-sm-6 control-label'%>
        <%= content_tag :label, t('activity_filter.start_date'), class: 'col-sm-2 control-label',style: "margin-left: 12rem" %>
        <%= content_tag :label, t('activity_filter.end_date'), class: 'col-sm-2 control-label',style: "margin-left: -4rem" %>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <%= text_field_tag :search_id, params["search_id"], placeholder: t('activity_filter.field_id'), class: 'form-control col-md-2', style: 'width: 60px; margin:0px 2px;'%>
          <div class="col-md-2" style= 'width: 191px; margin:0px 2px;'>
            <div class="row">
              <%= text_field_tag :enter_text, params['enter_text'] ,placeholder: t('volunteer_filter.input_text'), class: 'form-control col' %>
              <div class="tooltip col">
                <%=fa_icon "question-circle" ,class: "fa-1x"%>
                <span class="tooltiptext"><%=model_class.tooltip%></span>
              </div>
            </div>
          </div>          <%= text_field_tag :search_denominacion, params["search_denominacion"] ,placeholder: t('activity_filter.field_name'), class: 'form-control col-md-4',  style: 'width: 200px; margin:0px 2px;'%>
           <%= select_tag :search_status, options_for_select({ t('active') => :active, t('inactive') => :inactive, t('all')=>:all } ||{},params["search_status"]), include_blank: t('project_filter.field_select_state'),
              class:     'form-control col-md-6',
              id:        'search_status-select',
              style:     'width:100px; margin:0px 2px;' %>
        </div>
        <div class="col-sm-6">
          <%= content_tag :label, t('activity_filter.date'), class: 'col-sm-2 control-label', style: "margin-top: 10px" %>
          <%= simple_form_for(:search) do |f|%>
          <div class="col-sm-3 text-center" style="padding:0px; margin: 0px 10px 0px 0px;">
            <%= f.input :inicio_f,as: :string, label: false, input_html: {type: "date", value: params.permit!["search_inicio_f"]} %>
          </div>
          <div class="col-sm-3" >
            <%= f.input :fin_f,as: :string, label: false, input_html: {type: "date", value: params.permit!["search_fin_f"]}  %>
          </div>
          <label id="warningLabelFechaFormat"><%=t('warning_label_fecha_desde_format')%></label>
          <label id="warningLabelFechaFormat2"><%=t('warning_label_fecha_hasta_format')%></label>
          <%end%>
        </div>  
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="warningNumberProject" id="warning_id_activity" style="margin-top:2px;"><%=t('warningNumber')%></label>
        </div>
        <div class="col-md-6 ">
          <label id="warningLabelFecha"><%=t('project_filter.warning_label_date')%></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <%= select_tag :search_organizador, options_for_select(@hash_organizadores||{},params["fin_f"]), include_blank: t('activity_filter.field_entity'),
                        class:     'form-control col-md-4',
                        id:        'search_organizador-select',
                        style:     'width:230px; margin:0px 2px;' %>
          <%= select_tag :search_tipo, options_for_select(@hash_tipos||{},params["search_tipo"]), include_blank: t('activity_filter.field_type'),
                        class:     'form-control col-md-4',
                        id:        'search_tipo-select',
                        style:     'width:152px; margin:0px 2px;' %>
        </div>
        <div class="col-sm-4">
          <%= check_box_tag("search_rrss","search_rrss",!params["search_rrss"].blank?)%>
          <label><%=t('activity_filter.field_rrss')%></label>
        </div>
        <div class="col-sm-3">
          <%= check_box_tag("search_end_activity","search_end_activity",!params["search_end_activity"].blank? )%>
          <label><%=t('activity_filter.field_end_activity')%></label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-right" style="margin: 20px 0px 0px 0px;">
      <button  type="button" name="button" class="btn btn-primary" id= "buttonCleanActivity"
        class="btn btn-default"><%= t('reset_search') %></button>
      <button type="button" name="button" class="btn btn-success" id="buttonSearchActivity" 
      class="btn btn-default"><%= t('search') %></button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= content_tag(:div, link_to_new(model_class, fem: true,style: "margin-left:5px;"), class: '') %>
  </div>
</div>
<script>
function push_enter(event) {
    search_enter(event, search_js_activity);
}

 $(function() {
    $(":checkbox").on('change', function(){
        if (this.id != 'search_rrss' && this.id != 'search_end_activity') {

            changed_review($('#' + this.id), '#recarga-filtros', [
                ['isSearch', true, 'b'],
                ['page', 1, 'b'],
                ['per_page', $('#pages-select option:selected'), 'i'],
                ['search_id', $('#search_id'), 'i'],
                ['enter_text',$('#enter_text'),'s'],
                ['search_denominacion', $('#search_denominacion'),'s'],
                ['search_tipo',$('#search_tipo-select option:selected'), 's'],
                ['search_organizador', $('#search_organizador-select option:selected'),'s'],
                ['search_inicio_f', $('#search_inicio_f'), 's'],
                ['search_status', $('#search_status-select option:selected'), 's'],
                ['search_fin_f',$('#search_fin_f'), 's'],
                ['search_rrss' ,$('#search_rrss'), 'check'],
                ['search_end_activity', $('#search_end_activity'), 'check']]);
        }
    });
  });
    ////$(document).on('keypress', push_enter);

    $('#buttonSearchActivity').on('click', function() {
        search_js_activity();
    });

    $('#buttonCleanActivity').on('click', function() {
         $(location).attr('href', "<%=activities_url%>");
    });

    $('pages-select').on('change', function() {
        search_js_activity();
    });

    $('#enter_text').on('keyup', function() {
        correct_string($('#enter_text'));
    });

    $('#search_denominacion').on('keyup', function() {
        correct_string($('#search_denominacion'));
    });

    $('#search_id').on('keyup', function() {
        is_number($('#search_id'), $('warning_id_activity'), 'buttonSearchActivity');
    });

    $('#search_inicio_f').on('change', function() {
        valida_date_until($('#search_fin_f'), $('#search_inicio_f'), $('#warningLabelFecha'), $('warningLabelFechaFormat'), $('warningLabelFechaFormat2'), 'buttonSearchActivity');
    });

    $('#search_fin_f').on('change', function() {
        valida_date_until($('#search_inicio_f'), $('#search_fin_f'), $('#warningLabelFecha'), $('warningLabelFechaFormat'), $('warningLabelFechaFormat2'), 'buttonSearchActivity');
    });
</script>