<dl class="dl-horizontal"> 
  <dt><%= Activity.human_attribute_name(:id) %>:</dt> 
  <dd><%= @activity.id %></dd> 
  <dt><%= Activity.human_attribute_name(:name) %>:</dt> 
  <dd><%= @activity.name %></dd> 
  <dt><%= Activity.human_attribute_name(:description) %>:</dt> 
  <dd style="overflow-wrap: break-word;"><%= @activity.try(:description).blank? ? "" : Nokogiri::HTML(@activity.description).text %></dd> 
  <dt><%= Activity.human_attribute_name(:start_date) %>:</dt> 
  <dd><%= show_simple_date @activity.start_date %></dd> 
  <dt><%= Activity.human_attribute_name(:end_date) %>:</dt> 
  <dd><%= show_simple_date @activity.end_date %></dd> 
  <dt><%= Activity.human_attribute_name(:transport) %>:</dt> 
  <dd style="overflow-wrap: break-word;"><%= @activity.try(:transport).blank? ? "" : Nokogiri::HTML(@activity.transport).text %></dd> 
  <dt><%= Activity.human_attribute_name(:pdf_url) %>:</dt> 
  <dd><%= @activity.pdf_url %></dd> 
  <dt><%= Activity.human_attribute_name(:entity) %>:</dt> 
  <dd><%= @activity.entity %></dd> 
  <dt><%= Activity.human_attribute_name(:areas) %>:</dt> 
  <dd><%= @activity.get_areas %></dd> 
  <dt><%= Activity.human_attribute_name(:project) %>:</dt> 
  <dd><%= @activity.project %></dd> 
  <dt><%= Activity.human_attribute_name(:share) %>:</dt> 
  <dd><%= t("humanize.#{@activity.share}") %></dd> 
  <dt><%= Activity.human_attribute_name(:created_at) %>:</dt> 
  <dd><%= show_simple_date(@activity.created_at) %></dd> 
</dl> 