<%= main_title(t("action.edit", model: Activity.model_name.human)) %>
<div class="row">
  <div class="col-md-11">
    <p><strong><%= Activity.model_name.human  %>: </strong><%= @activity.id %></p>  
  </div>
  <%= render "activities/buttons_back" %>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>

<%= render "activities/buttons_back" %>
