<% model_class = Activity %>

<%= render partial: "common/title", locals: {model_class: model_class} %>
<%= render partial: "search", locals: {collection: @activities,model_class: model_class} %>
<div id="recarga-filtros">
  <%= render partial: "shared/count", locals: {collection: @activities, model_class: model_class, count: @activities.count, csv_enable: true, url: activities_path({format: "csv", questions: false}.merge!(params.permit!.except(:questions))) } %>
  <%= render partial: "common/generic_table", locals: {search: @search_q,collection: @activities, model_class: model_class, partial: 'activity' } %>
  <%= render partial: "shared/pagination", locals: {collection: @activities, urlchange: "search_js_activity()"} %>
</div>
