<%= main_title(t("action.show", model: Activity.model_name.human)) %>
<div class="row">
  <div class="col-md-12">
    <%= render partial: 'show', locals: { activity: @activity } %>
  </div>
</div>
<% unless request.xhr? %>
  <%= link_to( t('action.back'),activities_path, class: 'btn btn-default') %>
  <%= button_to_edit(@activity) %>
<% end %>