<div class="well">
  <%= simple_form_for(@service,  as: :service,method: method, url: path) do |f| %>

    <div class="form-inputs">
      <%= f.input :code %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :mta_order%>
      <%= f.input :active %>
      <%= f.input :is_digital %>
      <%= f.input :normal_flow %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>