<tr id="<%= dom_id(service) %>" >

  <% Service.main_columns.each do |attr_name| %>
    <td><%= show_attr(service, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(service, path: "administration_catalogue_service_path") %>
    <%= link_to_edit(service, path: "edit_administration_catalogue_service_path") %>
<% if service.try(:archived?) %>
    <%= link_to_recover(service, path: "recover_administration_catalogue_service_path") %>
<% else %>
    <%= link_to_destroy(service, path: "administration_catalogue_service_path") %>
<% end %>
  </td>
</tr>
