
<dl class="dl-horizontal">

  <dt><%= Service.human_attribute_name(:id) %>:</dt>
  <dd><%= @service.id %></dd>
  <dt><%= Service.human_attribute_name(:code) %>:</dt>
  <dd><%= @service.code %></dd>
  <dt><%= Service.human_attribute_name(:mta_order) %>:</dt>
  <dd><%= @service.mta_order.to_i %></dd>
  <dt><%= Service.human_attribute_name(:name) %>:</dt>
  <dd><%= @service.name %></dd>
  <dt><%= Service.human_attribute_name(:description) %>:</dt>
  <dd><%= @service.description %></dd>
  <dt><%= Service.human_attribute_name(:active) %>:</dt>
  <dd><%= t("humanize.#{@service.active}") %></dd>
  <dt><%= Service.human_attribute_name(:is_digital) %>:</dt>
  <dd><%= t("humanize.#{@service.is_digital}") %></dd>
  <dt><%= Service.human_attribute_name(:normal_flow) %>:</dt>
  <dd><%= t("humanize.#{@service.normal_flow}") %></dd>
  <dt><%= Service.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@service.created_at) %></dd>

</dl>