<%= main_title(t("action.edit", model: Service.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :put, path: administration_catalogue_service_path(@service) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_services_path, class: 'btn btn-default') %>