<div class="well">
  <%= simple_form_for(@trait, as: :trait,method: method, url: path) do |f| %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :active %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>