
<dl class="dl-horizontal">

  <dt><%= Trait.human_attribute_name(:id) %>:</dt>
  <dd><%= @trait.id %></dd>
  <dt><%= Trait.human_attribute_name(:name) %>:</dt>
  <dd><%= @trait.name %></dd>
  <dt><%= Trait.human_attribute_name(:active) %>:</dt>
  <dd><%= t("humanize.#{@trait.active}") %></dd>
  <dt><%= Trait.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@trait.created_at) %></dd>

</dl>