<tr id="<%= dom_id(trait) %>" >

  <% Trait.main_columns.each do |attr_name| %>
  <td><%= show_attr(trait, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(trait, path: "administration_catalogue_trait_path") %>
    <%= link_to_edit(trait, path: "edit_administration_catalogue_trait_path") %>
<% if trait.try(:archived?) %>
    <%= link_to_recover(trait, path: "recover_administration_catalogue_trait_path") %>
<% else %>
    <%= link_to_destroy(trait, path: "administration_catalogue_trait_path") %>
<% end %>
  </td>
</tr>
