<%= main_title(t("action.edit", model: Trait.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :put, path: administration_catalogue_trait_path(@trait) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_traits_path, class: 'btn btn-default') %>