
<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: "search", locals: {search: @traits,model_class: @model_class} %>
<%= render partial: "common/generic_table", locals: {search: @search_q,collection: @traits, model_class: @model_class, partial: 'trait' } %>
<%= render partial: "shared/pagination", locals: {collection: @traits, urlchange: "search_js_traits()"} %>
<%=render partial: "common/button_back", locals: {path: maintenance_path, method: :get}%>