<tr id="<%= dom_id(unsubscribe_reason) %>" >

  <% UnsubscribeReason.main_columns.each do |attr_name| %>
    <td><%= show_attr(unsubscribe_reason, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(unsubscribe_reason, path: "administration_catalogue_unsubscribe_reason_path") %>
    <%= link_to_edit(unsubscribe_reason, path: "edit_administration_catalogue_unsubscribe_reason_path") %>
<% if unsubscribe_reason.try(:archived?) %>
    <%= link_to_recover(unsubscribe_reason, path: "recover_administration_catalogue_unsubscribe_reason_path") %>
<% else %>
    <%= link_to_destroy(unsubscribe_reason, path: "administration_catalogue_unsubscribe_reason_path") %>
<% end %>
  </td>
</tr>
