<%= main_title(t("action.edit", model: UnsubscribeReason.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :put, path: administration_catalogue_unsubscribe_reason_path(@unsubscribe_reason) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_unsubscribe_reasons_path, class: 'btn btn-default') %>