<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: "search", locals: {search: @unsubscribe_reasons,model_class: @model_class} %>
<%= render partial: "common/generic_table", locals: {search: @search_q,collection: @unsubscribe_reasons, model_class: @model_class, partial: 'unsubscribe_reason' } %>
<%= render partial: "shared/pagination", locals: {collection: @unsubscribe_reasons, urlchange: "search_js_unsubscribe_reason()"} %>
<%=render partial: "common/button_back", locals: {path: maintenance_path, method: :get}%>