<dl class="dl-horizontal">

  <dt><%= Pt::Social.human_attribute_name(:id) %>:</dt>
  <dd><%= pt_social.id %></dd>

  <dt><%= Pt::Social.human_attribute_name(:is_project_social) %>:</dt>
  <dd><%= t("humanize.#{pt_social.is_project_social?}") %></dd>

  <dt><%= Pt::Social.human_attribute_name(:notes) %>:</dt>
  <dd><%= pt_social.try(:notes).blank? ? "" : Nokogiri::HTML(pt_social.notes).text %></dd>
  <dt><%= Pt::Social.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(pt_social.created_at) %></dd>

</dl>
