<dl class="dl-horizontal">

  <dt><%= Pt::Centre.human_attribute_name(:id) %>:</dt>
  <dd><%= @pt_centre.id %></dd>
  <dt><%= Pt::Centre.human_attribute_name(:notes) %>:</dt>
  <dd><%= @pt_centre.try(:notes).blank? ? "" : Nokogiri::HTML(@pt_centre.notes).text %></dd>
  <dt><%= Pt::Centre.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@pt_centre.created_at) %></dd>

</dl>
