<%= main_title(t("action.new", model: Pt::Centre.model_name.human)) %>

<%= render partial: "pt/back_button" %>

<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>

<%= render partial: "pt/back_button" %>
