<div class="well panel_custom row ">
    <div class="col-md-12">
        
            <%= hidden_field_tag :format, "csv" %>
            <div class="row">
                <%= collection_check_boxes(:district, :ids, @hash_districts,:last,:first ) do |b| 
                    b.label(class: "col-md-2") { b.check_box(class: "col-md-2") + b.text}
                end%>
            </div> 
    </div>
</div>
