<div class="index-panel row well">
    <div class="col-md-6" style="margin-top:6px;">
      <%=t('tracking.find')%>: <%= model_count %>
    </div>
    <div class="col-md-6 text-right">
      <%= link_to_download_rt(model_class, class: "btn btn-success") %>
    </div>
</div>
