<div class="row">
  <div class="col-md-6">
    <h3><%= t('common_fields') %></h3>
    <%= render partial: 'request_forms/show', locals: {request_form: request.request_form} %>
  </div>
  <div class="col-md-6">
    <h3><%= t('specific_fields') %></h3>
    <%= render partial: ruta, locals: { request: request}%>
  </div>
</div>