<div style="width:100%;overflow-x:auto;">
  <table class="index-table" >
    <thead>
      <tr>
      <% model_class.main_columns.each do |column| %>
        <%if model_class.try(:normal_columns).blank? || !model_class.try(:normal_columns).include?(column)%>
          <th><%= sort_link(search, column, model_class.human_attribute_name(column)) %></th>
        <%else%>
          <th><%=model_class.human_attribute_name(column) %></th>
        <%end%>
      <% end -%>

        <th class="actions index_table-actions">
          <%= t('actions') %>
        </th>
      </tr>
    </thead>
    
    <tbody>
      <%= render(partial: partial, collection: collection)%>
    </tbody>
  </table>
</div>