<tr id="<%= dom_id(digital_topic) %>" >
  <% Digital::Topic.main_columns.each do |attr_name| %>
    <td><%= attr_name.to_s=="body" && !show_attr(digital_topic, attr_name).blank? ? Nokogiri::HTML(show_attr(digital_topic, attr_name)).text  : show_attr(digital_topic, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(digital_topic, path: "digital_topic_path") %>
    <%= link_to_edit(digital_topic, path: "edit_digital_topic_path") %>
    <% if digital_topic.try(:archived?) %>
        <%= link_to_recover(digital_topic, path: "recover_digital_topic_path") %>
    <% else %>
        <%= link_to_destroy(digital_topic, path: "digital_topic_path") %>
    <% end %>
  </td>
</tr>
