<%= simple_form_for(@digital_topic, as: :digital_topic,method: method, url: path) do |f| %>
<%=render 'shared/errors', errors: @digital_topic.errors, model: Digital::Topic%>
  <div class="form-inputs row">
    <div class="col-md-6">
      <%= f.input :title %>
    </div>
  </div>
  <div class="form-inputs row">
    <div class="col-md-12">
      <%=f.label :body%>
      <%= f.text_area :body , class: "ckeditor" %>
    </div>
  </div>
  <div class="form-inputs row" style="margin-top: 2rem">
    <div class="col-md-6">
      <%= f.association :project,:collection => @projects_permited, input_html: {value: f.object.project_id || params[:project_id]}%>
    </div>
    <div class="col-md-3">
      <%= f.input :active %>
    </div> 
    <div class="col-md-3">
      <%=f.label :votes, "#{t("digital_manage.topics.votes")}: "%>
      <%=@digital_topic.votes %>
    </div>   
  </div>
  <%if !f.object.id.blank?%>
    <div class=" row well ">
      <h2><%=t("digital_manage.topics.follows_title")%></h2>
      <%if !@digital_topic.digital_follows.blank?%>
        <table class="index-table" id="digital_follows" >
          <thead>
            <tr>
              <th><%=t("digital_manage.topics.follows.id")%></th>
              <th><%=t("digital_manage.topics.follows.volunteer")%></th>
              <th><%=t("digital_manage.topics.follows.value")%></th>
              <th><%=t("digital_manage.topics.follows.actions")%></th>
            </tr>
          </thead>
          <tbody class="form-inputs">
            <%@digital_topic.digital_follows.each do |fw|%>
              <tr>
                <td><%=fw.userable.loggable.id_autonum%></td>
                <td><%=fw.userable.loggable%></td>
                <td><%=fw.userable.digital_votes.find_by(votable: @digital_topic).try(:value).to_i%></td>
                <td>
                  <%= link_to_edit(fw, path: "edit_digital_follow_path", remote: true) %>
                  <%= link_to_destroy(fw, path: "digital_follow_path") %>
                </td>
              </tr>
            <%end%>
          <tbody>
        </table>
      
      <%else%>
        <p><%=t("digital_manage.topics.follows.no_data")%></p>
      <%end%>
        <%=link_to "<i class='fa fa-plus'></i> #{t("digital_manage.topics.follows.new_button")}".html_safe,new_digital_follow_path(digital_topic_id: @digital_topic), remote: true, class: "btn btn-success"%>
    </div>

    <div class="form-inputs row well ">
      <h2><%=t("digital_manage.topics.comments_title")%></h2>
      <%if !@digital_topic.digital_comments.blank?%>
        <table class="index-table" id="digital_follows" >
          <thead>
            <tr>
              <th><%=t("digital_manage.topics.comments.id_coment")%></th>
              <th><%=t("digital_manage.topics.comments.id")%></th>
              <th><%=t("digital_manage.topics.comments.full_name")%></th>
              <th><%=t("digital_manage.topics.comments.type")%></th>
              <th><%=t("digital_manage.topics.comments.comment")%></th>
              <th><%=t("digital_manage.topics.comments.date")%></th>
              <th><%=t("digital_manage.topics.comments.response")%></th>
              <th><%=t("digital_manage.topics.comments.actions")%></th>
            </tr>
          </thead>
          <tbody class="form-inputs">
            <%@digital_topic.digital_comments.reorder(Arel.sql("case when digital_comment_id is not null then digital_comment_id+0.5 else id end asc, created_at asc")).each do |fw|%>
              <tr>
                <td><%=fw.id%></td>
                <td><%=fw.userable.loggable_type=="Volunteer" ? fw.userable.loggable.id_autonum : fw.userable.loggable.id%></td>
                <td><%=fw.userable.loggable%></td>
                <td><%=fw.userable.loggable_type%></td>
                <td><%=Nokogiri::HTML(fw.body).text if !fw.body.blank?%></td>
                <td><%=fw.created_at.strftime("%d/%m/%Y %H:%M")%></td>
                <td><%=fw.digital_comment.blank? ? "-" : "Respuesta de #{fw.digital_comment.id}"%></td>
                <td>
                  <%= link_to_show(fw, path: "digital_comment_path") %>
                  <%= link_to "<i class='fa fa-reply'></i>".html_safe,comment_respond_digital_comment_path(fw), remote: true, title: t("digital_manage.topics.comments.reply_action"),alt: t("digital_manage.topics.comments.reply_action") if fw.digital_comment.blank? && fw.userable.id != current_user.id %>
                  <%= link_to_edit(fw, path: "edit_digital_comment_path", remote: true) if fw.userable.id == current_user.id %>
                  <% if fw.try(:archived?) %>
                      <%= link_to_recover(fw, path: "recover_digital_comment_path") %>
                  <% else %>
                      <%= link_to_destroy(fw, path: "digital_comment_path") %>
                  <% end %>
                </td>
              </tr>
            <%end%>
          <tbody>
        </table>
      <%else%>
        <p><%=t("digital_manage.topics.comments.no_data")%></p>
      <%end%>
      <%=link_to "<i class='fa fa-plus'></i> #{t("digital_manage.topics.comments.new_button")}".html_safe,new_digital_comment_path(digital_topic_id: @digital_topic), remote: true, class: "btn btn-success"%>
    </div>
  <%end%>
  <div class="form-actions row">
    <div class="col-md-12">
      <%= f.button :submit, class: "btn btn-success" %>
    </div>
  </div>
<% end %>