<dl class="dl-horizontal">
  <dt><%= Digital::Topic.human_attribute_name(:id) %>:</dt>
  <dd><%= @digital_topic.id %></dd>
  <dt><%= Digital::Topic.human_attribute_name(:title) %>:</dt>
  <dd><%= @digital_topic.title %></dd>
  <dt><%= Digital::Topic.human_attribute_name(:description) %>:</dt>
  <dd><%= Nokogiri::HTML(@digital_topic.body).text if !@digital_topic.body.blank? %></dd>
  <dt><%= Digital::Topic.human_attribute_name(:active) %>:</dt>
  <dd><%= t("humanize.#{@digital_topic.active}") %></dd>
  <dt><%= Digital::Topic.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@digital_topic.created_at) %></dd>
</dl>