<%= main_title(t("action.edit", model: Digital::Topic.model_name.human)) %>

<div class="row well">
  <div class="col-md-12">
    <%= render 'form', method: :put, path: digital_topic_path(@digital_topic) %>
  </div>
</div>

<%=render partial: "common/button_back", locals: {path: digital_topics_path(search_project:@digital_topic.project_id), method: :get}%>
