
<%= render partial: "common/title", locals: {model_class: @model_class} %>
<%= render partial: "search", locals: {collection: @digital_topics, model_class: @model_class} %>
<%if !params[:search_project].blank?%>
  <%= render partial: "common/generic_table", locals: {search: @search_q,collection: @digital_topics, model_class: @model_class, partial: 'digital_topic' } %>
  <%= render partial: "shared/pagination", locals: {collection: @digital_topics } %>
<%end%>
<%=render partial: "common/button_back", locals: {path: digital_manage_path, method: :get}%>

