<%= main_title(t("action.new", model: Digital::Topic.model_name.human)) %>

<div class="row well">
  <div class="col-md-12">
    <%= render 'form', method: :post, path: digital_topics_path %>
  </div>
</div>

<%=render partial: "common/button_back", locals: {path: digital_topics_path(search_project: params[:project_id]), method: :get}%>
