<div class="container-fluid">
  <%= simple_form_for(@component, as: :virtual_community_component,method: :put, url: virtual_community_update_component_path(@component)) do |f| %>
   
    <div class="row">
      <div class="col-md-12">
        <h1><%= @component.denomination%></h1>
      </div>
    </div>
    <div class="index-panel row well">
      <%= show_simple_base_errors(f) %>
      <%=render 'shared/errors', errors: @component.errors, model: VirtualCommunity::Component%>
      <%if ["primary","subcomponent","normal","access_login"].include?(@component.component_type.code)%>
        <div class="col-md-6">
          <%=f.input :title%>
        </div>
      <%end%>
      <%if ["subcomponent","normal","access_login"].include?(@component.component_type.code)%>
        <div class="col-md-6">
          <%=f.input :subtitle%>
        </div>
      <%end%>
      <%if ["normal","access_login","forms"].include?(@component.component_type.code)%>
        <div class="col-md-12">
          <%=f.input :content, type: :textarea,input_html: {class: "ckeditor"}%>
        </div>
      <%end%>
      <%if ["subcomponent"].include?(@component.component_type.code)%>
        <div class="col-md-3">
         <%=f.input :order, type: :integer%>
        </div>
      <%end%>
      <%if ["primary"].include?(@component.component_type.code)%>
        <div class="col-md-6">
          <%=f.input :image_header%>
          <%= link_to "<i class='fa fa-file-image-o'></i> Imagen de cabecera".html_safe,f.object.image_header.url, class: "btn btn-success",target: "_blank" if File.exist?(f.object.image_header.path)%>
        </div>
      <%end%>
    </div>
    <%if ["access_login"].include?(@component.component_type.code)%>
      <div class="index-panel row well">  
        <div class="col-md-12">
          <%=f.input :button_active, input_html: {onchange: "showButtonActive($(this))"}%>
        </div>
        <div id="content_button" style='<%=f.object.button_active ? "" : "display: none"%>'>
          <div class="col-md-6">
            <%=f.input :button_title%>
          </div>
          <div class="col-md-6">
            <%=f.input :button_alt_title%>
          </div>
        </div>
      </div>
    <%end%>
    <div class=" row well">  
      <div class="col-md-12">
        <%=f.button :button,type: "submit",  class: "btn btn-success ", style: "margin-top: 2rem;" do  %>
          <%="#{fa_icon "save" ,class: "fa-1x"} Actualizar".html_safe%>
        <%end%>
      </div>
    </div>
  <%end%>
  <%if !@child_components.blank?%>
    <div class="row well">
      <h3><%= "Subcomponentes" %></h3>
      <div class="panel-list row" style="margin-top: 5rem">
        <%@child_components.each do |c|%>
          <div class="col-md-6">
            <div class="panel panel-info" onclick="window.location='<%= virtual_community_component_path(id: c.id) %>';">
              <div class="panel-heading">
                <h3 class="panel-title"><%=c.denomination%></h3>
              </div>
              <div class="panel-body"></div>
            </div>
          </div>
        <%end%>
      </div>
    </div> 
  <%end%> 
</div>
<%=render partial: "common/button_back", locals: {path: !@component.component_parent.blank? ? virtual_community_component_path(id: @component.component_parent.id) : virtual_community_path, method: :get}%>
<script>
  function showButtonActive(button) {
    if(button.prop('checked')) {
      $("#content_button").show();
    } else {
      $("#content_button").hide();
    }
  }  
</script>
