<div class="jumbotron scale">
  <h1><%= "Gestionar contenido CV" %></h1>
  <div class="panel-list row" style="margin-top: 5rem">
    <%@components.each do |c|%>
      <div class="col-md-6">
        <div class="panel panel-info" onclick="window.location='<%= virtual_community_component_path(id: c.id) %>';">
          <div class="panel-heading">
            <h3 class="panel-title"><%=c.denomination%></h3>
          </div>
          <div class="panel-body"></div>
        </div>
      </div>
    <%end%>
  </div>
</div>
<%=render partial: "common/button_back", locals: {path: administration_path, method: :get}%>
