<div class="well well-tracking">
  <%= simple_form_for(@volun_tracking, default_form_options) do |f| %>
  <input type="hidden" name="project_id_assoc" value="<%= params[:project_id_assoc] %>" />
  <div class="form-inputs">
          <%= hidden_field_tag :no_project, params[:no_project]%>
          <%= hidden_field_tag :volunteer_id, params[:volunteer_id]%>
          <%= hidden_field_tag :update_volun, params[:update_volun]%>
          <%= f.association :volunteer, input_html: { disabled: true, id: 'volunteer', attr_data: @volun_tracking.volunteer.to_s }, :label_method => lambda { |volunteer| "#{volunteer.to_s}" } %>
          <%= f.association :tracking_type, collection: @tracking_types_active %> 
          <div class="col-sm-5"></div>
          <div class="col-sm-7" style="margin: 10px 0px;">
            <%= render 'volunteers/search' %>
          </div>
          <div id="recarga-formulario">
            <%= f.association :project, collection: @projects, :label_method => lambda { |project|"#{project.id}.  "+"  #{project.name}" } %>
          </div>
          <%= f.input :manager, input_html: { disabled: true, id: 'manager', value: current_user.loggable } %>
          <%= f.input :manager_id, as: :hidden, input_html: { value: current_user.loggable_id } %>
          <%= f.input :tracked_at, as: :string, input_html: {type: "datetime-local",value: f.object.tracked_at.blank? ? Time.zone.now.strftime("%Y-%m-%d %H:%M") : f.object.tracked_at.strftime("%Y-%m-%d %H:%M")} %>
          <%= f.input :comments, input_html: { id: 'tracking-comment' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, id: "SubmitButtonTrack" %>
  </div>
  <% end %>
</div>

<script>


  $('#SubmitButtonTrack').on('click', function() {
        $('#volunteer').attr("disabled", false);
        $('#manager').attr("disabled", false);
      });

    $('#buttonSearch').on('click', function() {
        search_generic([['search_id',$('#search_id'),'i'],
        ['volunteer_id',$('#volunteer_id'),'i'],
        ['no_project',$('#no_project'),'s'],
        ['update_volun',$('#update_volun'),'s'],
        ['search',$('#search'),'s']],'#recarga-formulario')
    });

    $('#buttonClean').on('click', function() {
      console.log('<%=@volun_tracking.id.blank?%>')
        if ('<%=@volun_tracking.id.blank?%>' == 'false') {
         $(location).attr('href', "<%=@volun_tracking.id.blank? ? "" : edit_volun_tracking_path(id: @volun_tracking.id, volunteer_id: params[:volunteer_id],no_project: params[:no_project] ,update_volun: params[:update_volun] )%>");
       } else {
          $(location).attr('href', "<%=new_volun_tracking_path(volunteer_id: params[:volunteer_id],no_project: params[:no_project] ,update_volun: params[:update_volun])%>");
       }
    });

    $('#search').on('keyup', function() {
        correct_string($("#search"));
    });

</script>
