<div class="index-panel row well">
  <div class="col">
    <div class="row">
      <%= content_tag :label, t('trackings_filter.data_tracking'), class: 'col-sm-8 control-label', style: 'margin-right: -6rem;' %>
      <%= content_tag :label, t('trackings_filter.start_date'), class: 'col-sm-1 control-label', style: 'width: 18rem' %>
      <%= content_tag :label, t('trackings_filter.end_date'), class: 'col-sm-1 control-label', style: 'width: 18rem' %>  
    </div>
    <%=hidden_field_tag "q[view_list_volunteer_id_eq]", params[:q][:view_list_volunteer_id_eq]%>
    <div class="row" style="padding-left: 20px;">
     <div class="col-md-2" style= 'width: 191px; margin:0px 2px;'>
          <div class="row">
            <%= text_field_tag :search_enter_text, params["search_enter_text"] ,placeholder: t('volunteer_filter.input_text'), class: 'form-control col' %>
            <div class="tooltip col">
              <%=fa_icon "question-circle" ,class: "fa-1x"%>
              <span class="tooltiptext"><%=model_class.tooltip%></span>
            </div>
          </div>
        </div>
      <%= select_tag :search_tipo, options_for_select(@hash_tracking_types||{},params["search_tipo"]), include_blank: t('trackings_filter.tracking_type'),
                      class:     'form-control col-md-3',
                      id:        'search_tipo-select',
                      style:     'width:200px; margin:0px 2px;' %>
      <%= text_field_tag :search_project, params["search_project"], placeholder: t('trackings_filter.project'), class: 'form-control col-md-3', style: 'width: 130px; margin:0px 2px;'%>
      <%= text_field_tag :search_manager, params["search_manager"], placeholder: t('trackings_filter.manager'), class: 'form-control col-md-3', style: 'width: 130px; margin:0px 2px;'%>
      <div class="col-sm-2">
        <%= content_tag :label, t('trackings_filter.tracking_date'), class: 'control-label', style: 'margin: 7px 0px 0px 19px;' %>
      </div>
        <%= simple_form_for(:search) do |f|%>
      <div class="col-sm-1" style="width: 18rem; margin: 0px 2px;">
        <%= f.input :inicio_f,as: :string, label: false, input_html:  {type: "date", value: params.permit!["inicio_f"]} %>
      </div>
      <div class="col-sm-1" style="width: 18rem; margin: 0px 2px;" >
        <%= f.input :fin_f,as: :string, label: false, input_html:  {type: "date", value: params.permit!["fin_f"]} %>
      </div>
      <%end%>
    </div>
    <div class="row text-right" style="margin: 0px 20px;">
      <div class="col">
        <label class="text-center" id="warningLabelFecha"><%=t('warning_label_fecha')%></label>
        <label class="text-center" id="warningLabelFechaFormat"><%=t('warning_label_fecha_desde_format')%></label>
        <label class="text-center" id="warningLabelFechaFormat2"><%=t('warning_label_fecha_hasta_format')%></label>
      </div>
    </div>
    <div class="row pull-right" style="margin: 30px 0px 0px 0px;">
			<div class="col-md-12" >
      			<button type="button" name="button" class="btn btn-primary" id="buttonCleanTrackVolunteer"><%= t('reset_search') %></button>
      			<button type="button" id="buttonSearchTrackVolunteer" name="button" class="btn btn-success" class="btn btn-default"><%=t 'search'%></button>
    		</div>
		</div>
  </div>
</div>


<div class="row">
  <div class="col">
    <%= content_tag(:div, link_to_new(model_class, path_params: {update_volun: params[:update_volun],no_project: params[:no_project],  volunteer_id: @volunteer.try(:id), project_id_assoc: params[:project_id_assoc] }), class: 'pull-left') %>
  </div>
</div>
<script>
function push_enter(event){
    search_enter(event,search_js_track_volunteers);
}


 
    //////$(document).on('keypress', push_enter);
    
    $('#buttonSearchTrackVolunteer').on('click', function() {
        search_js_track_volunteers();
    });

    $('#buttonCleanTrackVolunteer').on('click', function() {
       $(location).attr('href', "<%=volun_trackings_path("q[view_list_volunteer_id_eq]" => params[:q][:view_list_volunteer_id_eq])%>");
    });

    $('#pages-select').on('change', function() {
        search_js_track_volunteers();
    });

    $('#search_enter_text').on('keyup', function() {
        correct_string($('#search_enter_text'));
    });

    $('#search_manager').on('keyup', function() {
        correct_string($('#search_manager'));
    });

    $('#search_project').on('keyup', function() {
        correct_string($('#search_project'));
    });

    $('#search_inicio_f').on('keyup', function() {
        valida_date_until($('#search_fin_f'),$("#search_inicio_f"),$("#warningLabelFecha"),$("#warningLabelFechaFormat"),$("#warningLabelFechaFormat2"),'buttonSearchTrackVolunteer')
    });

    $('#search_fin_f').on('keyup', function() {
        valida_date_until($("#search_fin_f"),$("#search_inicio_f"),$("#warningLabelFecha"),$("#warningLabelFechaFormat"),$("#warningLabelFechaFormat2"),'buttonSearchTrackVolunteer')
    });

    $("#volunteer option:selected").html($("#volunteer").attr('attr_data'));


    $('#SubmitButtonTrack').on('click', function() {
        $('#volunteer').attr("disabled", false);
        $('#manager').attr("disabled", false);
      });
</script>