<dl class="dl-horizontal">

  <dt><%= Volun::Tracking.human_attribute_name(:volunteer) %>:</dt>
  <dd><%= @volun_tracking.volunteer %></dd>
  <dt><%= Volun::Tracking.human_attribute_name(:tracking_type) %>:</dt>
  <dd><%= @volun_tracking.tracking_type %></dd>
  <dt><%= Volun::Tracking.human_attribute_name(:project) %>:</dt>
  <dd><%= @volun_tracking.project %></dd>
  <dt><%= Volun::Tracking.human_attribute_name(:manager) %>:</dt>
  <dd><%= @volun_tracking.manager %></dd>
  <% unless @volun_tracking.request_form.nil? %>
    <dt><%= Volun::Tracking.human_attribute_name(:request_form) %>:</dt>
    <dd><%= @volun_tracking.request_form.request_type %></dd>
  <% end %>
  <dt><%= Volun::Tracking.human_attribute_name(:tracked_at) %>:</dt>
  <dd><%= show_simple_date(@volun_tracking.tracked_at) %></dd>
  <dt><%= Volun::Tracking.human_attribute_name(:comments) %>:</dt>
  <dd><%= @volun_tracking.comments %></dd>
  <dt><%= Volun::Tracking.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(@volun_tracking.created_at) %></dd>

</dl>