<tr id="<%= dom_id(volun_tracking) %>" >

  <% Volun::Tracking.main_columns.each do |attr_name| %>
    <td>
      <% if attr_name.to_s=="request_form" && !volun_tracking.request_form.try(:request_type).blank?%>
        <%= volun_tracking.request_form.try(:request_type) %>
      <%else%>
        <%= show_attr(volun_tracking, attr_name) %>
      <%end%>
    </td>
  <% end %>
  <td class="index_table-actions">
    <%= link_to_show(volun_tracking, path: "volun_tracking_path") %>
    <% unless volun_tracking.automatic %>
      <%= link_to_edit(volun_tracking, path: "edit_volun_tracking_path", path_params: {update_volun: params[:update_volun],no_project: params[:no_project], project_id_assoc: params[:project_id_assoc] }) %>
    <% end %>
    <% unless volun_tracking.automatic%>
      <% if volun_tracking.try(:archived?) %> 
        <%= link_to_recover(volun_tracking, path: "recover_volun_tracking_path", path_params: {update_volun: params[:update_volun],no_project: params[:no_project], project_id_assoc: params[:project_id_assoc] }) %> 
      <% else %> 
        <%= link_to_destroy(volun_tracking, path: "volun_tracking_path", path_params: {update_volun: params[:update_volun],no_project: params[:no_project], project_id_assoc: params[:project_id_assoc] }) %> 
      <% end %> 
    <% end %>
  </td>
</tr>
