<%= main_title(t("action.edit", model: Volun::Tracking.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form' %>
  </div>
</div>

<%= link_to( t('action.back'), volun_trackings_path("q[view_list_volunteer_id_eq]"=>@volun_tracking.volunteer_id,update_volun: params[:update_volun],no_project: params[:no_project]), class: 'btn btn-default') %> 