<% model_class = Volun::Tracking %>

<%= render partial: "common/title", locals: {model_class: model_class, name: "#{@volunteer.try(:id_autonum).blank? ? @volunteer.try(:id) : @volunteer.try(:id_autonum)} #{@volunteer.try(:name)} #{@volunteer.try(:last_name)} #{@volunteer.try(:last_name_alt)}"} %>
<%= render partial: "search", locals: {collection: @ent_trackings, model_class: model_class} %>
<div id="recarga-filtros">
  <%= render partial: "shared/count", locals: {collection: @volun_trackings, model_class: model_class, count: @volun_trackings.count, csv_enable: true, url: volun_trackings_path({format: "csv"}.merge!(params.permit!.except(:questions))) } %>
  <%= render partial: "data_table", locals: {collection: @volun_trackings, model_class: model_class } %>
  <%= render partial: "shared/pagination", locals: {collection: @volun_trackings, urlchange: "search_js_track_volunteers()"} %>
</div>

<div class="col-md-12"> 
  <div class="col-md-1"> 
    <% if params[:update_volun].blank?  
      if params[:project_id_assoc].blank?%>
        <%= link_to( t('action.back'), volunteers_path, class: 'btn btn-default') %> 
      <%else%>
        <%= link_to( t('action.back'), project_volunteers_path(params.permit![:project_id_assoc],q:{projects_id_eq: params[:project_id_assoc],derivaty_project: params[:derivaty_project] }), class: 'btn btn-default') %>
      <%end%>
    <% else %> 
      <%= link_to( t('action.back'), edit_volunteer_path(@volunteer,derivaty_project: params[:derivaty_project],no_project: params[:no_project],rt_volunteer_amendment_id: params[:rt_volunteer_amendment_id],from_project: params[:from_project],project: (params.permit![:project]||params[:project_id_assoc])), class: 'btn btn-default') %> 
    <% end %> 
  </div>
</div>

