<%= main_title(t("action.show", model: Volun::Tracking.model_name.human)) %>

<%=render "show"%>
<% unless request.xhr? %>
<%= link_to( t('action.back'), volun_trackings_path("q[view_list_volunteer_id_eq]"=>@volun_tracking.volunteer_id), class: 'btn btn-default') %> 
<%= button_to_edit(@volun_tracking) %>
<% end %>