 <div class="row well">
    <%= content_tag :h3, Address.model_name.human, class: 'form-subtitle' %>
    <% unless @amendment.blank? %>
        <div class="row well">
            <label class="col-sm-12" style='font-weight: bold; color: green; font-size:14px;'>Dirección modificada: 
                <%="#{@amendment.road_type}/#{@amendment.road_name}, #{@amendment.number_type}#{@amendment.road_number}," %>
                <%="(#{@amendment.province.try(:name)}) #{@amendment.town}, #{@amendment.borought.try(:name)}, #{@amendment.district.try(:name)}"%>
                <%="#{@amendment.postal_code}"%> </label>
        </div>
    <% end %>
    <%= f.simple_fields_for :address, (f.object.address.presence || f.object.build_address) do |f_address|  %>
        <% unless @subscribe.blank? 
            f.object.address.postal_code=@subscribe.postal_code unless @subscribe.postal_code.blank?
        end %>
        <%= render partial: 'addresses/form_fields', locals: { f: f_address } %>
    <% end %>
</div>
<% if @volunteer.persisted? && f.object.review? %>
    <%= f.input :review, as: :hidden, input_html: { id: 'review' } %>
    <div class="row well">
        <%= content_tag :h3, t('errors_title_volun'), class: 'form-subtitle' %>
        <% unless f.object.error_address.blank? %>
            <input type="hidden" id="err_add_val" value="<%= f.object.error_address %>" />
            <div class='row'>
            <%= f.input :error_address, wrapper_html: { class: 'col-md-6' } %>
            <div class='col-md-6'>
                <%= check_box_tag('rev_add', t('revised'), false) %>
                <label style='font-weight: normal;'>
                <%= t('revised') %>
                </label>
            </div>
            </div>
        <% end %>
        <% unless f.object.error_other.blank? %>
            <input type="hidden" id="err_oth_val" value="<%= f.object.error_other %>" />
            <div class='row'>
            <%= f.input :error_other, wrapper_html: { class: 'col-md-6' } %>
            <div class='col-md-6'>
                <%= check_box_tag('rev_oth', t('revised'), false) %>
                <label style='font-weight: normal;'>
                <%= t('revised') %>
                </label>
            </div>
            </div>
        <% end %>
    </div>
<% end %>
       