<div class="row well fields">
    <%= content_tag :h3, Volun::Assessment.model_name.human(count: 2), class: 'form-subtitle' %>
    <%= f.simple_fields_for :assessments do |f_assessments|  %>    
        <%=render "assessment_fields", f: f_assessments%>
    <% end %>
    <p><%= link_to_add_association icon_new(text: "#{Volun::Assessment.model_name.human}"),f, :assessments, class: 'add_nested_fields btn' %></p>
</div>