 <div class="row well">
    <%= content_tag :h3, Volun::Availability.model_name.human(count: 2), class: 'form-subtitle' %>
    <%= f.simple_fields_for :availabilities do |f_availabilities|  %>
        <%=render "availability_fields", f: f_availabilities%>
    <% end %>
    <p><%= link_to_add_association icon_new(text: "#{Volun::Availability.model_name.human}"),f, :availabilities, class: 'add_nested_fields btn' %></p>
</div>