<div class="row well">
    <div class="col-md-12">
        <%= params[:id].blank? ? t('generate_password') : link_to_password_volun(@volunteer) %> 
    </div>
</div>
<div class="row well">
    <div class="col-md-12">
        <div class="logo_block col-md-4">
            <% f.object.errors[:logo].each do |l| %>
                <div style="color: #a94442;font-size:16px"><%= l %></div>
            <% end %>
            <%= f.simple_fields_for :logo, (f.object.logo || f.object.build_logo) do |f_logo|  %>
                <%= render partial: 'links/logo', locals: { f: f_logo } %>
            <% end %>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6"><%= f.input :name, :input_html=> {style:  (@clase_estilo unless f.object.name.blank?)||'' } %></div>
                <div class="col-md-6"><%= f.input :last_name, :input_html=> {style:  (@clase_estilo unless f.object.name.blank?)||'' } %></div>
                <% unless @volunteer.last_name_alt.blank? %>
                    <div class="col-md-6"><%= f.input :last_name_alt, :input_html=> {style:  (@clase_estilo unless f.object.name.blank?)||'' } %></div>
                <% else %>
                    <div class="col-md-6"><%= f.input :last_name_alt %></div>
                <%end%>
                <div class="col-md-6"><%= f.association :nationality %></div>
                <div class="col-md-6"><%= f.association :gender %></div>
                <div class="col-md-6"><%= f.input :birth_date, as: :string, input_html: {type: "date", value: f.object.birth_date.blank? ? "" : f.object.birth_date.strftime('%Y-%m-%d'), onfocusout: 'setVolunAge()'} %></div>
                <div class="col-md-6" >
                    <div class="form-group">
                        <%= label_tag 'age', t('age'), class: 'col-sm-5 control-label string' %>
                        <%= text_field_tag 'age', !f.object.try(:age).blank? ? f.object.try(:age) : '0' , class: 'special_input', disabled: true %>
                    </div>
                </div>
            </div>
             <div class="row">
                <% unless f.object.new_record? %>
                    <%= f.input :subscribe_date, as: :string, input_html: {type: "date", value: f.object.subscribe_date.blank? ? "" : f.object.subscribe_date.strftime('%Y-%m-%d')}, wrapper_html: { class: 'col-md-6' } %>
                    <%  if !params[:nifd].blank? && params[:nifd].to_s=="true"
                        @volunteer.active=true
                        @volunteer.unsubscribe_date=""
                        @volunteer.unsubscribe_reason_id=""

                        unless @subscribe.blank?
                            @volunteer.name=@subscribe.name
                            @volunteer.last_name=@subscribe.last_name
                            @volunteer.last_name_alt=@subscribe.last_name_alt
                            @volunteer.is_adult = @subscribe.is_adult.to_s
                        end
                    end%>
                    <% f.object.unsubscribe_date = params[:volunteer][:unsubscribe_date] unless params[:unsubscribe_date].blank? %>
                    <%= f.input :unsubscribe_date, as: :string, input_html: {type: "date", value: f.object.unsubscribe_date.blank? ? "" : f.object.unsubscribe_date.strftime('%Y-%m-%d')}, wrapper_html: { class: 'col-md-6' } %>
                    <%= f.association :unsubscribe_reason, wrapper_html: { class: 'col-md-12' } %>
                    <%= button_tag  t('generate_document'), type: "button", class: 'btn btn-default col-md-12 pull-right', style: "margin: 10px 15px; width: 150px;", onClick: "window.open('#{volunteer_path(@volunteer, format: 'pdf')}','_blank')" if @volunteer.active==false %>        
                <% end %>
                <%= f.input :available, input_html: {onClick: 'setAvailDate()'}, wrapper_html: { class: 'col-md-6' } %>
                <%= f.input :availability_date, as: :string, input_html: {type: "date", value: f.object.availability_date.blank? ? "" : f.object.availability_date.strftime('%Y-%m-%d')}, wrapper_html: { class: 'col-md-6' } %>

                <%= f.input :retired, wrapper_html: { class: 'col-md-6'} %>
                <%= f.input :ec, wrapper_html: { class: 'col-md-6'} %>
            </div>
        </div>
    </div>
</div>
 <div class="row well">
    <%= f.association :document_type, collection: DocumentType.for_volunteers,  wrapper_html: { class: 'col-md-4' } %>
    <%= f.input :id_number, wrapper_html: { class: 'col-md-5' }, input_html: {onchange: "validation_document_type($(this),$('#id_number'),$('#id_number2'),$('#volunteer_document_type_id option:selected'))"} %>
    <label class="col text-center" id="id_number" style="display: none; color: #a94442; width: 100%"><%=t('validations.dni')%></label>
    <label class="col text-center" id="id_number2" style="display: none; color: #a94442; width: 100%"><%=t('validations.nie')%></label>
    <div class="col-md-3">
        <%= label_tag(:tester, t('volunteer_filter.search_tester')) %>
        <%= f.check_box(:tester,{style: "margin-left:1rem" }) %>
    </div>
     <div class="col-md-4">
        <%= f.input :is_adult,as: :select,collection: [[t("humanize.true") , "true"],[t("humanize.false") , "false"]],:selected => f.object.is_adult, include_blank: true, class: 'form-control' %>
    </div>
</div>
<div class="row well">
    <div class="col-md-12">
        <%= f.label :notes %>
        <%= f.text_area :notes , class: "ckeditor"  %>
    </div>
</div>
<div class="row well">
    <%= f.input :accompany_volunteer, wrapper_html: { class: 'col-md-12' } %>
    <%= f.input :cession_of_personal_data, wrapper_html: { class: 'col-md-12' } %>
    <%= f.input :publication_image_ayto, wrapper_html: { class: 'col-md-12' } %>
    <%= f.input :publication_image_ooaa, wrapper_html: { class: 'col-md-12' } %>
    <%= f.input :publication_image_social_network, wrapper_html: { class: 'col-md-12' } %>
    <%= f.input :publication_image_media, wrapper_html: { class: 'col-md-12' } %>
</div>
<div class="phone row well">
    <% unless @amendment.blank?
        @volunteer.email=@amendment.email
        @volunteer.phone_number=@amendment.phone_number
        @volunteer.phone_number_alt=@amendment.phone_number_alt
    end
        unless @subscribe.blank?
        @volunteer.email=@subscribe.email
        @volunteer.phone_number=@subscribe.phone_number
        @volunteer.phone_number_alt=@subscribe.phone_number_alt
        @volunteer.is_adult = @subscribe.is_adult.to_s
    end %>
    <%= f.input :email, wrapper_html: { class: 'col-md-6' } ,:input_html=> {onchange: "validation_email($(this),$('#email'))",style: @clase_solicitud}%>
    <%= f.input :phone_number, input_html: { onchange: "validation_telefono($(this),$('#phone_number'))", data: { mask: '999999999'},style: @clase_solicitud  }, wrapper_html: { class: 'col-md-3' } %>
    <% unless @volunteer.phone_number_alt.blank? %>
        <%= f.input :phone_number_alt, input_html: { onchange: "validation_telefono($(this),$('#phone_number_alt'))",data: { mask: '999999999'}, style: @clase_solicitud }, wrapper_html: { class: 'col-md-3' }%>
    <% else%>
        <%= f.input :phone_number_alt, input_html: { onchange: "validation_telefono($(this),$('#phone_number_alt'))",data: { mask: '999999999'} }, wrapper_html: { class: 'col-md-3' } %>
    <%end%>
    <div class="form-group col-md-6 text-center">
        <label  id="email" style="display: none; color: #a94442;"><%=t('validations.email')%></label>
    </div>
    <div class="form-group col-md-3 text-center">
        <label  id="phone_number" style="display: none; color: #a94442;"><%=t('validations.phone')%></label>
    </div>
    <div class="form-group col-md-3 text-center">
        <label id="phone_number_alt" style="display: none; color: #a94442;"><%=t('validations.phone')%></label>
    </div>
</div>
<div class="row well">
    <%= f.association :profession, wrapper_html: { class: 'col-md-6' } %>
    <%= f.association :next_point, wrapper_html: { class: 'col-md-6' } %>
    <%= f.association :status, wrapper_html: { class: 'col-md-6' } %>
    <%= f.association :employment_status, wrapper_html: { class: 'col-md-6' } %>
</div>