<div class="row well nested-fields">
    <%= content_tag :h3, Degree.model_name.human(count: 2), class: 'form-subtitle' %>
    <div class="row well col-md-12">
        <%= f.association :academic_level, wrapper_html: { class: 'col-md-6' } %>
    </div>
    <%= f.simple_fields_for :degrees do |f_degrees|  %>
        <%=render "degree_fields", f: f_degrees%>
    <% end %>
    <p><%= link_to_add_association icon_new(text: "#{Degree.model_name.human}"),f, :degrees, class: 'add_nested_fields btn' %></p>
</div>
<div class="row well">
    <div class="col-md-12">
        <%= f.label :other_academic_info %>
        <%= f.text_area :other_academic_info , class: "ckeditor"  %>
    </div>
</div>