<div class="row well">
    <div class="col-md-12">
        <%= content_tag :h3, t('incluence_district'), class: 'form-subtitle' %>
        <%= f.association :districts,:collection => District.where(active: true).order(code: :asc), as: :check_boxes, label: false, item_wrapper_class: 'checkbox-inline checkbox-custom' %>
    </div>
</div>