<div class="row well">
    <%if !@subscribe.blank?%>
        <% @volunteer.info_source  = @subscribe.info_source %>
    <%end%>
    <%= content_tag :h3, InfoSource.model_name.human, class: 'form-subtitle' %>
    <%= f.association :info_source, wrapper_html: { class: 'col-md-12' },:input_html=> {style:  (@clase_estilo unless f.object.name.blank?)||'' } %>
</div>
