<div class="row well ">
    <%= content_tag :h3, Volun::KnownLanguage.model_name.human(count: 2), class: 'form-subtitle' %>
    <%= f.simple_fields_for :known_languages do |f_known_languages|  %>
        <%=render "known_language_fields", f: f_known_languages%>
    <% end %>
    <p><%= link_to_add_association icon_new(text: "#{Volun::KnownLanguage.model_name.human}"),f, :known_languages, class: 'add_nested_fields btn' %></p>
</div>