<div class="row well">
    <%= f.input :agreement, input_html: {onClick: 'setAgrmtDate()'}, wrapper_html: { class: 'col-md-6' } %>
    <%= f.input :agreement_date, as: :string, input_html: {type: "date", value: f.object.agreement_date.blank? ? "" : f.object.agreement_date.strftime('%Y-%m-%d')}, wrapper_html: { class: 'col-md-6' } %>
</div>
<div class="row well">
    <%= f.input :vocne, wrapper_html: { class: 'col-md-3' } %> 
    <%= f.input :search_authorization, wrapper_html: { class: 'col-md-3' } %> 
    <%= f.input :criminal_certificate, wrapper_html: { class: 'col-md-3' } %> 
    <%= f.input :has_driving_license, wrapper_html: { class: 'col-md-3' } %> 
</div>
<div class="row well">
    <div class="col-md-12">
        <%= f.label :expectations %>
        <%= f.text_area :expectations , class: "ckeditor"  %>
    </div>
</div>
<div class="row well">
    <%= content_tag :h3, t('other_data'), class: 'form-subtitle' %>
    <div class="row">
        <%= f.input :publish_pictures, wrapper_html: { class: 'col-md-6' } %>
        <%= f.input :annual_survey, wrapper_html: { class: 'col-md-6' } %>
    </div>
    <div class="row">    
        <div class="col-md-12">
            <%= f.label :comments %>
            <%= f.text_area :comments , class: "ckeditor"  %>
        </div>         
    </div>
</div>