<div class="row well">
    <div class="col-md-12">
        <%= content_tag :h3, VolunProfile.model_name.human(count: 2), class: 'form-subtitle' %>
        <%= f.association :volun_profiles, as: :check_boxes, label: false, item_wrapper_class: 'checkbox-inline checkbox-custom' %>
    </div>
</div>