

<div class="well well-form">
  <%= simple_nested_form_for(@pt_other, default_form_options) do |f| %>
    <%=render 'shared/errors', errors: @pt_other.errors, model: Pt::Other%>

    <%=hidden_field_tag :back,params[:back]%>

     <%= f.simple_fields_for :project do |f_project|  %>
      <% if !@publish.blank?
        f_project.object.name=@publish.notes
        #f.object.entity=@publish.request_form.user
        f_project.object.description=@publish.description%>
        <%= hidden_field_tag :rt_project_publishing_id, params[:rt_project_publishing_id]%>
        <%= hidden_field_tag :request_form,@publish.request_form %>

      <%end %>
      
      <%= render partial: 'projects/form_fields', locals: {f: f_project } %>
      <% end %>

      <div class="form-inputs">
        <%= render partial: 'form_fields', locals: {f: f } %>
      </div>

      <div class="row">
        <%= render partial: "pt/form_buttons", locals: {f: f } %>
      </div>

  <% end %>
</div>