<dl class="dl-horizontal">

  <dt><%= Pt::Other.human_attribute_name(:id) %>:</dt>
  <dd><%= pt_other.id %></dd>
  <dt><%= Pt::Other.human_attribute_name(:notes) %>:</dt>
  <dd><%= pt_other.try(:notes).blank? ? "" : Nokogiri::HTML(pt_other.notes).text %></dd>
  <dt><%= Pt::Other.human_attribute_name(:created_at) %>:</dt>
  <dd><%= show_simple_date(pt_other.created_at) %></dd>

</dl>
