<tr id="<%= dom_id(province) %>" >

  <% Province.main_columns.each do |attr_name| %>
    <td><%= show_attr(province, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(province, path: "administration_catalogue_province_path") %>
    <%= link_to_edit(province, path: "edit_administration_catalogue_province_path") %>
<% if province.try(:archived?) %>
    <%= link_to_recover(province, path: "recover_administration_catalogue_province_path") %>
<% else %>
    <%= link_to_destroy(province, path: "administration_catalogue_province_path") %>
<% end %>
  </td>
</tr>
