
    <dl class="dl-horizontal">

        <dt><%= Province.human_attribute_name(:id) %>:</dt>
        <dd><%= @province.id %></dd>
        <dt><%= Province.human_attribute_name(:name) %>:</dt>
        <dd><%= @province.name %></dd>
        <dt><%= Province.human_attribute_name(:code) %>:</dt>
        <dd><%= @province.code %></dd>
        <dt><%= Province.human_attribute_name(:active) %>:</dt>
        <dd><%= t("humanize.#{@province.active}") %></dd>
        <dt><%= Province.human_attribute_name(:created_at) %>:</dt>
        <dd><%= show_simple_date(@province.created_at) %></dd>

    </dl>
