<div class="footer-container">
  <footer class="footer">
    <div class="row">
      <section id="block_contact_infos" class="footer-block col-xs-12 col-sm-12">

      </section>
    </div>
  </footer>
</div>