<% if use_devise_authentication? %>
  <% if user_signed_in? %>
    <li><%= link_to 'Cerrar sesión', destroy_user_session_path, :method=>'delete' %></li>
  <% else %>
    <li><%= link_to 'Iniciar sesión', new_user_session_path %></li>
  <% end %>
<% elsif current_user.present? %>
    <li class="login-info">
      <ul class="list-inline">
        <li><%= label_tag "#{User.model_name.human}: " %></li>
        <li><span class="normal-text"><%= current_user.loggable.full_name.titleize %></span></li>
        <li><%= label_tag "#{t('user_login')}:" %></li>
        <li><span class="normal-text"><%= current_user.login %></span></li>
      </ul>
    </li>
<% end %>
