<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%= viewport_meta_tag %>
    <title><%= content_for?(:title) ? yield(:title) : Volunteer.model_name.human(count: 2) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '144x144' if File.exist?("#{Rails.root.to_s}/assets/apple-touch-icon-144x144-precomposed.png")%>
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '114x114' if File.exist?("#{Rails.root.to_s}/assets/apple-touch-icon-114x114-precomposed.png")%>
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '72x72' if File.exist?("#{Rails.root.to_s}/assets/apple-touch-icon-72x72-precomposed.png")%>
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png' if File.exist?("#{Rails.root.to_s}/assets/apple-touch-icon-precomposed.png")%>
    <%= favicon_link_tag 'favicon.ico', rel: 'shortcut icon' if File.exist?("#{Rails.root.to_s}/assets/favicon.ico")%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag Ckeditor.cdn_url, 'data-turbolinks-track': 'reload' %>  
  </head>

  <body>
  <header>
    <nav class="navbar navbar-default " role="navigation">
      <div class="container-fluid" style="margin: 0rem 2rem">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "#{fa_icon('users')} #{t('app_name')}".html_safe, root_path, class: "navbar-brand"  %>
        </div>
        <% if current_user.present? %>
          <div class="navbar-collapse collapse navbar-responsive-collapse">
            <div class="row">
              <ul class="nav navbar-nav">
                <li><%= link_to Project.model_name.human(count: 2), projects_path, data: { turbolinks: false } if can? :read, Project %></li>
                <li><%= link_to Volunteer.model_name.human(count: 2), volunteers_path, data: { turbolinks: false } if can? :read, Volunteer %></li>
                <li><%= link_to Entity.model_name.human(count: 2), entities_path, data: { turbolinks: false } if can? :read, Entity %></li>
                <li><%= link_to Activity.model_name.human(count: 2), activities_path, data: { turbolinks: false } if can? :read, Activity %></li>
                <li><%= link_to RequestForm.model_name.human(count: 2), rt_extensions_menu_request_forms_path, data: { turbolinks: false } if (can?(:read, Rt::ProjectPublishing) || can?(:read, Rt::Other) || can?(:read, Rt::VolunteersDemand) || can?(:read, Rt::VolunteerSubscribe) || can?(:read,Rt::VolunteerAppointment) || can?(:read, Rt::ActivityPublishing) || can?(:read, Rt::VolunteerProjectSubscribe) ||  can?(:read, Rt::VolunteerAmendment)) %></li>
                <li><%= link_to t('list'), volun_exports_path, data: { turbolinks: false } if can? :read, Volunteer %></li>
                <li><%= link_to Citizen.model_name.human(count: 2), citizens_path, data: { turbolinks: false } if can? :read, Citizen %></li>
                <li><%= link_to CitizenService.model_name.human(count: 2), citizen_services_path, data: { turbolinks: false } if can? :read, CitizenService %></li>
                <li><%= link_to t("digital_manage.title"), digital_manage_path, data: { turbolinks: false } if can? :read, Digital::Manage %></li>

                <li><%= link_to t('administration'), administration_path, data: { turbolinks: false }  if (can?(:audit, WelcomeController) || can?(:order, WelcomeController) || can?(:config, WelcomeController) || can?(:catalogs, WelcomeController) || can?(:managers, WelcomeController) || can?(:analyze_cv, WelcomeController) || can?(:new_campaign, WelcomeController) || can?(:resource, WelcomeController))%></li>
                <li>
                  <div class="sk-fading-circle" style="float:right;opacity:0">
                    <div class="sk-circle1 sk-circle"></div>
                    <div class="sk-circle2 sk-circle"></div>
                    <div class="sk-circle3 sk-circle"></div>
                    <div class="sk-circle4 sk-circle"></div>
                    <div class="sk-circle5 sk-circle"></div>
                    <div class="sk-circle6 sk-circle"></div>
                    <div class="sk-circle7 sk-circle"></div>
                    <div class="sk-circle8 sk-circle"></div>
                    <div class="sk-circle9 sk-circle"></div>
                    <div class="sk-circle10 sk-circle"></div>
                    <div class="sk-circle11 sk-circle"></div>
                    <div class="sk-circle12 sk-circle"></div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="row" style="margin: 0px 0px 10px 0px;">
              <ul class="nav navbar-nav">
                <%= render 'layouts/navigation_links' %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </nav>
    </header>

    <div id="main" class="container-fluid" style="margin: 0rem 2rem">
      <div class="row">
        <div class="col-md-12">
          <div id="recarga-flash"><%= bootstrap_flash %></div>
          <%= yield %>

          <div id="modal-window" class="modal fade fade_modal" style="padding: 20% 0;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog_especial " role="document">
              <div class="modal-content"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
<meta name="confirm_action_id" content="<%=  t('messages.confirm_action') %>" />
<meta name="confirm_undo_id" content="<%=  t('messages.confirm_undo') %>" />
<script>
//confirm_footer();

</script>



