<tr id="<%= dom_id(borought) %>" >
  <% Borought.main_columns.each do |attr_name| %>
    <td><%= show_attr(borought, attr_name) %></td>
  <% end %>

  <td class="index_table-actions">
    <%= link_to_show(borought, path: "administration_catalogue_borought_path") %>
    <%= link_to_edit(borought, path: "edit_administration_catalogue_borought_path") %>
    <% if borought.try(:archived?) %>
        <%= link_to_recover(borought, path: "recover_administration_catalogue_borought_path") %>
    <% else %>
        <%= link_to_destroy(borought, path: "administration_catalogue_borought_path") %>
    <% end %>
  </td>
</tr>