<div class="well">
  <%= simple_form_for(@borought, as: :borought,method: method, url: path) do |f| %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :code %>
      <%= f.association :district%>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>