
    <dl class="dl-horizontal">

        <dt><%= Borought.human_attribute_name(:id) %>:</dt>
        <dd><%= @borought.id %></dd>
        <dt><%= Borought.human_attribute_name(:name) %>:</dt>
        <dd><%= @borought.name %></dd>
        <dt><%= Borought.human_attribute_name(:active) %>:</dt>
        <dd><%= t("humanize.#{@borought.active}") %></dd>
        <dt><%= Borought.human_attribute_name(:code) %>:</dt>
        <dd><%= @borought.code %></dd>
        <dt><%= Borought.human_attribute_name(:district_code) %>:</dt>
        <dd><%= @borought.district_code %></dd>
        <dt><%= Borought.human_attribute_name(:created_at) %>:</dt>
        <dd><%= show_simple_date(@borought.created_at) %></dd>

    </dl>
