<%= main_title(t("action.edit", model: Borought.model_name.human)) %>

<div class="row">
  <div class="col-md-5">
    <%= render 'form', method: :put, path: administration_catalogue_borought_path(@borought) %>
  </div>
</div>

<%= link_to( t('action.back'),administration_catalogue_boroughts_path, class: 'btn btn-default') %>